In [1]:
import pandas as pd
import re

In [2]:

data = pd.read_csv('./GSAF5.csv', encoding = "ISO-8859-1")
data.head(30)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,...,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.a,2016.09.05.a,5983,NaN,NaN
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,...,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.04,2016.09.04,5982,NaN,NaN
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,...,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.01,2016.09.01,5981,NaN,NaN
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,...,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.b,2016.08.29.b,5980,NaN,NaN
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"News Channel 8, 8/30/16",2016.08.29.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.a,2016.08.29.a,5979,NaN,NaN
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,...,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.27,2016.08.27,5978,NaN,NaN
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,...,NaN,"First Coast News, 7/25/2016",2016.08.25-Cassetty.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.25,2016.08.25,5977,NaN,NaN
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,...,NaN,"ABC, 8/11/2016",2016.08.07-Stoch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.07,2016.08.07,5976,NaN,NaN
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,...,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.06,2016.08.06,5975,NaN,NaN
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,...,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.04,2016.08.04,5974,NaN,NaN
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,5973,NaN,NaN
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,...,NaN,"Klassick, 7/28/2016",2016.07.28.R-Franz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28.R,2016.07.28.R,5972,NaN,NaN
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,...,White shark,"ABC Australia, 7/28/2016",2016.07.28-Watkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28,2016.07.28,5971,NaN,NaN
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,...,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27-Sapp.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.27,2016.07.27,5970,NaN,NaN
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,...,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26-Ballina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.26,2016.07.26,5969,NaN,NaN
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,...,NaN,"Japan Times, 7/25/2016",2016.07.24-Japan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.24,2016.07.24,5968,NaN,NaN
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,...,NaN,"C. Black, GSAF",2016.07.23.b-Critchlow.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.b,2016.07.23.b,5967,NaN,NaN
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,...,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.a,2016.07.23.a,5966,NaN,NaN
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,...,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20-Burck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.20,2016.07.20,5965,NaN,NaN
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,...,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.17,2016.07.17,5964,NaN,NaN

In [3]:
name_columns=list(data.columns.values)
print(name_columns)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [4]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [5]:
null_cols = data.isnull().sum()
print(null_cols)
print("the number of registers is " + str(data.shape[0]))

#miro en los que hay nulls para ver con quÃ© trabajar.
#miro tb el nÃºmero de casos registrados
#La de Age tiene demasiados nulls, asi que decido no trabajar con ella
#Visto que la edad no me funciona me planteo si estudiar el componente de la "persona atacada" tiene sentido, 
#puesto que solo tengo el dato "sexo". Voy a ver si ambos sexos estÃ¡n igualmente representados.

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64
the number of registers is 5992

In [6]:
a="Values are null in more than 40% registers in"
print(a + str(list(null_cols[null_cols > data.shape[0]/2.5].index)))

Values are null in more than 40% registers in['Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23']

In [7]:
#Me doy cuenta de que cuando quiero trabajar con la columna Sex no me permite, el nombre debe llevar espacios..
#Si inspecciono los nombres de las cols, veo que alguna otra tiene espacios, voy a limpiar de espacios
name_columns_corrected=[]
for i in name_columns:
    name_columns_corrected.append(i.strip())
print (name_columns_corrected)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [8]:
#sustituir los nombres de las columnas por los corregidos
data.columns =name_columns_corrected
print(data.columns.values)

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex' 'Age' 'Injury' 'Fatal (Y/N)' 'Time' 'Species'
 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'
 'Case Number.2' 'original order' 'Unnamed: 22' 'Unnamed: 23']

In [9]:
pd.crosstab(index=data["Sex"],columns="count") 
#Observo que de female solo hay 500 registros, no hay suficiente paridad, descarto este dato para tenerlo en cuenta

col_0  count
Sex
.          1
F        585
M       4835
M          2
N          1
lli        1

In [10]:
#Mis columnas para hipÃ³tesis son: ['Date','Type','Country','Area','Investigator or Source','Activity', 'Fatal (Y/N)']
#Sin embargo, quiero ver si hay datos o no en todas las columnas relevantes
#Debo mirar quÃ© columnas pueden ser relevantes en cuanto a tener datos. 
#'Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23' tienen mÃ¡s del 40% nulls.los unnameds probablemente son errÃ³neas, puesto que casi no tienen nada
#los case numbers no son relevantes en este caso.Name no es relevante. Injury no es relevante.
#sex ya he visto que no me sirve
#los que no me sirvan para mi hipÃ³tesis y no tengan ningÃºn null tampoco me sirven.
#primero tengo que ver si alguna tiene muchos ceros
#Para ver si puedo quitar year voy a ver si en date siempre estÃ¡ bien el year.
pd.crosstab(index=data["Date"],columns="dates")

col_0                                        dates
Date
    10-Jan-2009                                  1
    15-Jun-1937                                  1
    16-Jan-1970                                  1
    22-Jul-2013                                  1
   21-Sep-1908                                   1
  02-Jun-1899                                    1
  03-Feb-1914                                    1
  05-Oct-1985                                    1
  10-Jan-1903                                    1
  16-Feb-1910                                    1
  19-Jul-1889                                    1
  21-Jun-1934                                    1
  24-Mar-1990                                    1
  25-Jun-1982                                    1
  28-Jan-1877                                    1
  28-Jan-1900                                    1
  29-Jul-2013                                    2
  29-Oct-2011                                    2
  30-Jul-2013                                    1
  31-Jul-2013                                    1
  Reported 31-Jul-1958                           1
 01-Dec-1979                                     1
 01-Sep-2013                                     3
 02-Sep-2013                                     1
 04-Sep-2010                                     1
 05-Aug-2013                                     1
 05-Nov-1997                                     1
 07-Apr-1877                                     1
 07-Sep-2013                                     2
 08-Aug-1890                                     1
...                                            ...
Sep-66                                           1
Sep-70                                           2
Sep-73                                           1
Sep-74                                           1
Sep-75                                           1
Sep-86                                           2
Sep-92                                           1
Sep-98                                           1
Some time between 08-Jan-1928 & 21-Jan-1928      1
Some time between Apr & Nov-1944                 1
Summer 1901                                      1
Summer 1942                                      1
Summer 1943                                      1
Summer 1948                                      1
Summer 1950                                      2
Summer 1965                                      1
Summer 1974                                      1
Summer 1980                                      1
Summer of 1883                                   1
Summer of 1898                                   1
Summer of 1903                                   1
Summer of 1926                                   1
Summer of 1959                                   1
Summer of 1981                                   1
Summer of 1996                                   1
Summer-2008                                      1
Winter 1942                                      1
Winter 1969                                      1
Woirld War II                                    1
World War II                                     2

[5128 rows x 1 columns]

In [11]:
#I see that dates are from long time ago, so my hipothesis will be centered on years more than the exact date
#Anyway, the exact date is something to take into account in term of whether it is registered. 
#For example, maybe during world war II there are few registers. Something to look is whether in world war II the registers are fewer
#world war II lo voy a codificar como un aÃ±o intermedio pero me lo apunto (igual con summer, winter..)
#tengo que tener en cuenta aquellos que no tienen fecha exacta (poner una columna"fecha exacta(Y/N))
#date lo voy a utilizar para cuÃ¡n registrado estÃ¡ y year para hipÃ³tesis. 
#pdf y direcciones web (href) no me sirven puesto que solo sirven para la actualidad, en aÃ±os previos no hay registro porque no habÃ­a internet.
#original order no parece relevante.

In [12]:
'''
Estas son con las que me voy a quedar:
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Fatal (Y/N)                 19
Investigator or Source      15
'''

'\nEstas son con las que me voy a quedar:\nDate                         0\nYear                         0\nType                         0\nCountry                     43\nArea                       402\nLocation                   496\nActivity                   527\nFatal (Y/N)                 19\nInvestigator or Source      15\n'

In [13]:
working_data=data[['Date','Year','Type','Country','Area','Location','Activity','Fatal (Y/N)','Investigator or Source' ]]
#Estas son las columnas con las que quiero trabajar, el siguiente paso es limpiarlas
working_data.head()
#con esta working data empezarÃ© a limpiar mis columnas. 
#de aquellas con las que voy a trbajar, hacer una tabla de frecuencias con cada una para ver que necesitan limpiar.

,Date,Year,Type,Country,Area,Location,Activity,Fatal (Y/N),Investigator or Source
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,N,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,N,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,N,"Orlando Sentinel, 9/19/2016"
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,N,"The Age, 9/18/2016"
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,N,"The Age, 9/16/2016"

In [14]:
#empezamos por date. ya hicimos la tabla de frecuencias cuando querÃ­amos saber si incluirla. 
#quitar la palabra reported y mirar si alguna mÃ¡s. 
for i in working_data["Date"][0:10]:
    print(type(i))
#date estÃ¡ en formato string. 
#podemos hacer una columna de cuÃ¡nto de completa es:
#si estÃ¡ en formato num-str-num es completa
#si estÃ¡ en formato str-num o str num es semi completa
#si estÃ¡ en formato str o pone "Some time between" es incompleta 
#si estÃ¡ en otros poner "otro" o mirar y ver dÃ³nde meter

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [27]:
pattern1="^\s*\t*[0-9]+\-[A-Z]?[a-z]+\-[0-9]+" # 00-mm-00
pattern2="^\s*\t*[A-Z]?[a-z]+\-[0-9]+" # mm-00
#pattern3=
#pattern4=

In [28]:
for i in working_data["Date"][0:1000]:
    if not re.findall(pattern1,i) and not re.findall(pattern2,i):
        print(i)

2014
16-Aug--2011
11-Aug--2011
 12-Jan 2011
190Feb-2010

In [18]:
working_data['Date']=working_data['Date'].str.replace('Reported', '')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
p1="^\s*\t*[0-9]+\-[A-Z]?[a-z]+\-[0-9]+" #00-mm-00
p2="^\s*\t*[A-Z]?[a-z]+\-[0-9]+" # mm-00
p3="^\s*\t*[0-9]+" # 0000  only year
#pattern4=

for i in working_data["Date"][0:5000]:
    if not re.findall(p1,i) and not re.findall(p2,i) and not re.findall(p3,i):
        print(i)
#repito el ejercicio para ilustrar mi manera de ver patrones. A partir de aquÃ­ lo hago en la sig todo

Late Jul-2008
Fall 2008
Early Aug-2006
Late Jul-2003
Early Sep-2000
Early Jun-2000
Early Jul-1995
Last incident of 1994 in Hong Kong
Late May 1993
Fall 1993
Between May & Nov-1993
Mid Jul-1985 or mid Jul-1986
Ca. 1983
Late Aug-1982
Summer of 1981
Late Jul-1980
Early Jul-1980
Summer 1980
Early Feb-1974
Summer 1974
Late Apr-1971
Late 1970s
Ca. 1970
Winter 1969
Early Nov-1966
Mid Aug-1966
Summer of 1996
May-Jun-1965
Summer 1965
Early 1965
May-Jun-1965
May-Jun-1965
Ca. 1965
Early 1963
Late Aug-1962
Jan-Jun-1962
Ca. 1962
Early summer 1960
Late 1960s
Ca. 1960
Ca. 1960
Between 10 and 12-Sep-1959
Late Jul-1959
Summer of 1959
Jul- to Sep-1959
Circa 1958
Ca. 1955
Between 01-Aug-1951 & 08-Aug-1951
Summer 1950
Summer 1950
Ca. 1950
Ca. 1950
Summer 1948
Between 18 & 22-Dec 1944
Some time between Apr & Nov-1944
Summer 1943
Fall 1943
Fall 1943
Winter 1942
Summer 1942
Ca. 1940
Woirld War II
Ca. 1939
Ca. 1929
Late Jul-1928
Some time between 08-Jan-1928 & 21-Jan-1928
Summer of 1926

In [ ]:
pattern1="^\s*\t*[0-9]+\-[A-Z]?[a-z]+\-[0-9]+" #00-mm-00
pattern2="^\s*\t*[A-Z]?[a-z]+\-[0-9]+" # mm-00
pattern3="^\s*\t*[0-9]+" # 0000  only year
#pattern4=

for i in working_data["Date"][0:5000]:
    if not re.findall(pattern1,i) and not re.findall(pattern2,i) and not re.findall(pattern3,i):
        print(i)

In [53]:
working_data['Date']=working_data['Date'].str.replace('Ca.', '')
working_data['Date']=working_data['Date'].str.replace('of', '')
working_data['Date']=working_data['Date'].str.replace('Early', '')
working_data['Date']=working_data['Date'].str.replace('Late', '')
working_data['Date']=working_data['Date'].str.replace('Some time between ', '')
working_data['Date']=working_data['Date'].str.replace('Between ', '')
working_data['Date']=working_data['Date'].str.replace('Circa ', '')
#Ignoro los early y los late porque me parece muy subjetivos

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [59]:
pattern1="^\s*\t*[0-9]+\-[A-Z]?[a-z]+\-[0-9]+" #00-mm-00
pattern2="^\s*\t*[A-Z]?[a-z]+\-[0-9]+" # mm-00
pattern3="^\s*\t*[0-9]+" # 0000  only year
pattern41="^Summer\s*[0-9]+"
pattern42="^Winter\s*[0-9]+"
pattern43="^Fall\s*[0-9]+"
pattern44="^Autumn\s*[0-9]+"
pattern5="Before[a-z]?\s*[0-9]+"


for i in working_data["Date"]:
    if not re.findall(pattern1,i) and not re.findall(pattern2,i) and not re.findall(pattern3,i) and not re.findall(pattern41,i) and not re.findall(pattern42,i) and not re.findall(pattern43,i) and not re.findall(pattern44,i) and not re.findall(pattern5,i):
        print(i)

Last incident  1994 in Hong Kong
 May 1993
 May & Nov-1993
Mid Jul-1985 or mid Jul-1986
Mid Aug-1966
May-Jun-1965
May-Jun-1965
May-Jun-1965
Jan-Jun-1962
 summer 1960
Jul- to Sep-1959
 Apr & Nov-1944
Woirld War II
 to have taken place in 1919
. 22-Feb-1902
Mid Oct-1901
Reportd 15-Jul-1894
October 1887
Mid-Aug-1886
Mid-Aug-1886
Nov- or Dec-1873
Sep or Oct-1853
"Anniversary Day" 22-Jan-1850 or 1852
 in 1847
. 1825
May 1812
June 1721
Letter dated 10-Jan-1580
Before Oct-2009
No date, late 1960s
No date
No date
Before Feb-1998
No date, Before May-1996
No date, Before Mar-1995
No date, Before Aug-1989
No date, Before Aug-1987
No date, After August 1926 and before 1936
Before Mar-1956
"During the war" 1943-1945
"Before the war"
Said to be 1941-1945, more likely 1945
World War II
World War II
A few years before 1938
No date
No date
No date
No date
No date (3 days after preceding incident) & prior to 19-Jul-1913