In [1]:
#Imported:
import pandas as pd
import re
import numpy as np

In [2]:
#Functions to use: 
def frequency_table(data_table,variable):
    return pd.crosstab(index=data_table[variable],columns="count") 

def nothing_is_nan (data_table,variable):
    index=0
    for i in data_table[variable]:
        if i=='':
            data_table[variable][index]=np.nan           
        index+=1
    
def delete_character(data_table,variable,to_delete):
       data_table[variable]=data_table[variable].str.replace(to_delete, '')

In [3]:
data = pd.read_csv('./GSAF5.csv', encoding = "ISO-8859-1")
data.head(30)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,...,NaN,"West Australian, 9/15/2016",2016.09.15.R-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.15.R,2016.09.15.R,5988,NaN,NaN
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,...,3' to 4' shark,"News4Jax, 9/11/2016",2016.09.11-PonteVedra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.11,2016.09.11,5987,NaN,NaN
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,...,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",2016.09.07-Oahu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.07,2016.09.07,5986,NaN,NaN
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,...,NaN,"TVANouvelles, 9/6/2016",2016.09.06-Jewell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.06,2016.09.06,5985,NaN,NaN
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,...,NaN,"C. Creswell, GSAF",2016.09.05.b-Williams.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.b,2016.09.05.b,5984,NaN,NaN
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,...,NaN,"Perth Now, 9/5/2016",2016.09.05.a-Penman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.05.a,2016.09.05.a,5983,NaN,NaN
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,...,NaN,"Orlando Sentinel, 9/7/2016",2016.09.04-Moore.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.04,2016.09.04,5982,NaN,NaN
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,...,White shark,"R. Collier, GSAF",2016.09.01-McQuillen.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.01,2016.09.01,5981,NaN,NaN
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,...,"Bull shark, 6'","News Channel 8, 8/30/16",2016.08.29.b-Cumiskey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.b,2016.08.29.b,5980,NaN,NaN
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"News Channel 8, 8/30/16",2016.08.29.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.29.a,2016.08.29.a,5979,NaN,NaN
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,...,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",2016.08.27-Chardard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.27,2016.08.27,5978,NaN,NaN
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,...,NaN,"First Coast News, 7/25/2016",2016.08.25-Cassetty.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.25,2016.08.25,5977,NaN,NaN
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,...,NaN,"ABC, 8/11/2016",2016.08.07-Stoch.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.07,2016.08.07,5976,NaN,NaN
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,...,"Tiger shark, 10'","SUP, 8/9/2015",2016.08.06-Baxter.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.06,2016.08.06,5975,NaN,NaN
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,...,Blacktip shark,"News 965, 8/5/2016",2016.06.04-Tyler.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.08.04,2016.08.04,5974,NaN,NaN
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,...,Blue shark,"Informacion.es, 7/29/2016",2016.07.29-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.29,2016.07.29,5973,NaN,NaN
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,...,NaN,"Klassick, 7/28/2016",2016.07.28.R-Franz.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28.R,2016.07.28.R,5972,NaN,NaN
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,...,White shark,"ABC Australia, 7/28/2016",2016.07.28-Watkins.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.28,2016.07.28,5971,NaN,NaN
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,...,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",2016.07.27-Sapp.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.27,2016.07.27,5970,NaN,NaN
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,...,NaN,"Gold Coast Bulletin, 7/28/2016",2016.07.26-Ballina.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.26,2016.07.26,5969,NaN,NaN
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,...,NaN,"Japan Times, 7/25/2016",2016.07.24-Japan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.24,2016.07.24,5968,NaN,NaN
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,...,NaN,"C. Black, GSAF",2016.07.23.b-Critchlow.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.b,2016.07.23.b,5967,NaN,NaN
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,...,"Bull shark, 6'","KWTX, 7/23/2016",2016.07.23.a-Cutbirth.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.23.a,2016.07.23.a,5966,NaN,NaN
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,...,"reef shark, 1m","Nine News, 7/20/2016",2016.07.20-Burck.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.20,2016.07.20,5965,NaN,NaN
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,...,"Tiger shark, 10'","Al.com, 7/19/2016",2016.07.17-Gulf.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.07.17,2016.07.17,5964,NaN,NaN

In [4]:
name_columns=list(data.columns.values)
print(name_columns)

['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22', 'Unnamed: 23']

In [5]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [6]:
null_cols = data.isnull().sum()
print(null_cols)

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [7]:
print("the number of registers is " + str(data.shape[0]))

the number of registers is 5992

In [8]:
info="Values are null in more than 40% registers in"
columns_null40=list(null_cols[null_cols > data.shape[0]/2.5].index)
print(info + str(columns_null40))

Values are null in more than 40% registers in['Age', 'Time', 'Species ', 'Unnamed: 22', 'Unnamed: 23']

In [9]:
name_columns_corrected=[]
for i in name_columns:
    name_columns_corrected.append(i.strip())
data.columns=name_columns_corrected
columns_d=data.columns.values
print(columns_d)

['Case Number' 'Date' 'Year' 'Type' 'Country' 'Area' 'Location' 'Activity'
 'Name' 'Sex' 'Age' 'Injury' 'Fatal (Y/N)' 'Time' 'Species'
 'Investigator or Source' 'pdf' 'href formula' 'href' 'Case Number.1'
 'Case Number.2' 'original order' 'Unnamed: 22' 'Unnamed: 23']

In [10]:
working_data=data[['Date','Year','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','Species','Investigator or Source' ]]
working_data.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"

In [11]:
frequency_table(working_data,'Date')

col_0                                        count
Date
    10-Jan-2009                                  1
    15-Jun-1937                                  1
    16-Jan-1970                                  1
    22-Jul-2013                                  1
   21-Sep-1908                                   1
  02-Jun-1899                                    1
  03-Feb-1914                                    1
  05-Oct-1985                                    1
  10-Jan-1903                                    1
  16-Feb-1910                                    1
  19-Jul-1889                                    1
  21-Jun-1934                                    1
  24-Mar-1990                                    1
  25-Jun-1982                                    1
  28-Jan-1877                                    1
  28-Jan-1900                                    1
  29-Jul-2013                                    2
  29-Oct-2011                                    2
  30-Jul-2013                                    1
  31-Jul-2013                                    1
  Reported 31-Jul-1958                           1
 01-Dec-1979                                     1
 01-Sep-2013                                     3
 02-Sep-2013                                     1
 04-Sep-2010                                     1
 05-Aug-2013                                     1
 05-Nov-1997                                     1
 07-Apr-1877                                     1
 07-Sep-2013                                     2
 08-Aug-1890                                     1
...                                            ...
Sep-66                                           1
Sep-70                                           2
Sep-73                                           1
Sep-74                                           1
Sep-75                                           1
Sep-86                                           2
Sep-92                                           1
Sep-98                                           1
Some time between 08-Jan-1928 & 21-Jan-1928      1
Some time between Apr & Nov-1944                 1
Summer 1901                                      1
Summer 1942                                      1
Summer 1943                                      1
Summer 1948                                      1
Summer 1950                                      2
Summer 1965                                      1
Summer 1974                                      1
Summer 1980                                      1
Summer of 1883                                   1
Summer of 1898                                   1
Summer of 1903                                   1
Summer of 1926                                   1
Summer of 1959                                   1
Summer of 1981                                   1
Summer of 1996                                   1
Summer-2008                                      1
Winter 1942                                      1
Winter 1969                                      1
Woirld War II                                    1
World War II                                     2

[5128 rows x 1 columns]

In [12]:
p_date1="^\S*\s*\t*[0-9]+\-[A-Z]?[a-z]+\-[0-9]+" #00-mm-00 COMPLETE Level 1
p_date2="^\S*\s*\t*-?[A-Z]?[a-z]+\-[0-9]+" # mm-00 COMPLETE Level 2
p_date41="^\S*\s*S?s?ummer\s*[0-9]+" #month 0000 COMPLETE Level 2
p_date42="^\S*\s*W?w?inter\s*[0-9]+" #month 0000  COMPLETE Level 2
p_date43="^\S*\s*F?f?all\s*[0-9]+" #month 0000  COMPLETE Level 2
p_date44="^\S*\s*A?a?utumn\s*[0-9]+" #month 0000  COMPLETE Level 2
p_date6="^\S*\s*\t*B?b?efore\s*\t*[0-9]+\-?[A-Z]?[a-z]+\-?[0-9]+"#Before some day and month COMPLETE Level 2
p_date8="^\S*\s*\t*[A-Z]?[a-z]+-[A-Z]?[a-z]+-[0-9]+"#Between two months Level 3
p_date7="^\S*\s*\t*B?b?efore\s*\t*[A-Z]?[a-z]+\-?[0-9]+"  #Before some month COMPLETE Level 4
p_date3="^\S*\s*\t*[0-9]+" # 0000  only year  COMPLETE Level 4
p_date5="^\S*\s*B?b?efore[a-z]?\s*[0-9]{4,7}" #Before some year  COMPLETE Level 5
p_date9="^\S*\s*\t*^Wo[a-z]?rld War II"
#no_patern=valores especÃ­ficos que clasifico mirÃ¡ndo uno a uno y cambiando su valor para que encaje con uno de los patterns

"""
Para ver quÃ© patrones me faltan:
for i in working_data["Date"][0:1000]:
    if not re.findall(pattern1,i) and not re.findall(pattern2,i):
        print(i)
"""

'\nPara ver quÃ© patrones me faltan:\nfor i in working_data["Date"][0:1000]:\n    if not re.findall(pattern1,i) and not re.findall(pattern2,i):\n        print(i)\n'

In [13]:
delete_character(working_data,'Date','Reporte*d')
delete_character(working_data,'Date','C[irc]*a.')
delete_character(working_data,'Date','of')
delete_character(working_data,'Date','Early')
delete_character(working_data,'Date','Late')
delete_character(working_data,'Date','[Some time ]*b?B?etween\s*')
delete_character(working_data,'Date','No date')
delete_character(working_data,'Date','"')
delete_character(working_data,'Date','Mid')
delete_character(working_data,'Date','\s[or]\s')
delete_character(working_data,'Date',',')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

In [51]:
no_string_pattern=[]
for i in working_data["Date"]:
    if type(i)==str:
        if not re.findall(p_date1,i) and not re.findall(p_date2,i) and not re.findall(p_date3,i)and not re.findall(p_date41,i) and not re.findall(p_date42,i) and not re.findall(p_date43,i) and not re.findall(p_date44,i) and not re.findall(p_date5,i) and not re.findall(p_date6,i) and not re.findall(p_date7,i) and not re.findall(p_date8,i) and not re.findall(p_date9,i):
            no_string_pattern.append(i)    
    else:
        no_string_pattern.append(i)
print(no_string_pattern)

['Last incident  1994 in Hong Kong', ' May 1993', 'May & Nov-1993', 'Jul- to Sep-1959', 'Apr & Nov-1944', ' to have taken place in 1919', 'Nov- or Dec-1873', 'Sep or Oct-1853', 'Anniversary Day 22-Jan-1850 or 1852', ' in 1847', 'Letter dated 10-Jan-1580', ' late 1960s', '', '', ' After August 1926 and before 1936', 'During the war 1943-1945', 'Before the war', 'Said to be 1941-1945 more likely 1945', 'A few years before 1938', '', '', '', '', ' (3 days after preceding incident) & prior to 19-Jul-1913']

In [50]:
def change_for_Date_wd(into,out):
    if into in working_data['Date']:
        working_data['Date'][working_data[working_data['Date'].str.match(into)].index.values[0]]=out

change_for_Date_wd('Last incident  1994 in Hong Kong','1994')
change_for_Date_wd(' May 1993','May-1993')
change_for_Date_wd('May & Nov-1993','May-Nov-1993')
change_for_Date_wd('Jul- to Sep-1959','Jul-Sep-1959')
change_for_Date_wd(' to have taken place in 1919','1919')
change_for_Date_wd('Nov- or Dec-1873','Nov-Dec-1873')
change_for_Date_wd('Sep or Oct-1853','Sep-Oct-1853')
change_for_Date_wd('Anniversary Day 22-Jan-1850 or 1852','Before 1852')
change_for_Date_wd(' in 1847','1847')
change_for_Date_wd('Letter dated 10-Jan-1580','10-Jan-1580')
change_for_Date_wd(' late 1960s','1960')
change_for_Date_wd(' After August 1926 and before 1936','Before 1936')
change_for_Date_wd('During the war 1943-1945','World War II')
change_for_Date_wd('Before the war','Before 1945')
change_for_Date_wd('Said to be 1941-1945 more likely 1945','Before 1945')
change_for_Date_wd(' (3 days after preceding incident) & prior to 19-Jul-1913','Before 19-Jul-1913')

In [16]:
#nothing_is_nan(working_data,'Date')

In [17]:
frequency_table(working_data,"Year")

col_0  count
Year
0        124
5          1
77         1
500        1
1543       1
1554       1
1555       1
1580       1
1595       1
1617       1
1637       1
1638       1
1642       2
1700       3
1703       1
1721       1
1733       1
1738       1
1742       1
1748       1
1749       1
1755       1
1758       1
1764       1
1767       1
1771       1
1776       2
1779       1
1785       1
1787       1
...      ...
1987      35
1988      55
1989      53
1990      38
1991      38
1992      56
1993      56
1994      56
1995      76
1996      61
1997      57
1998      65
1999      65
2000      97
2001      92
2002      88
2003      92
2004      92
2005     103
2006     103
2007     112
2008     121
2009     120
2010     101
2011     128
2012     117
2013     122
2014     125
2015     139
2016     103

[232 rows x 1 columns]

In [18]:
index=0
for i in working_data["Year"]:
    if i<1000:
        working_data["Year"][index]=0
    index+=1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
#Zero is nan
index=0
for i in working_data["Year"]:
    if i==0:
        working_data["Year"][index]=np.nan
    index+=1

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.7/site-packages/pandas/core/indexing.py:190: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/site-packages/pandas/core/series.py:1015: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value

In [20]:
frequency_table(working_data,"Type")

col_0         count
Type
Boat            200
Boating         110
Invalid         519
Provoked        557
Sea Disaster    220
Unprovoked     4386

In [21]:
delete_character(working_data,'Type','Invalid')
nothing_is_nan(working_data,"Type")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
frequency_table(working_data,'Country')

col_0                       count
Country
 PHILIPPINES                    1
 TONGA                          3
ADMIRALTY ISLANDS               1
ALGERIA                         1
AMERICAN SAMOA                  3
ANDAMAN / NICOBAR ISLANDAS      1
ANGOLA                          1
ANTIGUA                         1
ARGENTINA                       1
ARUBA                           1
ASIA?                           1
ATLANTIC OCEAN                 16
AUSTRALIA                    1279
AZORES                          5
BAHAMAS                        98
BAHREIN                         1
BANGLADESH                      1
BARBADOS                        5
BAY OF BENGAL                   1
BELIZE                          3
BERMUDA                        16
BRAZIL                        102
BRITISH ISLES                   1
BRITISH NEW GUINEA              1
BRITISH VIRGIN ISLANDS          1
BRITISH WEST INDIES             1
BURMA                           4
Between PORTUGAL & INDIA        1
CANADA                         10
CAPE VERDE                      3
...                           ...
ST. MARTIN                      1
SUDAN                           4
SUDAN?                          1
SWEDEN                          1
SYRIA                           1
Seychelles                      1
Sierra Leone                    1
St Helena                       1
TAIWAN                          9
TANZANIA                        8
TASMAN SEA                      1
THAILAND                        6
THE BALKANS                     1
TONGA                          15
TRINIDAD & TOBAGO               3
TUNISIA                         3
TURKEY                         12
TURKS & CAICOS                  5
TUVALU                          1
UNITED ARAB EMIRATES            1
UNITED ARAB EMIRATES (UAE)      2
UNITED KINGDOM                 10
URUGUAY                         3
USA                          2116
VANUATU                        14
VENEZUELA                      11
VIETNAM                        14
WESTERN SAMOA                   1
YEMEN                           2
YEMEN                           7

[203 rows x 1 columns]

In [23]:
delete_character(working_data,'Country','^\s')
delete_character(working_data,'Country','?')
delete_character(working_data,'Country','\(UAE\)')
delete_character(working_data,'Country','\s$')
working_data['Country']=working_data['Country'].str.replace('ST. MAARTIN', 'ST. MARTIN')
nothing_is_nan(working_data,'Country')
#Asegurarme de que en los puntos suspensivos no queda nada.

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [24]:
frequency_table(working_data,'Area')

col_0                                               count
Area
 Kikori River mouth                                     1
 La Libertad                                            1
 Lau Province                                           1
 Loyalty Islands                                        1
 Manila Bay                                             1
 New Jersey                                             1
 North Carolina                                         1
 Primorje-Gorski Kotar County                           9
 Split-Dalmatia Count,                                  3
 Split-Dalmatia County                                  2
"Head of the Gulf"                                      1
(Southwestern Pacific)                                  1
04.05N-13.23W                                           1
1,000 miles east of Hawaii                              1
1000 miles west of Hawaii                               2
10ÂºS, 142ÂºE                                             1
12 miles off the north coast                            1
150 miles offshore                                      1
165  miles from Bermuda                                 1
180 miles southeast of Okinawa                          1
18S / 50E                                               1
19S, 178?E                                              1
2 to 3 miles off Taboguilla Island, Pacific Ocean       1
200 nm southeast of Manila                              1
22ÂºN, 88ÂºE                                              4
25 km off the coast of Iran & 483km from mouth ...      1
250 miles southwest of O'ahu, Hawaii                    1
30 nm from Singapore                                    1
300 miles east of Luzon                                 1
300 miles east of St. Thomas (Virgin Islands)           1
...                                                   ...
Wallis and Futuna                                       1
Washington                                              1
West Africa                                             1
West Bengal                                             8
West End                                                2
West New Britain Province                               7
West coast                                              1
West of Ceylon (Sri  Lanka)                             1
Western Area                                            5
Western Area                                            2
Western Australia                                     172
Western Banks                                           1
Western Cape Province                                 188
Western Caroline Islands                                3
Western Caroline Islands (North Pacific Ocean)          1
Western District                                        1
Western Luzon Island                                    1
Western Papuan Gulf                                     1
Western Province                                        5
Western Viscayas                                        1
Westmoreland Parish                                     3
Woodlark Islands                                        1
Worcestershire                                          1
Yasawa Islands                                          3
Ysabel Island                                           1
Yucatan Channel                                         1
Zadar County                                            4
Zambesi River                                           1
Zamboanga del Sur Province                              3
dÂ’Ã‰tang-SalÃ©                                            2

[785 rows x 1 columns]

In [25]:
frequency_table(working_data,'Location')

col_0                                               count
Location
                                                        1
 A pearl  farm in Roebuck Bay                           1
 Ambatolaoka, Nosy Be Island                            1
 Bellingen                                              1
 Black Head, south of Taree                             1
 Boa Viagem Beach, Recife                               1
 Boca de la LeÃ±a, La UniÃ³n                              1
 Botany Bay                                             1
 Bunker Bay                                             1
 Chennai (formerly Madras)                              1
 Chioggia                                               1
 Cocoa Beach, Brevard  County                           1
 CÃ´te-Blanche, NoumÃ©a                                   1
 D'Entrecasteaux islands, 20 miles off the coast        1
 Daytona Beach, Volusia County                          1
 Huntington Beach, Orange County                        1
 Huon Gulf                                              1
 Kahului, Maui                                          1
 Kalepolepo, Kihei, Maui                                1
 Lelepa Island                                          1
 Lokva Rogoznica, Omis                                  1
 Lundy Island                                           1
 Marathon, Monroe County                                1
 Marinella Sarzana, La Spezia                           1
 New Smyrna Beach, Volusia County                       1
 Palm Beach County                                      1
 Perth                                                  1
 Port Isabela de Basilan                                1
 Riviera Beach, Palm Beach County                       1
 St. GeorgeÂ’s River at Moorebank, near Milperra...      1
...                                                   ...
Yule Island                                             1
Yumurtalik                                              1
Zacatula                                                1
Zheltukhin Island                                       1
Ziguinchor                                              1
Zuma Beach, Santa Monica, Los Angeles County            1
Zwartkops River                                         1
a creek near Jacksonville, Duval County                 1
a pier at the end of Caxambas Drive, Marco Island       1
a river                                                 1
between Filfla Island and Wied iz-Zurrieq               1
l'Anse-Vata                                             1
la Badine, HyÃ¨res                                       1
la Pointe-au-Sel                                        1
near Ahvaz, 275 km from the sea                         2
near Band Misan in Shustar, 420 km from the sea         1
near El Cocal Beach                                     1
near Schouten Island                                    1
near Trikerion Island                                   1
off Culebra                                             1
off Dakar                                               1
off Paoay, Ilocos Norte Province                        1
off yacht Serenade                                      1
the pearling beds                                       2
uShaka Aquarium, Durban                                 1
Â“Southern WharfÂ”                                        1
Â½ mile offshore & 9 miles north of Fort Pierce          1
ÃŽle Saint-Paul                                          1
ÃŽle de Casey                                            1
ÃŽle de Sable                                            1

[3929 rows x 1 columns]

In [26]:
frequency_table(working_data,'Activity')

col_0                                               count
Activity
                                                        1
                                                        1
 a canoe was pursuing a schooner that had forci...      1
"Boat accident"                                         1
"Climbing up to ship after repairing the stern ...      1
"Crossing the river"                                    1
"Flying Tiger" transport plane went down with 5...      2
"Riding waves on a board"                               1
"Swimming vigorously"                                   1
.                                                       3
12 of the Penang's crew were returning to the s...      1
13 men in the water after sailboat capsized & sank      1
14 m prawn trawler New Venture capsized  & sank...      1
1446-ton Norwegian barque Errol, bound from Per...      1
16' catamaran capsized previous night, occupant...      1
17 Maldivians adrift in open boat for 31 days           1
2 messboys (Jeppsen) & Tony Latona (13) were pl...      1
25-foot cabin cruiser Happy Jack sank in heavy ...      1
3 men & 2 boys picked up wearing life jackets a...      1
3,909-ton Panamanian freighter Chieh Lee sank i...      1
3-masted steel barque Glenbank foundered during...      1
3.3 m fishing boat sank. Treveluwe & Peter Hodg...      1
4 men were bathing                                      1
40' fishing boat sank                                   1
43-ton schooner Irene capsized & sank                   1
63' fishing boat Sno' Bay foundered                     1
90 European civilians, many women & children, w...      1
A 210-ton brig was sunk by a Japanese submarine...      1
A 75-ton  Japanese fishing ship was sunk by  Ch...      1
A barque wrecked                                        1
...                                                   ...
Wreck of the steamship Birkenhead                       1
Wreck of the steamship Sultan of Bombay                 1
Wreck of the tug Magellan                               1
Yacht Gooney Bird foundered, 4 survivors on raft        1
Yacht of Michael Howell capsized                        1
Yacht race                                              1
Zosimo & his son, Jeffrey Popa, failed to retur...      1
a corsair's boat was overturned                         1
bathing                                                 1
boat capsized                                           3
boat capsized during filming                            1
boat from City of Naples capsized                       1
boat from ship Josephine capsized in squall             1
boat from the Austrian ship Elizabeth                   1
boat with 46 people on board capsized                   1
canoeing                                                1
cargo ship Southern Isle sank at 04h00                  1
fishing boat exploded & sank                            2
male                                                    1
native boats sunk in storm                              1
preparing to go skin diving                             1
pÃªcheur de bichiques                                    1
seaplane Columbus ditched in the sea                    1
ship M.V. Rizal sank during typhoon                     1
ship William Penn grounded & broke apart                1
ship torpedoed 400 miles off the African coas. ...      1
small boat                                              1
wreck of the State Oil Company ship Permina             1
yachting accident                                       1
yachtsman in a zodiac                                   1

[1492 rows x 1 columns]

In [27]:
frequency_table(working_data,"Name")

col_0                                               count
Name
                        Maria Korcsmaros \n             1
 2 males                                                2
 28' sport fishing boat, Bird Dog                       1
 7.6 m motorized boat, occupants: fisherman & h...      1
 Ben Tillman Homes                                      1
 Braxton Rocha                                          1
 Captain Jonathan Brown, pilot                          1
 Grace Darling                                          1
 Morson Daniel                                          1
 Sydney woman                                           1
 Toapindak (male)                                       1
 a ship's engineer                                      1
 male                                                   3
 male 2                                                 1
"3 shark attacks in 3 days"                             1
"Amphibious Jack" male                                  1
"Hoke" Smith                                            1
"Lockie" Smith                                          1
"Lorrin"                                                1
"Old Cuba"                                              1
"The Queen's Chaplain"                                  1
"a lad"                                                 1
"a native boy"                                          1
"a native"                                              1
"a youth"                                               2
"youthful male"                                         1
1 man                                                   1
10 crew                                                 1
10' dinghy                                              1
10' row boat occupants;  Douglas Richards & Geo...      1
...                                                   ...
slaves                                                  1
small boat. Occupants: 2 Englishmen                     1
small boy                                               1
small girl                                              1
small speedboat, occupan: Paul McNally                  1
soldier                                                 1
soldier                                                 2
soldier from the Lancashire militia                     1
soldier in NJ National Guard                            1
soldier, a private                                      1
speedboat, occupant: Michael Wilson                     1
surf boat, occupants: Ray Sturdy and 4 other fi...      1
surf patrol boat                                        1
teen                                                    2
the CaptainÂ’s boy                                       1
the governor of Cabrera                                 1
trawler Jacoba, occupant Jan van der Bent               1
unknown                                                 3
white male                                              1
woman                                                   3
wooden boat of Yoshihiro Takasaki                       1
wooden boat, occupants: Jack Bullman & Keith Ca...      1
wreck of the steamship Hubeh                            1
yacht Even                                              1
yacht Southerly Buster                                  1
young Zulu male                                         1
young aboriginal male                                   1
young boy                                               1
young girl                                              1
young male                                              1

[5009 rows x 1 columns]

In [28]:
frequency_table(working_data,"Sex")
#Observo que de female solo hay 500 registros, no hay suficiente paridad, descarto este dato para tenerlo en cuenta

col_0  count
Sex
.          1
F        585
M       4835
M          2
N          1
lli        1

In [29]:
delete_character(working_data,'Sex',' ')
delete_character(working_data,'Sex','N')
delete_character(working_data,'Sex','.')
delete_character(working_data,'Sex','lli')
nothing_is_nan(working_data,"Sex")

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [30]:
frequency_table(working_data,"Age")

col_0            count
Age
                     2
                     1
"middle-age"         1
"young"              1
(adult)              1
1                    2
10                  51
10 or 12             1
11                  35
12                  70
12 or 13             1
13                  91
13 or 14             1
13 or 18             1
14                  97
15                 135
16                 134
16 to 18             1
17                 148
17 & 16              1
17 & 35              1
18                 145
18 months            1
18 or 20             1
18 to 22             1
19                 138
2 to 3 months        1
20                 136
20?                  1
20s                  6
...                ...
78                   2
8                   27
8 or 10              2
81                   1
84                   1
86                   1
87                   1
9                   35
9 & 12               1
9 months             1
9 or 10              1
>50                  1
?    &   14          1
? & 19               1
A.M.                 1
Both 11              1
Ca. 33               1
Elderly              1
F                    2
M                    1
MAKE LINE GREEN      1
Teen                 8
Teens                1
X                    1
adult                1
mid-20s              1
mid-30s              1
teen                 5
young                2
Â                     1

[151 rows x 1 columns]

In [31]:
delete_character(working_data,'Age','?')
delete_character(working_data,'Age','X')
delete_character(working_data,'Age','F')
delete_character(working_data,'Age','M')
delete_character(working_data,'Age','M?AKE LINE GREEN')
delete_character(working_data,'Age','A.M.')
delete_character(working_data,'Age','A.M.')
delete_character(working_data,'Age','^\s*')
delete_character(working_data,'Age','A..')
delete_character(working_data,'Age','"')
nothing_is_nan(working_data,'Age')

p_age1="^\S*\s*\t*[0-9]+[months]*" #Complete (aprox, en una limpieza mÃ¡s profunda habrÃ­a que ver estos)
p_age21="^\S*\s*\t*T?t?een" #Los que solo pone Teen. Poco completo 
p_age22="^\S*\s*\t*Elderly" #Los que solo pone Elderly. Poco completo 
p_age23="^\S*\s*\t*young"  #Los que solo pone young. Poco completo 
p_age24="^\S*\s*\t*adult"  #Los que solo pone adult. Poco completo 
p_age25="^\S*\s*\t*midle age" #Los que solo pone midle age. Poco completo 

"""
for i in working_data["Age"]:
    if type(i)==str:
        if re.findall(p_age2,i):
            print(i)
"""            
for i in working_data["Age"]:
    if type(i)==str:
        if not re.findall(p_age1,i) and not re.findall(p_age21,i) and not re.findall(p_age22,i) and not re.findall(p_age23,i) and not re.findall(p_age24,i) and not re.findall(p_age25,i):
            print(i)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

middle-age

In [32]:
frequency_table(data,"Injury")

col_0                                               count
Injury
 "Struck across loins" but no injury. According...      1
 2 of the 5 fishermen were so seriously injured...      1
 3 fingers & thigh lacerated, foot crushed              1
 3 unidentified bodies recovered (male, female ...      1
 55  perished, some were  taken by sharks               1
 6 lacerations to left hand                             1
 Ankle lacerated                                        1
 Du Val's leg was bitten but he survived                1
 FATAL                                                  1
 FATAL. Shark bite was minor injury, but he suf...      1
 Forced at gunpoint to jump overboard. Presumed...      1
 His gold watch was later found in a shark but ...      1
 No injury                                              1
 No injury. Shark bumped kayak, flinging her in...      1
 Search party saw a large shark devour what app...      1
 The 2.9 m [9.5'] shark never made contact with...      1
 human remains (male) found in sharkÂ’s gut              1
"Bad wound in the leg" - 7-ft shark caught in t...      1
"Badly bitten by shark"                                 1
"Drowned, 2 days later his head was bitten off ...      1
"Fearfully injured"                                     1
"He was taken up alive and but little injured."         1
"Light scratch on hand/wrist area"                      1
"Lost his arm"                                          1
"Lost leg"                                              1
"Mauled"                                                1
"Minor cuts to left leg"                                1
"Molested by shark that nibbled his bare feet",...      1
"More than 20 persons severely bitten by sharks...      1
"Mysteriously disappeared" His body was found i...      1
...                                                   ...
Upper left thigh bitten                                 1
Upper leg bitten PROVOKED INCIDENT                      1
Upper right arm bitten                                  1
Upper right arm bitten after he shot the shark ...      1
Upper right thigh bitten                                2
Vase depicts shipwrecked sailors, one of whom i...      1
Wetsuit lacerated                                       1
Whelan's head was injured when he fell to the d...      1
When picked up by the USS Boyd DD 44 on 6/23/19...      1
When survivors werer rescued on 10/27/1944 by P...      1
When taken back on board 2 hours later both leg...      1
White shark breached cage. No injury to occupants       1
White shark, 3.7 m [12']  made threat display. ...      1
Wound to right lower leg                                1
Wrist & am bitten                                       1
Wrist & hand lacerated                                  1
Wrist bitten                                            2
Wrist bitten PROVOKED INCIDENT                          1
Wrist bitten by hooked shark PROVOKED INCIDENT          1
Wrist lacerated                                         1
Wrist lacerated PROVOKED INCIDENT                       1
bite to lower leg                                       2
forearm abraded                                         1
human remains washed ahore                              1
minor injury to foot                                    1
non-fatal                                               1
remains of one of the crew found in shark               1
small laceration to wrist                               1
unknown                                                 1
Â“Put hand through hatch, shark nearly bit off t...      1

[3595 rows x 1 columns]

In [33]:
frequency_table(working_data, 'Fatal (Y/N)')

col_0        count
Fatal (Y/N)
 N               8
#VALUE!          1
F                1
N             4315
N                1
UNKNOWN         94
Y             1552
n                1

In [34]:
delete_character(working_data,'Fatal (Y/N)','^\s*')
delete_character(working_data,'Fatal (Y/N)','\s*$')
delete_character(working_data,'Fatal (Y/N)','^\s*UNKNOWN\s*$\t*$')
delete_character(working_data,'Fatal (Y/N)','^\s*#VALUE!\s*$\t*$')
working_data['Fatal (Y/N)']=working_data['Fatal (Y/N)'].str.replace('F', 'Y')
working_data['Fatal (Y/N)']=working_data['Fatal (Y/N)'].str.replace('n', 'N')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
nothing_is_nan (working_data,'Fatal (Y/N)')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
frequency_table(working_data,'Species')

col_0                                               count
Species
                                                        6
 "gummy" shark (Rhizoprionodon or Loxodon) 1.2 ...      1
 1.5 m [5'] dusky shark                                 1
 Blacktip shark, C. maculipinnis. 1.9 m to 2.1 ...      1
 Bull shark, 1.2m                                       1
 Bull shark, 2.5 m                                      1
 Bull shark, 5'                                         1
 Bull shark, 8'                                         1
 Galapagos shark, 6'                                    1
 Grey nurse shark,  3 m [10']                           1
 Lemon shark, 3.5 m                                     1
 Raggedtooth shark, 2m                                  1
 Sandbar shark, 3' to 4'                                1
 Sevengill  shark, 1.2 m [4']                           1
 Tawney nurse shark, 1m                                 1
 Tiger shark, 2.8m                                      1
 Tiger shark, 3'                                        1
 White shark                                            1
 White shark, 7'                                        1
 Wobbegong shark, 1.6 to 1.8m                           1
 a small shark                                          1
 reef shark, 1.8m                                       1
 white shark, 15'                                       1
"A 2' (0.6 m) brown shark"                              1
"A long thin brown-colored shark"                       1
"A pack of 6 sharks"                                    1
"A pack of sharks"                                      1
"A small shark"                                         2
"Attacked by a number of sharks"                        1
"Blue nose shark"                                       1
...                                                   ...
nurse shark                                             1
possibly a bronze whaler shark                          1
possibly a bull shark                                   1
possibly a porbeagle shark                              1
possibly a small blacktip shark                         1
reef shark                                              2
reef shark, 1.5m                                        1
reef shark, 1m                                          1
reef shark?                                             3
said to involve 2.5 m hammerhead sharks                 1
said to involve a tiger shark                           1
said to involve an oceanic whitetip shark               1
sand shark                                              1
sandtiger shark                                         1
shark involvement not confirmed                         1
small blacktip shark                                    2
small blacktip shark?                                   2
small blue shark                                        1
small carpet shark                                      1
small catsharks                                         1
small hammerhead shark                                  1
small nurse shark                                       2
small shark                                             4
small sharks                                            2
small sharks'                                           1
unknown, possibly a white shark                         1
whaler shark                                            1
white shark                                             1
Â“small brown sharkÂ”                                     1
Â                                                        2

[1538 rows x 1 columns]

In [37]:
frequency_table(working_data,'Time')

col_0                                 count
Time
                                          2
                                          1
                                          1
 14h00                                    1
"After dark"                              1
"After lunch"                             1
"Early evening"                           1
"Evening"                                 1
"Just before 11h00"                       1
"Night"                                   1
"shortly before dusk"                     1
--                                        5
00h30                                     1
01h00                                     2
01h30                                     1
01h32                                     1
01h50                                     1
02h00                                     4
02h30                                     1
02h45                                     1
03h00                                     6
03h30                                     2
03h45 - 04h00                             1
04h00                                     5
05h00                                     5
05h30                                     2
05h40                                     1
05h45                                     1
05h50                                     1
06h00                                    11
...                                     ...
Just before sundown                       1
Late Afternoon                            1
Late afternon                             2
Late afternoon                           32
Late morning                              1
Late night                                1
Lunchtime                                 1
Mid afternoon                             1
Mid morning                               1
Mid-morning                               1
Midday                                    9
Midday.                                   1
Midnight                                  4
Morning                                 107
Morning                                   1
Night                                    58
Nightfall                                 1
Noon                                      1
P.M.                                     12
Possibly same incident as 2000.08.21      1
Prior to 10h37                            1
Ship aban-doned at 03h10                  1
Shortly after midnight                    1
Shortly before 13h00                      1
Sometime between 06h00 & 08hoo            1
Sunset                                    4
X                                         1
dusk                                      1
night                                     1
Â                                          1

[357 rows x 1 columns]

In [38]:
frequency_table(working_data,'Investigator or Source')

col_0                                               count
Investigator or Source
                                               ...      1
   San Jose Mercury News, 1/6/1995, p.12A               1
 A. Bleakley;   A.M. Rapson, p.148                      1
 A. M. Rapson, p.148                                    1
 A. Sharpe, pp.124-125; Sydney Morning Herald, ...      1
 C. Creswell, GSAF                                      2
 C. Moore, GSAF                                         1
 D. Davies, p.185; Natal Daily News, 10/25/1960...      1
 E. Razzano & R. Joseph; M. Levine, GSAF                1
 E. Ritter, GSAF                                        1
 F. Schwartz                                            2
 F. Schwartz, p.23; C. Creswell, GSAF                   1
 Gleaner (Jamaica), 4/16/1885                           1
 H.D. Baldridge (1994), SAF Case #1645                  1
 Honolulu Advertiser, 12/4/1952; V.M. Coppleson...      1
 Houston Chronicle, 10/9/1993; Times of London,...      1
 ISAF Case #1421                                        1
 J. Green, p.35                                         1
 L. Schultz & M. Malin, p.514, et.al.                   1
 M. Levine, GSAF                                        1
 M. Vorenberg                                           1
 McCutcheon; News (Savannah) 8/18/1959                  1
 National Geographic, January 1995, p.56-57             1
 New York Times, 6/25/1950, p.1. col.2 & p.38           1
 P. Immerz                                              1
 P.C.V. Kumar; A. Patil, GSAF                           1
 R. Collier, GSAF;  T. Winters, Honolulu Advert...      1
 S. Petersohn, GSAF; P. Immerz                          1
 San Francisco Gate 2/21/2005                           1
 Sydney Gazette, 2/26/1804                              1
...                                                   ...
http://www.kesq.com                                     1
http://www.signonsandiego.com/news/mexico/20050...      1
http://www.youtube.com/watch?v=0jVJFXlapWY&feat...      1
internet (multiple)                                     1
internet, expedition                                    1
ioL.co.za                                               1
keysnet.com                                             1
mailonline.com, 12/2/2010                               1
meglognature.blogspot.com                               1
msn, 6/11/2014                                          1
multiple internet sources                               1
news.com.au, 10/14/2007                                 1
news.com.au, 4/29/2007                                  1
news.com.au; Northern Territory News, 2/18/2004...      1
press clippings ; Okinawa Weekly  Times, 10/14/...      1
press report                                            2
sharkattackfile.info                                    1
sharkattacks.com                                        3
surfguru.com.br                                         1
surfski.co.nz                                           1
tbo.com                                                 1
thewest.com.au, 11/19/2007                              1
undated press clipping - see 1975.06.00.b               1
wpmi.com                                                1
wsbtv.com                                               1
www.mauinews.com                                        1
www.spearfishingsa.co.za                                1
www.svcherokee.com/pages/ Ailingilaplap.htm             2
you Tube, Shark Attack at 57 metres                     1
zinfos974                                               1

[4752 rows x 1 columns]

In [39]:
print(working_data.isnull().sum())

Date                         0
Year                       127
Type                       519
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        570
Age                       2691
Injury                      27
Fatal (Y/N)                114
Time                      3213
Species                   2934
Investigator or Source      15
dtype: int64

In [40]:
working_data.head(30)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
0,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016"
1,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016"
2,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016"
3,17-Sep-16,2016.0,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016"
4,16-Sep-16,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016"
5,15-Sep-16,2016.0,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016"
6,11-Sep-16,2016.0,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016"
7,07-Sep-16,2016.0,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016"
8,06-Sep-16,2016.0,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016"
9,05-Sep-16,2016.0,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF"
10,05-Sep-16,2016.0,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016"
11,04-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016"
12,01-Sep-16,2016.0,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF"
13,29-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,25,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16"
14,29-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,37,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16"
15,27-Aug-16,2016.0,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,20,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016"
16,25-Aug-16,2016.0,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,49,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016"
17,07-Aug-16,2016.0,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,15,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016"
18,06-Aug-16,2016.0,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015"
19,04-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016"
20,29-Jul-16,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016"
21,28-Jul-16,2016.0,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,72,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016"
22,28-Jul-16,2016.0,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,NaN,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016"
23,27-Jul-16,2016.0,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,43,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016"
24,26-Jul-16,2016.0,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board...",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016"
25,24-Jul-16,2016.0,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,29,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016"
26,23-Jul-16,2016.0,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,36,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF"
27,23-Jul-16,2016.0,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,NaN,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016"
28,20-Jul-16,2016.0,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,31,Laceration to left calf from hooked shark PROV...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016"
29,17-Jul-16,2016.0,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,NaN,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016"

In [41]:
len_activity=[]
for i in working_data["Activity"]:
    if type(i)==str:
        len_activity.append(len(i))
    else:
        len_activity.append(0)
        
#hacer particiÃ³n segÃºn length

In [42]:
len_injury=[]
for i in working_data["Injury"]:
    if type(i)==str:
        len_injury.append(len(i))
    else:
        len_injury.append(0)
#hacer particiÃ³n segÃºn length

In [43]:
#['Date','Year','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Investigator or Source' ]

In [44]:
working_data['Len Activity'] = len_activity
working_data['Len Injury'] = len_injury

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [45]:
working_data.head(30)

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,Len Activity,Len Injury
0,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",7,21
1,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",7,20
2,18-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",7,24
3,17-Sep-16,2016.0,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",7,28
4,16-Sep-16,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",7,37
5,15-Sep-16,2016.0,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,Occupant: Ben Stratton,NaN,NaN,Shark rammed boat. No injury to occupant,N,NaN,NaN,"West Australian, 9/15/2016",7,40
6,11-Sep-16,2016.0,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,male,M,60s,Minor injury to arm,N,15h15,3' to 4' shark,"News4Jax, 9/11/2016",6,19
7,07-Sep-16,2016.0,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,female,F,51,Severe lacerations to shoulder & forearm,N,14h30,"Tiger shark, 10?","Hawaii News Now, 9/7/2016",8,40
8,06-Sep-16,2016.0,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,David Jewell,M,50,FATAL,Y,15h40,NaN,"TVANouvelles, 9/6/2016",12,5
9,05-Sep-16,2016.0,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,Rylie Williams,F,12,Lacerations & punctures to lower right leg,N,Late afternoon,NaN,"C. Creswell, GSAF",15,42
10,05-Sep-16,2016.0,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,Fraser Penman,M,NaN,"No inury, board broken in half by shark",N,Late afternoon,NaN,"Perth Now, 9/5/2016",7,39
11,04-Sep-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,Austin Moore,M,9,Foot bitten,N,NaN,NaN,"Orlando Sentinel, 9/7/2016",13,11
12,01-Sep-16,2016.0,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,Tyler McQuillen,M,22,Two toes broken & lacerated,N,NaN,White shark,"R. Collier, GSAF",12,27
13,29-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sam Cumiskey,M,25,Lacerations to right foot,N,15h00,"Bull shark, 6'","News Channel 8, 8/30/16",7,25
14,29-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,37,Minor injury to ankle,N,14h00,NaN,"News Channel 8, 8/30/16",7,21
15,27-Aug-16,2016.0,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,Laurent Chardard,M,20,"Right arm severed, ankle severely bitten",N,17h00,"Bull shark, 3.5 m","LaDepeche, 8/29/2016",7,41
16,25-Aug-16,2016.0,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,David Cassetty,M,49,Minor injury to ankle,N,16h00,NaN,"First Coast News, 7/25/2016",6,21
17,07-Aug-16,2016.0,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,Johnny Stoch,M,15,Lacerations to left leg,N,NaN,NaN,"ABC, 8/11/2016",10,23
18,06-Aug-16,2016.0,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,Connor Baxter,M,21,"No inury, shark & board collided",N,NaN,"Tiger shark, 10'","SUP, 8/9/2015",17,32
19,04-Aug-16,2016.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Nolan Tyler,M,22,Big toe bitten,N,NaN,Blacktip shark,"News 965, 8/5/2016",7,14
20,29-Jul-16,2016.0,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,male,M,40,Lacerations to right hand,N,11h30,Blue shark,"Informacion.es, 7/29/2016",8,25
21,28-Jul-16,2016.0,Unprovoked,CHINA,Hong Kong,NaN,Swimming,Justus Franz,M,72,Lacerations to leg,N,NaN,NaN,"Klassick, 7/28/2016",8,18
22,28-Jul-16,2016.0,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,Ian Watkins,M,NaN,"No injury, shark nudged kayak repeatedly",N,NaN,White shark,"ABC Australia, 7/28/2016",8,40
23,27-Jul-16,2016.0,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,Warren Sapp,M,43,Laceration to left forearm PROVOKED INCIDENT,N,NaN,"Nurse shark, 4'","Tampa Bay Times, 7/27/2016",10,44
24,26-Jul-16,2016.0,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,Curran See & Harry Lake,M,18,"No injury. Leg rope severed, knocked off board...",N,12h00,NaN,"Gold Coast Bulletin, 7/28/2016",7,55
25,24-Jul-16,2016.0,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,male,M,29,Lacerations to left leg,N,19h05,NaN,"Japan Times, 7/25/2016",7,23
26,23-Jul-16,2016.0,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,Zebulon Critchlow,M,36,Calf bumped but no injury,N,NaN,NaN,"C. Black, GSAF",7,25
27,23-Jul-16,2016.0,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,Steve Cutbirth,M,NaN,Lacerations to face and right leg,N,NaN,"Bull shark, 6'","KWTX, 7/23/2016",12,33
28,20-Jul-16,2016.0,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,Scott van Burck,M,31,Laceration to left calf from hooked shark PROV...,N,After noon,"reef shark, 1m","Nine News, 7/20/2016",7,59
29,17-Jul-16,2016.0,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,Occupant: Ben Raines,NaN,NaN,"No injury, shark bit trolling motor",N,NaN,"Tiger shark, 10'","Al.com, 7/19/2016",37,35