In [59]:
import pandas as pd
from sklearn import linear_model, preprocessing 
from sklearn import tree, model_selection

In [32]:
train = pd.read_csv("train.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [33]:
train["Fare"] = train["Fare"].fillna(train["Fare"].dropna().median())
train["Age"] = train["Fare"].fillna(train["Age"].dropna().median())

train.loc[train["Sex"] == "male", "Sex"] = 0
train.loc[train["Sex"] == "female", "Sex"] = 1

train["Embarked"] = train["Embarked"].fillna("S")
train.loc[train["Embarked"] == "S", "Embarked"] = 0
train.loc[train["Embarked"] == "C", "Embarked"] = 1
train.loc[train["Embarked"] == "Q", "Embarked"] = 2

In [34]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,7.2500,1,0,A/5 21171,7.2500,NaN,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,71.2833,1,0,PC 17599,71.2833,C85,1
2,3,1,3,"Heikkinen, Miss. Laina",1,7.9250,0,0,STON/O2. 3101282,7.9250,NaN,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,53.1000,1,0,113803,53.1000,C123,0
4,5,0,3,"Allen, Mr. William Henry",0,8.0500,0,0,373450,8.0500,NaN,0

In [45]:
features_names = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
target = train["Survived"].values
features = train[features_names].values

In [50]:
classifier = linear_model.LogisticRegression(solver='lbfgs')

In [51]:
classifier_ =classifier.fit(features, target)
print(classifier_.score(features, target))

0.7991021324354658

In [52]:
poly = preprocessing.PolynomialFeatures(degree=2)
poly_features = poly.fit_transform(features)

In [53]:
classifier_ =classifier.fit(poly_features, target)
print(classifier_.score(poly_features, target))

0.7878787878787878

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:758: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [57]:
decision_tree = tree.DecisionTreeClassifier(random_state = 1)
decision_tree_ = decision_tree.fit(features, target)
print (decision_tree_.score(features, target))

0.9248035914702581

In [60]:
scores = model_selection.cross_val_score(decision_tree, features, target, scoring='accuracy', cv=50)
print (scores)
print (scores.mean())

[0.94444444 0.66666667 0.83333333 0.77777778 0.77777778 0.77777778
 0.77777778 0.77777778 0.55555556 0.77777778 0.66666667 0.55555556
 0.94444444 0.77777778 0.72222222 0.66666667 0.88888889 0.77777778
 0.88888889 0.88888889 0.94444444 0.88888889 0.88888889 0.77777778
 0.72222222 0.77777778 0.77777778 0.83333333 0.77777778 0.88888889
 0.66666667 0.72222222 0.88888889 0.88888889 0.88888889 0.94444444
 0.77777778 0.72222222 0.83333333 0.94444444 0.77777778 0.72222222
 0.82352941 0.76470588 0.82352941 0.82352941 0.82352941 0.82352941
 0.88235294 0.875     ]
0.8027941176470587

In [63]:
generalized_tree = tree.DecisionTreeClassifier(
    random_state = 1,
    max_depth = 7,
    min_samples_split = 2
)
generalized_tree_ = generalized_tree.fit(features, target)

In [62]:
scores = model_selection.cross_val_score(generalized_tree, features, target, scoring='accuracy', cv=50)
print (scores)
print (scores.mean())

[0.88888889 0.72222222 0.77777778 0.94444444 0.83333333 0.88888889
 0.66666667 0.83333333 0.66666667 0.77777778 0.72222222 0.55555556
 0.88888889 0.77777778 0.66666667 0.77777778 0.88888889 0.72222222
 0.88888889 0.94444444 0.83333333 0.88888889 0.88888889 0.83333333
 0.88888889 0.77777778 0.88888889 0.88888889 0.83333333 0.94444444
 0.66666667 0.66666667 0.88888889 0.77777778 0.83333333 0.88888889
 0.66666667 0.66666667 0.83333333 0.94444444 0.83333333 0.83333333
 0.88235294 0.88235294 0.82352941 0.70588235 0.82352941 0.76470588
 1.         0.9375    ]
0.8163970588235293

In [65]:
tree.export_graphviz(generalized_tree_, features_names, out_file="tree.dot")

TypeError: export_graphviz() got multiple values for argument 'out_file'