#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
from sqlalchemy import create_engine
import pymysql as mdb

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:

motor=create_engine('mysql+mysqlconnector://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [4]:
users_table=pd.read_sql('SELECT Id FROM users', motor)
display(users_table.head())

   Id
0  -1
1   2
2   3
3   4
4   5

#### 5. Rename Id column to userId

In [5]:
users_table=users_table.rename(columns={'Id': 'userId'})
display(users_table.head())

   userId
0      -1
1       2
2       3
3       4
4       5

#### 6. Import the posts table.

In [6]:
posts_table=pd.read_sql('SELECT Id,OwnerUserId FROM posts', motor)
display(posts_table.head())

    Id  OwnerUserId
0   17          NaN
1   28          NaN
2   56          NaN
3  101          NaN
4  152          NaN

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_table=posts_table.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})
display(posts_table.head())

   postId  userId
0      17     NaN
1      28     NaN
2      56     NaN
3     101     NaN
4     152     NaN

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users=pd.read_sql('SELECT Id,Reputation,Views,UpVotes,DownVotes FROM users', motor)
posts=pd.read_sql('SELECT Id,Score,ViewCount,CommentCount,OwnerUserId FROM posts', motor)

users=users.rename(columns={'Id': 'userId'})
display(users.head())
posts=posts.rename(columns={'Id': 'postId', 'OwnerUserId': 'userId'})
display(posts.head())

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

   postId  Score  ViewCount  CommentCount  userId
0       1     23     1278.0             1     8.0
1       2     22     8198.0             1    24.0
2       3     54     3613.0             4    18.0
3       4     13     5224.0             2    23.0
4       5     81        NaN             3    23.0

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
datos=pd.merge(users, posts, on='userId')
datos.head(10)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
null=datos.isna().sum()     # tambien vale datos.isnull().sum() 
null[null>0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
# relleno a cero porque el numero de visitas es significativo, por ejemplo para la monetizacion y no quiero eliminar la 
# mitad de los datos, podrian ser tambien significativos, como el score o reputation.

datos['ViewCount']=datos['ViewCount'].fillna(0)
datos.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,259.253400,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,1632.261405,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,0.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,0.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,0.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,111.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:

datos['ViewCount']=datos['ViewCount'].astype('int64')
datos.dtypes
# el numero de visitas es siempre un numero entero, no tiene sentido el float, que era lo que me salia

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

In [31]:
# Bonus
import numpy as np

columnas=datos.columns.values.tolist()

stats=datos.describe().transpose()
stats['IQR']=stats['75%']-stats['25%']
#display(stats)

outliers=pd.DataFrame(columns=columnas)

for c in stats.index:
    iqr=stats.at[c,'IQR']
    corte=iqr*1.5
    low=stats.at[c,'25%']-corte
    up=stats.at[c,'75%']+corte
    res=datos[(datos[c]<low) | (datos[c]>up)].copy()
    res['Outlier']=c
    outliers=outliers.append(res)


display(outliers)
outliers.to_csv('outliers.csv')

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
1155,0,126,Reputation,14082,25,4235,0,3320,74,88
1156,0,126,Reputation,14082,5,4235,0,3320,94,88
1157,1,126,Reputation,14082,7,4235,0,3320,99,88
1158,3,126,Reputation,14082,6,4235,0,3320,119,88
1159,0,126,Reputation,14082,7,4235,0,3320,140,88
1160,2,126,Reputation,14082,5,4235,0,3320,143,88
1161,1,126,Reputation,14082,8,4235,0,3320,255,88
1162,0,126,Reputation,14082,14,4235,0,3320,265,88
1163,0,126,Reputation,14082,5,4235,0,3320,275,88
1164,1,126,Reputation,14082,2,4235,0,3320,309,88
1165,4,126,Reputation,14082,1,4235,0,3320,337,88
1166,0,126,Reputation,14082,2,4235,435,3320,341,88
1167,0,126,Reputation,14082,3,4235,0,3320,343,88
1168,2,126,Reputation,14082,3,4235,0,3320,344,88
1169,4,126,Reputation,14082,6,4235,0,3320,358,88
1170,2,126,Reputation,14082,4,4235,0,3320,360,88
1171,0,126,Reputation,14082,3,4235,0,3320,380,88
1172,3,126,Reputation,14082,109,4235,0,3320,424,88
1173,1,126,Reputation,14082,84,4235,0,3320,435,88
1174,3,126,Reputation,14082,6,4235,0,3320,450,88
1175,0,126,Reputation,14082,8,4235,0,3320,462,88
1176,4,126,Reputation,14082,3,4235,0,3320,464,88
1177,2,126,Reputation,14082,14,4235,0,3320,483,88
1178,2,126,Reputation,14082,6,4235,0,3320,494,88
1179,7,126,Reputation,14082,3,4235,0,3320,501,88
1180,0,126,Reputation,14082,5,4235,0,3320,505,88
1181,1,126,Reputation,14082,3,4235,0,3320,518,88
1182,0,126,Reputation,14082,7,4235,466,3320,526,88
1183,0,126,Reputation,14082,8,4235,0,3320,547,88
1184,0,126,Reputation,14082,5,4235,0,3320,559,88
...,...,...,...,...,...,...,...,...,...,...
89728,9,0,CommentCount,1,0,0,34,0,112169,54210
89740,12,0,CommentCount,16,0,1,29,0,112263,54229
89774,12,0,CommentCount,118,2,0,48,2,112351,54279
89789,9,6,CommentCount,60,-2,14,0,64,112504,54300
89794,8,6,CommentCount,60,1,14,0,64,112816,54300
89800,14,6,CommentCount,60,3,14,0,64,113498,54300
89911,11,0,CommentCount,6,1,0,52,0,112567,54474
89965,14,0,CommentCount,111,2,0,51,2,113011,54581
89985,10,0,CommentCount,1,0,0,30,0,114212,54619
90051,8,0,CommentCount,576,2,49,0,37,113508,54724
90062,11,0,CommentCount,1,0,0,33,2,113299,54733
90064,17,0,CommentCount,96,7,5,280,14,113314,54736
90067,8,0,CommentCount,96,2,5,33,14,114356,54736
90071,9,0,CommentCount,16,3,0,122,1,113334,54741
90098,8,0,CommentCount,20,0,1,5,2,113540,54791
90120,8,0,CommentCount,163,12,4,732,6,113526,54840
90130,17,0,CommentCount,14,2,3,113,9,113598,54862
90153,8,0,CommentCount,108,1,2,41,0,113650,54896
90162,11,0,CommentCount,1,0,0,36,1,113691,54911
90185,9,0,CommentCount,16,3,0,45,0,113790,54953
90227,11,0,CommentCount,1,0,0,18,1,113934,55020
90244,12,0,CommentCount,14,2,0,376,1,114004,55053
90251,8,0,CommentCount,1,0,0,29,0,114045,55086
90259,10,0,CommentCount,111,2,0,46,4,114081,55107
90268,11,0,CommentCount,6,1,0,45,0,114119,55125
90274,10,0,CommentCount,13,2,0,42,0,114129,55135
90326,8,0,CommentCount,6,1,0,32,3,114339,55241
90346,8,0,CommentCount,13,2,0,25,0,114859,55302
90408,9,0,CommentCount,11,2,0,63,1,114719,55420
90491,9,0,CommentCount,6,1,0,77,3,115020,55557

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.