In [2]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('./tableau_project.csv')
pd.set_option('display.max_columns', None)
data.head()

,Unnamed: 0,journey_id,vehicle_type_id,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,price,price_distance,price_duration,distance,duration,source,rider_waiting_time,driver_waiting_time,price_supplements,discount,rating
0,0,93e6d216088af74c32183283d4bb2953,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:08:59,19.431363,-99.195362,2017-12-16 11:37:32,19.406438,-99.175260,drop off,"5,866","5,204",0,"7,943","1,058",Android,590,48,662,0,9.0
1,1,444b084ec64244919afadfba879876a3,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:06:16,19.431567,-99.195368,2017-12-16 11:07:21,NaN,NaN,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
2,2,dbcc57f4e7606a71c74c6e4666a977a4,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 22:58:37,19.422052,-99.174499,2017-11-24 23:27:05,19.438666,-99.180821,drop off,"4,000","3,552",0,"3,054",689,Android,923,4,0,0,10.0
3,3,1ffe9a24033847148c683574985df56c,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 09:17:08,19.433119,-99.154844,2017-12-16 09:17:30,19.290148,-99.144407,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
4,4,fb1ef7d070724482a33be41f27737ea5,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 18:11:00,19.440996,-99.183581,2017-11-24 18:31:31,19.422815,-99.174865,drop off,"4,000","2,974",12,"2,859",887,iPhone,329,36,0,0,8.0

In [7]:
data1 = data.drop(['Unnamed: 0', 'journey_id','vehicle_type_id','start_type'], axis=1)
data1.head(50)

,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,price,price_distance,price_duration,distance,duration,source,rider_waiting_time,driver_waiting_time,price_supplements,discount,rating
0,2017-12-16 11:08:59,19.431363,-99.195362,2017-12-16 11:37:32,19.406438,-99.175260,drop off,"5,866","5,204",0,"7,943","1,058",Android,590,48,662,0,9.0
1,2017-12-16 11:06:16,19.431567,-99.195368,2017-12-16 11:07:21,NaN,NaN,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
2,2017-11-24 22:58:37,19.422052,-99.174499,2017-11-24 23:27:05,19.438666,-99.180821,drop off,"4,000","3,552",0,"3,054",689,Android,923,4,0,0,10.0
3,2017-12-16 09:17:08,19.433119,-99.154844,2017-12-16 09:17:30,19.290148,-99.144407,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
4,2017-11-24 18:11:00,19.440996,-99.183581,2017-11-24 18:31:31,19.422815,-99.174865,drop off,"4,000","2,974",12,"2,859",887,iPhone,329,36,0,0,8.0
5,2017-11-24 15:34:53,19.421856,-99.174361,2017-11-24 15:53:30,19.440311,-99.184146,drop off,"4,000","3,346",290,"3,176","1,028",iPhone,73,369,0,0,8.0
6,2017-11-24 15:10:23,19.419962,-99.171955,2017-11-24 15:10:42,19.441434,-99.183503,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
7,2017-11-24 15:09:29,19.419962,-99.171955,2017-11-24 15:47:42,19.441434,-99.183503,drop off,"6,449","4,367","2,082","3,008","1,505",iPhone,770,799,0,0,10.0
8,2017-11-24 14:31:58,19.406538,-99.169710,2017-11-24 14:32:56,19.421960,-99.174559,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
9,2017-11-24 14:20:00,19.438666,-99.180821,2017-11-24 14:36:44,19.423103,-99.174878,drop off,"8,063","4,063",0,"3,034",958,Android,"1,655","1,039",0,0,10.0
10,2017-11-30 23:03:44,19.421545,-99.174222,2017-11-30 23:03:50,19.442719,-99.201140,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,10.0
11,2017-11-30 23:02:14,19.421541,-99.174171,2017-11-30 23:35:45,19.442719,-99.201140,drop off,"6,924","6,924",0,"5,083","1,253",iPhone,729,6,0,0,10.0
12,2017-11-30 03:37:44,19.422815,-99.174865,2017-11-30 04:02:56,19.406438,-99.175260,drop off,"4,000","3,766",0,"2,766",841,Android,633,97,0,0,9.0
13,2017-11-30 03:02:10,19.415241,-99.178212,2017-11-30 03:02:23,19.407004,-99.175830,rider cancel,0,0,0,0,0,Android,NaN,NaN,0,0,9.0
14,2017-11-30 03:01:26,19.422034,-99.174665,2017-11-30 03:01:57,19.438666,-99.180821,rider cancel,0,0,0,0,0,Android,NaN,NaN,0,0,9.0
15,2017-11-30 01:04:57,19.441434,-99.183503,2017-11-30 02:14:25,19.439331,-99.202260,drop off,"9,404","9,279",125,"8,254","3,566",iPhone,589,158,0,0,10.0
16,2017-12-16 02:42:52,19.406538,-99.169710,2017-12-16 02:43:04,19.425151,-99.178225,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
17,2017-12-16 02:25:34,19.406353,-99.175294,2017-12-16 02:51:58,19.432267,-99.154651,drop off,"5,299","5,299",0,"5,600","1,073",iPhone,477,11,0,0,8.0
18,2017-11-24 04:26:15,19.422815,-99.174865,2017-11-24 04:52:20,19.406438,-99.175260,drop off,"4,000","2,912",0,"3,187",930,Android,576,180,0,0,9.0
19,2017-11-24 04:24:26,19.422815,-99.174865,2017-11-24 04:26:09,19.406438,-99.175260,rider cancel,0,NaN,NaN,0,0,Android,NaN,NaN,0,0,9.0
20,2017-11-24 04:13:41,19.421865,-99.174460,2017-11-24 04:15:25,19.440528,-99.176656,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,6.0
21,2017-11-30 19:03:40,19.440754,-99.183578,2017-11-30 19:39:23,19.422815,-99.174865,drop off,"4,000","3,179",0,"3,073","1,259",iPhone,873,10,0,0,8.0
22,2017-11-30 19:01:29,19.441409,-99.184146,2017-11-30 19:29:52,19.427445,-99.170818,drop off,"4,000","3,108",0,"2,923","1,485",iPhone,205,262,0,0,10.0
23,2017-11-30 16:40:40,19.421830,-99.174441,2017-11-30 17:08:04,19.440311,-99.184146,drop off,"4,000","3,643",0,"2,516",783,iPhone,856,7,0,0,8.0
24,2017-11-24 02:12:27,19.438666,-99.180821,2017-11-24 02:57:54,19.406134,-99.176266,drop off,"6,582","6,582",0,"4,849","1,682",Android,"1,011",194,0,0,10.0
25,2017-11-24 02:08:47,19.438666,-99.180821,2017-11-24 02:12:16,19.406134,-99.176266,rider cancel,0,NaN,NaN,0,0,Android,NaN,NaN,0,0,10.0
26,2017-11-30 16:17:50,19.441256,-99.183574,2017-11-30 16:34:40,19.422815,-99.174865,drop off,"4,000","3,644",0,"2,714",838,iPhone,163,6,0,0,6.0
27,2017-11-30 15:14:57,19.419962,-99.171955,2017-11-30 16:03:54,19.441434,-99.183503,drop off,"5,438","4,092","1,346","3,895","2,270",iPhone,648,622,0,0,10.0
28,2017-11-30 15:06:39,19.419962,-99.171955,2017-11-30 15:06:56,19.441434,-99.183503,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,10.0
29,2017-11-24 00:39:36,19.441358,-99.182789,2017-11-24 00:39:54,19.419962,-99.171955,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
30,2017-11-24 00:38:52,19.441406,-99.184136,2017-11-24 01:55:47,19.419962,-99.171955,drop off,"5,610","5,238",372,"6,751","3,660",iPhone,925,389,0,0,10.0
31,2017-11-30 11:50:00,19.406120,-99.176239,2017-11-30 12:09:51,19.438666,-99.180821,drop off,"10,534","6,534",0,"5,686","1,037",Android,"2,844",192,0,0,10.0
32,2017-11-10 23:55:41,19.422954,-99.174981,2017-11-11 00:27:55,19.423091,-99.170269,drop off,"4,000",836,0,701,746,Android,"1,171",160,0,0,6.0
33,2017-12-16 02:57:51,19.438253,-99.181061,2017-12-16 03:28:43,19.432267,-99.154651,drop off,"5,738","4,121","1,617","3,927","1,538",Android,256,688,0,0,8.0
34,2017-12-16 02:50:35,19.427800,-99.170115,2017-12-16 03:10:26,19.432267,-99.154651,drop off,"4,000","2,409",0,"1,754",851,Android,328,60,0,0,9.0
35,2017-11-10 23:28:32,19.421960,-99.174559,2017-11-10 23:59:41,19.438666,-99.180821,drop off,"4,000","3,496",0,"3,275",935,Android,909,4,0,0,10.0
36,2017-11-10 23:06:09,19.441411,-99.184123,2017-11-10 23:48:53,19.419962,-99.171955,drop off,"4,908","4,408",0,"3,793","2,177",iPhone,365,205,0,0,10.0
37,2017-11-10 23:05:38,19.441434,-99.183503,2017-11-10 23:06:33,19.419962,-99.171955,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
38,2017-12-22 20:41:24,19.406954,-99.175520,2017-12-22 22:10:50,19.421496,-99.077809,drop off,"19,028","11,070","7,958","14,696","4,070",Android,"1,276",261,0,0,9.0
39,2017-11-10 22:14:06,19.422749,-99.174937,2017-11-10 22:14:40,19.406538,-99.169710,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
40,2017-11-16 19:30:00,19.377219,-99.254503,2017-11-16 21:19:22,19.421496,-99.077809,drop off,"29,421","20,347","4,074","21,346","6,070",iPhone,"2,239","1,277",0,0,9.0
41,2017-11-10 02:12:42,19.422770,-99.174517,2017-11-10 02:34:20,19.420010,-99.166312,drop off,"4,000","1,789",0,"1,315",294,Android,984,15,0,0,8.0
42,2017-11-10 02:11:01,19.422916,-99.175002,2017-11-10 02:42:22,19.423091,-99.170269,drop off,"4,000",780,0,"1,360",419,Android,"1,436",3,0,0,6.0
43,2017-11-16 18:33:47,19.441253,-99.183557,2017-11-16 19:16:52,19.422815,-99.174865,drop off,"4,000","3,386",0,"2,763","2,066",iPhone,503,12,0,0,6.0
44,2017-11-10 01:27:29,19.421917,-99.174595,2017-11-10 01:28:50,19.438666,-99.180821,rider cancel,0,NaN,NaN,0,0,Android,NaN,NaN,0,0,8.0
45,2017-11-16 18:10:18,19.441140,-99.183570,2017-11-16 18:40:39,19.422815,-99.174865,drop off,"4,000","3,331",0,"3,260","1,545",iPhone,257,120,0,0,8.0
46,2017-11-10 14:52:35,19.422024,-99.170385,2017-11-10 14:52:41,19.441434,-99.183503,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
47,2017-11-10 14:51:27,19.422973,-99.170483,2017-11-10 14:52:52,19.441434,-99.183503,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
48,2017-11-10 14:44:28,19.422973,-99.170483,2017-11-10 14:44:53,19.441434,-99.183503,rider cancel,0,NaN,NaN,0,0,iPhone,NaN,NaN,0,0,10.0
49,2017-11-10 14:22:21,19.406228,-99.176241,2017-11-10 14:34:37,19.423103,-99.174878,rider cancel,"4,000",NaN,NaN,0,0,Android,NaN,NaN,0,0,10.0

In [5]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3864 entries, 0 to 3863
Data columns (total 18 columns):
start_at               3864 non-null object
start_lat              3864 non-null float64
start_lon              3864 non-null float64
end_at                 3864 non-null object
end_lat                3807 non-null float64
end_lon                3807 non-null float64
end_state              3864 non-null object
price                  3844 non-null object
price_distance         2812 non-null object
price_duration         2812 non-null object
distance               3844 non-null object
duration               3844 non-null object
source                 3864 non-null object
rider_waiting_time     2733 non-null object
driver_waiting_time    2685 non-null object
price_supplements      3864 non-null object
discount               3844 non-null object
rating                 3864 non-null float64
dtypes: float64(5), object(13)
memory usage: 543.5+ KB

In [9]:
before = len(data1)
data2 = data1.drop_duplicates()
after = len(data2)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [10]:
data2.isnull().sum()

start_at                  0
start_lat                 0
start_lon                 0
end_at                    0
end_lat                  57
end_lon                  57
end_state                 0
price                    20
price_distance         1052
price_duration         1052
distance                 20
duration                 20
source                    0
rider_waiting_time     1131
driver_waiting_time    1179
price_supplements         0
discount                 20
rating                    0
dtype: int64

In [ ]:
#price_distance y price_duration se relacionan con rider cancel en end_state. Pasarlo a cero
#rider_waiting_time y driver_waiting_time quiere decir que el tiempo fue cero, pero xq el viaje se cancel. Pasarlo a cero

In [11]:
data2['end_state'].value_counts()

drop off         2685
rider cancel     1146
not found          20
no show            12
driver cancel       1
Name: end_state, dtype: int64