#### 1. Import pandas library

In [2]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [3]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [4]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')
engine

Engine(mysql+pymysql://guest:***@relational.fit.cvut.cz)

#### 4. Import the users table

In [5]:
usersdf = pd.read_sql_query('SELECT * FROM stats.users LIMIT 3000', engine)
display(usersdf)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,4612,1,2011-05-14 13:44:11,user4612,2013-04-22 06:40:59,None,None,None,0,0,0,509957,NaN,None
2971,4613,1,2011-05-14 15:05:01,Ebemunk,2011-05-14 15:05:01,None,None,None,0,0,0,392444,25.0,None
2972,4615,36,2011-05-14 21:23:24,Jennifer Tye,2011-05-14 21:23:24,None,None,None,6,0,0,842689,NaN,None
2973,4617,109,2011-05-15 05:31:38,Evgeniy Perevodchikov,2012-01-22 17:52:20,http://NA,None,None,28,22,0,509960,NaN,None
2974,4618,146,2011-05-15 06:32:21,user4618,2013-07-24 18:45:42,None,None,None,11,8,0,481662,NaN,None
2975,4619,101,2011-05-15 06:46:20,brandonjp,2011-05-15 06:46:20,http://brandonjp.com,United States,None,0,0,0,97570,NaN,None
2976,4620,101,2011-05-15 07:08:50,beach,2011-12-19 07:38:59,http://N/A,"Seattle, WA",<ul>\n<li>Software Engineer </li>\n<li>Busines...,0,2,0,21992,37.0,None
2977,4621,116,2011-05-15 10:54:05,Anton Korobeynikov,2014-08-15 18:40:39,http://anton.korobeynikov.info,"St. Petersburg, Russia",None,22,1,0,55079,NaN,None
2978,4622,46,2011-05-15 15:48:13,George,2011-05-15 15:48:13,None,None,None,2,0,0,842692,NaN,None
2979,4623,133,2011-05-15 19:36:47,Hans,2014-05-29 21:33:18,http://blog.hansdude.com,None,None,7,1,0,216968,NaN,None
2980,4624,6,2011-05-15 20:38:37,user4624,2011-06-06 22:03:01,None,None,None,14,0,0,509961,NaN,None
2981,4625,46,2011-05-16 00:17:52,Han Lin Shang,2011-05-17 10:14:23,None,None,None,7,0,0,842695,NaN,None
2982,4626,116,2011-05-16 01:42:31,cogitovita,2014-09-05 03:47:53,None,None,None,2,0,0,341757,NaN,None
2983,4627,65,2011-05-16 04:32:57,Mitch,2011-05-25 04:31:51,None,None,None,11,0,0,842696,NaN,None
2984,4628,1,2011-05-16 08:46:19,msms,2011-05-16 08:46:19,None,None,None,0,0,0,292955,NaN,None
2985,4629,26,2011-05-16 12:57:54,user4629,2011-05-23 10:25:48,None,None,None,1,1,0,493531,NaN,None
2986,4630,101,2011-05-16 13:17:47,Raj A.N.T. Gounder,2011-05-16 13:17:47,https://sites.google.com/site/rajanallathambi1/,"Chennai , India",<p>Im a part time flash designer.<br>Im intere...,0,0,0,377305,30.0,None
2987,4631,28,2011-05-16 14:01:19,Max,2011-05-16 23:55:42,None,None,None,2,0,0,124361,NaN,None
2988,4632,121,2011-05-16 14:13:13,Tom Gullen,2011-08-03 16:31:27,http://www.tomgullen.co.uk/,"London, United Kingdom",<p><strong>Me</strong></p>\n\n<p>Web developer...,4,0,0,146280,28.0,None
2989,4634,101,2011-05-16 17:53:44,Judge Maygarden,2011-05-16 19:02:40,http://www.jmaygarden.com/,"Pensacola, FL",<p>foo</p>\n,0,0,0,1121,36.0,None
2990,4635,101,2011-05-16 18:31:33,SnippetSpace,2011-10-02 18:18:03,http://snippetspace.com,France,"<p>Hi, My name is Christopher.</p>\n\n<p>I hav...",1,0,0,337219,23.0,None
2991,4636,116,2011-05-16 23:13:28,Steve Bennett,2014-08-15 06:15:21,None,None,None,4,0,0,96955,NaN,None
2992,4637,11,2011-05-17 00:24:42,Tauf,2011-06-19 18:36:22,http://taufmonster.blogspot.com,"Little Rock, AR",None,4,0,0,392670,28.0,None
2993,4638,26,2011-05-17 01:08:12,metrobalderas,2012-06-10 07:28:29,http://www.facebook.com,Alabama,Web developer.,4,1,0,69380,32.0,None
2994,4639,1,2011-05-17 02:09:45,whitefoxx,2011-05-17 02:56:30,None,None,"<p>Programming, AI, ML</p>\n",0,0,0,184004,NaN,None
2995,4642,31,2011-05-17 16:06:19,XenophiliusLovegood,2013-06-17 18:32:00,None,None,None,4,1,0,509964,NaN,None
2996,4643,33,2011-05-17 18:29:22,cing,2014-05-26 15:10:53,None,None,None,2,2,0,509965,NaN,None
2997,4644,6,2011-05-17 20:50:11,Melisa,2011-05-17 20:50:11,None,None,None,4,0,0,842698,NaN,None
2998,4645,1,2011-05-17 21:02:07,user4645,2011-05-23 09:58:00,None,None,None,18,0,0,509966,NaN,None
2999,4646,101,2011-05-17 23:19:34,Mike,2011-05-25 18:17:56,http://deadliestwebattacks.com/,None,<p>Mike Shema writes software to test the secu...,0,0,0,154029,NaN,None

#### 5. Rename Id column to userId

In [6]:
usersdf = usersdf.rename(columns = {'Id': 'userId'})
usersdf

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,4612,1,2011-05-14 13:44:11,user4612,2013-04-22 06:40:59,None,None,None,0,0,0,509957,NaN,None
2971,4613,1,2011-05-14 15:05:01,Ebemunk,2011-05-14 15:05:01,None,None,None,0,0,0,392444,25.0,None
2972,4615,36,2011-05-14 21:23:24,Jennifer Tye,2011-05-14 21:23:24,None,None,None,6,0,0,842689,NaN,None
2973,4617,109,2011-05-15 05:31:38,Evgeniy Perevodchikov,2012-01-22 17:52:20,http://NA,None,None,28,22,0,509960,NaN,None
2974,4618,146,2011-05-15 06:32:21,user4618,2013-07-24 18:45:42,None,None,None,11,8,0,481662,NaN,None
2975,4619,101,2011-05-15 06:46:20,brandonjp,2011-05-15 06:46:20,http://brandonjp.com,United States,None,0,0,0,97570,NaN,None
2976,4620,101,2011-05-15 07:08:50,beach,2011-12-19 07:38:59,http://N/A,"Seattle, WA",<ul>\n<li>Software Engineer </li>\n<li>Busines...,0,2,0,21992,37.0,None
2977,4621,116,2011-05-15 10:54:05,Anton Korobeynikov,2014-08-15 18:40:39,http://anton.korobeynikov.info,"St. Petersburg, Russia",None,22,1,0,55079,NaN,None
2978,4622,46,2011-05-15 15:48:13,George,2011-05-15 15:48:13,None,None,None,2,0,0,842692,NaN,None
2979,4623,133,2011-05-15 19:36:47,Hans,2014-05-29 21:33:18,http://blog.hansdude.com,None,None,7,1,0,216968,NaN,None
2980,4624,6,2011-05-15 20:38:37,user4624,2011-06-06 22:03:01,None,None,None,14,0,0,509961,NaN,None
2981,4625,46,2011-05-16 00:17:52,Han Lin Shang,2011-05-17 10:14:23,None,None,None,7,0,0,842695,NaN,None
2982,4626,116,2011-05-16 01:42:31,cogitovita,2014-09-05 03:47:53,None,None,None,2,0,0,341757,NaN,None
2983,4627,65,2011-05-16 04:32:57,Mitch,2011-05-25 04:31:51,None,None,None,11,0,0,842696,NaN,None
2984,4628,1,2011-05-16 08:46:19,msms,2011-05-16 08:46:19,None,None,None,0,0,0,292955,NaN,None
2985,4629,26,2011-05-16 12:57:54,user4629,2011-05-23 10:25:48,None,None,None,1,1,0,493531,NaN,None
2986,4630,101,2011-05-16 13:17:47,Raj A.N.T. Gounder,2011-05-16 13:17:47,https://sites.google.com/site/rajanallathambi1/,"Chennai , India",<p>Im a part time flash designer.<br>Im intere...,0,0,0,377305,30.0,None
2987,4631,28,2011-05-16 14:01:19,Max,2011-05-16 23:55:42,None,None,None,2,0,0,124361,NaN,None
2988,4632,121,2011-05-16 14:13:13,Tom Gullen,2011-08-03 16:31:27,http://www.tomgullen.co.uk/,"London, United Kingdom",<p><strong>Me</strong></p>\n\n<p>Web developer...,4,0,0,146280,28.0,None
2989,4634,101,2011-05-16 17:53:44,Judge Maygarden,2011-05-16 19:02:40,http://www.jmaygarden.com/,"Pensacola, FL",<p>foo</p>\n,0,0,0,1121,36.0,None
2990,4635,101,2011-05-16 18:31:33,SnippetSpace,2011-10-02 18:18:03,http://snippetspace.com,France,"<p>Hi, My name is Christopher.</p>\n\n<p>I hav...",1,0,0,337219,23.0,None
2991,4636,116,2011-05-16 23:13:28,Steve Bennett,2014-08-15 06:15:21,None,None,None,4,0,0,96955,NaN,None
2992,4637,11,2011-05-17 00:24:42,Tauf,2011-06-19 18:36:22,http://taufmonster.blogspot.com,"Little Rock, AR",None,4,0,0,392670,28.0,None
2993,4638,26,2011-05-17 01:08:12,metrobalderas,2012-06-10 07:28:29,http://www.facebook.com,Alabama,Web developer.,4,1,0,69380,32.0,None
2994,4639,1,2011-05-17 02:09:45,whitefoxx,2011-05-17 02:56:30,None,None,"<p>Programming, AI, ML</p>\n",0,0,0,184004,NaN,None
2995,4642,31,2011-05-17 16:06:19,XenophiliusLovegood,2013-06-17 18:32:00,None,None,None,4,1,0,509964,NaN,None
2996,4643,33,2011-05-17 18:29:22,cing,2014-05-26 15:10:53,None,None,None,2,2,0,509965,NaN,None
2997,4644,6,2011-05-17 20:50:11,Melisa,2011-05-17 20:50:11,None,None,None,4,0,0,842698,NaN,None
2998,4645,1,2011-05-17 21:02:07,user4645,2011-05-23 09:58:00,None,None,None,18,0,0,509966,NaN,None
2999,4646,101,2011-05-17 23:19:34,Mike,2011-05-25 18:17:56,http://deadliestwebattacks.com/,None,<p>Mike Shema writes software to test the secu...,0,0,0,154029,NaN,None

#### 6. Import the posts table.

In [7]:
postsdf = pd.read_sql_query('SELECT * FROM stats.posts LIMIT 5000', engine)
postsdf.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [8]:
postsdf = postsdf.rename(columns = {'Id': 'postId', 'OwnerUserId':'userId'})
postsdf.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [9]:
select_columns_users = ['userId', 'Reputation','Views','UpVotes','DownVotes']
select_columns_posts = ['postId', 'Score','userId','ViewCount','CommentCount']
usersdf = usersdf[select_columns_users]
postsdf = postsdf[select_columns_posts]
display(usersdf.head(10))
display(postsdf.head(10))

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5
5       6         457    114       47          0
6       7         429     56       20          0
7       8        6764   1089      604         25
8      10         121     20        2          0
9      11         136     10       10          0

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3
5       6    152     5.0    29229.0             5
6       7     76    38.0     5808.0             3
7       8      0    37.0      288.0             2
8       9     13    50.0        NaN             3
9      10     23    24.0    21925.0             4

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [16]:
data_users_posts = pd.merge(usersdf, postsdf, on = 'userId')
data_users_posts.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,5,6792,1145,662,5,6,152,29229.0,5
2,5,6792,1145,662,5,12,20,NaN,1
3,5,6792,1145,662,5,32,12,NaN,0
4,5,6792,1145,662,5,49,6,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [22]:
null_cols = data_users_posts.isnull().sum()
null_cols = null_cols[null_cols > 0]
display(null_cols)
data_users_posts['ViewCount'] = data_users_posts['ViewCount'].fillna(0)
null_cols = data_users_posts.isnull().sum()
display(null_cols)

Series([], dtype: int64)

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [13]:
print(len(data_users_posts))

4573

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [26]:
data_users_posts.dtypes
display(data_users_posts.head())
data_users_posts['ViewCount'] = data_users_posts['ViewCount'].astype('int')
display(data_users_posts.head())

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,5,6792,1145,662,5,6,152,29229,5
2,5,6792,1145,662,5,12,20,0,1
3,5,6792,1145,662,5,32,12,0,0
4,5,6792,1145,662,5,49,6,0,0

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,5,6792,1145,662,5,6,152,29229,5
2,5,6792,1145,662,5,12,20,0,1
3,5,6792,1145,662,5,32,12,0,0
4,5,6792,1145,662,5,49,6,0,0

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [30]:
stats = data_users_posts.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']

outliers = pd.DataFrame(columns = data_users_posts.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = data_users_posts[(data_users_posts[col] < lower) | 
                   (data_users_posts[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
display(outliers)

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,ViewCount,Views,postId,userId
4488,3,0,userId,128,5,2,403,3,4904,2132
4489,0,0,userId,111,2,0,0,5,4911,2134
4490,2,0,userId,39,5,0,311,7,4914,2137
4491,3,0,userId,39,2,0,2816,7,4945,2137
4492,4,0,userId,130,-3,0,156,21,4918,2141
4493,0,0,userId,130,5,0,1472,21,4970,2141
4494,2,0,userId,471,4,4,0,23,4924,2144
4495,0,0,userId,471,1,4,0,23,4927,2144
4496,4,0,userId,471,5,4,0,23,4943,2144
4497,1,0,userId,471,4,4,0,23,4952,2144
4498,3,0,userId,471,11,4,0,23,4973,2144
4499,1,0,userId,471,28,4,0,23,5020,2144
4500,4,0,userId,471,1,4,0,23,5178,2144
4501,0,0,userId,133,6,0,1767,9,4930,2147
4502,8,0,userId,450,1,6,781,54,4942,2148
4503,4,0,userId,450,4,6,1734,54,4949,2148
4504,1,0,userId,450,10,6,726,54,4959,2148
4505,4,0,userId,450,4,6,225,54,5226,2148
4506,2,0,userId,450,3,6,194,54,5260,2148
4507,7,0,userId,450,7,6,0,54,5289,2148
4508,9,0,userId,1969,7,62,0,196,4938,2150
4509,0,0,userId,1969,3,62,0,196,4981,2150
4510,0,0,userId,1969,4,62,0,196,4982,2150
4511,0,0,userId,111,1,0,410,5,4954,2157
4512,3,0,userId,111,1,0,528,5,5167,2157
4513,10,1,userId,922,5,65,551,185,4972,2164
4514,5,1,userId,922,3,65,1083,185,4987,2164
4515,5,1,userId,922,2,65,590,185,5058,2164
4516,0,0,userId,397,58,4,0,21,4968,2166
4517,1,0,userId,397,3,4,0,21,5047,2166
...,...,...,...,...,...,...,...,...,...,...
3699,13,7,CommentCount,3000,3,140,1893,456,3383,1124
3708,9,7,CommentCount,3000,8,140,0,456,4822,1124
3718,8,0,CommentCount,116,3,0,531,4,2269,1135
3807,14,0,CommentCount,121,4,2,1284,10,2617,1267
3824,10,0,CommentCount,303,1,15,258,214,3163,1291
3832,24,10,CommentCount,4128,7,600,0,5025,2959,1307
3834,11,10,CommentCount,4128,7,600,0,5025,3066,1307
3843,10,10,CommentCount,4128,1,600,0,5025,3565,1307
3893,8,5,CommentCount,1665,3,91,0,335,3211,1329
3895,8,5,CommentCount,1665,4,91,0,335,3388,1329
3942,8,7,CommentCount,5859,46,595,0,783,3817,1352
3964,8,0,CommentCount,101,9,0,256,6,2894,1376
3979,11,34,CommentCount,3533,8,910,263,299,5114,1381
4001,13,34,CommentCount,10476,10,602,0,1165,4903,1390
4002,12,34,CommentCount,10476,5,602,0,1165,5003,1390
4007,8,34,CommentCount,10476,4,602,0,1165,5239,1390
4109,9,0,CommentCount,122,3,5,339,19,3762,1564
4114,10,2,CommentCount,3015,-1,151,0,188,3582,1569
4130,9,0,CommentCount,13,2,0,381,2,3646,1598
4137,10,0,CommentCount,37,2,29,1473,19,4175,1614
4179,9,8,CommentCount,3536,74,164,0,382,4567,1679
4183,8,0,CommentCount,106,1,1,193,3,3924,1683
4187,8,0,CommentCount,124,2,0,573,33,3982,1706
4420,8,1,CommentCount,301,1,105,0,65,4650,2036
4481,9,43,CommentCount,18088,4,3274,0,3899,5342,2116
4482,9,43,CommentCount,18088,5,3274,0,3899,5349,2116
4502,8,0,CommentCount,450,1,6,781,54,4942,2148
4508,9,0,CommentCount,1969,7,62,0,196,4938,2150
4513,10,1,CommentCount,922,5,65,551,185,4972,2164
4527,10,0,CommentCount,111,68,3,37011,15,5026,2199