#### 1. Import pandas library

In [38]:
import pandas as pd
import numpy as np

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
accident = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [4]:
data = pd.read_sql_query('SELECT * FROM stats.users LIMIT 1000', accident)

#### 5. Rename Id column to userId

In [5]:
data2= data.rename(columns={'Id':'userId'})
data2

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1377,101,2010-09-20 14:17:51,WernerCD,2014-05-27 15:37:08,http://wernercd.com,Delaware,<p>Data Analyst\nProgrammer (Primarily C#)</p>\n,2,1,0,177592,35.0,None
971,1378,327,2010-09-20 16:46:23,Charles,2014-09-08 15:53:04,None,None,None,29,35,0,137283,NaN,None
972,1380,101,2010-09-20 22:43:23,bigown,2014-01-19 15:01:31,http://area51.stackexchange.com/proposals/2353...,Brazil,"<p>former Moderator on <em><a href=""http://pro...",1,34,0,77792,44.0,https://www.gravatar.com/avatar/976163c0940736...
973,1381,3533,2010-09-20 22:54:16,David,2014-09-03 11:02:03,http://www.openwetware.org/wiki/User:David_S_L...,"Urbana, IL",None,299,910,34,68240,NaN,None
974,1384,101,2010-09-21 09:18:15,Mark C,2012-10-22 03:40:11,None,"San Antonio, TX",None,0,1,0,112182,28.0,None
975,1387,126,2010-09-21 17:20:48,Petr,2010-09-22 23:04:14,None,None,None,8,0,0,842454,NaN,None
976,1389,262,2010-09-21 18:12:13,Skarab,2013-09-24 22:20:07,http://wbarczynski.pl/wp,None,None,41,5,0,178678,NaN,None
977,1390,10476,2010-09-21 18:58:34,Gavin Simpson,2014-09-13 15:50:54,http://www.fromthebottomoftheheap.net,"Regina, Canada",<p>I'm Quantitative Environmental Scientist in...,1165,602,34,190102,38.0,None
978,1392,110,2010-09-21 23:09:48,zaxtax,2014-08-12 00:17:29,None,None,None,22,6,0,205648,NaN,None
979,1393,182,2010-09-22 01:07:10,Jyotirmoy Bhattacharya,2014-05-19 13:33:32,http://www.jyotirmoy.net,"Delhi, India",<p>I'm an Assistant Professor of Economics at ...,72,9,5,73908,NaN,None
980,1395,172,2010-09-22 01:44:43,Justin Meltzer,2011-01-06 07:43:10,None,None,None,34,1,0,184826,NaN,None
981,1396,46,2010-09-22 09:06:27,user1396,2011-11-30 12:02:29,None,None,None,1,0,0,509544,NaN,None
982,1397,258,2010-09-22 11:57:02,Johann Hibschman,2014-09-09 13:23:44,None,"New York, NY",<p>Yet another physicist pretending to be a st...,17,2,0,91333,NaN,None
983,1398,101,2010-09-22 14:24:07,Ori Folger,2012-09-08 14:42:54,http://twitter.com/calanya,Israel,None,0,0,0,29880,34.0,None
984,1399,101,2010-09-22 14:46:04,100rabh,2010-11-30 10:29:22,http://dotslasha.in,"Indore, India",<p>I am a random code monkey who happens to sp...,1,1,0,195039,25.0,None
985,1400,101,2010-09-22 16:05:25,z5h,2011-12-01 20:58:36,http://about.me/mark.bolusmjak,"Toronto, Canada","<p>I like what Dijkstra said:</p>\n\n<p><i>""Th...",0,0,0,44670,38.0,None
986,1402,101,2010-09-22 22:11:14,sandesh247,2013-03-20 04:56:39,http://sandesh247.com,"Mumbai, India",None,0,0,0,5630,30.0,None
987,1403,101,2010-09-23 02:40:30,Dori,2011-11-21 21:39:26,http://www.dori.com,"Healdsburg, CA",<h3>Current status: looking for employment. Go...,14,0,0,6489,53.0,None
988,1409,101,2010-09-23 21:40:09,Falmarri,2011-04-28 18:56:28,None,None,None,0,0,0,157715,NaN,None
989,1410,16,2010-09-24 02:41:36,user1410,2010-09-24 05:13:21,None,None,None,1,0,0,509545,NaN,None
990,1411,165,2010-09-24 08:09:32,Theodor,2012-06-07 16:42:24,None,None,None,5,3,0,197322,NaN,None
991,1413,101,2010-09-24 12:34:57,Alnitak,2013-05-31 22:36:05,None,United Kingdom,"<p>Networking and standardisation specialist, ...",0,2,0,4495,45.0,None
992,1414,139,2010-09-24 15:27:11,user1414,2010-09-27 06:47:41,None,None,None,2,0,0,191922,NaN,None
993,1416,101,2010-09-24 16:50:25,molecules,2014-07-14 16:14:53,None,None,None,0,0,0,75086,39.0,None
994,1417,51,2010-09-24 18:34:24,Anjan,2011-05-02 14:09:29,None,None,None,3,1,0,509546,NaN,None
995,1419,101,2010-09-25 16:11:06,athena,2011-05-19 17:03:06,None,None,None,0,1,0,50454,NaN,None
996,1421,208,2010-09-26 07:28:25,Thilo,2014-03-04 23:39:20,http://twitter.com/jajathilo,"Singapore, Singapore",None,10,4,0,8326,NaN,None
997,1422,270,2010-09-26 07:36:26,analyticsPierce,2014-07-25 18:56:41,http://www.marketingsciencedepartment.com,"Denver, CO",None,20,8,0,115061,41.0,None
998,1423,101,2010-09-26 12:27:50,houbysoft,2014-08-13 21:16:15,http://houbysoft.com/,"Stanford, CA",None,1,0,0,150124,21.0,None
999,1424,51,2010-09-26 16:26:44,Cyrus,2010-12-17 18:44:32,http://www.columbia.edu/~cds81,None,None,1,0,0,842455,NaN,None

#### 6. Import the posts table.

In [7]:
data3 = pd.read_sql_query('SELECT * FROM stats.posts LIMIT 1000', accident)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [17]:
data4= data3.rename(columns={'Id':'postId', 'OwnerUserId':'userId'})
data4

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,1035,2,NaN,2010-07-30 09:54:10,4,NaN,<p>Another solution to your problem (without t...,419.0,2010-07-30 09:54:10,None,...,NaN,0,NaN,NaN,NaT,NaT,913.0,NaT,None,None
971,1036,2,NaN,2010-07-30 10:03:37,14,NaN,"<p>Sivia and Skilling, Data analysis: a Bayesi...",557.0,2010-07-30 10:03:37,None,...,NaN,2,NaN,NaN,NaT,2010-07-30 10:03:37,125.0,NaT,None,None
972,1038,2,NaN,2010-07-30 12:11:18,1,NaN,"<ol>\n<li><em><strong>Wilcox, Rand R.</em></st...",1356.0,2010-07-30 12:11:18,None,...,NaN,0,NaN,NaN,NaT,2010-07-30 12:11:18,652.0,NaT,None,None
973,1039,2,NaN,2010-07-30 12:15:45,4,NaN,"<p>If you're looking for an elementary text, i...",319.0,2010-07-30 12:15:45,None,...,NaN,0,NaN,NaN,NaT,2010-07-30 12:15:45,125.0,NaT,None,None
974,1040,1,1041.0,2010-07-30 14:24:17,1,759.0,<p>Consider the following model </p>\n\n<p>$Y_...,168.0,2011-04-16 10:55:20,What is the interpretation/meaning of confiden...,...,3.0,3,1.0,168.0,2010-07-30 15:15:21,NaT,NaN,NaT,None,None
975,1041,2,NaN,2010-07-30 14:38:39,2,NaN,<p>The confidence interval that you obtain is ...,NaN,2010-07-30 14:38:39,None,...,NaN,1,NaN,NaN,NaT,NaT,1040.0,NaT,user28,None
976,1043,2,NaN,2010-07-30 15:37:06,1,NaN,"<p>OK, so your data is very expensive to get. ...",601.0,2010-07-30 15:37:06,None,...,NaN,0,NaN,NaN,NaT,NaT,977.0,NaT,None,None
977,1044,2,NaN,2010-07-30 15:43:28,5,NaN,<p><strong>Sweave</strong> lets you embed R co...,319.0,2010-07-30 15:43:28,None,...,NaN,1,NaN,NaN,NaT,2010-07-30 15:43:28,73.0,NaT,None,None
978,1045,1,1051.0,2010-07-30 16:06:54,3,427.0,"<p>The wiki article on <a href=""http://en.wiki...",NaN,2010-07-30 23:53:35,Is there a radical difference in how bayesian ...,...,1.0,1,5.0,NaN,NaT,NaT,NaN,NaT,user28,None
979,1046,2,NaN,2010-07-30 16:58:42,5,NaN,<p>If you are using GNU/Linux previous answers...,253.0,2010-07-30 16:58:42,None,...,NaN,0,NaN,NaN,NaT,NaT,825.0,NaT,None,None
980,1047,1,1048.0,2010-07-30 17:00:57,13,4458.0,<p>I'm comparing a sample and checking whether...,614.0,2010-07-30 17:10:09,Is Kolmogorov-Smirnov test valid with discrete...,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
981,1048,2,NaN,2010-07-30 17:10:09,8,NaN,<p>It does not apply to discrete distributions...,247.0,2010-07-30 17:10:09,None,...,NaN,2,NaN,NaN,NaT,NaT,1047.0,NaT,None,None
982,1049,2,NaN,2010-07-30 17:10:24,7,NaN,<p>One resource is 'Some hints for the R begin...,NaN,2010-07-30 17:10:24,None,...,NaN,1,NaN,NaN,NaT,2010-08-01 18:56:25,138.0,NaT,Patrick Burns,None
983,1050,2,NaN,2010-07-30 20:00:45,9,NaN,"<p>Here's a fresh one: <a href=""http://www.lul...",1356.0,2010-07-30 20:00:45,None,...,NaN,3,NaN,NaN,NaT,2010-07-30 20:00:45,170.0,NaT,None,None
984,1051,2,NaN,2010-07-30 21:15:43,5,NaN,<p>The fundamental difference is that in maxim...,251.0,2010-07-30 23:53:35,None,...,NaN,6,NaN,251.0,2010-07-30 23:53:35,NaT,1045.0,NaT,None,None
985,1052,1,NaN,2010-07-30 22:38:06,10,3519.0,<p>my question particularly applies to network...,NaN,2010-07-31 03:04:03,What is the major difference between correlati...,...,2.0,0,6.0,NaN,2010-07-31 02:05:21,NaT,NaN,NaT,puzzled,user28
986,1053,1,1056.0,2010-07-31 00:51:52,17,1552.0,<p>I am looking for a good book/tutorial to le...,172.0,2014-02-15 08:47:36,References for Survival Analysis,...,11.0,1,11.0,8.0,2010-10-21 13:39:03,2010-09-16 12:35:43,NaN,NaT,None,None
987,1054,1,1058.0,2010-07-31 00:59:11,4,508.0,<p>What is the equivalent command in R for the...,172.0,2013-07-20 22:57:03,R command for stcox in Stata,...,2.0,0,1.0,22047.0,2013-07-20 22:57:03,NaT,NaN,NaT,None,None
988,1055,2,NaN,2010-07-31 01:08:08,20,NaN,<p>Correlation measures the <em>linear</em> re...,159.0,2010-07-31 03:04:03,None,...,NaN,2,NaN,159.0,2010-07-31 03:04:03,NaT,1052.0,NaT,None,None
989,1056,2,NaN,2010-07-31 01:41:53,10,NaN,"<p>I like:</p>\n\n<ul>\n<li><a href=""http://ww...",251.0,2010-07-31 01:41:53,None,...,NaN,0,NaN,NaN,NaT,2010-09-16 12:35:43,1053.0,NaT,None,None
990,1057,2,NaN,2010-07-31 02:05:44,2,NaN,<p>To add to Rob's answer ... with respect to ...,251.0,2010-07-31 02:05:44,None,...,NaN,0,NaN,NaN,NaT,NaT,1052.0,NaT,None,None
991,1058,2,NaN,2010-07-31 02:08:06,9,NaN,"<p>In package <a href=""http://cran.r-project.o...",251.0,2010-09-19 07:23:51,None,...,NaN,0,NaN,930.0,2010-09-19 07:23:51,NaT,1054.0,NaT,None,None
992,1059,2,NaN,2010-07-31 05:49:03,25,NaN,"<blockquote>\n <p>""Million to one chances cro...",183.0,2012-11-03 06:15:39,None,...,NaN,0,NaN,9007.0,2012-11-03 06:15:39,2010-07-31 05:49:03,726.0,NaT,None,None
993,1060,1,1061.0,2010-07-31 09:39:47,6,958.0,<p>I'll use an example so that you can reprodu...,339.0,2011-04-29 05:03:59,Why does AIC formula in R appear to use one ex...,...,1.0,0,2.0,183.0,2011-04-29 05:03:59,NaT,NaN,NaT,None,None
994,1061,2,NaN,2010-07-31 10:04:04,11,NaN,<pre><code>&gt; -2*logLik(fit)+2*(length(fit$c...,603.0,2011-04-29 01:10:38,None,...,NaN,4,NaN,3911.0,2011-04-29 01:10:38,NaT,1060.0,NaT,None,None
995,1062,1,NaN,2010-07-31 14:19:13,4,713.0,"<p>In general inference, why orthogonal parame...",368.0,2010-10-12 16:05:37,Orthogonal parametrization,...,2.0,1,2.0,88.0,2010-08-07 17:48:25,NaT,NaN,NaT,None,None
996,1063,1,1065.0,2010-07-31 14:29:15,5,11865.0,"<p>My stats has been self taught, but a lot of...",353.0,2012-08-20 17:02:53,Why are mean 0 and standard deviation 1 distri...,...,2.0,0,2.0,2116.0,2012-08-20 04:54:05,2010-07-31 14:29:30,NaN,NaT,None,None
997,1064,2,NaN,2010-07-31 15:36:12,51,NaN,<p>A nice one I came about:</p>\n\n<blockquote...,253.0,2010-08-17 17:33:06,None,...,NaN,2,NaN,74.0,2010-08-17 17:33:06,2010-07-31 15:36:12,726.0,NaT,None,None
998,1065,2,NaN,2010-07-31 15:46:05,6,NaN,<ol>\n<li><p>At the beginning the most useful ...,601.0,2012-08-20 04:56:16,None,...,NaN,1,NaN,2116.0,2012-08-20 04:56:16,2010-07-31 15:46:05,1063.0,NaT,None,None
999,1066,1,1068.0,2010-07-31 18:20:26,1,268.0,"<p>My question is actually quite short, but I'...",634.0,2012-05-18 12:35:06,Approximating density function for a non-norma...,...,1.0,5,NaN,930.0,2010-09-30 21:24:14,NaT,NaN,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [20]:
users_columns=["userId", "Reputation","Views","UpVotes","DownVotes"]
posts_colums=["postId", "Score","userId","ViewCount","CommentCount"]
data2= data2[users_columns]
data4= data4[posts_colums]
data2
data4

     postId  Score  userId  ViewCount  CommentCount
0         1     23     8.0     1278.0             1
1         2     22    24.0     8198.0             1
2         3     54    18.0     3613.0             4
3         4     13    23.0     5224.0             2
4         5     81    23.0        NaN             3
5         6    152     5.0    29229.0             5
6         7     76    38.0     5808.0             3
7         8      0    37.0      288.0             2
8         9     13    50.0        NaN             3
9        10     23    24.0    21925.0             4
10       11      2    34.0      224.0             2
11       12     20     5.0        NaN             1
12       13     14    23.0        NaN             4
13       14      5    36.0        NaN             1
14       15     13     6.0        NaN             0
15       16     16     8.0        NaN             3
16       17      9     NaN     1261.0             0
17       18     31    36.0        NaN             1
18       19     12    55.0        NaN             0
19       20      3    37.0        NaN             2
20       21      4    59.0      184.0             1
21       22    102    66.0    21916.0             1
22       23     10    69.0     7694.0             1
23       24     17    61.0        NaN             0
24       25      7    69.0     2095.0             4
25       26     18    75.0     3476.0            14
26       27      4    68.0        NaN             0
27       28      6     NaN        NaN             0
28       29      5    36.0        NaN             0
29       30      7    69.0      705.0             2
..      ...    ...     ...        ...           ...
970    1035      4   419.0        NaN             0
971    1036     14   557.0        NaN             2
972    1038      1  1356.0        NaN             0
973    1039      4   319.0        NaN             0
974    1040      1   168.0      759.0             3
975    1041      2     NaN        NaN             1
976    1043      1   601.0        NaN             0
977    1044      5   319.0        NaN             1
978    1045      3     NaN      427.0             1
979    1046      5   253.0        NaN             0
980    1047     13   614.0     4458.0             0
981    1048      8   247.0        NaN             2
982    1049      7     NaN        NaN             1
983    1050      9  1356.0        NaN             3
984    1051      5   251.0        NaN             6
985    1052     10     NaN     3519.0             0
986    1053     17   172.0     1552.0             1
987    1054      4   172.0      508.0             0
988    1055     20   159.0        NaN             2
989    1056     10   251.0        NaN             0
990    1057      2   251.0        NaN             0
991    1058      9   251.0        NaN             0
992    1059     25   183.0        NaN             0
993    1060      6   339.0      958.0             0
994    1061     11   603.0        NaN             4
995    1062      4   368.0      713.0             1
996    1063      5   353.0    11865.0             0
997    1064     51   253.0        NaN             2
998    1065      6   601.0        NaN             1
999    1066      1   634.0      268.0             5

[1000 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [23]:
merge= pd.merge(data2, data4, on='userId')
merge

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229.0,5
1,5,6792,1145,662,5,12,20,NaN,1
2,5,6792,1145,662,5,32,12,NaN,0
3,5,6792,1145,662,5,49,6,NaN,0
4,5,6792,1145,662,5,64,6,NaN,0
5,5,6792,1145,662,5,76,22,NaN,3
6,5,6792,1145,662,5,83,2,NaN,0
7,5,6792,1145,662,5,96,4,NaN,0
8,5,6792,1145,662,5,103,28,1990.0,6
9,5,6792,1145,662,5,108,14,NaN,1
10,5,6792,1145,662,5,125,75,29261.0,2
11,5,6792,1145,662,5,126,26,NaN,4
12,5,6792,1145,662,5,131,23,NaN,0
13,5,6792,1145,662,5,139,21,NaN,2
14,5,6792,1145,662,5,197,9,NaN,1
15,5,6792,1145,662,5,199,4,NaN,0
16,5,6792,1145,662,5,217,6,NaN,4
17,5,6792,1145,662,5,299,8,NaN,0
18,5,6792,1145,662,5,306,8,NaN,2
19,5,6792,1145,662,5,314,11,NaN,1
20,5,6792,1145,662,5,329,11,NaN,0
21,5,6792,1145,662,5,398,14,NaN,1
22,5,6792,1145,662,5,423,156,64481.0,7
23,5,6792,1145,662,5,433,40,NaN,0
24,5,6792,1145,662,5,504,4,NaN,0
25,5,6792,1145,662,5,550,11,NaN,0
26,5,6792,1145,662,5,560,9,NaN,2
27,5,6792,1145,662,5,562,10,1005.0,1
28,5,6792,1145,662,5,569,3,NaN,0
29,5,6792,1145,662,5,593,3,NaN,1
...,...,...,...,...,...,...,...,...,...
887,549,286,39,5,0,1000,4,NaN,0
888,557,1273,142,58,0,1036,14,NaN,2
889,559,485,44,9,0,920,4,653.0,0
890,559,485,44,9,0,924,6,719.0,2
891,559,485,44,9,0,939,3,556.0,2
892,560,104,6,0,0,929,0,191.0,4
893,561,2002,186,155,11,931,4,NaN,2
894,561,2002,186,155,11,933,2,NaN,0
895,566,11,37,17,0,972,1,NaN,0
896,569,307,46,43,0,946,2,633.0,0
897,582,2400,293,692,23,961,10,1991.0,0
898,601,13478,1286,283,17,984,1,NaN,1
899,601,13478,1286,283,17,1043,1,NaN,0
900,601,13478,1286,283,17,1065,6,NaN,1
901,603,10647,1225,683,49,991,1,NaN,0
902,603,10647,1225,683,49,992,1,NaN,0
903,603,10647,1225,683,49,996,13,NaN,0
904,603,10647,1225,683,49,1061,11,NaN,4
905,608,138,18,4,0,1001,3,1036.0,6
906,608,138,18,4,0,1028,10,3899.0,0
907,614,305,34,7,0,1014,8,NaN,0
908,614,305,34,7,0,1016,8,4921.0,0
909,614,305,34,7,0,1047,13,4458.0,0
910,634,426,47,8,0,1066,1,268.0,5
911,1356,745,129,115,1,192,3,1597.0,1
912,1356,745,129,115,1,894,22,NaN,3
913,1356,745,129,115,1,928,5,2162.0,3
914,1356,745,129,115,1,968,58,NaN,3
915,1356,745,129,115,1,1038,1,NaN,0
916,1356,745,129,115,1,1050,9,NaN,3

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [49]:
null_cols = merge.isnull().sum()
numerocasos =null_cols[null_cols > 0]
print("Existen 694 casos de missing values y provienen todos de la columna ViewCount")

Existen 694 casos de missing values y provienen todos de la columna ViewCount

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [53]:
merge2=merge.replace(np.nan,0)
print("He preferido rellenar con 0 dado que si se eliminan se pierden mucha informacion y no va a ser una variable importante en mi anÃ¡lisis")

merge2.describe()

He preferido rellenar con 0 dado que si se eliminan se pierden mucha informacion y no va a ser una variable importante en mi anÃ¡lisis

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,183.814613,3920.181025,744.399128,535.232279,18.769902,515.883315,11.137405,1564.535442,1.505998
std,172.690438,5423.638764,1121.431078,1074.207400,35.886473,305.321487,17.287218,8477.481522,2.028513
min,5.000000,11.000000,0.000000,0.000000,0.000000,1.000000,-7.000000,0.000000,0.000000
25%,62.000000,379.000000,44.000000,10.000000,0.000000,250.000000,3.000000,0.000000,0.000000
50%,159.000000,1396.000000,174.000000,58.000000,1.000000,506.000000,6.000000,0.000000,1.000000
75%,247.000000,6140.000000,1089.000000,604.000000,19.000000,776.000000,12.000000,0.000000,2.000000
max,1356.000000,22625.000000,4069.000000,4235.000000,126.000000,1066.000000,156.000000,175495.000000,14.000000

In [54]:
merge.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,223.000000,917.000000
mean,183.814613,3920.181025,744.399128,535.232279,18.769902,515.883315,11.137405,6433.538117,1.505998
std,172.690438,5423.638764,1121.431078,1074.207400,35.886473,305.321487,17.287218,16280.944321,2.028513
min,5.000000,11.000000,0.000000,0.000000,0.000000,1.000000,-7.000000,120.000000,0.000000
25%,62.000000,379.000000,44.000000,10.000000,0.000000,250.000000,3.000000,522.000000,0.000000
50%,159.000000,1396.000000,174.000000,58.000000,1.000000,506.000000,6.000000,1418.000000,1.000000
75%,247.000000,6140.000000,1089.000000,604.000000,19.000000,776.000000,12.000000,4438.500000,2.000000
max,1356.000000,22625.000000,4069.000000,4235.000000,126.000000,1066.000000,156.000000,175495.000000,14.000000

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [52]:
before = len(merge2)
merge3 = merge2.drop_duplicates()
after = len(merge3)
print('Number of duplicate records dropped: ', str(before - after))

merge3.info()

Number of duplicate records dropped:  0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 917 entries, 0 to 916
Data columns (total 9 columns):
userId          917 non-null int64
Reputation      917 non-null int64
Views           917 non-null int64
UpVotes         917 non-null int64
DownVotes       917 non-null int64
postId          917 non-null int64
Score           917 non-null int64
ViewCount       917 non-null float64
CommentCount    917 non-null int64
dtypes: float64(1), int64(8)
memory usage: 71.6 KB

In [ ]:
#para seguir con la limpieza de datos, voy a verificar que no existen ninguno distinto, tambiÃ©n gracias
#a que se han quitado los missing values veo que no existe ningÃºn null y que no existe ningÃºn tipo de dato
# no esperado, si existe alguna inconexion de los datos no lo se porque no conozco suficiente del tema

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.