#### 1. Import pandas library

In [64]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [65]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [66]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz')

#### 4. Import the users table

In [67]:
data_users = pd.read_sql_query('SELECT Id, Reputation, Views, UpVotes, DownVotes FROM stats.users', engine)
display(data_users)
#En el caso de que la consulta tarde demasiado se puede poner un LIMIT n en la consulta sql

          Id  Reputation  Views  UpVotes  DownVotes
0         -1           1      0     5007       1920
1          2         101     25        3          0
2          3         101     22       19          0
3          4         101     11        0          0
4          5        6792   1145      662          5
5          6         457    114       47          0
6          7         429     56       20          0
7          8        6764   1089      604         25
8         10         121     20        2          0
9         11         136     10       10          0
10        12         101     10        5          0
11        13         817    178       44          1
12        15          11      8        0          0
13        16         101      4        7          0
14        17         345     14       13          1
15        18         128      8       16          0
16        19         101     13        2          0
17        21         101      6        0          0
18        22         591     90      693          6
19        23         308     52       34          1
20        24         344     48       36          1
21        25        4968    641      328         23
22        26        3150    257      138          7
23        27         101     10        2          0
24        29        2250    318       28          1
25        30        2185    312       40          3
26        33         221     11        2          0
27        34         185     27       23          0
28        35         101      4        9          0
29        36        1570    173       26          1
...      ...         ...    ...      ...        ...
40295  55718           6      0        0          0
40296  55719           1      1        0          0
40297  55720           1      0        0          0
40298  55721         101      0        1          0
40299  55722           1      0        0          0
40300  55723           1      0        0          0
40301  55724          16      1        0          0
40302  55725           1      0        0          0
40303  55726           1      0        0          0
40304  55727           1      0        0          0
40305  55728           1      0        0          0
40306  55729          16      1        0          0
40307  55730           1      0        0          0
40308  55731           1      0        0          0
40309  55732         101      0        0          0
40310  55733           6      1        0          0
40311  55734           1      0        0          0
40312  55735           1      0        0          0
40313  55736           1      0        0          0
40314  55737           1      0        0          0
40315  55738          11      0        0          0
40316  55739           1      0        0          0
40317  55740           1      0        0          0
40318  55741         101      0        1          0
40319  55742           6      0        0          0
40320  55743           1      0        0          0
40321  55744           6      1        0          0
40322  55745         101      0        0          0
40323  55746         106      1        0          0
40324  55747           1      0        0          0

[40325 rows x 5 columns]

#### 5. Rename Id column to userId

In [68]:
data_users.rename(columns={'Id' : 'userId'}, inplace = True)
data_users.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

#### 6. Import the posts table.

In [69]:
data_post = pd.read_sql_query('SELECT Id, Score, OwnerUserId, ViewCount, CommentCount FROM stats.posts', engine)
display(data_post)
#En el caso de que la consulta tarde demasiado se puede poner un LIMIT n en la consulta sql
#Lo he probado con 100, aunque para ver el total lo he quitado de momento

           Id  Score  OwnerUserId  ViewCount  CommentCount
0           1     23          8.0     1278.0             1
1           2     22         24.0     8198.0             1
2           3     54         18.0     3613.0             4
3           4     13         23.0     5224.0             2
4           5     81         23.0        NaN             3
5           6    152          5.0    29229.0             5
6           7     76         38.0     5808.0             3
7           8      0         37.0      288.0             2
8           9     13         50.0        NaN             3
9          10     23         24.0    21925.0             4
10         11      2         34.0      224.0             2
11         12     20          5.0        NaN             1
12         13     14         23.0        NaN             4
13         14      5         36.0        NaN             1
14         15     13          6.0        NaN             0
15         16     16          8.0        NaN             3
16         17      9          NaN     1261.0             0
17         18     31         36.0        NaN             1
18         19     12         55.0        NaN             0
19         20      3         37.0        NaN             2
20         21      4         59.0      184.0             1
21         22    102         66.0    21916.0             1
22         23     10         69.0     7694.0             1
23         24     17         61.0        NaN             0
24         25      7         69.0     2095.0             4
25         26     18         75.0     3476.0            14
26         27      4         68.0        NaN             0
27         28      6          NaN        NaN             0
28         29      5         36.0        NaN             0
29         30      7         69.0      705.0             2
...       ...    ...          ...        ...           ...
91946  115346      0      42434.0        NaN             0
91947  115348      0      55564.0       18.0             3
91948  115350      0      55731.0        3.0             0
91949  115351      1       7331.0        9.0             0
91950  115352      0      55734.0       16.0             0
91951  115353      0       7290.0        NaN             0
91952  115354      2        805.0        NaN             0
91953  115355      3      35413.0       49.0             0
91954  115356      1      55733.0       15.0             0
91955  115357      1      44142.0        NaN             0
91956  115358      2       1569.0       15.0             0
91957  115360      2      55738.0       40.0             4
91958  115361      0      55383.0       12.0             1
91959  115362      2       7071.0        NaN             0
91960  115363      0       2676.0        NaN             0
91961  115364      0      52858.0       11.0             3
91962  115365     -1      28236.0        NaN             1
91963  115366      1      55742.0       17.0             0
91964  115367      1      41961.0       97.0             0
91965  115368      4      24808.0        NaN             0
91966  115369      4       6633.0        NaN             0
91967  115370      1      55744.0       13.0             2
91968  115371      0      35801.0       19.0             0
91969  115372      0      48579.0        NaN             9
91970  115373      0      48579.0        NaN             0
91971  115374      2        805.0        NaN             2
91972  115375      0      49365.0        9.0             0
91973  115376      1      55746.0        5.0             2
91974  115377      0        805.0        NaN             0
91975  115378      0       7250.0        NaN             0

[91976 rows x 5 columns]

#### 7. Rename Id column to postId and OwnerUserId to userId

In [70]:
data_post.rename(columns={'Id' : 'postId', 'OwnerUserId' : 'userId'}, inplace = True)
data_post.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [71]:
users_columns = ['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']
users = data_users[users_columns]
posts_columns = ['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']
posts = data_post[posts_columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [76]:
merge_user_post = pd.merge(users, posts, on = 'userId')
merge_user_post.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [90]:
null_cols = merge_user_post.isnull().sum()
print(null_cols[null_cols > 0])
#En la columna ViewCount

ViewCount    48396
dtype: int64
userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [89]:
#Para está cuestión he cargado todo las filas para ver que desición tomar
#He decidido borrarla ya que más de la mitad de los datos de la columna ViewCount son nulos
#Si en las consultas sql utilizo LIMIT la apreciación de arriba podría cambiar a mantener la columan 
#poniendo sus valores a cero
drop_cols = list(null_cols[null_cols > 20000].index)
user_post_new = merge_user_post.drop(drop_cols, axis=1)
merge_user_post.describe()
#user_post_new.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,42188.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,556.656158,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,2356.930779,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,1.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,53.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,126.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,367.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [87]:
user_post_new.dtypes
#En este caso las dejaría como están

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [97]:
stats = user_post_new.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']

outliers = pd.DataFrame(columns = user_post_new.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = user_post_new[(user_post_new[col] < lower) | (user_post_new[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
display(outliers)
outliers.to_csv('outliers.csv', index=False)

,CommentCount,DownVotes,Outlier,Reputation,Score,UpVotes,Views,postId,userId
1155,0,126,Reputation,14082,25,4235,3320,74,88
1156,0,126,Reputation,14082,5,4235,3320,94,88
1157,1,126,Reputation,14082,7,4235,3320,99,88
1158,3,126,Reputation,14082,6,4235,3320,119,88
1159,0,126,Reputation,14082,7,4235,3320,140,88
1160,2,126,Reputation,14082,5,4235,3320,143,88
1161,1,126,Reputation,14082,8,4235,3320,255,88
1162,0,126,Reputation,14082,14,4235,3320,265,88
1163,0,126,Reputation,14082,5,4235,3320,275,88
1164,1,126,Reputation,14082,2,4235,3320,309,88
1165,4,126,Reputation,14082,1,4235,3320,337,88
1166,0,126,Reputation,14082,2,4235,3320,341,88
1167,0,126,Reputation,14082,3,4235,3320,343,88
1168,2,126,Reputation,14082,3,4235,3320,344,88
1169,4,126,Reputation,14082,6,4235,3320,358,88
1170,2,126,Reputation,14082,4,4235,3320,360,88
1171,0,126,Reputation,14082,3,4235,3320,380,88
1172,3,126,Reputation,14082,109,4235,3320,424,88
1173,1,126,Reputation,14082,84,4235,3320,435,88
1174,3,126,Reputation,14082,6,4235,3320,450,88
1175,0,126,Reputation,14082,8,4235,3320,462,88
1176,4,126,Reputation,14082,3,4235,3320,464,88
1177,2,126,Reputation,14082,14,4235,3320,483,88
1178,2,126,Reputation,14082,6,4235,3320,494,88
1179,7,126,Reputation,14082,3,4235,3320,501,88
1180,0,126,Reputation,14082,5,4235,3320,505,88
1181,1,126,Reputation,14082,3,4235,3320,518,88
1182,0,126,Reputation,14082,7,4235,3320,526,88
1183,0,126,Reputation,14082,8,4235,3320,547,88
1184,0,126,Reputation,14082,5,4235,3320,559,88
...,...,...,...,...,...,...,...,...,...
89728,9,0,CommentCount,1,0,0,0,112169,54210
89740,12,0,CommentCount,16,0,1,0,112263,54229
89774,12,0,CommentCount,118,2,0,2,112351,54279
89789,9,6,CommentCount,60,-2,14,64,112504,54300
89794,8,6,CommentCount,60,1,14,64,112816,54300
89800,14,6,CommentCount,60,3,14,64,113498,54300
89911,11,0,CommentCount,6,1,0,0,112567,54474
89965,14,0,CommentCount,111,2,0,2,113011,54581
89985,10,0,CommentCount,1,0,0,0,114212,54619
90051,8,0,CommentCount,576,2,49,37,113508,54724
90062,11,0,CommentCount,1,0,0,2,113299,54733
90064,17,0,CommentCount,96,7,5,14,113314,54736
90067,8,0,CommentCount,96,2,5,14,114356,54736
90071,9,0,CommentCount,16,3,0,1,113334,54741
90098,8,0,CommentCount,20,0,1,2,113540,54791
90120,8,0,CommentCount,163,12,4,6,113526,54840
90130,17,0,CommentCount,14,2,3,9,113598,54862
90153,8,0,CommentCount,108,1,2,0,113650,54896
90162,11,0,CommentCount,1,0,0,1,113691,54911
90185,9,0,CommentCount,16,3,0,0,113790,54953
90227,11,0,CommentCount,1,0,0,1,113934,55020
90244,12,0,CommentCount,14,2,0,1,114004,55053
90251,8,0,CommentCount,1,0,0,0,114045,55086
90259,10,0,CommentCount,111,2,0,4,114081,55107
90268,11,0,CommentCount,6,1,0,0,114119,55125
90274,10,0,CommentCount,13,2,0,0,114129,55135
90326,8,0,CommentCount,6,1,0,3,114339,55241
90346,8,0,CommentCount,13,2,0,0,114859,55302
90408,9,0,CommentCount,11,2,0,1,114719,55420
90491,9,0,CommentCount,6,1,0,3,115020,55557