#### 1. Import pandas library

In [7]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [8]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [9]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/stats')

#### 4. Import the users table

In [10]:
users_table = pd.read_sql('SELECT * FROM stats.users limit 1000', engine)
users_table.head(10)

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None

#### 5. Rename Id column to userId

In [11]:
users_table.columns = ['userId','Reputation','CreationDate','DisplayName','LastAccessDate','WebsiteUrl','Location','AboutMe','Views','UpVotes','DownVotes','AccountId','Age','ProfileImageUrl']
users_table.head(10)

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None

#### 6. Import the posts table.

In [12]:
posts_table = pd.read_sql('SELECT * FROM stats.posts limit 1000', engine)
posts_table.head(10)

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None

In [14]:
posts_table.columns.values

array(['Id', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'OwnerUserId', 'LasActivityDate', 'Title',
       'Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount',
       'LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate',
       'ParentId', 'ClosedDate', 'OwnerDisplayName',
       'LastEditorDisplayName'], dtype=object)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [15]:
posts_table.columns = ['postId','PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score','ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title','Tags', 'AnswerCount', 'CommentCount', 'FavoriteCount','LastEditorUserId', 'LastEditDate', 'CommunityOwnedDate','ParentId', 'ClosedDate', 'OwnerDisplayName','LastEditorDisplayName']
posts_table.head(10)

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None

In [16]:
posts_table.columns.values

array(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'], dtype=object)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [17]:
users_columns = pd.DataFrame(users_table,columns=['userId', 'Reputation','Views','UpVotes','DownVotes'])
users_columns.head(5)

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [18]:
posts_columns = pd.DataFrame(posts_table,columns=['postId', 'Score','userId','ViewCount','CommentCount'])
posts_columns.head(5)

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [43]:
# DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, 
# sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None
#new_df = users_columns.merge(posts_columns, how='left', left_on='userId', right_on='userId')
new_df = pd.merge(users_columns, posts_columns, on='userId')
new_df.head(10)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229.0,5
1,5,6792,1145,662,5,12,20,NaN,1
2,5,6792,1145,662,5,32,12,NaN,0
3,5,6792,1145,662,5,49,6,NaN,0
4,5,6792,1145,662,5,64,6,NaN,0
5,5,6792,1145,662,5,76,22,NaN,3
6,5,6792,1145,662,5,83,2,NaN,0
7,5,6792,1145,662,5,96,4,NaN,0
8,5,6792,1145,662,5,103,28,1990.0,6
9,5,6792,1145,662,5,108,14,NaN,1

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [45]:
new_df.isnull()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,True,False
12,False,False,False,False,False,False,False,True,False
13,False,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,False,True,False
17,False,False,False,False,False,False,False,True,False
18,False,False,False,False,False,False,False,True,False
19,False,False,False,False,False,False,False,True,False
20,False,False,False,False,False,False,False,True,False
21,False,False,False,False,False,False,False,True,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,True,False
24,False,False,False,False,False,False,False,True,False
25,False,False,False,False,False,False,False,True,False
26,False,False,False,False,False,False,False,True,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,True,False
29,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...
887,False,False,False,False,False,False,False,True,False
888,False,False,False,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False
891,False,False,False,False,False,False,False,False,False
892,False,False,False,False,False,False,False,False,False
893,False,False,False,False,False,False,False,True,False
894,False,False,False,False,False,False,False,True,False
895,False,False,False,False,False,False,False,True,False
896,False,False,False,False,False,False,False,False,False
897,False,False,False,False,False,False,False,False,False
898,False,False,False,False,False,False,False,True,False
899,False,False,False,False,False,False,False,True,False
900,False,False,False,False,False,False,False,True,False
901,False,False,False,False,False,False,False,True,False
902,False,False,False,False,False,False,False,True,False
903,False,False,False,False,False,False,False,True,False
904,False,False,False,False,False,False,False,True,False
905,False,False,False,False,False,False,False,False,False
906,False,False,False,False,False,False,False,False,False
907,False,False,False,False,False,False,False,True,False
908,False,False,False,False,False,False,False,False,False
909,False,False,False,False,False,False,False,False,False
910,False,False,False,False,False,False,False,False,False
911,False,False,False,False,False,False,False,False,False
912,False,False,False,False,False,False,False,True,False
913,False,False,False,False,False,False,False,False,False
914,False,False,False,False,False,False,False,True,False
915,False,False,False,False,False,False,False,True,False
916,False,False,False,False,False,False,False,True,False

In [46]:
null_colls = new_df.isnull().sum()

In [47]:
display(null_colls)

userId            0
Reputation        0
Views             0
UpVotes           0
DownVotes         0
postId            0
Score             0
ViewCount       694
CommentCount      0
dtype: int64

In [48]:
total_rows = 110318
perc = null_colls *100/ total_rows
display(perc)

userId          0.00000
Reputation      0.00000
Views           0.00000
UpVotes         0.00000
DownVotes       0.00000
postId          0.00000
Score           0.00000
ViewCount       0.62909
CommentCount    0.00000
dtype: float64

In [49]:
null_colls.index

Index(['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes', 'postId',
       'Score', 'ViewCount', 'CommentCount'],
      dtype='object')

In [50]:
display(null_colls[null_colls > 0].index)

Index(['ViewCount'], dtype='object')

In [51]:
drop_cols = list(null_colls[null_colls > 0].index)
print(drop_cols)

['ViewCount']

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [52]:
print(new_df.shape)

(917, 9)

In [53]:
new_df.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,223.000000,917.000000
mean,183.814613,3920.181025,744.399128,535.232279,18.769902,515.883315,11.137405,6433.538117,1.505998
std,172.690438,5423.638764,1121.431078,1074.207400,35.886473,305.321487,17.287218,16280.944321,2.028513
min,5.000000,11.000000,0.000000,0.000000,0.000000,1.000000,-7.000000,120.000000,0.000000
25%,62.000000,379.000000,44.000000,10.000000,0.000000,250.000000,3.000000,522.000000,0.000000
50%,159.000000,1396.000000,174.000000,58.000000,1.000000,506.000000,6.000000,1418.000000,1.000000
75%,247.000000,6140.000000,1089.000000,604.000000,19.000000,776.000000,12.000000,4438.500000,2.000000
max,1356.000000,22625.000000,4069.000000,4235.000000,126.000000,1066.000000,156.000000,175495.000000,14.000000

In [54]:
new_df.head(30)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229.0,5
1,5,6792,1145,662,5,12,20,NaN,1
2,5,6792,1145,662,5,32,12,NaN,0
3,5,6792,1145,662,5,49,6,NaN,0
4,5,6792,1145,662,5,64,6,NaN,0
5,5,6792,1145,662,5,76,22,NaN,3
6,5,6792,1145,662,5,83,2,NaN,0
7,5,6792,1145,662,5,96,4,NaN,0
8,5,6792,1145,662,5,103,28,1990.0,6
9,5,6792,1145,662,5,108,14,NaN,1
10,5,6792,1145,662,5,125,75,29261.0,2
11,5,6792,1145,662,5,126,26,NaN,4
12,5,6792,1145,662,5,131,23,NaN,0
13,5,6792,1145,662,5,139,21,NaN,2
14,5,6792,1145,662,5,197,9,NaN,1
15,5,6792,1145,662,5,199,4,NaN,0
16,5,6792,1145,662,5,217,6,NaN,4
17,5,6792,1145,662,5,299,8,NaN,0
18,5,6792,1145,662,5,306,8,NaN,2
19,5,6792,1145,662,5,314,11,NaN,1
20,5,6792,1145,662,5,329,11,NaN,0
21,5,6792,1145,662,5,398,14,NaN,1
22,5,6792,1145,662,5,423,156,64481.0,7
23,5,6792,1145,662,5,433,40,NaN,0
24,5,6792,1145,662,5,504,4,NaN,0
25,5,6792,1145,662,5,550,11,NaN,0
26,5,6792,1145,662,5,560,9,NaN,2
27,5,6792,1145,662,5,562,10,1005.0,1
28,5,6792,1145,662,5,569,3,NaN,0
29,5,6792,1145,662,5,593,3,NaN,1

In [55]:
new_df["ViewCount"].fillna("0", inplace = True)
new_df.head(30)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229,5
1,5,6792,1145,662,5,12,20,0,1
2,5,6792,1145,662,5,32,12,0,0
3,5,6792,1145,662,5,49,6,0,0
4,5,6792,1145,662,5,64,6,0,0
5,5,6792,1145,662,5,76,22,0,3
6,5,6792,1145,662,5,83,2,0,0
7,5,6792,1145,662,5,96,4,0,0
8,5,6792,1145,662,5,103,28,1990,6
9,5,6792,1145,662,5,108,14,0,1
10,5,6792,1145,662,5,125,75,29261,2
11,5,6792,1145,662,5,126,26,0,4
12,5,6792,1145,662,5,131,23,0,0
13,5,6792,1145,662,5,139,21,0,2
14,5,6792,1145,662,5,197,9,0,1
15,5,6792,1145,662,5,199,4,0,0
16,5,6792,1145,662,5,217,6,0,4
17,5,6792,1145,662,5,299,8,0,0
18,5,6792,1145,662,5,306,8,0,2
19,5,6792,1145,662,5,314,11,0,1
20,5,6792,1145,662,5,329,11,0,0
21,5,6792,1145,662,5,398,14,0,1
22,5,6792,1145,662,5,423,156,64481,7
23,5,6792,1145,662,5,433,40,0,0
24,5,6792,1145,662,5,504,4,0,0
25,5,6792,1145,662,5,550,11,0,0
26,5,6792,1145,662,5,560,9,0,2
27,5,6792,1145,662,5,562,10,1005,1
28,5,6792,1145,662,5,569,3,0,0
29,5,6792,1145,662,5,593,3,0,1

In [56]:
new_df.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,CommentCount
count,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000,917.000000
mean,183.814613,3920.181025,744.399128,535.232279,18.769902,515.883315,11.137405,1.505998
std,172.690438,5423.638764,1121.431078,1074.207400,35.886473,305.321487,17.287218,2.028513
min,5.000000,11.000000,0.000000,0.000000,0.000000,1.000000,-7.000000,0.000000
25%,62.000000,379.000000,44.000000,10.000000,0.000000,250.000000,3.000000,0.000000
50%,159.000000,1396.000000,174.000000,58.000000,1.000000,506.000000,6.000000,1.000000
75%,247.000000,6140.000000,1089.000000,604.000000,19.000000,776.000000,12.000000,2.000000
max,1356.000000,22625.000000,4069.000000,4235.000000,126.000000,1066.000000,156.000000,14.000000

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.