#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
users = pd.DataFrame(pd.read_sql_query('SELECT * FROM stats.users', engine))
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [5]:
# "userId", "Reputation", "CreationDate", "DisplayName", "LastAccessDate", "WebsiteUrl", "Location", "AboutMe", "Views", "UpVotes", "DownVotes", "AccountId", "Age", "ProfileImageUrl"
users = users.rename(columns = {'Id':"userId"})
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [6]:
posts = pd.DataFrame(pd.read_sql_query('SELECT * FROM stats.posts LIMIT 1000', engine))
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts = posts.rename(columns = {"Id":"postId", "OwnerUserId":"userId"})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
users2 = pd.concat([
    users.loc[:, "userId"],
    users.loc[:, "Reputation"],
    users.loc[:, "Views"],
    users.loc[:, "UpVotes"],
    users.loc[:, "DownVotes"]
    ],
    axis = 1)
users2.head()

   userId  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [9]:
posts2 = pd.concat([
    posts.loc[:, "postId"],
    posts.loc[:, "Score"],
    posts.loc[:, "userId"],
    posts.loc[:, "ViewCount"],
    posts.loc[:, "CommentCount"]
    ],
    axis = 1)
posts2.head()

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
users_posts = users2.merge(posts2)
display(users_posts)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,5,6792,1145,662,5,6,152,29229.0,5
1,5,6792,1145,662,5,12,20,NaN,1
2,5,6792,1145,662,5,32,12,NaN,0
3,5,6792,1145,662,5,49,6,NaN,0
4,5,6792,1145,662,5,64,6,NaN,0
5,5,6792,1145,662,5,76,22,NaN,3
6,5,6792,1145,662,5,83,2,NaN,0
7,5,6792,1145,662,5,96,4,NaN,0
8,5,6792,1145,662,5,103,28,1990.0,6
9,5,6792,1145,662,5,108,14,NaN,1
10,5,6792,1145,662,5,125,75,29261.0,2
11,5,6792,1145,662,5,126,26,NaN,4
12,5,6792,1145,662,5,131,23,NaN,0
13,5,6792,1145,662,5,139,21,NaN,2
14,5,6792,1145,662,5,197,9,NaN,1
15,5,6792,1145,662,5,199,4,NaN,0
16,5,6792,1145,662,5,217,6,NaN,4
17,5,6792,1145,662,5,299,8,NaN,0
18,5,6792,1145,662,5,306,8,NaN,2
19,5,6792,1145,662,5,314,11,NaN,1
20,5,6792,1145,662,5,329,11,NaN,0
21,5,6792,1145,662,5,398,14,NaN,1
22,5,6792,1145,662,5,423,156,64481.0,7
23,5,6792,1145,662,5,433,40,NaN,0
24,5,6792,1145,662,5,504,4,NaN,0
25,5,6792,1145,662,5,550,11,NaN,0
26,5,6792,1145,662,5,560,9,NaN,2
27,5,6792,1145,662,5,562,10,1005.0,1
28,5,6792,1145,662,5,569,3,NaN,0
29,5,6792,1145,662,5,593,3,NaN,1
...,...,...,...,...,...,...,...,...,...
905,608,138,18,4,0,1001,3,1036.0,6
906,608,138,18,4,0,1028,10,3899.0,0
907,614,305,34,7,0,1014,8,NaN,0
908,614,305,34,7,0,1016,8,4921.0,0
909,614,305,34,7,0,1047,13,4458.0,0
910,634,426,47,8,0,1066,1,268.0,5
911,1356,745,129,115,1,192,3,1597.0,1
912,1356,745,129,115,1,894,22,NaN,3
913,1356,745,129,115,1,928,5,2162.0,3
914,1356,745,129,115,1,968,58,NaN,3
915,1356,745,129,115,1,1038,1,NaN,0
916,1356,745,129,115,1,1050,9,NaN,3
917,3807,367,67,34,1,322,11,1449.0,0
918,3807,367,67,34,1,323,22,NaN,2
919,3807,367,67,34,1,324,9,NaN,0
920,3807,367,67,34,1,326,12,NaN,1
921,3807,367,67,34,1,327,1,NaN,0
922,3807,367,67,34,1,354,8,676.0,0
923,3807,367,67,34,1,357,5,NaN,5
924,3807,367,67,34,1,511,26,NaN,0
925,3807,367,67,34,1,528,2,NaN,1
926,3807,367,67,34,1,793,0,NaN,0
927,3807,367,67,34,1,990,4,NaN,1
928,3807,367,67,34,1,998,0,NaN,0
929,3807,367,67,34,1,1025,4,NaN,1
930,7620,604,56,84,4,794,28,NaN,2
931,9426,407,57,48,5,645,11,2750.0,1
932,9426,407,57,48,5,652,16,16577.0,12
933,9426,407,57,48,5,868,3,792.0,1
934,25692,408,27,0,0,708,3,NaN,1

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
null_cols = users_posts.isnull().sum()
null_cols[null_cols > 0]

ViewCount    707
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [12]:
users_posts = users_posts.drop("ViewCount", axis=1)
users_posts.head()

  userId  Reputation  Views  UpVotes  DownVotes  postId  Score  CommentCount
0      5        6792   1145      662          5       6    152             5
1      5        6792   1145      662          5      12     20             1
2      5        6792   1145      662          5      32     12             0
3      5        6792   1145      662          5      49      6             0
4      5        6792   1145      662          5      64      6             0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [15]:
users_posts.dtypes
users_posts['userId'] = users_posts['userId'].astype('int64')
users_posts.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
CommentCount    int64
dtype: object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.