### Establecer la localización más óptima para las oficinas de una empresa de video juegos con los siguientes condiciones:

##### -Es una compañía de software que crea videojuegos.
##### -Tiene 50 empleados. Los roles dentro de la nueva compañía son: 20 desarrolladores, 20 diseñadores/creativos/UX-UI y 10 ejecutivos/managers.
##### -Debe haber ingenieros de software trabajando alrededor, así como diseñadores, desarrolladores y ejecutivos para cubrir los intereses del equipo.
##### -Debe haber un buen ratio de empresas grandes vs. startups.
##### -Se prefieren empresas de reciente creación.

In [1]:
# Importar librerias.
import pandas as pd
import numpy as np
import pymongo
import geopandas

In [2]:
# Cargar la base de de MongoDB.
MongoClient = pymongo.MongoClient # Llamar a Mongo (conectar con el cliente).
client = MongoClient() # Guardar Mongo en variable cliente.
db = client.companies # Dentro de mongo conecto con base de dato company.

In [3]:
# Imprimo todas las categorias para ver que tengo.
cursor = db.companies.find({'category_code':{'$exists': 'true'}}) # Creo mi cursor para iterar secuencialmente los resultados obtenidos de la query.
categories = list(map(lambda x:x['category_code'], list(cursor))) # Creo función lambda para que me consiga todos mis category_code que debo convertir en lista ya que es un objeto.

category_codes = [] # Asigno y creo lista vacia a category_codes.
for element in categories: # Para cada elemento en categories 
    if element not in category_codes: # si el elemento no esta en category_codes
        category_codes.append(element) # Entonces mi lista vacia de category_codes le voy a .append(agregar) el elemento
    else:                              # si no.
        pass                           # pasa.
print(category_codes)   # Display todas las catergory_codes de mi lista.

['enterprise', 'software', 'web', 'news', 'network_hosting', 'games_video', 'music', 'mobile', 'social', 'search', 'messaging', 'advertising', 'security', 'photo_video', 'finance', 'ecommerce', 'travel', 'hardware', 'public_relations', 'other', 'real_estate', 'semiconductor', 'analytics', 'health', 'legal', 'sports', 'biotech', 'cleantech', 'education', 'consulting', 'transportation', None, 'hospitality', 'fashion', 'nonprofit', 'nanotech', 'automotive', 'design', 'manufacturing', 'government', 'local', 'medical']

In [4]:
companies_interest_cursor = db.companies.find({"$and": 
                               [{"offices.latitude": {"$exists": True}}, {"offices.latitude": {"$ne": None}},
                                {"offices.longitude": {"$exists": True}}, {"offices.longitude": {"$ne": None}},
                                {"category_code": {"$exists": True}}, {"category_code": {"$ne": None}},
                                {"name": {"$exists": True}}, {"name": {"$ne": None}},
                                {"deadpooled_year": {"$eq": None}},
                                {"founded_year": {"$gte": 2005}}, 
                                {"category_code": {"$ne": ["enterprise", "news", "security", "messaging",
                                                           "finance", "ecommerce", "travel", "public_relations",
                                                           "other", "real_estate","semiconductor", "analytics",
                                                           "health", "legal", "education", "consulting",
                                                           "transportation", "None", "hospitality", "fashion"
                                                          "nonprofit", "automotive", "design", "manufacturing"
                                                          "government", "local", "medical"]}}]}, 
                              
                                {"_id":1, 
                                 "category_code":1,
                                 "founded_year":1,
                                 "ipo.valuation_amount":1, 
                                 "name":1,
                                 "number_of_employees":1,
                                 "offices.latitude":1,
                                 "offices.longitude":1,
                                 "total_money_raised":1})

In [5]:
df_companies = pd.DataFrame(companies_interest_cursor) # Creando dataframe con companies_interest_cursor

display(df_companies.shape) # Mostrando el tamaño de mi dataframe.

(4204, 8)

In [6]:
df_companies.head(10) # Mostrar las 10 primeras filas de mi dataframe.

,_id,category_code,founded_year,ipo,name,number_of_employees,offices,total_money_raised
0,52cdef7c4bab8bd675297d91,web,2006,NaN,Geni,18.0,"[{'latitude': 34.090368, 'longitude': -118.393...",$16.5M
1,52cdef7c4bab8bd675297d98,music,2006,NaN,Slacker,NaN,"[{'latitude': 33.022176, 'longitude': -117.081...",$73.1M
2,52cdef7c4bab8bd675297d9a,mobile,2005,NaN,Helio,NaN,"[{'latitude': 34.057498, 'longitude': -118.446...",$0
3,52cdef7c4bab8bd675297d97,news,2007,NaN,Scribd,50.0,"[{'latitude': 37.789634, 'longitude': -122.404...",$25.8M
4,52cdef7c4bab8bd675297d9c,social,2007,NaN,MeetMoi,15.0,"[{'latitude': 40.757929, 'longitude': -73.9855...",$5.58M
5,52cdef7c4bab8bd675297d9d,games_video,2006,NaN,Joost,0.0,"[{'latitude': 40.7464969, 'longitude': -74.009...",$45M
6,52cdef7c4bab8bd675297d94,social,2006,{'valuation_amount': 18100000000},Twitter,1300.0,"[{'latitude': 37.7768052, 'longitude': -122.41...",$1.16B
7,52cdef7c4bab8bd675297da4,search,2006,NaN,Powerset,60.0,"[{'latitude': 37.778613, 'longitude': -122.395...",$22.5M
8,52cdef7c4bab8bd675297da9,web,2007,NaN,Mahalo,40.0,"[{'latitude': 34.017606, 'longitude': -118.487...",$21M
9,52cdef7c4bab8bd675297daf,mobile,2005,NaN,Jingle Networks,35.0,"[{'latitude': 37.480999, 'longitude': -122.173...",$88.7M

In [7]:
# cambio el nombre de la columna category_code a category y offices a coordenadas(cords) para visualizarlo mejor.
df_companies = df_companies.rename(index=str, columns={"category_code": "category", "offices": "coords"})
# cambio el orden de las columnas para visualizar mejor el dataframe.
df_companies = df_companies.reindex(['category', 'name', 'number_of_employees', 'founded_year', 'total_money_raised', 'coords'],axis=1)
df_companies.head() # Mostrar las 5 primeras filas de mi dataframe.

,category,name,number_of_employees,founded_year,total_money_raised,coords
0,web,Geni,18.0,2006,$16.5M,"[{'latitude': 34.090368, 'longitude': -118.393..."
1,music,Slacker,NaN,2006,$73.1M,"[{'latitude': 33.022176, 'longitude': -117.081..."
2,mobile,Helio,NaN,2005,$0,"[{'latitude': 34.057498, 'longitude': -118.446..."
3,news,Scribd,50.0,2007,$25.8M,"[{'latitude': 37.789634, 'longitude': -122.404..."
4,social,MeetMoi,15.0,2007,$5.58M,"[{'latitude': 40.757929, 'longitude': -73.9855..."

In [8]:
# Get latitude 
def get_lat(coord): 
        return coord[0]['latitude']
    
# Get longitude    
def get_long(coord): 
        return coord[0]['longitude']

In [9]:
df_companies['latitude']= df_companies['coords'].apply(get_lat)

In [10]:
df_companies['longitude']= df_companies['coords'].apply(get_long)

In [11]:
df_companies.head()

,category,name,number_of_employees,founded_year,total_money_raised,coords,latitude,longitude
0,web,Geni,18.0,2006,$16.5M,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064
1,music,Slacker,NaN,2006,$73.1M,"[{'latitude': 33.022176, 'longitude': -117.081...",33.022176,-117.081406
2,mobile,Helio,NaN,2005,$0,"[{'latitude': 34.057498, 'longitude': -118.446...",34.057498,-118.446596
3,news,Scribd,50.0,2007,$25.8M,"[{'latitude': 37.789634, 'longitude': -122.404...",37.789634,-122.404052
4,social,MeetMoi,15.0,2007,$5.58M,"[{'latitude': 40.757929, 'longitude': -73.9855...",40.757929,-73.985506

In [12]:
df_companies.dtypes # Veo de que tipo son mis columnas.

category                object
name                    object
number_of_employees    float64
founded_year             int64
total_money_raised      object
coords                  object
latitude               float64
longitude              float64
dtype: object

In [13]:
#Creo funcion para transformar datos.

def float_to_int(flt):    #Transforma un dato tipo float a uno tipo int.
    integer = int(flt)
    return integer

In [14]:
df_companies['number_of_employees'].fillna(0, inplace=True) # Relleno todos los NAN en columna number_of_employees.
df_companies['founded_year'].fillna(0, inplace=True) # Relleno todos los NAN en columna founded_year.
df_companies.dropna(axis=0, subset=['coords'])

,category,name,number_of_employees,founded_year,total_money_raised,coords,latitude,longitude
0,web,Geni,18.0,2006,$16.5M,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064
1,music,Slacker,0.0,2006,$73.1M,"[{'latitude': 33.022176, 'longitude': -117.081...",33.022176,-117.081406
2,mobile,Helio,0.0,2005,$0,"[{'latitude': 34.057498, 'longitude': -118.446...",34.057498,-118.446596
3,news,Scribd,50.0,2007,$25.8M,"[{'latitude': 37.789634, 'longitude': -122.404...",37.789634,-122.404052
4,social,MeetMoi,15.0,2007,$5.58M,"[{'latitude': 40.757929, 'longitude': -73.9855...",40.757929,-73.985506
5,games_video,Joost,0.0,2006,$45M,"[{'latitude': 40.7464969, 'longitude': -74.009...",40.746497,-74.009447
6,social,Twitter,1300.0,2006,$1.16B,"[{'latitude': 37.7768052, 'longitude': -122.41...",37.776805,-122.416924
7,search,Powerset,60.0,2006,$22.5M,"[{'latitude': 37.778613, 'longitude': -122.395...",37.778613,-122.395289
8,web,Mahalo,40.0,2007,$21M,"[{'latitude': 34.017606, 'longitude': -118.487...",34.017606,-118.487267
9,mobile,Jingle Networks,35.0,2005,$88.7M,"[{'latitude': 37.480999, 'longitude': -122.173...",37.480999,-122.173887
10,security,LifeLock,644.0,2005,$178M,"[{'latitude': 33.429859, 'longitude': -111.938...",33.429859,-111.938739
11,games_video,Kyte,40.0,2006,$23.4M,"[{'latitude': 37.788482, 'longitude': -122.409...",37.788482,-122.409173
12,finance,Prosper,0.0,2006,$120M,"[{'latitude': 37.78976, 'longitude': -122.4025...",37.789760,-122.402524
13,mobile,Jajah,110.0,2005,$33M,"[{'latitude': 37.4233896, 'longitude': -122.08...",37.423390,-122.089951
14,games_video,blogTV,0.0,2006,$3M,"[{'latitude': 31.046051, 'longitude': 34.851612}]",31.046051,34.851612
15,games_video,Livestream,120.0,2007,$14.7M,"[{'latitude': 40.726155, 'longitude': -73.9956...",40.726155,-73.995625
16,games_video,YouTube,0.0,2005,$11.5M,"[{'latitude': 37.627971, 'longitude': -122.426...",37.627971,-122.426804
17,games_video,AdaptiveBlue,15.0,2007,$24M,"[{'latitude': 40.801358, 'longitude': -74.3372}]",40.801358,-74.337200
18,mobile,GrandCentral,3.0,2006,$4M,"[{'latitude': 37.465645, 'longitude': -121.932...",37.465645,-121.932202
19,web,Pownce,6.0,2007,$0,"[{'latitude': 37.762541, 'longitude': -122.397...",37.762541,-122.397224
20,web,CriticalMetrics,4.0,2007,$100k,"[{'latitude': 37.269175, 'longitude': -119.306...",37.269175,-119.306607
21,mobile,ZenZui,0.0,2007,$0,"[{'latitude': 47.620716, 'longitude': -122.347...",47.620716,-122.347533
22,games_video,Revision3,0.0,2005,$9M,"[{'latitude': 37.757758, 'longitude': -122.388...",37.757758,-122.388243
23,search,Spock,30.0,2006,$7M,"[{'latitude': 37.488336, 'longitude': -122.217...",37.488336,-122.217964
24,ecommerce,Wize,0.0,2006,$4.99M,"[{'latitude': 37.559287, 'longitude': -122.302...",37.559287,-122.302262
25,web,SodaHead,25.0,2007,$12.7M,"[{'latitude': 37.269175, 'longitude': -119.306...",37.269175,-119.306607
26,games_video,CastTV,0.0,2006,$3.1M,"[{'latitude': 37.780716, 'longitude': -122.393...",37.780716,-122.393913
27,mobile,iSkoot,0.0,2005,$32.2M,"[{'latitude': 42.375392, 'longitude': -71.1184...",42.375392,-71.118487
28,games_video,Funny Or Die,0.0,2007,$18M,"[{'latitude': 37.421621, 'longitude': -122.137...",37.421621,-122.137444
29,web,ClipBlast!,15.0,2005,$0,"[{'latitude': 34.155211, 'longitude': -118.756...",34.155211,-118.756618
...,...,...,...,...,...,...,...,...
4174,games_video,MechaWorks,0.0,2008,$0,"[{'latitude': 37.383444, 'longitude': -122.009...",37.383444,-122.009405
4175,software,Continuity Engine,11.0,2008,$7.84M,"[{'latitude': 41.3279176, 'longitude': -73.243...",41.327918,-73.243552
4176,ecommerce,Pipit Interactive,10.0,2008,$900k,"[{'latitude': 34.045499, 'longitude': -118.470...",34.045499,-118.470360
4177,social,FundRazr,6.0,2008,C$325k,"[{'latitude': 49.2843936, 'longitude': -123.10...",49.284394,-123.109262
4178,mobile,pTracker,2.0,2009,$0,"[{'latitude': 30.268735, 'longitude': -97.7452...",30.268735,-97.745209
4179,ecommerce,Bookwhen,2.0,2009,$0,"[{'latitude': 51.7714264, 'longitude': -1.2581...",51.771426,-1.258105
4180,games_video,DJ Nitrogen,8.0,2007,$0,"[{'latitude': 37.7841737, 'longitude': -122.44...",37.784174,-122.449408
4181,search,Superkix,5.0,2008,$0,"[{'latitude': 25.9609078, 'longitude': -80.127...",25.960908,-80.127765
4182,search,Semanti,7.0,2007,$0,"[{'latitude': 53.483151, 'longitude': -113.478...",53.483151,-113.478872
4183,consulting,Total Telecom Consulting,0.0,2005,$0,"[{'latitude': 40.40509, 'longitude': -80.032726}]",40.405090,-80.032726
4184,software,Meeho!,5.0,2007,$0,"[{'latitude': 55.7525253, 'longitude': 12.3933...",55.752525,12.393304
4185,enterprise,Connect 4 Designs,0.0,2006,$0,"[{'latitude': 33.575099, 'longitude': -117.201...",33.575099,-117.201499
4186,software,ALOT,50.0,2007,$0,"[{'latitude': 40.72616, 'longitude': -74.006023}]",40.726160,-74.006023
4187,consulting,Business and Technology Strategies,5.0,2007,$0,"[{'latitude': 28.792491, 'longitude': -81.3838...",28.792491,-81.383874
4188,security,Track and Locate,10.0,2006,$0,"[{'latitude': -33.815217, 'longitude': 151.002...",-33.815217,151.002324
4189,games_video,Fictionaut,2.0,2008,$0,"[{'latitude': 40.7597951, 'longitude': -73.916...",40.759795,-73.916127
4190,web,Conversition,10.0,2008,$0,"[{'latitude': 40.756054, 'longitude': -73.9869...",40.756054,-73.986951
4191,enterprise,Jelli,12.0,2008,$16.6M,"[{'latitude': 37.55909, 'longitude': -122.3218...",37.559090,-122.321836
4192,software,PubliAtis,10.0,2006,€1M,"[{'latitude': 48.8699947, 'longitude': 2.34069...",48.869995,2.340695
4193,games_video,Tiny Speck,45.0,2009,$17.2M,"[{'latitude': 49.2824551, 'longitude': -123.10...",49.282455,-123.109217
4194,hardware,Mu-Gahat Enterprises,0.0,2005,$0,"[{'latitude': 37.3749302, 'longitude': -122.01...",37.374930,-122.012149
4195,games_video,My TV Shows,2.0,2007,$0,"[{'latitude': 38.7523672, 'longitude': -9.1462...",38.752367,-9.146221
4196,other,Hellocoton,4.0,2008,$0,"[{'latitude': 48.8318497, 'longitude': 2.33898...",48.831850,2.338986
4197,search,Buddhacom,8.0,2008,$0,"[{'latitude': 43.6762521, 'longitude': -79.400...",43.676252,-79.400859
4198,public_relations,SEO Sumo,5.0,2009,$0,"[{'latitude': 25.723408, 'longitude': -80.3063...",25.723408,-80.306331
4199,advertising,InstantQ,3.0,2009,$0,"[{'latitude': 37.369195, 'longitude': -122.036...",37.369195,-122.036849
4200,mobile,acrossair,6.0,2009,$0,"[{'latitude': 51.5177425, 'longitude': -0.1165...",51.517742,-0.116537
4201,consulting,MyChances,2.0,2009,$0,"[{'latitude': 39.394564, 'longitude': -119.812...",39.394564,-119.812079
4202,mobile,Getyoo,10.0,2009,€1.13M,"[{'latitude': 50.83997, 'longitude': 4.3464721}]",50.839970,4.346472
4203,software,Oriact,0.0,2009,$0,"[{'latitude': 47.0882193, 'longitude': 8.43716...",47.088219,8.437163

In [15]:
# Aplico la función para transformar mis datos a enteros.
df_companies['number_of_employees'] = df_companies['number_of_employees'].apply(float_to_int)
df_companies['founded_year'] = df_companies['founded_year'].apply(float_to_int)

In [16]:
df_companies.dtypes # Veo de que tipo son mis columnas para ver si el cambio se aplico.

category                object
name                    object
number_of_employees      int64
founded_year             int64
total_money_raised      object
coords                  object
latitude               float64
longitude              float64
dtype: object

In [17]:
# Crear unos bins para ver el tamaño de la empresa segun los'number_of_employees': startup, small, medium y big

bins = [0,10,100,1000,100000] # Creo categorias de el bin
labels = ["startup","small","medium","big"] # Creo nombre para las categorias del bin
df_companies['tamaño_empresa'] = pd.cut(df_companies['number_of_employees'], bins=bins, labels=labels)
df_companies.dropna(subset=['tamaño_empresa'], inplace=True)
df_companies.groupby(df_companies.tamaño_empresa)['name'].nunique()

tamaño_empresa
startup    1833
small       882
medium      100
big           5
Name: name, dtype: int64

In [18]:
df_companies.head()

,category,name,number_of_employees,founded_year,total_money_raised,coords,latitude,longitude,tamaño_empresa
0,web,Geni,18,2006,$16.5M,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064,small
3,news,Scribd,50,2007,$25.8M,"[{'latitude': 37.789634, 'longitude': -122.404...",37.789634,-122.404052,small
4,social,MeetMoi,15,2007,$5.58M,"[{'latitude': 40.757929, 'longitude': -73.9855...",40.757929,-73.985506,small
6,social,Twitter,1300,2006,$1.16B,"[{'latitude': 37.7768052, 'longitude': -122.41...",37.776805,-122.416924,big
7,search,Powerset,60,2006,$22.5M,"[{'latitude': 37.778613, 'longitude': -122.395...",37.778613,-122.395289,small

In [19]:
df_companies.iloc[0, 5]

[{'latitude': 34.090368, 'longitude': -118.393064}]

In [20]:
# Creación de toGeoJSON:
    # Input: lista con dos valores: la longitud y la latitud de la ubicación de la compañía.
    # Output: diccionario con ambas coordenadas en una sola lista y el establecimiento de "type".
    
def to_Geo_JSON(array):
    try:
        array = array[0]
        return {
                "type": "Point",
                "coordinates":[array['longitude'], array['latitude']]
        }
    except: 
        return

df_companies['coords'] = df_companies.apply(lambda s: to_Geo_JSON(s['coords']), axis=1)

In [25]:
df_companies.head()

,category,name,number_of_employees,founded_year,total_money_raised,coords,latitude,longitude,tamaño_empresa
0,web,Geni,18,2006,$16.5M,"{'type': 'Point', 'coordinates': [-118.393064,...",34.090368,-118.393064,small
3,news,Scribd,50,2007,$25.8M,"{'type': 'Point', 'coordinates': [-122.404052,...",37.789634,-122.404052,small
4,social,MeetMoi,15,2007,$5.58M,"{'type': 'Point', 'coordinates': [-73.985506, ...",40.757929,-73.985506,small
6,social,Twitter,1300,2006,$1.16B,"{'type': 'Point', 'coordinates': [-122.4169244...",37.776805,-122.416924,big
7,search,Powerset,60,2006,$22.5M,"{'type': 'Point', 'coordinates': [-122.395289,...",37.778613,-122.395289,small

In [26]:
df_companies.to_json('prueba1.json', orient="records", lines=True)

In [23]:
df_companies.iloc[0, 5]

{'type': 'Point', 'coordinates': [-118.393064, 34.090368]}