In [5]:
# Importar librerias.
import pandas as pd
import numpy as np
import pymongo
import geopandas

In [8]:
# Cargar la base de de MongoDB.
MongoClient = pymongo.MongoClient # Llamar a Mongo (conectar con el cliente).
client = MongoClient() # Guardar Mongo en variable cliente.
db = client['companies'] # Dentro de mongo conecto con base de dato company.

In [12]:
nearLocation = {
    "lng": 40.717432,
    "lat": -73.994943
}

 = pd.DataFrame(db.clean_companies.find({
    "coords": {
     "$near": {
       "$geometry": {
          "type": "Point" ,
          "coordinates": [ nearLocation["lat"] , nearLocation["lng"] ]
       },
       "$maxDistance": 5000, # In meters
     }
   }
}))

len(clean_companies)

142

In [13]:
clean_companies.head()

,_id,category,coords,founded_year,latitude,longitude,name,number_of_employees,tamaño_empresa,total_money_raised
0,5cd43dad622ab737609a06b2,finance,"{'type': 'Point', 'coordinates': [-73.9983139,...",2008,40.720391,-73.998314,Kapitall,15,small,$7.3M
1,5cd43dad622ab7376099fe52,web,"{'type': 'Point', 'coordinates': [-74.00118, 4...",2007,40.718871,-74.001180,Thrive,15,small,$0
2,5cd43dad622ab737609a02d9,public_relations,"{'type': 'Point', 'coordinates': [-73.9973, 40...",2007,40.722118,-73.997300,GroundRez,20,small,$0
3,5cd43dad622ab737609a062b,other,"{'type': 'Point', 'coordinates': [-73.9964376,...",2007,40.723714,-73.996438,Undercurrent,18,small,$0
4,5cd43dad622ab7376099fe9d,enterprise,"{'type': 'Point', 'coordinates': [-73.997026, ...",2007,40.724421,-73.997026,Trendrr,20,small,$0

In [15]:
clean_companies.to_csv('query_geo_question.csv')