In [1]:
# Importar librerias.
import pandas as pd
import numpy as np
import pymongo
import geopandas

In [2]:
# Cargar la base de de MongoDB.
MongoClient = pymongo.MongoClient # Llamar a Mongo (conectar con el cliente).
client = MongoClient() # Guardar Mongo en variable cliente.
db = client['companies'] # Dentro de mongo conecto con base de dato company.

In [17]:
def geoquery(lat, long, rad):
    client = MongoClient() # Guardar Mongo en variable cliente.
    db = client['companies'] 
    
    loc = {"lng" : long, "lat" : lat} 


    clean_companies = pd.DataFrame(db.clean_companies.find({
        "coords": {
         "$near": {
           "$geometry": {
              "type": "Point" ,
              "coordinates": [ loc["lng"] , loc["lat"] ]
           },
           "$maxDistance": rad, # In meters
         }
       }
    }))

    return clean_companies

In [18]:
# https://www.expertmarket.com/focus/research/top-tech-cities

In [19]:
san_francisco = geoquery(37.418813, -122.092727, 5000)
new_york = geoquery(40.719250, -73.998667, 5000)
seattle = geoquery(47.608774, -122.336782, 5000)
berlin = geoquery(52.529916, 13.384525, 5000)
tel_aviv = geoquery(32.163034, 34.809842, 5000)
shanghai = geoquery(31.190287, 121.588975, 5000)
bangalore = geoquery(12.839807, 77.651596, 5000)
london = geoquery(51.525552, -0.086884, 5000)
vancouver = geoquery(49.281732, -123.123152, 5000)
dublin = geoquery(53.275929, -6.205109, 5000)
amesterdam = geoquery(52.352908, 4.797444, 5000)

In [22]:
san_francisco.head()

,_id,category,coords,founded_year,latitude,longitude,name,number_of_employees,tamaño_empresa,total_money_raised
0,5cd43dad622ab737609a0040,mobile,"{'type': 'Point', 'coordinates': [-122.0937686...",2006,37.418610,-122.093769,Jibe Mobile,10,startup,$9.1M
1,5cd43dad622ab737609a0771,medical,"{'type': 'Point', 'coordinates': [-122.0933053...",2009,37.420207,-122.093305,drchrono,50,small,$4.13M
2,5cd43dad622ab737609a066e,network_hosting,"{'type': 'Point', 'coordinates': [-122.0884286...",2009,37.418907,-122.088429,Gridstore,31,small,€25M
3,5cd43dad622ab7376099ffde,web,"{'type': 'Point', 'coordinates': [-122.087471,...",2007,37.419041,-122.087471,Crowd Science,25,small,$2M
4,5cd43dad622ab737609a0388,enterprise,"{'type': 'Point', 'coordinates': [-122.087417,...",2006,37.418616,-122.087417,SOASTA,100,small,$63.6M

In [ ]:
clean_companies.to_csv('query_geo_question.csv')