In [1]:
# Importar librerias.
import pandas as pd
import numpy as np
import pymongo
import geopandas

In [2]:
# Cargar la base de de MongoDB.
MongoClient = pymongo.MongoClient # Llamar a Mongo (conectar con el cliente).
client = MongoClient() # Guardar Mongo en variable cliente.
db = client['companies'] # Dentro de mongo conecto con base de dato company.

In [4]:
# https://www.expertmarket.com/focus/research/top-tech-cities

In [28]:
def geoquery(lat, long, rad):
    client = MongoClient() # Guardar Mongo en variable cliente.
    db = client['companies'] 
    
    loc = {"lng" : long, "lat" : lat} 


    clean_companies = pd.DataFrame(db.clean_companies.find({
        "coords": {
         "$near": {
           "$geometry": {
              "type": "Point" ,
              "coordinates": [ loc["lng"] , loc["lat"] ]
           },
           "$maxDistance": rad, # In meters
         }
       }
    }))

    return clean_companies

In [29]:
san_francisco = geoquery(37.418813, -122.092727, 5000)
new_york = geoquery(40.719250, -73.998667, 5000)
seattle = geoquery(47.608774, -122.336782, 5000)
austin = geoquery(30.277555, -97.739324, 5000)
tel_aviv = geoquery(32.163034, 34.809842, 5000)
shanghai = geoquery(31.190287, 121.588975, 5000)
bangalore = geoquery(12.839807, 77.651596, 5000)
london = geoquery(51.525552, -0.086884, 5000)
vancouver = geoquery(49.281732, -123.123152, 5000)
dublin = geoquery(53.275929, -6.205109, 5000)
amesterdam = geoquery(52.352908, 4.797444, 5000)

In [30]:
austin.head()

,_id,category,coords,founded_year,latitude,longitude,name,number_of_employees,tamaño_empresa,total_money_raised
0,5cd43dad622ab7376099fe07,software,"{'type': 'Point', 'coordinates': [-97.746387, ...",2007,30.276460,-97.746387,Compulsivo,2,startup,$0
1,5cd43dad622ab737609a02d6,web,"{'type': 'Point', 'coordinates': [-97.7443863,...",2007,30.272921,-97.744386,Gowalla,22,small,$10.4M
2,5cd43dad622ab737609a0415,other,"{'type': 'Point', 'coordinates': [-97.740833, ...",2009,30.269967,-97.740833,LaunchPad Coworking,6,startup,$0
3,5cd43dad622ab7376099ffb1,messaging,"{'type': 'Point', 'coordinates': [-97.740395, ...",2008,30.269004,-97.740395,OtherInbox,14,small,$3.8M
4,5cd43dad622ab737609a00a1,software,"{'type': 'Point', 'coordinates': [-97.745209, ...",2008,30.268735,-97.745209,Ninth Yard,1,startup,$0

In [31]:
frames = [san_francisco, new_york, seattle, austin tel_aviv, shanghai, bangalore, london, vancouver, dublin, amesterdam]
result = pd.concat(frames).reset_index(drop=True)
result.head()

SyntaxError: invalid syntax (<ipython-input-31-ae8c2cb1f860>, line 1)

In [27]:
result.to_csv('prueba_final.csv')