In [1]:
# shark_attack.py


import pandas as pd                    # dataframe
from matplotlib import pyplot as plt   # para plots
from regEX import *                    # expresiones regulares

In [ ]:
'''
Mi objetivo es relacionar la mortalidad y el tipo de daños causados con la 
especie de tiburon para descubrir, no solo que especie es la que genera mayor tasa de mortalidad, 
sino tambien que especie provoca mayores daños no mortales.

En una segunda parte intentare construir una serie temporal con esa informacion 
para tratar de responder una pregunta:
¿los tiburones se estan volviendo mas agresivos con el tiempo?.  
'''

In [2]:
datos=pd.read_csv('attacks.csv', encoding='ISO-8859-1')           # se crea el dataframe
#display (datos)
#display (datos.columns)
display (datos.head())

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [3]:
datos=datos[['Year', 'Type', 'Activity', 'Species ', 'Injury', 'Fatal (Y/N)']]  # se escogen los datos a tratar
# elimino el resto de columnas porque no me hacen falta para el proposito del estudio

datos=datos.rename(columns={'Year': 'Año', 'Type': 'Tipo', 'Activity': 'Actividad',\
                            'Species ': 'Especie', 'Injury': 'Daños', 'Fatal (Y/N)': 'Mortal'}) 
# renombro las columnas por comodidad

display (datos.head())

,Año,Tipo,Actividad,Especie,Daños,Mortal
0,2018.0,Boating,Paddling,White shark,"No injury to occupant, outrigger canoe and pad...",N
1,2018.0,Unprovoked,Standing,NaN,Minor injury to left thigh,N
2,2018.0,Invalid,Surfing,NaN,Injury to left lower leg from surfboard skeg,N
3,2018.0,Unprovoked,Surfing,2 m shark,Minor injury to lower leg,N
4,2018.0,Provoked,Free diving,"Tiger shark, 3m",Lacerations to leg & hand shark PROVOKED INCIDENT,N

In [4]:
datos=datos.dropna(how='all')                        # elimina Nan, desde el registro 6302 no hay datos
#print (datos.shape)
datos=datos[datos.Año>=1940]                         # una primera seleccion de datos, desde 1940
#print (datos.shape)
print (datos['Año'])

0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
5       2018.0
6       2018.0
7       2018.0
8       2018.0
9       2018.0
10      2018.0
11      2018.0
12      2018.0
13      2018.0
14      2018.0
15      2018.0
16      2018.0
17      2018.0
18      2018.0
19      2018.0
20      2018.0
21      2018.0
22      2018.0
23      2018.0
24      2018.0
25      2018.0
26      2018.0
27      2018.0
28      2018.0
29      2018.0
         ...
4752    1941.0
4753    1941.0
4754    1941.0
4755    1941.0
4756    1941.0
4757    1941.0
4758    1940.0
4759    1940.0
4760    1940.0
4761    1940.0
4762    1940.0
4763    1940.0
4764    1940.0
4765    1940.0
4766    1940.0
4767    1940.0
4768    1940.0
4769    1940.0
4770    1940.0
4771    1940.0
4772    1940.0
4773    1940.0
4774    1940.0
4775    1940.0
4776    1940.0
4777    1940.0
4778    1940.0
4779    1940.0
4780    1940.0
4781    1940.0
Name: Año, Length: 4780, dtype: float64

In [5]:
datos=datos.fillna('UNKNOWN')                                   # renombro los valores nulos...
datos=datos[datos['Especie'].map(lambda x: str(x)!='UNKNOWN')]  # ... y los elimino segun ese nombre.
datos=datos.drop_duplicates()                                   # se eliminan duplicados
datos.index=range(len(datos))                                   # reindexo el frame por si lo necesito en el futuro 
print (datos.shape)                                             # 2980 registros
null=datos.isna().sum()                                         # se miran los valores nulos
print (null[null>0])                                            # el frame esta limpio

(2980, 6)
Series([], dtype: int64)

In [6]:
# clasifico el tipo de ataque: clase '0'=sin daños, '1'=daño bajo, '2'=daño medio, '3'=daño alto, '4'=mortal
datos.loc[datos['Mortal']=='Y', 'Daños']='4'                     # cambio los mortales a clase '4'
strings=[datos['Daños'][i].lower() for i in range(len(datos))]   # pasa a minusculas
datos['Clase_Daños']=regEX(strings)                              # clasificacion categorica de los ataques
display (datos)

,Año,Tipo,Actividad,Especie,Daños,Mortal,Clase_Daños
0,2018.0,Boating,Paddling,White shark,"No injury to occupant, outrigger canoe and pad...",N,0
1,2018.0,Unprovoked,Surfing,2 m shark,Minor injury to lower leg,N,1
2,2018.0,Provoked,Free diving,"Tiger shark, 3m",Lacerations to leg & hand shark PROVOKED INCIDENT,N,2
3,2018.0,Unprovoked,Swimming,Tiger shark,4,Y,4
4,2018.0,Unprovoked,Fishing,"Lemon shark, 3'",Minor injury to foot. PROVOKED INCIDENT,N,1
5,2018.0,Unprovoked,Walking,"Bull shark, 6'",Lower left leg bitten,N,3
6,2018.0,Provoked,Feeding sharks,Grey reef shark,Minor bite to hand by captive shark. PROVOKED ...,N,1
7,2018.0,Invalid,Fishing,Invalid incident,Injured by teeth of a dead porbeagle shark he ...,N,3
8,2018.0,Provoked,Feeding sharks,"Tawny nurse shark, 2m",Shallow lacerations to finger PROVOKED INCIDENT,N,2
9,2018.0,Questionable,Surfing,Shark involvement not confirmed,"No injury, surfboard damaged",N,0
10,2018.0,Unprovoked,Scuba diving,Tiger shark,"No injury, shark bit scuba gear",N,0
11,2018.0,Questionable,Surfing,Questionable,No injury,N,0
12,2018.0,Unprovoked,Surfing,3 m shark,"No injury, knocked off board by shark",N,0
13,2018.0,Unprovoked,Surfing,"White shark, 3.5 m","No injury, shark struck his leg",N,0
14,2018.0,Unprovoked,Fishing,Tiger shark,5-inch cut to hand,N,2
15,2018.0,Unprovoked,Paddle-skiing,"White shark, 2.5 m","No injury, shark bit hole in ski",N,0
16,2018.0,Unprovoked,Body boarding,6' shark,Lacerations to right lower leg,N,2
17,2018.0,Unprovoked,Swimming,Juvenile bull shark,Lacerations to foot and ankle,N,2
18,2018.0,Unprovoked,Surfing,Tiger shark,No Injury. Shark swam away with the surf board,N,0
19,2018.0,Invalid,Fishing,Shark involvement not confirmed,Injury to ankle from marine animal trapped in ...,N,3
20,2018.0,Unprovoked,Windsurfing,2 m shark,"No injury, shark bit board",N,0
21,2018.0,Unprovoked,Swimming,Bull shark,"2 puncture wounds to left foot, abrasion to ri...",N,3
22,2018.0,Unprovoked,Surfing,White shark,Lacerations to left knee & lower leg,N,2
23,2018.0,Unprovoked,Stand-Up Paddleboarding,"Tiger shark, 12'",Injuries to right leg & hand,N,3
24,2018.0,Unprovoked,Wading,Wobbegong shark,Minor injuries to legs,N,1
25,2018.0,Unprovoked,Swimming,3.5 m shark,"No injury, said to have been charged by sharks...",N,0
26,2018.0,Unprovoked,Surfing,1.8 m shark,"Minor injury, ankle grazed",N,1
27,2018.0,Unprovoked,Scuba Diving,Blacktip shark,The shark & man simply collided; neither were...,N,3
28,2018.0,Unprovoked,Swimming,"Juvenile white shark, 2.7 to 3.2 m",Laceratons to right leg & foot,N,2
29,2018.0,Unprovoked,Walking,"Bull shark, 2 m",Puncture wounds to leff foot & lower leg,N,3
...,...,...,...,...,...,...,...
2950,1942.0,Sea Disaster,Adrift on life raft,Tiger shark & others,4,Y,4
2951,1942.0,Provoked,Sculling,Porbeagle shark,"After he hit the shark with an oar, the shark ...",N,3
2952,1942.0,Invalid,boat capsized during filming,Shark involvement prior to death unconfirmed,"Remains recovered from 440-lb shark, but caus...",UNKNOWN,3
2953,1942.0,Invalid,H.M.S. Cornwall & H.M.S.Dorsetshire sunk by Ja...,Invalid,Sharks were numerous & took corpses but made n...,UNKNOWN,3
2954,1942.0,Invalid,UNKNOWN,Invalid,"Cause of death was drowning, shark bites were ...",UNKNOWN,3
2955,1942.0,Unprovoked,Swimming,"Bull shark, 4 m [13']",4,Y,4
2956,1942.0,Provoked,Surf-skiing,3 m [10'] shark,Attempted to frighten shark by smacking water ...,N,3
2957,1942.0,Boating,UNKNOWN,Said to involve a 6.5 m [21.5'] shark,No injury,N,0
2958,1942.0,Unprovoked,Swimming along side N.E.L. vessel Saluda,1.2 m to 1.5 m [4' to 5'] shark,"Minor injury, ankle scratched by shark's teeth",N,3
2959,1942.0,Sea Disaster,Ditched plane in the sea & were adrift on a ru...,"Said to be leopard sharks, more probably tig...","No injury to occupants, They fought off sharks...",N,4
2960,1941.0,Sea Disaster,Torpedoed & burning British light cruiser wit...,"Reportedly: oceanic whitetip sharks, blue shar...",4,Y,4
2961,1941.0,Sea Disaster,HMAS Parramatta torpedoed & sunk by the U-559,Tiger shark,Right hand severed,N,3
2962,1941.0,Sea Disaster,HMAS Parramatta torpedoed & sunk by the U-559,Tiger shark,Lacerations to chest,N,2
2963,1941.0,Invalid,Swimming,Shark involvement prior to death unconfirmed,Shark involvement prior to death unconfirmed,UNKNOWN,3
2964,1941.0,Boating,Fishing for tuna,Mako shark,"No injury to occupants, shark leapt into boat ...",N,2
2965,1941.0,Provoked,Fishing,100-lb shark,Arm bitten while removing shark from fishing l...,N,3
2966,1941.0,Provoked,Fishing from 32' boat,2.1 m [7'] shark,Left hand bitten as he tried to put rope aroun...,N,3
2967,1941.0,Provoked,Fishing,Mako shark (aka bonito shark) 1.2 m [4'],Right hand bitten by boated shark PROVOKED INC...,N,3
2968,1940.0,Unprovoked,Bathing,5.5 m [18'] shark,4,Y,4
2969,1940.0,Unprovoked,Fishing,3 m [10'] shark,Thigh lacerated,N,3
2970,1940.0,Unprovoked,Treading water,"White shark, species identity confirmed by too...",4,Y,4
2971,1940.0,Unprovoked,Free diving for lobster,Wobbegong shark,Minor injuries to foot,N,1
2972,1940.0,Unprovoked,Swimming,"White shark, 160-kg [353-lb], identity confirm...",4,Y,4
2973,1940.0,Unprovoked,Dived into the water,"""a small shark""",Shoulder nipped,N,3
2974,1940.0,Unprovoked,Swimming,3 m [10'] shark,4,Y,4
2975,1940.0,Unprovoked,Swimming,2.4 m [8'] shark,4,Y,4
2976,1940.0,Boating,Boating,White shark,"No inury to occupants, shark struck boat",N,3
2977,1940.0,Invalid,Swimming,Questionable incident,No details,UNKNOWN,3
2978,1940.0,Invalid,UNKNOWN,Questionable incident,FATAL,UNKNOWN,4
2979,1940.0,Invalid,Standing in water with child in her arms,Questionable incident,Leg bitten,UNKNOWN,3