# Shark KO!
## How likely is a shark attack lethal, and in which top 3 countrys are more common.

In [1]:
import pandas as pd 
import numpy as np

### Importing & displaying data

In [2]:
unclean_data=pd.read_csv('GSAF5.csv', encoding = 'ISO-8859-1')# Had to add encoding because of an error of UnicodeDecodeError.
unclean_data.head() # Display first 5 rows of original data frame

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
unclean_data.shape # Checking the size of my Data Frame

(5992, 24)

In [4]:
unclean_data.columns # Verifying that all my columns are correctly written

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### Renaming Columns

In [5]:
unclean_data = unclean_data.rename(columns={'Fatal (Y/N)':'Fatal'})# Renaming column 
unclean_data.columns # Checking Changes

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

### Checking for duplicates

In [6]:
unclean_data.duplicated().sum() # Checking for duplicades and adding them.

0

### Checking for null

In [7]:
null_cols = unclean_data.isnull().sum()
null_cols[null_cols > 0]
display(null_cols)# Checking how many columns are null and adding them.

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal                       19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [8]:
unclean_data.isnull().sum().sum() # Adding total numbers of null

23109

### Dropping Columns

In [9]:
drop_cols = list(null_cols[null_cols > 1000].index)
data = unclean_data.drop(drop_cols, axis=1)
data = data.drop(['Case Number.1','Case Number.2','original order','href formula','pdf','Investigator or Source','href','Case Number','Location','Name'], axis=1)
data.head()

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
0,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,Minor injury to thigh,N
1,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,Lacerations to hands,N
2,18-Sep-16,2016,Unprovoked,USA,Florida,Surfing,M,Lacerations to lower leg,N
3,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,Struck by fin on chest & leg,N
4,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Surfing,M,No injury: Knocked off board by shark,N

### Counting Fatal

In [10]:
fatal_count = data.Fatal.value_counts()
print(fatal_count)

N          4315
Y          1552
UNKNOWN      94
 N            8
N             1
F             1
#VALUE!       1
n             1
Name: Fatal, dtype: int64

### Replacing null cells in Fatal

In [11]:
data['Fatal'].fillna('UNKNOWN', inplace = True)

### Changing strings inside Fatal

In [12]:
data['Fatal']= data['Fatal'].str.replace('n','N')
data['Fatal']= data['Fatal'].str.replace(' N','N')
data['Fatal']= data['Fatal'].str.replace('N ','N')

### Recounting Fatal

In [13]:
fatal_count = data.Fatal.value_counts()
print(fatal_count)

N          4325
Y          1552
UNKNOWN     113
F             1
#VALUE!       1
Name: Fatal, dtype: int64

### Verifying if F is a Fatal

In [14]:
data.loc[data['Fatal'] == 'F']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
4693,Reported 21-Jan-1935,1935,Invalid,ISRAEL,Herzliyah,NaN,NaN,human remains washed ahore,F

### Recounting Fatal with F

In [15]:
data['Fatal']= data['Fatal'].str.replace('F','Y')
fatal_count = data.Fatal.value_counts()
print(fatal_count)

N          4325
Y          1553
UNKNOWN     113
#VALUE!       1
Name: Fatal, dtype: int64

### Verifying if #VALUE is a Fatal

In [16]:
data.loc[data['Fatal'] == '#VALUE!']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
5461,14-May-1890,1890,Invalid,SOUTH AFRICA,Eastern Cape Province,NaN,M,Forensic evidence indicated death resulted fro...,#VALUE!

### Recounting Fatal with #VALUE

In [17]:
data['Fatal']= data['Fatal'].str.replace('#VALUE!','Y')
fatal_count = data.Fatal.value_counts()
print(fatal_count)

N          4325
Y          1554
UNKNOWN     113
Name: Fatal, dtype: int64

### Display all cells with UNKNOWN in Fatal

In [18]:
data.loc[data['Fatal'] == 'UNKNOWN']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
54,02-Jun-16,2016,Unprovoked,AUSTRALIA,New South Wales,Spearfishing,M,"No injury, but sharks repeatedly hit their fin...",UNKNOWN
401,08-Sep-13,2013,Unprovoked,USA,South Carolina,NaN,F,No details,UNKNOWN
1047,20-Apr-08,2008,Unprovoked,AUSTRALIA,New South Wales,NaN,M,NaN,UNKNOWN
1142,Jul-07,2007,Invalid,SENEGAL,NaN,Murder,NaN,NaN,UNKNOWN
1844,Reported 03-Mar-2000,2000,Invalid,NEW ZEALAND,North Island,Kayaking,M,Reported as shark attack but probable drowning,UNKNOWN
2025,07-Jun-97,1997,Unprovoked,BRAZIL,Rio de Janeiro,Bathing,M,NaN,UNKNOWN
2035,21-Feb-97,1997,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2042,29-Dec-96,1996,Unprovoked,AUSTRALIA,Queensland,Surfing,M,NaN,UNKNOWN
2070,14-Jul-96,1996,Unprovoked,USA,Hawaii,NaN,NaN,No details,UNKNOWN
2082,28-Apr-96,1996,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2098,14-Jan-96,1996,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2103,18-Dec-95,1995,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2163,18-May-95,1995,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2179,1995,1995,Unprovoked,USA,South Carolina,NaN,M,No details,UNKNOWN
2184,Reported 10-Dec-1994,1994,Unprovoked,VANUATU,Tafea Province,NaN,NaN,No details,UNKNOWN
2317,Aug-92,1992,Invalid,USA,Florida,Fisherman,M,No details,UNKNOWN
2423,1990,1990,Unprovoked,USA,Florida,Surfing,M,NaN,UNKNOWN
2425,03-Dec-89,1989,Unprovoked,AUSTRALIA,Northern Territory,NaN,M,"No details, ""recovering in Darwin Hospital""",UNKNOWN
2436,01-Oct-89,1989,Unprovoked,AUSTRALIA,Victoria,Surfing,M,No details,UNKNOWN
2449,27-Jul-89,1969,Invalid,BERMUDA,NaN,Scuba diving,M,FATAL,UNKNOWN
2581,01-Oct-86,1986,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2657,19-Sep-84,1984,Unprovoked,USA,Florida,Swimming,NaN,No details,UNKNOWN
2675,01-Mar-84,1984,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2718,19-Apr-83,1983,Unprovoked,USA,Florida,Surfing,M,No details,UNKNOWN
2771,1982,1982,Boat,ITALY,Tyrrhenian Sea,Boat,M,No details,UNKNOWN
2773,1982,1982,Unprovoked,TUNISIA,Biserta,Spearfishing,NaN,No details,UNKNOWN
2781,17-Oct-81,1981,Unprovoked,USA,Florida,Surfing,M,No details,UNKNOWN
2813,Mar-81,1981,Unprovoked,BRAZIL,Rio de Janeiro,Diving,NaN,NaN,UNKNOWN
2816,07-Feb-81,1981,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2982,04-Oct-75,1975,Invalid,USA,California,Surfing,NaN,NaN,UNKNOWN
...,...,...,...,...,...,...,...,...,...
5308,Reported 29-Jun-1901,1901,Invalid,YEMEN,Aden,Diving around anchored liner,M,NaN,UNKNOWN
5316,13-Sep-00,1900,Unprovoked,USA,Rhode Island,Diving,M,No injury,UNKNOWN
5355,Reported 1898,1898,Invalid,CRETE,NaN,Sponge divers,M,Unknown,UNKNOWN
5373,1897,1897,Unprovoked,EGYPT,Mediterranean Sea,NaN,NaN,No details,UNKNOWN
5411,21-Aug-1894,1894,Unprovoked,USA,New York,Swimming,F,No injury,UNKNOWN
5414,29-Jun-1894,1894,Unprovoked,USA,Florida,Bathing,M,"""Painfully injured"" but no details",UNKNOWN
5432,1893,1893,Unprovoked,EGYPT,Mediterranean Sea,NaN,NaN,No details,UNKNOWN
5437,24-Jun-1892,1892,Invalid,FRANCE,Brittany,Fishing boat,NaN,"No injury, no attack",UNKNOWN
5464,1890,1890,Unprovoked,INDIA,Tamil Nadu,Diving,M,No details,UNKNOWN
5465,1890,1890,Unprovoked,INDIA,Tamil Nadu,Diving,M,No details,UNKNOWN
5468,Reported 29-Nov-1889,1889,Invalid,GREECE,Northern Peloponnese,NaN,NaN,"Human remains found in 4m, 900 kg shark",UNKNOWN
5642,Reported 07-Aug-1872,1872,Invalid,CROATIA,NaN,Fishing,M,No injury,UNKNOWN
5697,04-Dec-1862,1862,Invalid,NEW ZEALAND,South Island,NaN,NaN,NaN,UNKNOWN
5699,Reported 02-Aug-1862,1862,Invalid,SPAIN,Malaga,NaN,M,Possible drowning and scavenging,UNKNOWN
5718,16-Mar-1859,1859,Unprovoked,USA,Hawaii,Fell overboard,M,FATAL,UNKNOWN
5726,06-Feb-1856,1856,Unprovoked,AUSTRALIA,Victoria,Swimming,M,Severe bite to thigh. Not known if he survived,UNKNOWN
5747,28-Jul-52,1852,Invalid,ATLANTIC OCEAN,NaN,NaN,F,Death preceded shark involvement,UNKNOWN
5793,Ca. 1837,1837,Invalid,USA,South Carolina,NaN,M,Shark caught contained human remains,UNKNOWN
5794,1836.07.26.R,1836,Invalid,SPAIN,NaN,NaN,NaN,"Shark caught, contained human remains",UNKNOWN
5795,1836.00.,1836,Unprovoked,AUSTRALIA,South Australia,NaN,NaN,"No details, it was the year the first settlers...",UNKNOWN
5820,Reported 22-May-1818,1818,Invalid,NORWAY,NaN,NaN,M,Probable drowning,UNKNOWN
5845,1755,1755,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,NaN,M,NaN,UNKNOWN
5849,1733,1733,Invalid,ICELAND,Bardestrand,NaN,NaN,"Partial hominid remains recovered from shark, ...",UNKNOWN
5856,Reported 1638,1638,Unprovoked,NaN,NaN,NaN,M,NaN,UNKNOWN
5857,Reported 1637,1637,Unprovoked,INDIA,West Bengal,Wading,NaN,NaN,UNKNOWN
5858,Reported 1617,1617,Unprovoked,INDIA,West Bengal,NaN,NaN,NaN,UNKNOWN
5860,1595,1595,Unprovoked,INDIA,Kerala,Ship lay at anchor & man was working on its ru...,M,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN
5862,1555,1555,Unprovoked,NaN,NaN,Swimming,M,NaN,UNKNOWN
5863,Ca. 1554,1554,Unprovoked,FRANCE,Nice & Marseilles,NaN,M,NaN,UNKNOWN
5967,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,NaN,M,NaN,UNKNOWN

### Changing 'NaN' to 'No details'

In [19]:
data['Injury']= data['Injury'].str.replace('NaN','No details')

In [20]:
data.loc[data.Injury == 'No details']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
401,08-Sep-13,2013,Unprovoked,USA,South Carolina,NaN,F,No details,UNKNOWN
2035,21-Feb-97,1997,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2070,14-Jul-96,1996,Unprovoked,USA,Hawaii,NaN,NaN,No details,UNKNOWN
2082,28-Apr-96,1996,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2098,14-Jan-96,1996,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2103,18-Dec-95,1995,Unprovoked,USA,Hawaii,NaN,M,No details,UNKNOWN
2163,18-May-95,1995,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2179,1995,1995,Unprovoked,USA,South Carolina,NaN,M,No details,UNKNOWN
2184,Reported 10-Dec-1994,1994,Unprovoked,VANUATU,Tafea Province,NaN,NaN,No details,UNKNOWN
2317,Aug-92,1992,Invalid,USA,Florida,Fisherman,M,No details,UNKNOWN
2436,01-Oct-89,1989,Unprovoked,AUSTRALIA,Victoria,Surfing,M,No details,UNKNOWN
2581,01-Oct-86,1986,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2657,19-Sep-84,1984,Unprovoked,USA,Florida,Swimming,NaN,No details,UNKNOWN
2675,01-Mar-84,1984,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
2718,19-Apr-83,1983,Unprovoked,USA,Florida,Surfing,M,No details,UNKNOWN
2771,1982,1982,Boat,ITALY,Tyrrhenian Sea,Boat,M,No details,UNKNOWN
2773,1982,1982,Unprovoked,TUNISIA,Biserta,Spearfishing,NaN,No details,UNKNOWN
2781,17-Oct-81,1981,Unprovoked,USA,Florida,Surfing,M,No details,UNKNOWN
2816,07-Feb-81,1981,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,No details,UNKNOWN
3171,Apr-70,1970,Unprovoked,SOLOMON ISLANDS,NaN,Swimming,M,No details,UNKNOWN
3186,1970,1970,Unprovoked,CROATIA,Zadar County,Spearfishing,M,No details,UNKNOWN
3204,27-Jun-69,1969,Unprovoked,USA,Florida,Wading,M,No details,UNKNOWN
3216,Feb-69,1969,Invalid,AUSTRALIA,Queensland,Hard hat diving,M,No details,UNKNOWN
3319,14-Nov-66,1966,Unprovoked,THAILAND,NaN,NaN,NaN,No details,UNKNOWN
3422,Ca. 1965,1965,Invalid,SOUTH AFRICA,Eastern Cape Province,Bather,NaN,No details,UNKNOWN
3548,Early 1963,1963,Unprovoked,FIJI,Vita Levu,NaN,NaN,No details,UNKNOWN
4030,25-Mar-56,1956,Boating,ITALY,Ligurian Sea,Boating,NaN,No details,UNKNOWN
4043,1956,1956,Unprovoked,USA,Virginia,Swimming,F,No details,UNKNOWN
4084,1955,1955,Unprovoked,USA,Florida,NaN,NaN,No details,UNKNOWN
4097,02-Oct-54,1954,Boating,CROATIA,Zadar County,Boating,NaN,No details,UNKNOWN
4552,1940,1940,Invalid,SOUTH AFRICA,Eastern Cape Province,Swimming,NaN,No details,UNKNOWN
4559,09-Nov-39,1939,Boating,AUSTRALIA,New South Wales,NaN,NaN,No details,UNKNOWN
4560,06-Nov-39,1939,Boating,AUSTRALIA,New South Wales,NaN,NaN,No details,UNKNOWN
4768,11-Jan-32,1932,Boating,AUSTRALIA,Victoria,Fishing,NaN,No details,UNKNOWN
4799,1931,1931,Unprovoked,PAPUA NEW GUINEA,NaN,NaN,NaN,No details,UNKNOWN
4873,27-May-28,1928,Invalid,INDIA,NaN,NaN,M,No details,UNKNOWN
4928,1926,1926,Unprovoked,SOUTH AFRICA,Western Cape Province,Swimming to mail boat,M,No details,UNKNOWN
5114,1914,1914,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,NaN,F,No details,UNKNOWN
5373,1897,1897,Unprovoked,EGYPT,Mediterranean Sea,NaN,NaN,No details,UNKNOWN
5432,1893,1893,Unprovoked,EGYPT,Mediterranean Sea,NaN,NaN,No details,UNKNOWN
5464,1890,1890,Unprovoked,INDIA,Tamil Nadu,Diving,M,No details,UNKNOWN
5465,1890,1890,Unprovoked,INDIA,Tamil Nadu,Diving,M,No details,UNKNOWN
5583,3-Jul-1879,1879,Unprovoked,USA,California,Bathing,M,No details,N

### Dropping the NEANDERTHAL way all 'No Details'

In [21]:
data = data.drop([401, 2035, 2070, 2082, 2098, 2103, 2163, 2179, 2184, 2317, 2436, 2581, 2657, 2675, 2718, 
                 2771, 2773, 2781, 2816, 3171, 3186, 3204, 3216, 3319, 3422, 3548, 4043, 4084, 4097, 4552, 4559, 
                 4030, 4560, 4768, 4799, 4873, 4928, 5114, 5373, 5432, 5464, 5465, 5583])

### Displaying all 'UNKNOWN' in Fatal

In [22]:
data.loc[data.Fatal == 'UNKNOWN']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
54,02-Jun-16,2016,Unprovoked,AUSTRALIA,New South Wales,Spearfishing,M,"No injury, but sharks repeatedly hit their fin...",UNKNOWN
1047,20-Apr-08,2008,Unprovoked,AUSTRALIA,New South Wales,NaN,M,NaN,UNKNOWN
1142,Jul-07,2007,Invalid,SENEGAL,NaN,Murder,NaN,NaN,UNKNOWN
1844,Reported 03-Mar-2000,2000,Invalid,NEW ZEALAND,North Island,Kayaking,M,Reported as shark attack but probable drowning,UNKNOWN
2025,07-Jun-97,1997,Unprovoked,BRAZIL,Rio de Janeiro,Bathing,M,NaN,UNKNOWN
2042,29-Dec-96,1996,Unprovoked,AUSTRALIA,Queensland,Surfing,M,NaN,UNKNOWN
2423,1990,1990,Unprovoked,USA,Florida,Surfing,M,NaN,UNKNOWN
2425,03-Dec-89,1989,Unprovoked,AUSTRALIA,Northern Territory,NaN,M,"No details, ""recovering in Darwin Hospital""",UNKNOWN
2449,27-Jul-89,1969,Invalid,BERMUDA,NaN,Scuba diving,M,FATAL,UNKNOWN
2813,Mar-81,1981,Unprovoked,BRAZIL,Rio de Janeiro,Diving,NaN,NaN,UNKNOWN
2982,04-Oct-75,1975,Invalid,USA,California,Surfing,NaN,NaN,UNKNOWN
3073,27-Aug-73,1973,Unprovoked,AUSTRALIA,Queensland,NaN,NaN,NaN,UNKNOWN
3209,22-May-69,1969,Unprovoked,DOMINICAN REPUBLIC,NaN,Surfing,M,NaN,UNKNOWN
3231,22-Sep-68,1968,Invalid,USA,Florida,Surfing,NaN,NaN,UNKNOWN
3265,1968,1968,Invalid,USA,Florida,Surfing,NaN,NaN,UNKNOWN
3280,13-Sep-67,1967,Provoked,ITALY,Brindisi Province,Scuba diving,M,"Diver shot the shark, then it injured his arm ...",UNKNOWN
3281,07-Sep-67,1967,Provoked,PAPUA NEW GUINEA,New Ireland Province,Diving,NaN,"No details, listed as PROVOKED INCIDENT",UNKNOWN
3326,13-Sep-66,1966,Provoked,AUSTRALIA,Western Australia,Spearfishing,M,Involved a speared shark but no other details ...,UNKNOWN
3435,27-Sep-64,1964,Invalid,NaN,NaN,Spearfishing,M,"Disappeared, probable drowning but sharks in a...",UNKNOWN
3486,01-Jan-64,1964,Unprovoked,AUSTRALIA,Western Australia,NaN,NaN,NaN,UNKNOWN
3568,Reported 31-Aug-1962,1962,Provoked,ISRAEL,Sharon,Fishing,M,"Details unknown, possibly a PROVOKED INCIDENT",UNKNOWN
3612,02-Feb-62,1962,Boat,NEW ZEALAND,North Island,Fishing,NaN,NaN,UNKNOWN
3615,26-Jan-62,1962,Unprovoked,MOZAMBIQUE,Gaza,NaN,M,NaN,UNKNOWN
3834,26-Sep-59,1959,Boat,USA,South Carolina,Gigging for flounder,NaN,NaN,UNKNOWN
3901,28-Dec-58,1958,Boat,TURKEY,Ahirkapi coast,Fishing,NaN,Boat damaged,UNKNOWN
3982,02-Feb-57,1957,Unprovoked,AUSTRALIA,Western Australia,NaN,M,Man landed at Cape LevÃªque lighthouse in criti...,UNKNOWN
4107,27-Jul-54,1954,Boating,ITALY,Venice Province,Fishing trawler Flavio Gioia,M,No injury to occupants. Shark tore nets & traw...,UNKNOWN
4112,Reported 01-Jul-1954,1954,Invalid,CROATIA,NaN,NaN,NaN,Human remains found in shark,UNKNOWN
4290,Mar-1949 or Apr-1949,1949,Boating,AUSTRALIA,South Australia,NaN,NaN,NaN,UNKNOWN
4294,05-Jan-49,1949,Invalid,AUSTRALIA,Western Australia,NaN,NaN,Human hand recovered,UNKNOWN
...,...,...,...,...,...,...,...,...,...
5121,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,NaN,F,Female foot recovered from shark,UNKNOWN
5134,04-May-12,1912,Invalid,SOUTH AFRICA,KwaZulu-Natal,NaN,M,NaN,UNKNOWN
5173,1910,1910,Unprovoked,PHILIPPINES,Luzon Island,Swimming,M,"Calf removed, not known if he survived",UNKNOWN
5307,17-Jul-01,1901,Invalid,ITALY,Syracuse,Swimming,M,"Disappeared, but shark involvement unconfirmed",UNKNOWN
5308,Reported 29-Jun-1901,1901,Invalid,YEMEN,Aden,Diving around anchored liner,M,NaN,UNKNOWN
5316,13-Sep-00,1900,Unprovoked,USA,Rhode Island,Diving,M,No injury,UNKNOWN
5355,Reported 1898,1898,Invalid,CRETE,NaN,Sponge divers,M,Unknown,UNKNOWN
5411,21-Aug-1894,1894,Unprovoked,USA,New York,Swimming,F,No injury,UNKNOWN
5414,29-Jun-1894,1894,Unprovoked,USA,Florida,Bathing,M,"""Painfully injured"" but no details",UNKNOWN
5437,24-Jun-1892,1892,Invalid,FRANCE,Brittany,Fishing boat,NaN,"No injury, no attack",UNKNOWN
5468,Reported 29-Nov-1889,1889,Invalid,GREECE,Northern Peloponnese,NaN,NaN,"Human remains found in 4m, 900 kg shark",UNKNOWN
5642,Reported 07-Aug-1872,1872,Invalid,CROATIA,NaN,Fishing,M,No injury,UNKNOWN
5697,04-Dec-1862,1862,Invalid,NEW ZEALAND,South Island,NaN,NaN,NaN,UNKNOWN
5699,Reported 02-Aug-1862,1862,Invalid,SPAIN,Malaga,NaN,M,Possible drowning and scavenging,UNKNOWN
5718,16-Mar-1859,1859,Unprovoked,USA,Hawaii,Fell overboard,M,FATAL,UNKNOWN
5726,06-Feb-1856,1856,Unprovoked,AUSTRALIA,Victoria,Swimming,M,Severe bite to thigh. Not known if he survived,UNKNOWN
5747,28-Jul-52,1852,Invalid,ATLANTIC OCEAN,NaN,NaN,F,Death preceded shark involvement,UNKNOWN
5793,Ca. 1837,1837,Invalid,USA,South Carolina,NaN,M,Shark caught contained human remains,UNKNOWN
5794,1836.07.26.R,1836,Invalid,SPAIN,NaN,NaN,NaN,"Shark caught, contained human remains",UNKNOWN
5795,1836.00.,1836,Unprovoked,AUSTRALIA,South Australia,NaN,NaN,"No details, it was the year the first settlers...",UNKNOWN
5820,Reported 22-May-1818,1818,Invalid,NORWAY,NaN,NaN,M,Probable drowning,UNKNOWN
5845,1755,1755,Unprovoked,SWEDEN,Skagerrak arm of the North Sea,NaN,M,NaN,UNKNOWN
5849,1733,1733,Invalid,ICELAND,Bardestrand,NaN,NaN,"Partial hominid remains recovered from shark, ...",UNKNOWN
5856,Reported 1638,1638,Unprovoked,NaN,NaN,NaN,M,NaN,UNKNOWN
5857,Reported 1637,1637,Unprovoked,INDIA,West Bengal,Wading,NaN,NaN,UNKNOWN
5858,Reported 1617,1617,Unprovoked,INDIA,West Bengal,NaN,NaN,NaN,UNKNOWN
5860,1595,1595,Unprovoked,INDIA,Kerala,Ship lay at anchor & man was working on its ru...,M,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN
5862,1555,1555,Unprovoked,NaN,NaN,Swimming,M,NaN,UNKNOWN
5863,Ca. 1554,1554,Unprovoked,FRANCE,Nice & Marseilles,NaN,M,NaN,UNKNOWN
5967,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,NaN,M,NaN,UNKNOWN

### Droping all Null values in Injury
#### Apparently this did not work. data['Injury']= data['Injury'].str.replace('NaN','No details')

In [23]:
data = data.dropna(subset=['Injury'])

### Recounting Fatal without NaN

In [24]:
fatal_count = data.Fatal.value_counts()
print(fatal_count)

N          4324
Y          1554
UNKNOWN      44
Name: Fatal, dtype: int64

In [25]:
data.loc[data.Fatal == 'UNKNOWN']

,Date,Year,Type,Country,Area,Activity,Sex,Injury,Fatal
54,02-Jun-16,2016,Unprovoked,AUSTRALIA,New South Wales,Spearfishing,M,"No injury, but sharks repeatedly hit their fin...",UNKNOWN
1844,Reported 03-Mar-2000,2000,Invalid,NEW ZEALAND,North Island,Kayaking,M,Reported as shark attack but probable drowning,UNKNOWN
2425,03-Dec-89,1989,Unprovoked,AUSTRALIA,Northern Territory,NaN,M,"No details, ""recovering in Darwin Hospital""",UNKNOWN
2449,27-Jul-89,1969,Invalid,BERMUDA,NaN,Scuba diving,M,FATAL,UNKNOWN
3280,13-Sep-67,1967,Provoked,ITALY,Brindisi Province,Scuba diving,M,"Diver shot the shark, then it injured his arm ...",UNKNOWN
3281,07-Sep-67,1967,Provoked,PAPUA NEW GUINEA,New Ireland Province,Diving,NaN,"No details, listed as PROVOKED INCIDENT",UNKNOWN
3326,13-Sep-66,1966,Provoked,AUSTRALIA,Western Australia,Spearfishing,M,Involved a speared shark but no other details ...,UNKNOWN
3435,27-Sep-64,1964,Invalid,NaN,NaN,Spearfishing,M,"Disappeared, probable drowning but sharks in a...",UNKNOWN
3568,Reported 31-Aug-1962,1962,Provoked,ISRAEL,Sharon,Fishing,M,"Details unknown, possibly a PROVOKED INCIDENT",UNKNOWN
3901,28-Dec-58,1958,Boat,TURKEY,Ahirkapi coast,Fishing,NaN,Boat damaged,UNKNOWN
3982,02-Feb-57,1957,Unprovoked,AUSTRALIA,Western Australia,NaN,M,Man landed at Cape LevÃªque lighthouse in criti...,UNKNOWN
4107,27-Jul-54,1954,Boating,ITALY,Venice Province,Fishing trawler Flavio Gioia,M,No injury to occupants. Shark tore nets & traw...,UNKNOWN
4112,Reported 01-Jul-1954,1954,Invalid,CROATIA,NaN,NaN,NaN,Human remains found in shark,UNKNOWN
4294,05-Jan-49,1949,Invalid,AUSTRALIA,Western Australia,NaN,NaN,Human hand recovered,UNKNOWN
4462,1943,1943,Unprovoked,USA,Hawaii,NaN,M,"Unprovoked, but circumstances unknown",UNKNOWN
4869,Reported 24-Aug-1928,1928,Invalid,USA,New Jersey,NaN,M,Thumb & coat sleeve recovered from shark's gut,UNKNOWN
4935,15-Jun-25,1925,Invalid,AUSTRALIA,Western Australia,NaN,NaN,Human arm found in shark,UNKNOWN
4958,08-Feb-24,1924,Invalid,AUSTRALIA,Queensland,Bathing,M,Probable drowning & scavenging,UNKNOWN
4977,27-Jan-23,1923,Invalid,AUSTRALIA,Western Australia,NaN,M,Death may have been due to drowning,UNKNOWN
4987,29-Oct-22,1922,Invalid,AUSTRALIA,New South Wales,Sailing,M,"FATAL, but shark involvement prior to death un...",UNKNOWN
5014,Reported 11-Jan-1921,1921,Invalid,PHILIPPINES,"Cavite Province, Luzon",NaN,NaN,Buttons & shoes found in shark caught in fish ...,UNKNOWN
5038,16-Mar-19,1919,Invalid,AUSTRALIA,New South Wales,Cutter capsized,M,Shark involvement not confirmed,UNKNOWN
5097,Ca. 1915,1915,Invalid,USA,Florida,NaN,M,"Fatal, drowning or scavenging",UNKNOWN
5120,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,NaN,M,Man's leg recovered from 800-lb shark,UNKNOWN
5121,Reported 27-Aug-1913,1913,Invalid,USA,New Jersey,NaN,F,Female foot recovered from shark,UNKNOWN
5173,1910,1910,Unprovoked,PHILIPPINES,Luzon Island,Swimming,M,"Calf removed, not known if he survived",UNKNOWN
5307,17-Jul-01,1901,Invalid,ITALY,Syracuse,Swimming,M,"Disappeared, but shark involvement unconfirmed",UNKNOWN
5316,13-Sep-00,1900,Unprovoked,USA,Rhode Island,Diving,M,No injury,UNKNOWN
5355,Reported 1898,1898,Invalid,CRETE,NaN,Sponge divers,M,Unknown,UNKNOWN
5411,21-Aug-1894,1894,Unprovoked,USA,New York,Swimming,F,No injury,UNKNOWN
5414,29-Jun-1894,1894,Unprovoked,USA,Florida,Bathing,M,"""Painfully injured"" but no details",UNKNOWN
5437,24-Jun-1892,1892,Invalid,FRANCE,Brittany,Fishing boat,NaN,"No injury, no attack",UNKNOWN
5468,Reported 29-Nov-1889,1889,Invalid,GREECE,Northern Peloponnese,NaN,NaN,"Human remains found in 4m, 900 kg shark",UNKNOWN
5642,Reported 07-Aug-1872,1872,Invalid,CROATIA,NaN,Fishing,M,No injury,UNKNOWN
5699,Reported 02-Aug-1862,1862,Invalid,SPAIN,Malaga,NaN,M,Possible drowning and scavenging,UNKNOWN
5718,16-Mar-1859,1859,Unprovoked,USA,Hawaii,Fell overboard,M,FATAL,UNKNOWN
5726,06-Feb-1856,1856,Unprovoked,AUSTRALIA,Victoria,Swimming,M,Severe bite to thigh. Not known if he survived,UNKNOWN
5747,28-Jul-52,1852,Invalid,ATLANTIC OCEAN,NaN,NaN,F,Death preceded shark involvement,UNKNOWN
5793,Ca. 1837,1837,Invalid,USA,South Carolina,NaN,M,Shark caught contained human remains,UNKNOWN
5794,1836.07.26.R,1836,Invalid,SPAIN,NaN,NaN,NaN,"Shark caught, contained human remains",UNKNOWN
5795,1836.00.,1836,Unprovoked,AUSTRALIA,South Australia,NaN,NaN,"No details, it was the year the first settlers...",UNKNOWN
5820,Reported 22-May-1818,1818,Invalid,NORWAY,NaN,NaN,M,Probable drowning,UNKNOWN
5849,1733,1733,Invalid,ICELAND,Bardestrand,NaN,NaN,"Partial hominid remains recovered from shark, ...",UNKNOWN
5860,1595,1595,Unprovoked,INDIA,Kerala,Ship lay at anchor & man was working on its ru...,M,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN

### Dropping all 'UNKNOWN' from Fatal column

In [26]:
to_drop=['UNKNOWN']
clean_data = data[~data['Fatal'].isin(to_drop)]

### Recounting Fatal column

In [27]:
fatal_count = clean_data.Fatal.value_counts()
print(fatal_count)

N    4324
Y    1554
Name: Fatal, dtype: int64

In [28]:
fatal_count.describe()

count       2.000000
mean     2939.000000
std      1958.685784
min      1554.000000
25%      2246.500000
50%      2939.000000
75%      3631.500000
max      4324.000000
Name: Fatal, dtype: float64

## Primera Conclusion
#### En una muestra de 5.878 ataques de tiburones podemos concluir que aproximadamente 29,39% de los ataques de tiburones son letales.

In [29]:
fatal_count.mean()

2939.0