In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# https://www.abc.es/ciencia/abci-cual-probabilidad-real-ataque-tiburon-201902272030_noticia.html

In [2]:
csvRoute= "../GSAF5.csv"
df = pd.read_csv(csvRoute, encoding='iso-8859-1')
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [3]:
len(df.columns)

24

In [4]:
colsInWeb=['Case Number','Date','Year','Type','Country','Area','Location',
           'Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','Species','Investigator or Source']

len(colsInWeb)

16

In [5]:
# Borrar columnas que no necesito
df = df.drop(['pdf', 'href formula', 'href','Case Number.1', 'Case Number.2', 'Unnamed: 22','Unnamed: 23', 'original order'], axis=1)
df_column_list = df.columns.tolist()
len(df_column_list)

16

In [6]:
# Eliminar años no deseados.

df =df[(df['Year']<2016) & (df['Year']>=1960)]

In [7]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source
103,2015.12.26,26-Dec-15,2015,Boat,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,Occupant: Grant Wardell,M,NaN,"No injury, kayak damaged",N,Morning,"White shark, 3 m","Traveller24, 12/26/2015"
104,2015.12.25,25-Dec-15,2015,Unprovoked,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,Cristina Ojeda-Thies,F,38,Lacerations to left forearm,N,NaN,"Silky shark, 6.5'","Diaro de Visos, 12/26/2015"
105,2015.12.22,22-Dec-15,2015,Unprovoked,USA,Hawaii,La'aloa Beach Park,Paddle boarding,Robert Ford,M,71,"No injury, shark bit board",N,Morning,9' shark,"West Hawaii Today, 12/23/2015"
106,2015.12.21.b,21-Dec-15,2015,Unprovoked,AUSTRALIA,New South Wales,Bondi Beach,Surfing,Dean Norburn,M,43,"No injury, shark leapt on surfboard",N,07h00,"Bronze whaler shark, 6'","The Telegraph, 12/22/;2015"
107,2015.12.21.a,21-Dec-15,2015,Unprovoked,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,Márcio de Castro Palma,M,32,Right hand & part of forearm removed,N,NaN,"Tiger shark, 1.5 m","Fox News, 12/22/2015"

In [7]:
col_descartadas=['Case Number','Type','Name','Sex','Species','Investigator or Source']

# Un error que se puede encontrar son los espacios en el nombre de las columnas.
df_descartado= df[col_descartadas]

KeyError: "['Sex', 'Species'] not in index"

In [8]:
df_column_list = [c.strip() for c in df_column_list]
df.columns = df_column_list
df_descartado= df[col_descartadas]
df_descartado.head()

,Case Number,Type,Name,Sex,Species,Investigator or Source
103,2015.12.26,Boat,Occupant: Grant Wardell,M,"White shark, 3 m","Traveller24, 12/26/2015"
104,2015.12.25,Unprovoked,Cristina Ojeda-Thies,F,"Silky shark, 6.5'","Diaro de Visos, 12/26/2015"
105,2015.12.22,Unprovoked,Robert Ford,M,9' shark,"West Hawaii Today, 12/23/2015"
106,2015.12.21.b,Unprovoked,Dean Norburn,M,"Bronze whaler shark, 6'","The Telegraph, 12/22/;2015"
107,2015.12.21.a,Unprovoked,Márcio de Castro Palma,M,"Tiger shark, 1.5 m","Fox News, 12/22/2015"

In [9]:
col_estudio = [c for c in df_column_list if c not in df_descartado]
df_estudio= df[col_estudio]
df_estudio.head()

,Date,Year,Country,Area,Location,Activity,Age,Injury,Fatal (Y/N),Time
103,26-Dec-15,2015,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,NaN,"No injury, kayak damaged",N,Morning
104,25-Dec-15,2015,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,38,Lacerations to left forearm,N,NaN
105,22-Dec-15,2015,USA,Hawaii,La'aloa Beach Park,Paddle boarding,71,"No injury, shark bit board",N,Morning
106,21-Dec-15,2015,AUSTRALIA,New South Wales,Bondi Beach,Surfing,43,"No injury, shark leapt on surfboard",N,07h00
107,21-Dec-15,2015,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,32,Right hand & part of forearm removed,N,NaN

In [10]:
# Renombrar una/s columna:
df_estudio = df_estudio.rename(columns={'Fatal (Y/N)':'Deadly'})
df_estudio.head()

,Date,Year,Country,Area,Location,Activity,Age,Injury,Deadly,Time
103,26-Dec-15,2015,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,Kayak Fishing,NaN,"No injury, kayak damaged",N,Morning
104,25-Dec-15,2015,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Swimming,38,Lacerations to left forearm,N,NaN
105,22-Dec-15,2015,USA,Hawaii,La'aloa Beach Park,Paddle boarding,71,"No injury, shark bit board",N,Morning
106,21-Dec-15,2015,AUSTRALIA,New South Wales,Bondi Beach,Surfing,43,"No injury, shark leapt on surfboard",N,07h00
107,21-Dec-15,2015,BRAZIL,Pernambuco,Fernano de Noronha,Scuba diving,32,Right hand & part of forearm removed,N,NaN

In [11]:
# Reordenar columnas:
col_est_orden= ['Date','Year','Time','Country','Area','Location', 'Injury','Deadly', 'Age', 'Activity']
df_est_orden= df_estudio[col_est_orden]
df_est_orden.head()

,Date,Year,Time,Country,Area,Location,Injury,Deadly,Age,Activity
103,26-Dec-15,2015,Morning,SOUTH AFRICA,KwaZulu-Natal,Westbrook Beach,"No injury, kayak damaged",N,NaN,Kayak Fishing
104,25-Dec-15,2015,NaN,SPAIN,Grand Canary Island,"Arinaga Beach, Aguimes, Gran Canaria",Lacerations to left forearm,N,38,Swimming
105,22-Dec-15,2015,Morning,USA,Hawaii,La'aloa Beach Park,"No injury, shark bit board",N,71,Paddle boarding
106,21-Dec-15,2015,07h00,AUSTRALIA,New South Wales,Bondi Beach,"No injury, shark leapt on surfboard",N,43,Surfing
107,21-Dec-15,2015,NaN,BRAZIL,Pernambuco,Fernano de Noronha,Right hand & part of forearm removed,N,32,Scuba diving

In [12]:
df_est_orden.shape

(3705, 10)

In [13]:
# Nulos
col_w_nulls= df_est_orden.isnull()
col_w_nulls.sum().sort_values(ascending=False)

Time        1483
Age         1132
Activity     256
Location     222
Area         176
Injury        14
Country       11
Deadly         4
Year           0
Date           0
dtype: int64

In [14]:
df_est_orden.dtypes

Date        object
Year         int64
Time        object
Country     object
Area        object
Location    object
Injury      object
Deadly      object
Age         object
Activity    object
dtype: object

In [15]:
# Rellenar los na con 'NoData'
df_est_orden['Age']=df_est_orden['Age'].fillna('NoData')

In [19]:
# Age no me cuadra que sea objeto, quiero int o float. Voy a analizarlo.
df_est_orden['Age'].value_counts()

NoData            1132
17                 104
20                 104
16                 102
19                 101
15                  97
18                  94
24                  92
21                  87
22                  84
25                  80
14                  73
28                  62
29                  62
27                  62
26                  62
13                  60
32                  57
30                  57
23                  55
35                  53
12                  48
10                  43
31                  42
40                  38
34                  36
43                  35
33                  35
37                  33
38                  33
                  ...
86                   1
                     1
8 or 10              1
18 months            1
30 or 36             1
>50                  1
21, 34,24 & 35       1
50s                  1
84                   1
23 & 26              1
73                   1
30 & 32              1
7      &    31       1
9 months             1
18 or 20             1
36 & 26              1
Teens                1
mid-30s              1
25 or 28             1
18 to 22             1
67                   1
12 or 13             1
3                    1
9 & 12               1
21 & ?               1
23 & 20              1
33 or 37             1
46 & 34              1
28 & 26              1
25 to 35             1
Name: Age, Length: 123, dtype: int64

In [58]:
# Veo que hay valores alfa no deseados, voy a tratarlos.

pat= '[^0-9]'
col_age= df_est_orden['Age']
list_age= [a for a in col_age]
list_age_sub= [re.sub(pat,"",a) for a in list_age]
list_age_sub
df_est_orden['Age'] = df_est_orden['Age'].apply(list_age_sub)
df_est_orden

ValueError:  is an unknown string function

In [ ]:
# Age voy a poner la media de edad.
df_est_orden['Age'].mean()

In [ ]:
top3countries = df_est_orden.Country.value_counts().head(3)
top3countries

In [ ]:
countries = top3countries.reset_index()
countries.columns = ['Pais', 'Ataques']
countries

In [ ]:
sns.barplot(countries.Pais, countries.Ataques, palette="Set1")
plt.xticks(rotation=45)
plt.show()

In [ ]:
null_cols = df.isnull().sum()
null_cols[null_cols>0].sort_values(ascending=False)

In [ ]:
df['Year_cleaned'] = df[df['Year']>1960]['Year']
Years_values = df['Year_cleaned'].value_counts().sort_index()

# Investigar .plot de matplotlib
Years_values.plot(title="Shark Attacks per year")

In [ ]:
# La barra es el cambio de linea
df[df['Fatal (Y/N)'].isin(['Y','N'])]["Fatal (Y/N)"].value_counts()\
.plot(kind='bar', title= "Was the attack fatal?",legend = True, color= ['green','red'])