In [1]:
import pandas as pd
import csv
with open('GSAF5.csv') as csvfile:   
    data = pd.read_csv('GSAF5.csv', encoding='latin-1')
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [2]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
#data.count() #-> Registros por columna

In [13]:
# data['Country'].count()  # -> Registros de una columna

In [54]:
country_grouped = data.groupby('Country').count() #[['Area']]
country_grouped.head()

,Case Number,Date,Year,Type,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
Country,,,,,,,,,,,,,,,,,,,,,
PHILIPPINES,1,1,1,1,1,0,1,1,1,0,...,0,1,1,1,1,1,1,1,0,0
TONGA,3,3,3,3,3,3,3,3,3,1,...,2,3,3,3,3,3,3,3,0,0
ADMIRALTY ISLANDS,1,1,1,1,1,1,0,1,1,1,...,0,1,1,1,1,1,1,1,0,0
ALGERIA,1,1,1,1,0,1,1,1,1,0,...,0,1,1,1,1,1,1,1,0,0
AMERICAN SAMOA,3,3,3,3,3,3,3,3,3,3,...,2,3,3,3,3,3,3,3,0,0

In [44]:
country_grouped2 = data.sort_values('Country')#.groupby('Country').count() #[['Area']]#.sort_values('count', ascending=False)
country_grouped2.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4409,1944.10.26.a,26-Oct-44,1944,Sea Disaster,PHILIPPINES,Bernardino Strait near Gulf of Leyte,NaN,USS Hoel DD 533 sunk on 10/24/1944 in the Batt...,2 men,M,...,NaN,"Glenn Hatch Parkin, gunner",1944.10.26.a-2men-incomplete.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1944.10.26.a,1944.10.26.a,1584,NaN,NaN
1811,2000.07.12,12-Jul-00,2000,Unprovoked,TONGA,Minerva Reef,Treated at Nuku-alofa,Scuba diving,Christian Eckoff,M,...,"Grey reef shark, 2 m [6.75']",www.spearfishingsa.co.za,2000.07.12-Eckoff.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.07.12,2000.07.12,4182,NaN,NaN
1455,2004.04.13.a,13-Apr-04,2004,Invalid,TONGA,Nuku'alofa,30 nautical miles offshore,Five men on makeshift raft after their 10 m fi...,male 1,M,...,NaN,"New Zealand Herald, 4/15/2004",2004.04.13.a-Tonga.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.04.13.a,2004.04.13.a,4538,NaN,NaN
1454,2004.04.13.b,13-Apr-04,2004,Unprovoked,TONGA,Nuku'alofa,30 nautical miles offshore,Five men on makeshift raft after their 10 m fi...,male 2,M,...,small sharks,"New Zealand Herald, 4/15/2004",2004.04.13.b-Tonga.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2004.04.13.b,2004.04.13.b,4539,NaN,NaN
3560,1962.10.15,15-Oct-62,1962,Unprovoked,ADMIRALTY ISLANDS,Manus Island,Sisi (west coast of island),NaN,Pasingan,M,...,NaN,SAF Case #1116,1962.10.15-Pasigan.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1962.10.15,1962.10.15,2433,NaN,NaN