In [ ]:
#Ataques de tiburones durante la WWI y WWII en los paises donde había batalla

In [ ]:
#Importo las librerias y abró el csv"

In [1]:
import numpy as np
import pandas as pd
datos=pd.read_csv("/home/vicente/projectspandas/GSAF5.csv", encoding = "ISO-8859-1")
df=pd.DataFrame(datos)

In [ ]:
#Ver el nombre de las columnas, tipo de las variables y cuantos null tienen "

In [ ]:
df.info()

In [ ]:
#Veo como estan los datos metidos

In [ ]:
df.head()

In [ ]:
#Ver en que paises existen ataques registrados

In [ ]:
df["Country"].value_counts()

In [ ]:
#Años que existen registros de ataques

In [ ]:
df["Year"].value_counts()

In [ ]:
#antes de filtrar la variable por los años me quedo con las columnas que pueden ser interesantes

In [2]:
columnas=('Date','Year','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal','Species')
dfc=pd.DataFrame(df,columns=columnas)

In [ ]:
dfc.head()

In [ ]:
#Filtro por los años que me interesan , 1ª pongo los años como indice para poder filtrar y tenerla de",
#referente, visualizo en que paises han sido los ataques"

In [3]:
dfc.set_index("Year", inplace=True)

In [ ]:
dfc.head()

In [37]:
iniciowwi=1914
finalwwi= 1918
dfwwi=dfc.loc[finalwwi:iniciowwi]
inicioentre=1919
finalentre= 1938
dfentre=dfc.loc[finalentre:inicioentre]
iniciowwii=1939
finalwwii= 1945
dfwwii=dfc.loc[finalwwii:iniciowwii]
iniciodatos=1914
finaldatos=1945
dfperiodo=dfc.loc[finaldatos:iniciodatos]

In [ ]:
dfentre.info()

In [ ]:
#dado que no existen datos en unas columnas las elimino, pensé en quitarlas en la selección de columnas
#pero podía no entenderse porque no escojo esas columnas

In [32]:
dfwwi = dfwwi.drop(['Sex', 'Fatal','Species'], axis=1)
dfwwii = dfwwii.drop(['Sex', 'Fatal','Species'], axis=1)
dfentre = dfentre.drop(['Sex', 'Fatal','Species'], axis=1)
dfperiodo = dfperiodo.drop(['Sex', 'Fatal','Species'], axis=1)

In [ ]:
dfwwi.info()

In [ ]:
#quitamos nulos de existir

In [ ]:
before = len(dfperiodo)
dfperiodo2 = dfperiodo.drop_duplicates()
after = len(dfperiodo)
print('Number of duplicate records dropped: ', str(before - after))

In [ ]:
#como las fechas de las guerras son:
#WWI - 28-VII-1914---11-XI-1918
#WWII 1-IX-1939------2-IX-1945
#por ello tomando la variable "Date" se deben de quitar o incorporar en entreguerras los días que están
#en este ámbito

In [61]:
df14=dfc.loc[1914]
df18=dfc.loc[1918]
df39=dfc.loc[1939]
df45=dfc.loc[1945]

In [ ]:
#con expresiones regulares homogeinizo la variable "día"

In [136]:
import re 
def data_new14(Date):
    parather = "^\w+. \D*"
    new_date= re.sub(parather,"",Date)
    parather2= "-19"
    new_date=re.sub(parather2,"-",new_date)
    parather3= "1914"
    new_date=re.sub(parather3,"31-Dec-14",new_date)
    parather4= "-"
    new_date=re.sub(parather4,"",new_date)
    return new_date
def data_new18(Date):
    parather = "1918"
    new_date18= re.sub(parather,"31-Dec-18",Date)
    parather2 = "^\s*"
    new_date18= re.sub(parather2,"30-",new_date18)
    parather3 = "30-\d"
    new_date18= re.sub(parather3,"1",new_date18)
    parather4= "-"
    new_date18=re.sub(parather4,"",new_date18)
    return new_date18
def data_new39(Date):
    parather = "^\w+. \D*"
    new_date39= re.sub(parather,"-",Date)
    parather4= "-19"
    new_data39=re.sub(parather4,"-",new_date39)
    parather2= "-"
    new_date39=re.sub(parather2,"",new_date39)
    parather3= "1939"
    new_date39= re.sub(parather3,"31-Dec-39",new_date39)
    return new_date39
def data_new45(Date):
    parather = " 1945"
    new_data45= re.sub(parather,"31-Dec-45",Date)
    parather2= "-19"
    new_data45=re.sub(parather2,"-",new_data45)
    parather3 = "^\s*"
    new_data45= re.sub(parather3,"30-",new_data45)
    parather4 = "30-\d"
    new_data45= re.sub(parather4,"1",new_data45)
    return new_data45

In [137]:
df14nueva= df14.Date.apply(data_new14)
df18nueva= df18.Date.apply(data_new18)
df39nueva= df39.Date.apply(data_new39)
df45nueva= df45.Date.apply(data_new45)

In [139]:
df18nueva

Year
1918    30Nov18
1918    30Nov18
1918    19Sep18
1918    12Mar18
1918    11Dec18
Name: Date, dtype: object

In [ ]:
#creo dos nuevas variables con los días del año que coinciden con cada periodo

In [106]:
a=pd.to_datetime("30Nov18", format='%d%b%y')
a

Timestamp('2018-11-30 00:00:00')

In [ ]:
#dfwwi= dfwwi + df14wwi + df18wwi
#dfentre= df18entre + dfentre + df39entre
#dfwwii= df39wwii + dfwwii + df45wii

In [ ]:
#una vez obtenida estos datos podemos ver el numero de casos de ataques que hubo en la WWI, entre guerras 
# y en la WWII

In [38]:
dfentre = dfentre.drop(dfentre[dfentre['Age']=='?    &   14'].index)

In [39]:
#homogeneizamos las edades para poder hacer una categorización posterior
dfwwi['Age'] = dfwwi['Age'].str.replace('10 or 12', '11')
dfentre['Age'] = dfentre['Age'].str.replace('A.M.', '-1')
dfentre['Age'] = dfentre['Age'].str.replace('36 & 23', '36')
dfentre['Age'] = dfentre['Age'].str.replace('50s', '50')
dfentre['Age'] = dfentre['Age'].str.replace('9 or 10', '10')
dfentre['Age'] = dfentre['Age'].str.replace('Teen','15')
dfentre['Age'] = dfentre['Age'].str.replace('young', '16')
dfentre['Age'] = dfentre['Age'].str.replace('  ', '14')
dfentre['Age'] = dfentre['Age'].str.replace('1414', '-1')
dfwwii['Age'] = dfwwii['Age'].str.replace('F', '-1')
dfwwii['Age'] = dfwwii['Age'].str.replace('Both 11', '28')
dfwwii['Age'] = dfwwii['Age'].str.replace('8 or 10', '10')


dfentre['Age'] = dfentre['Age'].fillna('-1')
dfwwi['Age'] = dfwwi['Age'].fillna('-1')
dfwwii['Age'] = dfwwii['Age'].fillna('-1')

/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
dfentre["Age"].value_counts()

-1    296
18     14
17     14
16     10
38      8
15      8
19      8
20      8
14      7
13      7
12      5
22      4
27      4
24      4
21      4
25      4
23      4
50      4
26      3
10      2
32      2
39      2
40      2
8       2
29      2
34      1
5       1
70      1
28      1
47      1
54      1
31      1
45      1
33      1
78      1
9       1
55      1
43      1
11      1
30      1
53      1
49      1
36      1
42      1
Name: Age, dtype: int64

In [ ]:
#cambio el tipo a int de "Age" y se realizan los cortes por edad y etiqueta

In [40]:
dfwwi['Age'] = dfwwi['Age'].astype('int')
etiquetas= ['Unknown','Joven','Adulto','Mayor']
cortes = [-100,-1,20,60,1000]
dfwwicat = pd.cut(dfwwi['Age'],cortes, labels=etiquetas)
dfwwii['Age'] = dfwwii['Age'].astype('int')
etiquetas= ['Unknown','Joven','Adulto','Mayor']
cortes = [-100,-1,20,60,1000]
dfwwiicat = pd.cut(dfwwii['Age'],cortes, labels=etiquetas)
dfentre['Age'] = dfentre['Age'].astype('int')
etiquetas= ['Unknown','Joven','Adulto','Mayor']
cortes = [-100,-1,20,60,1000]
dfentrecat = pd.cut(dfentre['Age'],cortes, labels=etiquetas)

/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/vicente/.local/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [83]:
dfwwicatv = dfwwicat.value_counts()*100/len(dfwwicat)

In [84]:
dfentrecatv = dfentrecat.value_counts()*100/len(dfentrecat)

In [85]:
dfwwiicatv = dfwwiicat.value_counts()*100/len(dfwwiicat)

In [52]:
dfentrecat2 = dfentrecat.drop(dfentrecat[dfentrecat == "Unknown"].index)

In [93]:
print("WWI",dfwwicatv,"Entreguerras",dfentrecatv,"WWII" ,dfwwiicatv )

WWI Unknown    78.571429
Adulto     11.428571
Joven      10.000000
Mayor       0.000000
Name: Age, dtype: float64 Entreguerras Unknown    66.219239
Joven      19.686801
Adulto     13.646532
Mayor       0.447427
Name: Age, dtype: float64 WWII Unknown    67.015707
Joven      18.848168
Adulto     13.612565
Mayor       0.523560
Name: Age, dtype: float64

In [113]:
dfentre = pd.merge(dfentre, dfentrecat, on='Year')
dfwwi = pd.merge(dfwwi, dfwwicat, on='Year')
dfwwii = pd.merge(dfwwii, dfwwiicat, on='Year')

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age_x,Injury,Fatal,Species,Age_y
Year,,,,,,,,,,,,,
1938,27-Dec-38,Unprovoked,AUSTRALIA,New South Wales,"North Beach, Belligen River",Swimming,Daniel Graham,NaN,19,"FATAL, thought to have been taken by a shark",NaN,NaN,Joven
1938,27-Dec-38,Unprovoked,AUSTRALIA,New South Wales,"North Beach, Belligen River",Swimming,Daniel Graham,NaN,19,"FATAL, thought to have been taken by a shark",NaN,NaN,Joven
1938,27-Dec-38,Unprovoked,AUSTRALIA,New South Wales,"North Beach, Belligen River",Swimming,Daniel Graham,NaN,19,"FATAL, thought to have been taken by a shark",NaN,NaN,Unknown
1938,27-Dec-38,Unprovoked,AUSTRALIA,New South Wales,"North Beach, Belligen River",Swimming,Daniel Graham,NaN,19,"FATAL, thought to have been taken by a shark",NaN,NaN,Unknown
1938,27-Dec-38,Unprovoked,AUSTRALIA,New South Wales,"North Beach, Belligen River",Swimming,Daniel Graham,NaN,19,"FATAL, thought to have been taken by a shark",NaN,NaN,Unknown