# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [200]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [201]:
data = pd.read_csv('customer_product_sales.csv')

In [202]:
data.head(20)

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20
5,83106,Hope,Bowers,6484922,229,Bread - Hot Dog Buns,22
6,11253,Nicolas,Holmes,4878478,229,Bread - Hot Dog Buns,3
7,35107,Judith,Miranda,2353899,229,Bread - Hot Dog Buns,9
8,15088,Ruby,Lowe,37021,229,Bread - Hot Dog Buns,4
9,26031,Josephine,Curry,2327232,229,Bread - Hot Dog Buns,7
10,26031,Josephine,Curry,2634983,229,Bread - Hot Dog Buns,7
11,86595,Emily,Huff,248932,229,Bread - Hot Dog Buns,22
12,46715,Angelo,Ballard,1630185,229,Bread - Hot Dog Buns,12
13,91013,Toni,Hayden,3952547,229,Bread - Hot Dog Buns,24
14,69931,Jennie,Bishop,4638141,229,Bread - Hot Dog Buns,18
15,19753,Alana,Carroll,4143712,229,Bread - Hot Dog Buns,6
16,9546,Dianna,Cline,62517,229,Bread - Hot Dog Buns,3
17,10224,Stacie,Larson,436036,229,Bread - Hot Dog Buns,3
18,72846,Carlton,Cowan,5428647,229,Bread - Hot Dog Buns,19
19,28976,Gabrielle,Vaughan,4404856,229,Bread - Hot Dog Buns,8

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [203]:
mydataframe = data.groupby(["CustomerID", "ProductName"]).agg({'Quantity':'sum'})
mydataframe.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [204]:
#filtered = data[(data["CustomerID"] == 97753) & (data["ProductName"] == "Anchovy Paste - 56 G Tube")]
#filtered

In [205]:
mydataframe2 = pd.pivot_table(mydataframe, values = "Quantity", index = "ProductName", columns = "CustomerID", 
                              fill_value = 0)
mydataframe2.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [206]:
from scipy.spatial.distance import pdist, squareform

sim_matrix = squareform(pdist(mydataframe2.T, "euclidean"))

sim_matrix

array([[  0.        ,  11.91637529,  10.48808848, ..., 228.62851966,
        239.        , 229.77380181],
       [ 11.91637529,   0.        ,  11.74734012, ..., 228.01096465,
        239.03765394, 229.70415756],
       [ 10.48808848,  11.74734012,   0.        , ..., 228.08112592,
        238.26665734, 229.77380181],
       ...,
       [228.62851966, 228.01096465, 228.08112592, ...,   0.        ,
        304.13812651, 305.16389039],
       [239.        , 239.03765394, 238.26665734, ..., 304.13812651,
          0.        , 303.10889132],
       [229.77380181, 229.70415756, 229.77380181, ..., 305.16389039,
        303.10889132,   0.        ]])

In [207]:
customerIDs = mydataframe2.columns.values

In [208]:
similaritydf = pd.DataFrame(1/(1 + squareform(pdist(mydataframe2.T, "euclidean"))), 
                         index = customerIDs, columns = customerIDs)

display(similaritydf.head())

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [209]:
similarities = pd.DataFrame(similaritydf[33].sort_values(ascending=False)[:5])
display(similarities)
print(similarities.index)

            33
33    1.000000
264   0.087047
3535  0.087047
3317  0.087047
2503  0.085983

Int64Index([33, 264, 3535, 3317, 2503], dtype='int64')

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [210]:
sim_custs = data[data["CustomerID"].isin(similarities.index)]
sim_custs.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
159,264,Virgil,Small,24688,270,Cheese Cloth No 100,1
242,3535,Lana,Peters,2399506,270,Cheese Cloth No 100,1
527,33,Lindsay,Santana,1899667,432,Beer - Original Organic Lager,1
1017,33,Lindsay,Santana,6509275,417,"Lamb - Pieces, Diced",1
1038,2503,Kyle,Reeves,182355,417,"Lamb - Pieces, Diced",1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [212]:
sim_cust2 = pd.DataFrame(sim_custs.groupby("ProductName").agg({'Quantity':'sum'}).sort_values('Quantity', ascending = False)).reset_index()
sim_cust2.head()

             ProductName  Quantity
0  Pepper - Black, Whole         4
1      Butter - Unsalted         3
2        Grouper - Fresh         3
3  Veal - Inside, Choice         3
4      Veal - Sweetbread         3

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [157]:
mydataframe2.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
ProductName,,,,,,,,,,,,,,,,,,,,,
Anchovy Paste - 56 G Tube,0,0,0,0,0,0,0,1,0,0,...,0,25,0,0,0,0,0,0,0,0
"Appetizer - Mini Egg Roll, Shrimp",0,0,0,0,0,0,0,0,0,0,...,25,25,0,0,0,0,0,0,0,0
Appetizer - Mushroom Tart,0,0,0,0,0,0,0,1,0,0,...,25,0,0,0,0,0,0,0,25,0
Appetizer - Sausage Rolls,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,25,25,25,0,25,0
Apricots - Dried,1,0,0,0,1,0,0,0,0,0,...,0,25,0,0,0,0,0,0,0,0

In [162]:
m = sim_cust2.merge(mydataframe2, left_on = "ProductName", right_on = "ProductName")
m2 = m[["ProductName", "Quantity", 33]]
m2.head()

             ProductName  Quantity  33
0  Pepper - Black, Whole         4   1
1      Butter - Unsalted         3   0
2        Grouper - Fresh         3   2
3  Veal - Inside, Choice         3   2
4      Veal - Sweetbread         3   1

In [167]:
sim_cust2_no33 = m2[m2[33] == 0]
sim_cust2_no33.head()

top5 = m2["ProductName"][:5]
top5

0    Pepper - Black, Whole
1        Butter - Unsalted
2          Grouper - Fresh
3    Veal - Inside, Choice
4        Veal - Sweetbread
Name: ProductName, dtype: object

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [176]:
recommendations = {}

customers = list(set(data["CustomerID"]))

# Encuentro los 5 usuarios similares:
similarities = pd.DataFrame(similaritydf[33].sort_values(ascending=False)[:5])

# Creo el dataframe con los registros de esos usuarios:
sim_custs = data[data["CustomerID"].isin(similarities.index)]

# Agrego los registros por 
sim_cust2 = pd.DataFrame(sim_custs.groupby("ProductName").agg({'Quantity':'sum'}).sort_values('Quantity', ascending = False)).reset_index()

[83973, 59399, 92168, 49159, 18441, 22536, 86028, 75791, 96272, 32785, 47122, 75793, 51224, 40985, 28702, 33, 6185, 18480, 86065, 94258, 67636, 81981, 90174, 10311, 28751, 51279, 90193, 30803, 55380, 28756, 55381, 41045, 12381, 30815, 92255, 86111, 67682, 16481, 88159, 65650, 57459, 18552, 86136, 8316, 79997, 77950, 82057, 2187, 65678, 86167, 57497, 18591, 61601, 71844, 4261, 14501, 20648, 90284, 6317, 8367, 22705, 10418, 32946, 8372, 88245, 41147, 90300, 18622, 28867, 65731, 39110, 47303, 200, 47305, 28875, 6352, 45266, 94420, 35028, 35034, 65757, 6367, 22751, 78048, 82146, 26850, 78054, 16614, 94438, 30954, 90347, 59626, 12529, 82161, 24820, 18680, 65785, 51451, 18683, 53501, 63742, 88318, 18688, 45313, 92418, 78082, 57606, 43270, 264, 16650, 96522, 96524, 71948, 12561, 18706, 69906, 78104, 2329, 16664, 51483, 55580, 63771, 33051, 18720, 35107, 65830, 80167, 18728, 69931, 49454, 6447, 28976, 96560, 12596, 78133, 57654, 61750, 28984, 80184, 12598, 84280, 63803, 59703, 59710, 59711, 49474, 41286, 18760, 92492, 69967, 43345, 49491, 65875, 94547, 8539, 74077, 26974, 31075, 356, 41319, 96615, 45420, 33132, 92525, 18796, 39280, 22901, 65910, 72056, 31100, 84349, 92543, 72063, 70017, 4479, 65925, 94599, 47497, 31113, 57737, 84364, 90508, 6543, 63891, 96666, 22939, 412, 55715, 27045, 20901, 29095, 16809, 20907, 96684, 78252, 51631, 92594, 25013, 59831, 45498, 41405, 14782, 22982, 2503, 464, 25040, 16375, 88533, 72152, 78297, 23001, 63963, 477, 92637, 53729, 61923, 55780, 74213, 88552, 78312, 68076, 45549, 10739, 4595, 80372, 47605, 76281, 2556, 74237, 80380, 86527, 82432, 92673, 51718, 8711, 82440, 43529, 2566, 45582, 59925, 2582, 27160, 51742, 45598, 86560, 21027, 4644, 25125, 33320, 33325, 80432, 12852, 62005, 2617, 82493, 14910, 14913, 41538, 86595, 55876, 43589, 55875, 90694, 27209, 29258, 16971, 6734, 62034, 12888, 76378, 31323, 53851, 84575, 84577, 86625, 82532, 76389, 16997, 21095, 29287, 33381, 72305, 39537, 4723, 84594, 64117, 37495, 72311, 57977, 55930, 51834, 25209, 55932, 23165, 2686, 39552, 14977, 66177, 19074, 43652, 639, 37510, 86662, 23176, 649, 72330, 49795, 57991, 31373, 62094, 24554, 62101, 90776, 90777, 78489, 76442, 80538, 669, 88733, 78488, 29342, 6817, 74403, 82597, 31409, 15027, 70324, 23220, 694, 25270, 66232, 21177, 45754, 76475, 82620, 94910, 45759, 84671, 88769, 2754, 6851, 17097, 64202, 35531, 68298, 19148, 78541, 26601, 58064, 25292, 70354, 74451, 19147, 8917, 92139, 2776, 45786, 70363, 51934, 76511, 84703, 51939, 47845, 94951, 62184, 72428, 53997, 31468, 25327, 15088, 68336, 76530, 72433, 756, 54001, 37619, 35575, 17136, 76532, 41722, 27381, 86786, 8962, 29444, 97029, 13062, 11023, 66320, 15119, 27410, 41747, 45846, 92951, 88855, 60185, 97052, 49005, 62242, 29475, 97063, 72487, 95017, 47913, 84779, 15148, 64301, 11057, 58165, 90933, 80694, 52024, 95034, 19260, 31549, 15166, 13118, 68416, 15165, 49981, 92995, 62277, 97093, 62279, 11083, 25420, 25421, 39757, 54093, 23377, 95059, 50004, 2902, 9047, 58203, 64348, 11102, 72546, 2915, 41829, 95078, 25449, 41834, 7021, 17263, 70512, 19312, 47985, 883, 41843, 70517, 66419, 52091, 891, 2939, 78718, 91013, 39813, 58246, 29580, 45965, 80782, 66445, 95121, 76690, 27546, 23451, 68506, 52139, 9132, 97201, 91058, 50098, 27572, 52154, 52155, 62411, 80849, 58321, 46036, 33749, 62421, 29656, 60378, 23515, 46046, 33759, 70624, 7134, 60389, 82922, 48108, 84972, 58348, 17390, 1008, 29681, 37873, 19442, 5104, 11253, 87030, 58353, 80890, 23548, 17404, 44030, 58366, 56319, 17407, 80898, 97282, 3074, 76796, 1034, 48139, 15371, 15373, 68627, 27669, 89110, 25624, 27672, 44058, 29721, 48156, 13338, 74784, 35873, 35877, 85032, 91176, 80938, 13354, 97324, 1066, 58413, 9260, 72750, 78896, 33840, 25651, 1072, 58421, 56374, 7223, 78903, 5177, 44090, 15415, 15420, 11325, 91194, 64575, 56382, 60481, 46146, 5183, 17472, 19526, 68680, 66632, 31820, 95314, 91220, 64597, 9302, 33878, 91224, 68699, 89181, 60515, 25703, 42087, 5224, 64615, 81001, 5230, 27760, 81012, 11380, 78966, 72829, 62592, 78981, 81034, 95372, 72846, 78993, 66709, 56469, 40094, 56479, 38048, 83106, 40099, 89254, 58535, 85161, 46250, 29867, 42157, 27821, 11441, 27826, 11443, 25779, 3253, 76983, 89272, 87228, 27841, 3267, 60612, 27849, 36042, 27857, 79060, 83158, 29910, 97495, 79068, 68829, 54495, 21734, 93417, 3305, 46315, 38125, 77037, 50416, 46324, 87285, 3317, 66807, 56567, 85246, 52479, 62719, 50435, 93445, 66822, 64775, 87303, 32010, 38154, 75022, 58639, 54547, 64787, 81179, 58652, 50461, 32028, 40223, 46367, 21795, 79141, 19753, 38186, 36138, 85292, 29998, 91443, 1336, 15672, 5434, 44349, 9533, 42303, 89408, 50497, 42306, 93505, 73030, 73031, 9546, 70986, 81226, 89424, 89425, 36179, 79189, 60759, 64862, 11614, 17760, 93540, 17765, 50535, 36200, 36201, 11628, 60781, 87408, 13681, 7543, 44408, 38265, 9597, 79230, 28030, 81281, 13699, 34184, 25994, 25995, 81293, 3472, 46482, 1428, 48534, 42394, 1435, 52634, 83355, 42399, 97697, 69027, 38307, 66987, 81324, 71085, 26031, 81331, 32180, 15796, 7606, 79290, 42426, 85437, 60862, 38339, 7623, 3531, 3535, 81361, 56786, 21973, 38358, 46551, 3544, 97753, 42459, 52700, 11744, 48611, 89573, 73190, 85480, 97769, 15851, 50670, 67058, 17906, 30196, 89588, 67061, 60917, 85496, 54774, 58874, 34291, 93692, 79353, 1534, 13823, 48641, 48642, 97793, 91652, 38405, 87559, 60938, 48655, 15888, 85524, 28191, 20006, 83495, 77352, 1577, 60969, 54827, 9771, 5678, 85552, 15920, 56887, 63033, 1594, 50748, 73280, 91713, 46659, 32324, 81479, 24137, 54857, 95819, 9804, 50761, 50774, 13912, 7772, 81501, 38497, 79458, 18027, 11883, 5739, 79470, 63086, 54894, 97900, 15986, 42611, 42612, 32373, 30324, 71282, 18040, 54906, 46715, 44667, 89725, 91777, 32386, 71298, 67203, 91783, 97928, 59017, 85642, 73353, 63120, 7827, 83608, 11933, 20125, 22175, 20134, 48818, 81591, 93882, 14012, 22204, 57024, 44742, 5832, 24271, 28368, 67281, 18133, 36566, 46807, 30423, 1754, 48858, 93918, 59108, 46826, 26353, 30451, 57090, 24323, 77574, 26375, 85766, 16139, 59150, 98069, 69397, 42776, 96024, 12059, 17458, 10016, 5921, 81696, 22308, 61223, 87849, 3885, 32558, 1839, 38703, 65326, 42802, 81715, 22322, 7987, 44859, 77628, 46910, 3903, 63295, 32575, 7999, 48963, 42819, 3909, 59207, 32584, 22345, 51023, 57168, 5968, 77651, 55124, 96088, 26458, 34657, 5986, 67428, 61288, 18281, 20331, 5997, 10094, 30575, 87920, 6001, 77682, 98159, 24435, 18293, 77685, 85878, 55162, 46971, 59258, 77696, 1920, 36737, 14208, 36740, 87938, 10114, 22408, 98185, 63368, 87947, 73609, 73614, 36751, 85902, 67473, 38798, 81813, 98200, 57241, 40863, 87967, 92067, 32682, 71595, 24490, 12206, 51121, 81845, 22454, 53176, 77756, 22461, 18364, 40896, 40901, 90054, 12232, 55245, 53198, 20433, 81876, 90069, 47062, 51160, 36829, 20446, 53214, 83940, 57317, 40934, 61417, 38890, 53226, 22508, 55275, 79854, 51182, 10224, 55281, 75762, 45042, 59379, 77810, 77814, 32753, 20476, 67582, 65535]

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.