## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [11]:
# Your code here
sample_list_1=random.sample(range(100),k=80)
print( sample_list_1)

[1, 25, 35, 79, 30, 6, 58, 66, 42, 45, 34, 16, 72, 65, 74, 75, 2, 27, 70, 77, 73, 82, 94, 87, 19, 78, 39, 12, 49, 20, 59, 99, 26, 31, 68, 40, 64, 81, 63, 80, 93, 83, 9, 5, 52, 60, 61, 29, 41, 47, 0, 69, 3, 86, 21, 8, 98, 38, 50, 32, 84, 23, 22, 53, 92, 56, 57, 10, 54, 18, 37, 51, 44, 71, 28, 7, 90, 67, 55, 46]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [16]:
# Your code here
set1=sample_list_1
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [19]:
# Your code here
sample_list_2=[]
for i in range(80):
    sample_list_2 += random.sample(range(100),(1))
print(sample_list_2)

[0, 89, 53, 81, 66, 43, 13, 8, 85, 89, 74, 75, 79, 44, 28, 79, 75, 76, 93, 92, 7, 87, 41, 93, 76, 16, 44, 59, 77, 10, 7, 71, 26, 99, 59, 67, 86, 76, 10, 40, 99, 73, 1, 8, 88, 14, 84, 83, 14, 9, 8, 81, 27, 61, 9, 19, 11, 0, 88, 51, 42, 12, 86, 96, 3, 13, 14, 61, 80, 86, 51, 57, 42, 27, 99, 91, 77, 33, 43, 49]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [22]:
# Your code here
set2= set(sample_list_2)
print(len(set2))

51

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [29]:
# Your code here
set3 = set1.difference(set2)
print(set3)

AttributeError: 'list' object has no attribute 'difference'

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [26]:
# Your code here
set4= set2.difference(set1)
print(set4)

{11, 76, 13, 14, 85, 88, 89, 91, 96, 33, 43}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [31]:
# Your code here
set5= set1 and set2
print(set5)

{0, 1, 3, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 26, 27, 28, 33, 40, 41, 42, 43, 44, 49, 51, 53, 57, 59, 61, 66, 67, 71, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [33]:
# Your code here
print(set1)
print(set2)
print(set3)
print(set4)
print(set5)

[1, 25, 35, 79, 30, 6, 58, 66, 42, 45, 34, 16, 72, 65, 74, 75, 2, 27, 70, 77, 73, 82, 94, 87, 19, 78, 39, 12, 49, 20, 59, 99, 26, 31, 68, 40, 64, 81, 63, 80, 93, 83, 9, 5, 52, 60, 61, 29, 41, 47, 0, 69, 3, 86, 21, 8, 98, 38, 50, 32, 84, 23, 22, 53, 92, 56, 57, 10, 54, 18, 37, 51, 44, 71, 28, 7, 90, 67, 55, 46]
{0, 1, 3, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 26, 27, 28, 33, 40, 41, 42, 43, 44, 49, 51, 53, 57, 59, 61, 66, 67, 71, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 96, 99}
{11, 76, 13, 14, 85, 88, 89, 91, 96, 33, 43}
{11, 76, 13, 14, 85, 88, 89, 91, 96, 33, 43}
{0, 1, 3, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 26, 27, 28, 33, 40, 41, 42, 43, 44, 49, 51, 53, 57, 59, 61, 66, 67, 71, 73, 74, 75, 76, 77, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 96, 99}

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [32]:
# Your code here
set6= set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here