## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

In [ ]:
#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [8]:
population = range(0, 100)
sample_list_1 = random.sample(population, 80)
print('sample_list_1:', sample_list_1)

sample_list_1: [65, 56, 38, 59, 41, 66, 61, 95, 47, 85, 76, 1, 80, 17, 13, 23, 34, 39, 19, 55, 92, 89, 6, 83, 22, 81, 84, 77, 29, 11, 68, 99, 40, 15, 98, 25, 37, 64, 3, 7, 62, 51, 97, 5, 58, 71, 20, 26, 72, 30, 57, 52, 75, 53, 79, 63, 12, 28, 35, 24, 90, 44, 8, 33, 21, 43, 49, 42, 88, 31, 32, 46, 16, 9, 91, 78, 94, 45, 36, 27]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [10]:
set1 = set(sample_list_1)
length = len(set1)
print('length:', length)
length == 80

length: 80

True

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [17]:
from random import randint
sample_list_2 = []
for num in range(80):
    value = randint(0, num)
    sample_list_2.append(value)
#print(sample_list_2)

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
set2 = set(sample_list_2)
length = len(set2)
print('length:', length)
length == 80

length: 39

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [26]:
l_set1 = list(set1)
l_set2 = list(set2)
l_set3 = []
for ls1 in l_set1:
    if ls1 not in l_set2:
        l_set3.append(ls1)
set3 = set(l_set3)
print('set3:',set3)

set3: {11, 12, 16, 19, 22, 23, 24, 25, 26, 34, 35, 36, 41, 43, 46, 49, 51, 53, 55, 56, 57, 58, 61, 62, 64, 65, 66, 71, 72, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 88, 89, 90, 91, 92, 94, 95, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [27]:
l_set1 = list(set1)
l_set2 = list(set2)
l_set4 = []
for ls2 in l_set2:
    if ls2 not in l_set1:
        l_set4.append(ls2)
set4 = set(l_set4)
print('set4:',set4)

set4: {0, 2, 4, 10, 14, 18, 50, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [28]:
l_set1 = list(set1)
l_set2 = list(set2)
l_set5 = []
for ls1 in l_set1:
    if ls1 in l_set2:
        l_set5.append(ls1)
set5 = set(l_set5)
print('set5:',set5)

set5: {1, 3, 5, 6, 7, 8, 9, 13, 15, 17, 20, 21, 27, 28, 29, 30, 31, 32, 33, 37, 38, 39, 40, 42, 44, 45, 47, 52, 59, 63, 68}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

#### Create an empty set called `set6`.

In [39]:
set6 = {}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [40]:
set1 == set6

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [42]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
new_set = {}
new_set.union(set3, set4, set5)
new_set.union(set1, set2)

#### Using the `pop` method, remove the first element from `set1`.

In [43]:
if len(set1) == 1:
    set1.pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
lis1 = list(set1)
for l in lis1:
    if l in set1:
        lis1.remove(l)
print('Remaining elements:', lis1)

Remaining elements: [3, 6, 8, 11, 13, 16, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 51, 53, 56, 58, 61, 63, 65, 68, 72, 76, 78, 80, 83, 85, 89, 91, 94, 97, 99]