## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[6, 11, 24, 72, 8, 36, 28, 60, 33, 61, 68, 13, 40, 62, 53, 69, 79, 31, 29, 92, 39, 97, 84, 25, 89, 76, 80, 19, 94, 95, 12, 23, 0, 15, 82, 47, 43, 88, 51, 3, 63, 16, 17, 91, 98, 52, 18, 50, 57, 90, 75, 56, 38, 59, 42, 96, 67, 41, 26, 45, 4, 27, 22, 70, 85, 81, 30, 48, 2, 54, 86, 44, 21, 87, 58, 7, 71, 14, 49, 77]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Yes, set lenght is 80 due to we extract unique values in the sample of the above exercise

set1=set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []
for i in range(80):
    sample_list_2 += random.sample(range(100),(1))
    
print(sample_list_2)

[50, 89, 27, 17, 17, 81, 59, 4, 99, 1, 57, 29, 44, 39, 47, 17, 95, 1, 26, 44, 89, 13, 28, 27, 90, 88, 98, 83, 19, 95, 74, 74, 1, 34, 11, 68, 21, 46, 70, 23, 58, 12, 28, 41, 86, 71, 20, 45, 44, 42, 47, 89, 70, 99, 56, 94, 60, 89, 99, 68, 29, 92, 71, 82, 46, 23, 87, 30, 86, 48, 23, 97, 12, 20, 52, 52, 88, 63, 0, 72]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(len(sample_list_2))

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3=(set2.difference(set1))
print(set3)

{1, 34, 99, 74, 46, 83, 20}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4=(set1.difference(set2))
print(set4)

{2, 3, 6, 7, 8, 14, 15, 16, 18, 22, 24, 25, 31, 33, 36, 38, 40, 43, 49, 51, 53, 54, 61, 62, 67, 69, 75, 76, 77, 79, 80, 84, 85, 91, 96}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5=(set1.intersection(set2))
print(set5)

{0, 4, 11, 12, 13, 17, 19, 21, 23, 26, 27, 28, 29, 30, 39, 41, 42, 44, 45, 47, 48, 50, 52, 56, 57, 58, 59, 60, 63, 68, 70, 71, 72, 81, 82, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
if len(set1)-len(set4)-len(set5)==0 and len(set2)-len(set3)-len(set5)==0:
    print("Everything is gonna be alright")
else:
    print("There is something wrong")
   
# I could use one formula to represent all in once but is more complex: len(set1)+len(set2)-len(set3)-len(set4)-len(set5)-len(set5)==0

Everything is gonna be alright

#### Create an empty set called `set6`.

In [10]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3, set5)
print(set6)

{0, 1, 4, 11, 12, 13, 17, 19, 20, 21, 23, 26, 27, 28, 29, 30, 34, 39, 41, 42, 44, 45, 46, 47, 48, 50, 52, 56, 57, 58, 59, 60, 63, 68, 70, 71, 72, 74, 81, 82, 83, 86, 87, 88, 89, 90, 92, 94, 95, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
set_check=(set6.difference(set1))
if len(set_check)==0:
    print("ok")
else:
    print("set1 and set6 are not equal for", len(set_check), "elements")

set1 and set6 are not equal for 7 elements

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set_x = set3.union(set4, set5)
set_x.union(set1, set2)

{0,
 1,
 2,
 3,
 4,
 6,
 7,
 8,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 33,
 34,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 67,
 68,
 69,
 70,
 71,
 72,
 74,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
set1.pop()
print(set1)

{2, 3, 4, 6, 7, 8, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 33, 36, 38, 39, 40, 41, 42, 43, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 67, 68, 69, 70, 71, 72, 75, 76, 77, 79, 80, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_remove=set(list_to_remove)

set(set1.difference(set_remove))

{2,
 3,
 4,
 6,
 7,
 8,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 30,
 33,
 36,
 38,
 40,
 42,
 43,
 44,
 45,
 47,
 48,
 50,
 52,
 53,
 54,
 56,
 57,
 58,
 60,
 62,
 63,
 67,
 68,
 70,
 72,
 75,
 76,
 77,
 80,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 94,
 95,
 96,
 97,
 98}