![alt text](29984_guerrilla-girls.jpg "Title")

In [1]:
import numpy as np
import pandas as pd

In [2]:
#abrir bases de datos
artista = pd.read_csv('artists.csv')
obras= pd.read_csv('artworks.csv')

In [3]:
#renombrarmos una columnas para mejor comprension futura
obras=obras.rename(columns={"Artist ID":'Artist_ID'})
artista=artista.rename(columns={"Artist ID":'Artist_ID'})

In [4]:
#vemos como es la informacion 
print(artista.info())
print(obras.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15091 entries, 0 to 15090
Data columns (total 6 columns):
Artist_ID      15091 non-null int64
Name           15091 non-null object
Nationality    12603 non-null object
Gender         12019 non-null object
Birth Year     11237 non-null float64
Death Year     4579 non-null float64
dtypes: float64(2), int64(1), object(3)
memory usage: 707.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130262 entries, 0 to 130261
Data columns (total 21 columns):
Artwork ID            130262 non-null int64
Title                 130210 non-null object
Artist_ID             128802 non-null object
Name                  128802 non-null object
Date                  127950 non-null object
Medium                118343 non-null object
Dimensions            118799 non-null object
Acquisition Date      124799 non-null object
Credit                127192 non-null object
Catalogue             130262 non-null object
Department            130262 non-null object
Classification        130262 non-null object
Object Number         130262 non-null object
Diameter (cm)         1399 non-null float64
Circumference (cm)    10 non-null float64
Height (cm)           111893 non-null float64
Length (cm)           736 non-null float64
Width (cm)            111003 non-null float64
Depth (cm)            11443 non-null float64
Weight (kg)           298 non-null float64
Duration (s)          3084 non-null float64
dtypes: float64(8), int64(1), object(12)
memory usage: 20.9+ MB
None

In [5]:
#limpiamos la variable Artist_ID
obras['Artist_ID'] = obras['Artist_ID'].fillna(0)
lista=[]
for a in obras['Artist_ID']:
    if len(list(str(a).split(','))) >= 2:
        lista.append(0)
    else:
        lista.append(a)
obras=obras.assign(Artist_ID=lista)
obras['Artist_ID'] = obras["Artist_ID"].astype(int)
obras.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130262 entries, 0 to 130261
Data columns (total 21 columns):
Artwork ID            130262 non-null int64
Title                 130210 non-null object
Artist_ID             130262 non-null int64
Name                  128802 non-null object
Date                  127950 non-null object
Medium                118343 non-null object
Dimensions            118799 non-null object
Acquisition Date      124799 non-null object
Credit                127192 non-null object
Catalogue             130262 non-null object
Department            130262 non-null object
Classification        130262 non-null object
Object Number         130262 non-null object
Diameter (cm)         1399 non-null float64
Circumference (cm)    10 non-null float64
Height (cm)           111893 non-null float64
Length (cm)           736 non-null float64
Width (cm)            111003 non-null float64
Depth (cm)            11443 non-null float64
Weight (kg)           298 non-null float64
Duration (s)          3084 non-null float64
dtypes: float64(8), int64(2), object(11)
memory usage: 20.9+ MB

In [6]:
#unimos las bases de datos
moma = pd.merge(obras, artista, on='Artist_ID',how='inner')

In [7]:
moma.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 122373 entries, 0 to 122372
Data columns (total 26 columns):
Artwork ID            122373 non-null int64
Title                 122349 non-null object
Artist_ID             122373 non-null int64
Name_x                122373 non-null object
Date                  120682 non-null object
Medium                111144 non-null object
Dimensions            112025 non-null object
Acquisition Date      117243 non-null object
Credit                119698 non-null object
Catalogue             122373 non-null object
Department            122373 non-null object
Classification        122373 non-null object
Object Number         122373 non-null object
Diameter (cm)         1275 non-null float64
Circumference (cm)    9 non-null float64
Height (cm)           105524 non-null float64
Length (cm)           669 non-null float64
Width (cm)            104714 non-null float64
Depth (cm)            9281 non-null float64
Weight (kg)           291 non-null float64
Duration (s)          2566 non-null float64
Name_y                122373 non-null object
Nationality           119063 non-null object
Gender                116177 non-null object
Birth Year            115218 non-null float64
Death Year            77162 non-null float64
dtypes: float64(10), int64(2), object(14)
memory usage: 25.2+ MB

In [30]:
#limpiamos variable genero y calculamos % del genero de los artistas
def Genero_autores(moma):
    moma['Gender'] = moma['Gender'].str.replace('male', 'Male')
    moma['Gender'] = moma['Gender'].str.replace('FeMale', 'Female')
    moma['Gender'] = moma['Gender'].fillna('Unknown')
    Unknown=(moma[(moma["Gender"]=="Unknown")]["Gender"].value_counts()/len(moma["Gender"])*100)
    Unknown="% .2f" %Unknown[0]
    Male=(moma[(moma["Gender"]=="Male")]["Gender"].value_counts()/len(moma["Gender"])*100)
    Male="% .2f"%Male[0]
    Female=(moma[(moma["Gender"]=="Female")]["Gender"].value_counts()/len(moma["Gender"])*100)
    Female="% .2f"%Female[0]
    porcentaje= {"Unknown":[Unknown],"Male":[Male],"Female":[Female]}
    Total=pd.DataFrame(data=porcentaje).T
    Total2=Total.rename(columns={0:'%Gender_authors'})
    return Total2

In [31]:
Genero_autores(moma)

        %Gender_authors
Female            13.23
Male              81.70
Unknown            5.06

In [32]:
#ahora sin contabilizar los desconocidos
def genero_autoressindesc(moma):
    GenderList = [x for x in moma["Gender"] if str(x) != 'Unknown']
    z = pd.DataFrame(GenderList)
    Malez=(z[(z[0]=="Male")][0].value_counts()/len(z[0])*100)
    Malez="% .2f"%Malez[0]
    Femalez=(z[(z[0]=="Female")][0].value_counts()/len(z[0])*100)
    Femalez="% .2f"%Femalez[0]
    porcentajez= {"Male":[Malez],"Female":[Femalez]}
    Totalz=pd.DataFrame(data=porcentajez).T
    Total2z=Totalz.rename(columns={0:'%Gender_authors'})
    return Total2z

In [33]:
genero_autoressindesc(moma)

       %Gender_authors
Female           13.94
Male             86.06

In [12]:
#funcion para conocer los artistas por el género
def obrasartista(Genero):
    obrasgenero= moma[moma['Gender'] == Genero]
    return (obrasgenero.Name_x.value_counts())

print(obrasartista("Male"))

Eugène Atget                     5050
Ludwig Mies van der Rohe         2566
Jean Dubuffet                    1435
Lee Friedlander                  1317
Pablo Picasso                    1310
Marc Chagall                     1162
Henri Matisse                    1063
Pierre Bonnard                    894
Frank Lloyd Wright                799
George Maciunas                   762
August Sander                     749
Georges Rouault                   632
Émile Bernard                     631
Ben Kinmont                       597
Aristide Maillol                  579
André Derain                      573
Sol LeWitt                        557
Raoul Dufy                        545
Maurice Denis                     504
Joan Miró                         462
Pierre Alechinsky                 429
Jan Dibbets                       426
Jasper Johns                      412
Jim Dine                          401
Walker Evans                      361
Garry Winogrand                   359
Jules Pascin                      350
Robert Rauschenberg               336
Thomas Bewick                     324
André Masson                      305
                                 ...
Bernard Schultze                    1
Jay McCafferty                      1
Charles Simart                      1
Vladimir Akulinin                   1
Leonard Pytlak                      1
Amar Kanwar                         1
Neville de Almeida                  1
Paul Kos                            1
Richard Rogers                      1
Ralph Baer                          1
Victor Semenovich Vilner            1
Naghi Nemati                        1
Naoki Yoshimoto                     1
Julian Rosefeldt                    1
Christopher Giglio                  1
Francisco Rivero Gil                1
Sergei Podgaevskii                  1
R. M. Fischer                       1
Bashir Zivari                       1
John Lasseter                       1
Gustav K. Beck                      1
Adolf Rambold                       1
Antoine-Francois-Jean Claudet       1
Martín Ruiz de Azúa                 1
Byung Hoon Choi                     1
Yves José Zimmerman                 1
Tony Conrad                         1
Zeilinger                           1
Henri Chopin                        1
Robert Cowan                        1
Name: Name_x, Length: 8335, dtype: int64

In [13]:
#funcion para conocer nacionalidad con mas obras
def nacionalidadartista(nacionalidad):
    obrasgenero= moma[moma['Nationality'] == nacionalidad]
    return (obrasgenero.Name.value_counts())

In [14]:
#funcion para conocer por genero y nacionalidad 
def gennacartista(Genero,nacionalidad):
    obrasgenero= moma[(moma['Gender'] == Genero) & (moma['Nationality'] == nacionalidad)] 
   
    return (obrasgenero.Name_x.value_counts())

In [15]:
gennacartista("Male","Spanish")

Pablo Picasso                       1310
Joan Miró                            462
Francisco de Goya                    181
Antoni Tàpies                        170
Antonio Saura                        114
Salvador Dalí                         77
Juan Gris                             59
Juan Hidalgo                          55
Fernando Martín Menis                 33
Eduardo Chillida                      30
Rafael Canogar                        29
Julio González                        27
Luis Buñuel                           22
Juan Uslé                             21
Pablo Palazuelo                       20
Pedro Almodóvar                       18
Ricardo Bofill                        16
Ernesto Caivano                       15
Vincente Rojo                         14
Manolo (Manuel Martínez Hugué)        13
Antonio Muntadas                      13
Rafael Alberti                        12
Manuel Angeles Ortiz                  10
Chema Cobo                             9
José Pla-Narbona                       9
Zush (Alberto Porta)                   8
Marcel Giró                            8
Joan Fontcuberta                       7
Victor Mira                            7
Juan Muñoz                             6
                                    ...
Bigas Luna                             1
Francisco Rivero Gil                   1
Eduardo Arroyo                         1
Juvenal Sansó                          1
Antoni Miralda                         1
Mariano Fortuny Y Madrazo              1
Jaume Juez i Castella (Xirinius)       1
Joan Josep Tharrats                    1
José Echavé                            1
Lorenzo Goñi                           1
Juan Antonio Morales                   1
Enric Bernat i Fontlladosa             1
Pere Catala Pic                        1
Juan Vila Vilacasas                    1
Juan Domingo Santos                    1
Doroteo Arnaiz                         1
Joan Ponç                              1
Andrés Jaque                           1
Pablo Serrano                          1
Ismael González de la Serna            1
Josep Subirats Samora                  1
Federico Guzmán                        1
Modest Cuixart                         1
Francisco Borès                        1
Francesc Torres                        1
Pablo Gargallo                         1
Jesús Lozano                           1
Javier Carvajal                        1
Enric Ricart                           1
Marti Cormand                          1
Name: Name_x, Length: 99, dtype: int64

In [16]:
#ver repercusion del pensamiento de las guerrilla 
moma=moma.rename(columns={"Acquisition Date":'Acquisition_Date'})
moma['Acquisition_Date'] = moma['Acquisition_Date'].fillna("0")

In [17]:
import re 
def nuevaadquisicion(Acquisition_Date):
    parametro= "\-+\d*"
    new_acquisition= re.sub(parametro,"",Acquisition_Date)
    return new_acquisition

In [18]:
moma['Acquisition_Date']= moma.Acquisition_Date.apply(nuevaadquisicion)

In [19]:
moma['Acquisition_Date'] = moma["Acquisition_Date"].astype(int)

In [20]:
moma['Acquisition_Date']

0         1996
1         1978
2         1978
3         2001
4         1995
5         2013
6         2013
7         2013
8         2013
9         2013
10        2013
11        2013
12        2013
13        2013
14        2013
15        2013
16        2013
17        2013
18        2013
19        2013
20        2013
21        2013
22        2013
23        2013
24        2013
25        1997
26        1997
27        1995
28        1995
29        1995
          ...
122343    2016
122344    2016
122345    2016
122346    2016
122347    2016
122348    2016
122349    2016
122350    2016
122351    2016
122352    2016
122353    2016
122354    2016
122355    2016
122356    2016
122357    2016
122358    2016
122359    2016
122360    2016
122361    2016
122362    2016
122363    2016
122364    2016
122365    2016
122366    2016
122367       0
122368    2016
122369       0
122370       0
122371    2008
122372    2008
Name: Acquisition_Date, Length: 122373, dtype: int64

In [21]:
etiquetas= ['desconocido','preguerrilla','postguerrilla']
cortes = [-1,1925,1985,2019]
moma['Acquisition_Datenew'] = pd.cut(moma['Acquisition_Date'],cortes, labels=etiquetas)

In [34]:
def impactoguerrilla(periodo):
    generoperiodo= moma[moma['Acquisition_Datenew'] == periodo]
    return genero_autoressindesc(generoperiodo)

In [35]:
impactoguerrilla("preguerrilla")

       %Gender_authors
Female            6.48
Male             93.52

In [36]:
impactoguerrilla("postguerrilla")

       %Gender_authors
Female           22.43
Male             77.57