In [1]:
%matplotlib
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

Using matplotlib backend: Qt5Agg

## Acquisition

In [7]:
data = pd.read_csv('./data/FAO.csv', encoding='latin1')
data.head()

,Area Abbreviation,Area Code,Area,Item Code,Item,Element Code,Element,Unit,latitude,longitude,...,Y2004,Y2005,Y2006,Y2007,Y2008,Y2009,Y2010,Y2011,Y2012,Y2013
0,AFG,2,Afghanistan,2511,Wheat and products,5142,Food,1000 tonnes,33.94,67.71,...,3249.0,3486.0,3704.0,4164.0,4252.0,4538.0,4605.0,4711.0,4810,4895
1,AFG,2,Afghanistan,2805,Rice (Milled Equivalent),5142,Food,1000 tonnes,33.94,67.71,...,419.0,445.0,546.0,455.0,490.0,415.0,442.0,476.0,425,422
2,AFG,2,Afghanistan,2513,Barley and products,5521,Feed,1000 tonnes,33.94,67.71,...,58.0,236.0,262.0,263.0,230.0,379.0,315.0,203.0,367,360
3,AFG,2,Afghanistan,2513,Barley and products,5142,Food,1000 tonnes,33.94,67.71,...,185.0,43.0,44.0,48.0,62.0,55.0,60.0,72.0,78,89
4,AFG,2,Afghanistan,2514,Maize and products,5521,Feed,1000 tonnes,33.94,67.71,...,120.0,208.0,233.0,249.0,247.0,195.0,178.0,191.0,200,200

## Wrangling
Consultamos la información del dataframe

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21477 entries, 0 to 21476
Data columns (total 63 columns):
Area Abbreviation    21477 non-null object
Area Code            21477 non-null int64
Area                 21477 non-null object
Item Code            21477 non-null int64
Item                 21477 non-null object
Element Code         21477 non-null int64
Element              21477 non-null object
Unit                 21477 non-null object
latitude             21477 non-null float64
longitude            21477 non-null float64
Y1961                17938 non-null float64
Y1962                17938 non-null float64
Y1963                17938 non-null float64
Y1964                17938 non-null float64
Y1965                17938 non-null float64
Y1966                17938 non-null float64
Y1967                17938 non-null float64
Y1968                17938 non-null float64
Y1969                17938 non-null float64
Y1970                17938 non-null float64
Y1971                17938 non-null float64
Y1972                17938 non-null float64
Y1973                17938 non-null float64
Y1974                17938 non-null float64
Y1975                17938 non-null float64
Y1976                17938 non-null float64
Y1977                17938 non-null float64
Y1978                17938 non-null float64
Y1979                17938 non-null float64
Y1980                17938 non-null float64
Y1981                17938 non-null float64
Y1982                17938 non-null float64
Y1983                17938 non-null float64
Y1984                17938 non-null float64
Y1985                17938 non-null float64
Y1986                17938 non-null float64
Y1987                17938 non-null float64
Y1988                17938 non-null float64
Y1989                17938 non-null float64
Y1990                18062 non-null float64
Y1991                18062 non-null float64
Y1992                20490 non-null float64
Y1993                20865 non-null float64
Y1994                20865 non-null float64
Y1995                20865 non-null float64
Y1996                20865 non-null float64
Y1997                20865 non-null float64
Y1998                20865 non-null float64
Y1999                20865 non-null float64
Y2000                21128 non-null float64
Y2001                21128 non-null float64
Y2002                21128 non-null float64
Y2003                21128 non-null float64
Y2004                21128 non-null float64
Y2005                21128 non-null float64
Y2006                21373 non-null float64
Y2007                21373 non-null float64
Y2008                21373 non-null float64
Y2009                21373 non-null float64
Y2010                21373 non-null float64
Y2011                21373 non-null float64
Y2012                21477 non-null int64
Y2013                21477 non-null int64
dtypes: float64(53), int64(5), object(5)
memory usage: 10.3+ MB

In [10]:
#Podemos ver que las columnas comienzan con 'Y', vamos a elimminar este caracter para que la columna sea unicamente el año.
def renombra_columnas_year(c):
    if re.match('^(?=.*[0-9])', c):
        return c[1:]
    else:
        return c

data_columns = [renombra_columnas_year(c) for c in data.columns]
data_columns

['Area Abbreviation',
 'Area Code',
 'Area',
 'Item Code',
 'Item',
 'Element Code',
 'Element',
 'Unit',
 'latitude',
 'longitude',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013']

In [12]:
def remover_duplicados(dataframe, columnas = []):
    antes = len(dataframe)
    dataframe = dataframe[columnas].drop_duplicates()
    despues = len(dataframe)
    total = antes - despues
    print('Registros duplicados eliminados: {}'.format(total))
    return dataframe

temporal = remover_duplicados(data)

Registros duplicados eliminados: 0

In [15]:
def nulos(dataframe):
    null_cols = dataframe.isnull().sum()
    print(null_cols[null_cols > 0])
    return null_cols

#Vemos que los nulos están en las columnas de años
null_cols = nulos(data)

Y1961    3539
Y1962    3539
Y1963    3539
Y1964    3539
Y1965    3539
Y1966    3539
Y1967    3539
Y1968    3539
Y1969    3539
Y1970    3539
Y1971    3539
Y1972    3539
Y1973    3539
Y1974    3539
Y1975    3539
Y1976    3539
Y1977    3539
Y1978    3539
Y1979    3539
Y1980    3539
Y1981    3539
Y1982    3539
Y1983    3539
Y1984    3539
Y1985    3539
Y1986    3539
Y1987    3539
Y1988    3539
Y1989    3539
Y1990    3415
Y1991    3415
Y1992     987
Y1993     612
Y1994     612
Y1995     612
Y1996     612
Y1997     612
Y1998     612
Y1999     612
Y2000     349
Y2001     349
Y2002     349
Y2003     349
Y2004     349
Y2005     349
Y2006     104
Y2007     104
Y2008     104
Y2009     104
Y2010     104
Y2011     104
dtype: int64

In [ ]:
data.info() #mostramos la información de todas las columnas

In [ ]:
#Crea una función para comprobar los nulos
def nulos(dataframe):
    null_cols = dataframe.isnull().sum()
    print(null_cols[null_cols > 0])
    return null_cols

#Vemos que los nulos están en las columnas de años
null_cols = nulos(data)

In [ ]:
data.describe()

In [ ]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

In [ ]:
set(data['Element'])

In [ ]:
set(data['Area'])

In [ ]:
set(data['Unit'])
data['Unit'].value_counts()

## Analysis

## Reporting