In [20]:
import pandas as pd
import numpy as np

data = pd.read_csv('Suicidios.csv')
df=pd.DataFrame(data)
df.head()

#Exploración de datos

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [21]:
df['country'].value_counts().head(40)

Austria              382
Mauritius            382
Netherlands          382
Iceland              382
Republic of Korea    372
Israel               372
Ecuador              372
Greece               372
Belgium              372
Singapore            372
Japan                372
Brazil               372
Malta                372
Colombia             372
United States        372
United Kingdom       372
Puerto Rico          372
Argentina            372
Mexico               372
Chile                372
Luxembourg           372
Spain                372
Italy                372
Norway               360
Costa Rica           360
Bulgaria             360
Ireland              360
France               360
Guatemala            360
Australia            360
Sweden               358
Canada               348
Finland              348
Turkmenistan         348
New Zealand          348
Ukraine              336
Belize               336
Saint Lucia          336
Suriname             336
Uruguay              336
Name: country, dtype: int64

In [22]:
df['age'].value_counts()

25-34 years    4642
15-24 years    4642
55-74 years    4642
35-54 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

In [23]:
df.info()
#No tengo nulos en las columnas que me interesan. LOs números están en formato int.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
 gdp_for_year ($)     27820 non-null object
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [24]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [25]:
#LImpieza de datos. 
df.columns = df.columns.str.strip()

In [26]:
df.drop(['population','suicides/100k pop','country-year', 'HDI for year','gdp_per_capita ($)', 'generation'], axis=1, inplace=True)
df.head()

   country  year     sex          age  suicides_no gdp_for_year ($)
0  Albania  1987    male  15-24 years           21    2,156,624,900
1  Albania  1987    male  35-54 years           16    2,156,624,900
2  Albania  1987  female  15-24 years           14    2,156,624,900
3  Albania  1987    male    75+ years            1    2,156,624,900
4  Albania  1987    male  25-34 years            9    2,156,624,900

In [27]:
df1=df.loc[df.country=='Spain']
df1

      country  year     sex          age  suicides_no   gdp_for_year ($)
23528   Spain  1985    male    75+ years          305    180,302,412,231
23529   Spain  1985    male  55-74 years          624    180,302,412,231
23530   Spain  1985  female    75+ years          131    180,302,412,231
23531   Spain  1985    male  35-54 years          497    180,302,412,231
23532   Spain  1985    male  25-34 years          219    180,302,412,231
23533   Spain  1985  female  55-74 years          277    180,302,412,231
23534   Spain  1985    male  15-24 years          176    180,302,412,231
23535   Spain  1985  female  35-54 years          174    180,302,412,231
23536   Spain  1985  female  25-34 years           59    180,302,412,231
23537   Spain  1985  female  15-24 years           43    180,302,412,231
23538   Spain  1985    male   5-14 years            8    180,302,412,231
23539   Spain  1985  female   5-14 years            1    180,302,412,231
23540   Spain  1986    male    75+ years          305    250,638,463,467
23541   Spain  1986    male  55-74 years          677    250,638,463,467
23542   Spain  1986    male  35-54 years          538    250,638,463,467
23543   Spain  1986  female    75+ years          127    250,638,463,467
23544   Spain  1986    male  25-34 years          265    250,638,463,467
23545   Spain  1986  female  55-74 years          301    250,638,463,467
23546   Spain  1986    male  15-24 years          227    250,638,463,467
23547   Spain  1986  female  35-54 years          157    250,638,463,467
23548   Spain  1986  female  25-34 years           75    250,638,463,467
23549   Spain  1986  female  15-24 years           54    250,638,463,467
23550   Spain  1986    male   5-14 years           20    250,638,463,467
23551   Spain  1986  female   5-14 years            9    250,638,463,467
23552   Spain  1987    male    75+ years          335    317,882,187,037
23553   Spain  1987    male  55-74 years          693    317,882,187,037
23554   Spain  1987    male  35-54 years          479    317,882,187,037
23555   Spain  1987  female    75+ years          127    317,882,187,037
23556   Spain  1987    male  25-34 years          277    317,882,187,037
23557   Spain  1987  female  55-74 years          320    317,882,187,037
...       ...   ...     ...          ...          ...                ...
23870   Spain  2013    male  15-24 years          131  1,361,854,206,549
23871   Spain  2013  female  35-54 years          373  1,361,854,206,549
23872   Spain  2013  female  25-34 years           79  1,361,854,206,549
23873   Spain  2013  female  15-24 years           45  1,361,854,206,549
23874   Spain  2013    male   5-14 years            6  1,361,854,206,549
23875   Spain  2013  female   5-14 years            3  1,361,854,206,549
23876   Spain  2014    male    75+ years          587  1,376,910,811,041
23877   Spain  2014    male  55-74 years          759  1,376,910,811,041
23878   Spain  2014    male  35-54 years         1184  1,376,910,811,041
23879   Spain  2014    male  25-34 years          268  1,376,910,811,041
23880   Spain  2014  female    75+ years          157  1,376,910,811,041
23881   Spain  2014    male  15-24 years          136  1,376,910,811,041
23882   Spain  2014  female  55-74 years          294  1,376,910,811,041
23883   Spain  2014  female  35-54 years          380  1,376,910,811,041
23884   Spain  2014  female  25-34 years           86  1,376,910,811,041
23885   Spain  2014  female  15-24 years           50  1,376,910,811,041
23886   Spain  2014  female   5-14 years            6  1,376,910,811,041
23887   Spain  2014    male   5-14 years            4  1,376,910,811,041
23888   Spain  2015    male    75+ years          573  1,197,789,902,774
23889   Spain  2015    male  55-74 years          736  1,197,789,902,774
23890   Spain  2015    male  35-54 years         1015  1,197,789,902,774
23891   Spain  2015    male  25-34 years          241  1,197,789,902,774
23892   Spain  2015  female    75+ years          168  1,197,789,902,774
23893   Spain  2015  female  55-74 years          281  1,197,789,902,774
23894   Spain  2015  female  35-54 years          360  1,197,789,902,774
23895   Spain  2015    male  15-24 years          109  1,197,789,902,774
23896   Spain  2015  female  25-34 years           66  1,197,789,902,774
23897   Spain  2015  female  15-24 years           47  1,197,789,902,774
23898   Spain  2015    male   5-14 years            7  1,197,789,902,774
23899   Spain  2015  female   5-14 years            1  1,197,789,902,774

[372 rows x 6 columns]

In [28]:
#INtenté sacar un multindice pero no fue buena idea. Iterar indice columna no era tan fácil.
#df1.set_index(['country', 'year'], inplace=True)
#df1

In [29]:
#df1.loc['Spain', (2006,2007,2008,2009,2010,2011,2012,2013,2014), :]
#df1.loc[('Spain', 2000), :]

In [30]:
df1.groupby('suicides_no')
#NO entiendo por qué no lo hace.

In [32]:
#df1.groupby(['year','suicides_no']).sum()
df2=df1.groupby(['year', 'gdp_for_year ($)'])['suicides_no'].sum().reset_index()
df3=df2[['year','suicides_no','gdp_for_year ($)']]
df3
#df.groupby(['Fruit','Name']).sum()
#suicidios_por_año=[]
#for x in df1.year:
    #for y in df1.suicides_no:
      #  if x==2005:
        #    suicidios_por_año.append(sum(y))
#print(suicidios_por_año)

    year  suicides_no   gdp_for_year ($)
0   1985         2514    180,302,412,231
1   1986         2755    250,638,463,467
2   1987         2804    317,882,187,037
3   1988         2960    375,138,723,325
4   1989         2987    413,630,538,018
5   1990         2939    535,101,248,776
6   1991         2916    575,598,537,070
7   1992         2786    629,202,392,004
8   1993         3037    523,649,481,762
9   1994         3171    529,121,577,320
10  1995         3157    612,939,685,081
11  1996         3320    640,998,292,395
12  1997         3373    588,692,045,455
13  1998         3261    617,041,986,858
14  1999         3220    633,194,118,900
15  2000         3394    595,402,616,547
16  2001         3189    625,975,838,926
17  2002         3372    705,145,868,624
18  2003         3478    906,853,273,138
19  2004         3508  1,069,555,500,372
20  2005         3399  1,157,276,458,152
21  2006         3247  1,264,551,499,185
22  2007         3264  1,479,341,637,011
23  2008         3457  1,635,015,380,108
24  2009         3429  1,499,099,749,931
25  2010         3158  1,431,616,749,640
26  2011         3180  1,488,067,258,325
27  2012         3539  1,336,018,949,806
28  2013         3873  1,361,854,206,549
29  2014         3911  1,376,910,811,041
30  2015         3604  1,197,789,902,774

In [33]:
#df2[df2.year >= 2005]

df4=df3.loc[(df3['year'] >=2005) & (df3['year'] <=2015)]
df4

    year  suicides_no   gdp_for_year ($)
20  2005         3399  1,157,276,458,152
21  2006         3247  1,264,551,499,185
22  2007         3264  1,479,341,637,011
23  2008         3457  1,635,015,380,108
24  2009         3429  1,499,099,749,931
25  2010         3158  1,431,616,749,640
26  2011         3180  1,488,067,258,325
27  2012         3539  1,336,018,949,806
28  2013         3873  1,361,854,206,549
29  2014         3911  1,376,910,811,041
30  2015         3604  1,197,789,902,774

In [34]:
df1

      country  year     sex          age  suicides_no   gdp_for_year ($)
23528   Spain  1985    male    75+ years          305    180,302,412,231
23529   Spain  1985    male  55-74 years          624    180,302,412,231
23530   Spain  1985  female    75+ years          131    180,302,412,231
23531   Spain  1985    male  35-54 years          497    180,302,412,231
23532   Spain  1985    male  25-34 years          219    180,302,412,231
23533   Spain  1985  female  55-74 years          277    180,302,412,231
23534   Spain  1985    male  15-24 years          176    180,302,412,231
23535   Spain  1985  female  35-54 years          174    180,302,412,231
23536   Spain  1985  female  25-34 years           59    180,302,412,231
23537   Spain  1985  female  15-24 years           43    180,302,412,231
23538   Spain  1985    male   5-14 years            8    180,302,412,231
23539   Spain  1985  female   5-14 years            1    180,302,412,231
23540   Spain  1986    male    75+ years          305    250,638,463,467
23541   Spain  1986    male  55-74 years          677    250,638,463,467
23542   Spain  1986    male  35-54 years          538    250,638,463,467
23543   Spain  1986  female    75+ years          127    250,638,463,467
23544   Spain  1986    male  25-34 years          265    250,638,463,467
23545   Spain  1986  female  55-74 years          301    250,638,463,467
23546   Spain  1986    male  15-24 years          227    250,638,463,467
23547   Spain  1986  female  35-54 years          157    250,638,463,467
23548   Spain  1986  female  25-34 years           75    250,638,463,467
23549   Spain  1986  female  15-24 years           54    250,638,463,467
23550   Spain  1986    male   5-14 years           20    250,638,463,467
23551   Spain  1986  female   5-14 years            9    250,638,463,467
23552   Spain  1987    male    75+ years          335    317,882,187,037
23553   Spain  1987    male  55-74 years          693    317,882,187,037
23554   Spain  1987    male  35-54 years          479    317,882,187,037
23555   Spain  1987  female    75+ years          127    317,882,187,037
23556   Spain  1987    male  25-34 years          277    317,882,187,037
23557   Spain  1987  female  55-74 years          320    317,882,187,037
...       ...   ...     ...          ...          ...                ...
23870   Spain  2013    male  15-24 years          131  1,361,854,206,549
23871   Spain  2013  female  35-54 years          373  1,361,854,206,549
23872   Spain  2013  female  25-34 years           79  1,361,854,206,549
23873   Spain  2013  female  15-24 years           45  1,361,854,206,549
23874   Spain  2013    male   5-14 years            6  1,361,854,206,549
23875   Spain  2013  female   5-14 years            3  1,361,854,206,549
23876   Spain  2014    male    75+ years          587  1,376,910,811,041
23877   Spain  2014    male  55-74 years          759  1,376,910,811,041
23878   Spain  2014    male  35-54 years         1184  1,376,910,811,041
23879   Spain  2014    male  25-34 years          268  1,376,910,811,041
23880   Spain  2014  female    75+ years          157  1,376,910,811,041
23881   Spain  2014    male  15-24 years          136  1,376,910,811,041
23882   Spain  2014  female  55-74 years          294  1,376,910,811,041
23883   Spain  2014  female  35-54 years          380  1,376,910,811,041
23884   Spain  2014  female  25-34 years           86  1,376,910,811,041
23885   Spain  2014  female  15-24 years           50  1,376,910,811,041
23886   Spain  2014  female   5-14 years            6  1,376,910,811,041
23887   Spain  2014    male   5-14 years            4  1,376,910,811,041
23888   Spain  2015    male    75+ years          573  1,197,789,902,774
23889   Spain  2015    male  55-74 years          736  1,197,789,902,774
23890   Spain  2015    male  35-54 years         1015  1,197,789,902,774
23891   Spain  2015    male  25-34 years          241  1,197,789,902,774
23892   Spain  2015  female    75+ years          168  1,197,789,902,774
23893   Spain  2015  female  55-74 years          281  1,197,789,902,774
23894   Spain  2015  female  35-54 years          360  1,197,789,902,774
23895   Spain  2015    male  15-24 years          109  1,197,789,902,774
23896   Spain  2015  female  25-34 years           66  1,197,789,902,774
23897   Spain  2015  female  15-24 years           47  1,197,789,902,774
23898   Spain  2015    male   5-14 years            7  1,197,789,902,774
23899   Spain  2015  female   5-14 years            1  1,197,789,902,774

[372 rows x 6 columns]