In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 500)

In [2]:
df = pd.read_csv('tableau_project.csv')
df.head()

,Unnamed: 0,journey_id,vehicle_type_id,start_type,start_at,start_lat,start_lon,end_at,end_lat,end_lon,end_state,price,price_distance,price_duration,distance,duration,source,rider_waiting_time,driver_waiting_time,price_supplements,discount,rating
0,0,93e6d216088af74c32183283d4bb2953,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:08:59,19.431363,-99.195362,2017-12-16 11:37:32,19.406438,-99.175260,drop off,"5,866","5,204",0,"7,943","1,058",Android,590,48,662,0,9.0
1,1,444b084ec64244919afadfba879876a3,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 11:06:16,19.431567,-99.195368,2017-12-16 11:07:21,NaN,NaN,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
2,2,dbcc57f4e7606a71c74c6e4666a977a4,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 22:58:37,19.422052,-99.174499,2017-11-24 23:27:05,19.438666,-99.180821,drop off,"4,000","3,552",0,"3,054",689,Android,923,4,0,0,10.0
3,3,1ffe9a24033847148c683574985df56c,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-12-16 09:17:08,19.433119,-99.154844,2017-12-16 09:17:30,19.290148,-99.144407,rider cancel,0,0,0,0,0,iPhone,NaN,NaN,0,0,9.0
4,4,fb1ef7d070724482a33be41f27737ea5,077866c3fd1a75f51ca7f8eae166ae32,asap,2017-11-24 18:11:00,19.440996,-99.183581,2017-11-24 18:31:31,19.422815,-99.174865,drop off,"4,000","2,974",12,"2,859",887,iPhone,329,36,0,0,8.0

In [ ]:
df.info()

Eliminamos la columna Unnamed

In [ ]:
df = df.drop(['Unnamed: 0'], axis=1)

Tras examinar el dataset entendemos que: 
    el tiempo está expresado en segundos, 
    el precio en centavos de peso
    y la distancia en metros

In [ ]:
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

Podemos ver que hay columnas con bastantes nulo, pero estas en su mayoría coinciden con las carreras no realizadas o canceladas. Aunque en las columnas end_lat y end_lon, aparecen menos nulos que en el caso general.

In [ ]:
null_cols = df[(df.end_state != 'drop off')].isnull().sum()
null_cols[null_cols > 0]

Eliminamos los nulos de la latitud y longitud, y pasamos el resto de nulos a cero

In [ ]:
df_new = df[pd.notnull(df['end_lat'])]
df_new.fillna(0, inplace = True)

In [ ]:
null_cols = df_new.isnull().sum()
null_cols[null_cols > 0]

Podemos ver que hay bastantes columnas que contienen datos numéricos que tienen tipo object, estas las vamos a pasar a int64

In [ ]:
columnas = ['price', 'price_distance', 
            'price_duration', 'price_supplements', 
            'distance', 'duration', 
            'rider_waiting_time', 'driver_waiting_time', 'discount']

for columna in columnas:
    df_new[columna] = df_new[columna].map(lambda x : str(x).replace(',', ''))
    df_new[columna] = df_new[columna].astype('int64')

df_new.head()

In [ ]:
df_new.info()

Cambiamos los valores para la columna vehicle_type_id

In [ ]:
df_new['vehicle_type_id'] = df_new['vehicle_type_id'].str.replace('077866c3fd1a75f51ca7f8eae166ae32', 'vehiculo A')
df_new['vehicle_type_id'] = df_new['vehicle_type_id'].str.replace('21620ea5749f2e0679a8c72c7fbafb9e', 'vehiculo B')

In [ ]:
df_new['end_state'].value_counts()

In [ ]:
valores = ['rider cancel', 'not found', 'no show', 'driver cancel']

for v in valores:
    if v in valores:
        df_new['end_state'] = df_new['end_state'].str.replace(v, 'No completed')

df_new['end_state'].value_counts()

In [ ]:
df_new.to_csv('tableau_project_nuevo.csv', index=False)