In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()

db = client.companies

#for rest in db.companies.find({"name":"Facebook"}):
    #print(rest['name'])

- VISUALIZATION PROJECT Geospatial Business Intelligence (BI)
  * Make a geospartial analysis of the `companies` dataset
  * Things you know:
    - You have a software company with 50 employees
    - The company creates video games
    - Roles in your company: 20 developers, 20 Designers/Creatieves/UX/UI and 10 executives/managers
  * Do an analysis about placing the new company offices in the best environment based on the following criteria:
    - There should be software engineers working around
    - The surroundings must have a good ratio of big companies vs startups
    - Ensure you have in your surroundings companies that cover the interests of your team
    - Avoid old companies, prefer recently created ones

In [2]:
#PRIMERAS QUERIES. FILTRADO POR FECHA Y TIPO DE COMPAÑÍA.
empresas = db.companies.find({'$and':
                              [ { "offices.latitude": {"$exists": True,"$ne":None} },
                               { "offices.longitude": {"$exists": True,"$ne":None} },
                               {'founded_year': {'$gt': 2005 }}, 
                               {'number_of_employees': {'$gt': 1}}, 
                               {'$or':[{'category_code': 'web' },
                                       {'category_code': 'software' },
                                       {'category_code': 'games_video' },
                                       {'category_code': 'mobile' },
                                       {'category_code': 'music' },
                                       {'category_code': 'nanotech'}]}]}, 
                             {'name':1,'founded_year': 1, '_id': 0, 'number_of_employees':1,'offices.latitude':1, 'offices.longitude':1, 'category_code':1})

In [3]:
dataset = pd.DataFrame(empresas)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 5 columns):
category_code          1498 non-null object
founded_year           1498 non-null int64
name                   1498 non-null object
number_of_employees    1498 non-null int64
offices                1498 non-null object
dtypes: int64(2), object(3)
memory usage: 58.6+ KB

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 5 columns):
category_code          1498 non-null object
founded_year           1498 non-null int64
name                   1498 non-null object
number_of_employees    1498 non-null int64
offices                1498 non-null object
dtypes: int64(2), object(3)
memory usage: 58.6+ KB

In [5]:
dataset['category_code'].unique()

array(['web', 'games_video', 'mobile', 'software', 'music'], dtype=object)

In [6]:
# EN LUGAR DE UTILIZAR LA PROPUESTA DE MARC PARA EXTRAER LATITUDES Y LONGITUDES UTILICÉ ESTA DE MARTÍN.
def get_lat(coord): 
    try: 
        return coord[0]['latitude']
    except:
        return None

# Get longitude    
def get_long(coord): 
    try: 
        return coord[0]['longitude']
    except:
        return None

# Inserting new columns with latitude and longitude    
def insert_latlong(df):   
    df['latitude'] = df['offices'].apply(get_lat)
    df['longitude'] = df['offices'].apply(get_long)
    return df

In [7]:
data_limpio = insert_latlong(dataset)
data_limpio.head()

,category_code,founded_year,name,number_of_employees,offices,latitude,longitude
0,web,2006,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064
1,web,2007,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",34.017606,-118.487267
2,games_video,2006,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",37.788482,-122.409173
3,web,2007,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",37.269175,-119.306607
4,games_video,2006,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",34.051409,-118.254558

In [8]:
data_limpio.drop(['offices'], axis=1)

,category_code,founded_year,name,number_of_employees,latitude,longitude
0,web,2006,Geni,18,34.090368,-118.393064
1,web,2007,Mahalo,40,34.017606,-118.487267
2,games_video,2006,Kyte,40,37.788482,-122.409173
3,web,2007,CriticalMetrics,4,37.269175,-119.306607
4,games_video,2006,Stickam,35,34.051409,-118.254558
5,games_video,2007,Livestream,120,40.726155,-73.995625
6,games_video,2007,AdaptiveBlue,15,40.801358,-74.337200
7,mobile,2006,GrandCentral,3,37.465645,-121.932202
8,web,2007,Pownce,6,37.762541,-122.397224
9,web,2007,SodaHead,25,37.269175,-119.306607
10,mobile,2006,Jaiku,8,60.163770,24.931050
11,web,2007,Spotplex,3,37.380101,-121.940749
12,web,2007,Wakoopa,8,52.374523,4.894862
13,web,2006,Fleck,3,52.375595,4.908556
14,web,2006,Zamzar,2,50.944460,-1.361085
15,web,2006,Pageflakes,20,37.758113,-122.414689
16,web,2007,CrowdVine,10,37.900770,-122.511687
17,web,2006,WatZatSong,3,48.866323,2.381514
18,web,2006,Eventbrite,200,37.779507,-122.390710
19,web,2006,Terabitz,12,37.437328,-122.159928
20,web,2007,Seesmic,13,37.775196,-122.419204
21,web,2006,Hotelicopter,15,38.030823,-78.481580
22,web,2007,Ujogo,6,37.767850,-122.392861
23,software,2008,GoingOn,40,37.782263,-122.392142
24,web,2006,Flixster,75,37.766909,-122.406676
25,software,2006,spigit,120,37.663728,-121.873181
26,web,2006,Respectance,15,37.559090,-122.321836
27,software,2006,JumpBox,5,33.429864,-111.944967
28,web,2006,IntenseDebate,4,40.010492,-105.276843
29,mobile,2006,Rebtel,75,59.316784,18.158278
...,...,...,...,...,...,...
1468,web,2009,ChallengePost,17,40.740804,-74.007170
1469,web,2006,DeciZium,12,37.337756,-121.894350
1470,web,2008,StyleCaster,60,40.745050,-73.990098
1471,web,2006,jogmap media,3,53.554390,10.017753
1472,web,2007,MFE Interactive,5,43.544964,-80.249862
1473,software,2008,Testplant,50,51.517356,-0.103774
1474,games_video,2007,FacebookLicious!,30,39.612223,-75.696706
1475,software,2007,Hiremac,9,41.663359,-87.625905
1476,web,2008,Tagito,4,33.564557,-117.735509
1477,web,2008,Culture Jam,15,34.013715,-118.466060
1478,software,2006,Novera,10,-33.868898,151.202966
1479,games_video,2007,Sauspiel,8,52.494307,13.434474
1480,software,2009,ftopia,7,53.332814,-6.249378
1481,software,2009,Tiverias Apps,20,42.367287,-71.081447
1482,mobile,2007,TxTedge,10,40.908601,-73.046431
1483,software,2006,AgileJ Limited,3,51.393654,-0.306263
1484,web,2009,HOTForms123,2,34.069891,-118.405325
1485,games_video,2006,Film Annex,5,40.746497,-74.009447
1486,software,2008,Continuity Engine,11,41.327918,-73.243552
1487,mobile,2009,pTracker,2,30.268735,-97.745209
1488,games_video,2007,DJ Nitrogen,8,37.784174,-122.449408
1489,software,2007,Meeho!,5,55.752525,12.393304
1490,software,2007,ALOT,50,40.726160,-74.006023
1491,games_video,2008,Fictionaut,2,40.759795,-73.916127
1492,web,2008,Conversition,10,40.756054,-73.986951
1493,software,2006,PubliAtis,10,48.869995,2.340695
1494,games_video,2009,Tiny Speck,45,49.282455,-123.109217
1495,games_video,2007,My TV Shows,2,38.752367,-9.146221
1496,mobile,2009,acrossair,6,51.517742,-0.116537
1497,mobile,2009,Getyoo,10,50.839970,4.346472

In [9]:
data_limpio.to_json('data_limpio_ok.json', orient='records')

In [10]:
data_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 7 columns):
category_code          1498 non-null object
founded_year           1498 non-null int64
name                   1498 non-null object
number_of_employees    1498 non-null int64
offices                1498 non-null object
latitude               1498 non-null float64
longitude              1498 non-null float64
dtypes: float64(2), int64(2), object(3)
memory usage: 82.0+ KB

In [11]:
#FUNCIÓN PARA CREAR LA COLUMNA GEOJSON PARA PODER HACER LAS GEOQUERIES
def geoj(a,b):
    return {'type': 'point', 'coordinates':[a,b]}
data_limpio['geojson'] = data_limpio.apply(lambda x: geoj(x['longitude'], x['latitude']),axis=1)
data_limpio.head()

,category_code,founded_year,name,number_of_employees,offices,latitude,longitude,geojson
0,web,2006,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064,"{'coordinates': [-118.393064, 34.090368], 'typ..."
1,web,2007,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",34.017606,-118.487267,"{'coordinates': [-118.487267, 34.017606], 'typ..."
2,games_video,2006,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",37.788482,-122.409173,"{'coordinates': [-122.409173, 37.788482], 'typ..."
3,web,2007,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",37.269175,-119.306607,"{'coordinates': [-119.306607, 37.269175], 'typ..."
4,games_video,2006,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",34.051409,-118.254558,"{'coordinates': [-118.254558, 34.051409], 'typ..."

In [12]:
data_limpio.to_json('datacoords.json', orient = 'records', lines=True)

In [ ]:
#ME LLEVO EL DATACOORDS A TABLEAU DONDE CATEGORIZO EL TAMAÑO DE LAS EMPRESAS Y OBSERVO QUE SAN FRANCISCO ES UN BUEN LUGAR DONDE COLOCAR LA EMPRESA, YA QUE HAY UNA BUENA PROPORCIÓN DE EMPRESAS GRANDES, MEDIANAS Y PEQUEÑAS.
#CON LAS GEOQUERIES PODRÉ CORROBORAR ESTA PRIMERA APRECIACIÓN.

In [14]:
data_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 8 columns):
category_code          1498 non-null object
founded_year           1498 non-null int64
name                   1498 non-null object
number_of_employees    1498 non-null int64
offices                1498 non-null object
latitude               1498 non-null float64
longitude              1498 non-null float64
geojson                1498 non-null object
dtypes: float64(2), int64(2), object(4)
memory usage: 93.7+ KB

In [ ]:
data_limpio.info()