In [88]:
import pymongo
from pymongo import MongoClient
client = MongoClient ('localhost', 27017)
db = client['companies']

import pandas as pd

In [89]:
data = db.companies.find()
dataset = pd.DataFrame(list(data))
pd.set_option("display.max_columns", 500)
display(dataset.head())

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,deadpooled_day,deadpooled_month,deadpooled_url,deadpooled_year,description,email_address,external_links,founded_day,founded_month,founded_year,funding_rounds,homepage_url,image,investments,ipo,milestones,name,number_of_employees,offices,overview,partners,permalink,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,NaN,NaN,NaN,2.0,Server Management Software,pr@adventnet.com,[],NaN,NaN,1996.0,[],http://adventnet.com,"{'available_sizes': [[[150, 55], 'assets/image...",[],NaN,[],AdventNet,600.0,"[{'description': 'Headquarters', 'address1': '...","<p>AdventNet is now <a href=""/company/zoho-man...",[],abc3,925-924-9500,[],"[{'title': 'DHFH', 'is_past': True, 'provider'...","[{'is_past': True, 'title': 'CEO and Co-Founde...","[{'available_sizes': [[[150, 94], 'assets/imag...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]
1,52cdef7c4bab8bd675297d8c,None,[],,http://blogs.zoho.com/feed,http://blogs.zoho.com/,software,"[{'competitor': {'name': 'Empressr', 'permalin...",Fri May 25 19:30:28 UTC 2007,http://www.crunchbase.com/company/zoho,NaN,NaN,NaN,3.0,Online Business Apps Suite,info@zohocorp.com,[{'external_url': 'http://www.online-tech-tips...,15.0,9.0,2005.0,[],http://zoho.com,"{'available_sizes': [[[150, 55], 'assets/image...",[],NaN,"[{'id': 388, 'description': 'Zoho Reaches 2 Mi...",Zoho,1600.0,"[{'description': 'Headquarters', 'address1': '...","<p>Zoho offers a suite of Business, Collaborat...",[],abc4,1-888-204-3539,"[{'name': 'Zoho Office Suite', 'permalink': 'z...",[],"[{'is_past': False, 'title': 'CEO and Founder'...",[],"zoho, officesuite, spreadsheet, writer, projec...",$0,zoho,Wed Oct 30 00:07:05 UTC 2013,"[{'embed_code': '<object width=""430"" height=""2..."
2,52cdef7c4bab8bd675297d8a,"{'price_amount': 30000000, 'price_currency_cod...",[],,http://digitalquarters.net/feed/,http://digitalquarters.net/,web,"[{'competitor': {'name': 'Wikia', 'permalink':...",2007-05-25 06:51:27,http://www.crunchbase.com/company/wetpaint,NaN,NaN,NaN,1.0,Technology Platform Company,info@wetpaint.com,[{'external_url': 'http://www.geekwire.com/201...,17.0,10.0,2005.0,"[{'id': 888, 'round_code': 'a', 'source_url': ...",http://wetpaint-inc.com,"{'available_sizes': [[[150, 75], 'assets/image...",[],NaN,"[{'id': 5869, 'description': 'Wetpaint named i...",Wetpaint,47.0,"[{'description': '', 'address1': '710 - 2nd Av...",<p>Wetpaint is a technology platform company t...,[],abc2,206.859.6300,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...",[],"[{'is_past': False, 'title': 'Co-Founder and V...","[{'available_sizes': [[[150, 86], 'assets/imag...","wiki, seattle, elowitz, media-industry, media-...",$39.8M,BachelrWetpaint,Sun Dec 08 07:15:44 UTC 2013,[]
3,52cdef7c4bab8bd675297d8f,None,[],None,http://feeds.feedburner.com/omnidrive,http://www.omnidrive.com/blog,network_hosting,"[{'competitor': {'name': 'Dropbox', 'permalink...",Sun May 27 03:25:32 UTC 2007,http://www.crunchbase.com/company/omnidrive,15.0,9.0,,2008.0,None,info@omnidrive.com,[],1.0,11.0,2005.0,"[{'id': 225, 'round_code': 'angel', 'source_ur...",http://www.omnidrive.com,"{'available_sizes': [[[150, 85], 'assets/image...",[],None,[],Omnidrive,NaN,"[{'description': '', 'address1': 'Suite 200', ...","<p>Currently in public beta, Omnidrive makes i...",[],omnidrive,660-675-5052,"[{'name': 'Omnidrive', 'permalink': 'omnidrive'}]",[],"[{'is_past': True, 'title': 'Co-founder', 'per...",[],"storage, sharing, edit, online",$800k,Nomadesk,Tue Jul 02 22:48:04 UTC 2013,[]
4,52cdef7c4bab8bd675297d90,"{'price_amount': 625000000, 'price_currency_co...",[],None,,,web,"[{'competitor': {'name': 'RescueTime', 'permal...",Fri Jun 08 12:19:51 UTC 2007,http://www.crunchbase.com/company/postini,NaN,NaN,None,NaN,None,,[],2.0,6.0,1999.0,[],http://postini.com,"{'available_sizes': [[[150, 61], 'assets/image...",[],None,[],Postini,NaN,"[{'description': None, 'address1': '959 Skyway...",<p>Postini focuses on two main issues: securit...,[],postini,888.584.3150,"[{'name': 'Postini Solutions', 'permalink': 'p...",[],"[{'is_past': False, 'title': 'Board', 'person'...",[],,$0,None,Sat Aug 13 18:02:34 UTC 2011,[]

In [90]:
print(dataset.columns.values)

['_id' 'acquisition' 'acquisitions' 'alias_list' 'blog_feed_url'
 'blog_url' 'category_code' 'competitions' 'created_at' 'crunchbase_url'
 'deadpooled_day' 'deadpooled_month' 'deadpooled_url' 'deadpooled_year'
 'description' 'email_address' 'external_links' 'founded_day'
 'founded_month' 'founded_year' 'funding_rounds' 'homepage_url' 'image'
 'investments' 'ipo' 'milestones' 'name' 'number_of_employees' 'offices'
 'overview' 'partners' 'permalink' 'phone_number' 'products'
 'providerships' 'relationships' 'screenshots' 'tag_list'
 'total_money_raised' 'twitter_username' 'updated_at' 'video_embeds']

In [91]:
mydataset = db.companies.find({"$and": 
                               [{"offices.latitude": {"$exists": True}}, {"offices.latitude": {"$ne": None}},
                                {"offices.longitude": {"$exists": True}}, {"offices.longitude": {"$ne": None}},
                                {"category_code": {"$exists": True}}, {"category_code": {"$ne": None}},
                                {"name": {"$exists": True}}, {"name": {"$ne": None}},
                                {"founded_year": {"$gte": 2008}},
                                {"category_code": {"$ne": ["other", "semiconductor", "finance", "medical", "health",
                                                          "manufacturing", "real_estate", "fashion", "nanotech",
                                                          "hospitality", "transportation", "local"]}}]}, 
                              {"_id":1, "acquisition.price_amount":1, "acquisition.price_currency_code":1,
                               "category_code":1, "deadpooled_year":1,"founded_year":1, 
                               "funding_rounds.raised_amount":1, "funding_rounds.raised_currency_code":1,
                               "ipo.valuation_amount":1, "ipo.valuation_currency_code": 1, "name":1,
                               "number_of_employees":1, "offices.country_code":1, "offices.latitude":1,
                               "offices.longitude":1, "total_money_raised":1})

mydataset = pd.DataFrame(list(mydataset))
display(mydataset.head())
mydataset.shape

,_id,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,ipo,name,number_of_employees,offices,total_money_raised
0,52cdef7c4bab8bd675297e30,NaN,software,NaN,2008,"[{'raised_amount': 950000, 'raised_currency_co...",NaN,GoingOn,40.0,"[{'country_code': 'USA', 'latitude': 37.782263...",$8.5M
1,52cdef7c4bab8bd675297ea7,NaN,web,NaN,2011,[],NaN,Mokitown,NaN,"[{'country_code': 'USA', 'latitude': 37.09024,...",$0
2,52cdef7c4bab8bd675297ee1,NaN,enterprise,NaN,2008,"[{'raised_amount': 1000000, 'raised_currency_c...",NaN,Cloudant,70.0,"[{'country_code': 'USA', 'latitude': 42.35892,...",$18.3M
3,52cdef7c4bab8bd675297f3f,NaN,games_video,NaN,2008,"[{'raised_amount': None, 'raised_currency_code...",NaN,YouBeQB,8.0,"[{'country_code': 'USA', 'latitude': 47.597965...",$0
4,52cdef7c4bab8bd675297f76,NaN,games_video,NaN,2008,"[{'raised_amount': 4050000, 'raised_currency_c...",NaN,Crunchyroll,50.0,"[{'country_code': 'USA', 'latitude': 37.781265...",$4.8M

(1646, 11)

Ahora tengo que normalizar los valores de las columnas que estén en formato json dentro de un array.

In [92]:
from pandas.io.json import json_normalize

In [93]:
# Normalizo los valores de la columna offices, creando un dataframe a parte con sus valores separados en columnas.

mydataset['offices2'] = mydataset.offices.apply(lambda x: x[0])
locations = json_normalize(mydataset['offices2'])
display(locations.head())
print(locations.shape)

  country_code   latitude   longitude
0          USA  37.782263 -122.392142
1          USA  37.090240  -95.712891
2          USA  42.358920  -71.057810
3          USA  47.597965 -122.151158
4          USA  37.781265 -122.393229

(1646, 3)

In [94]:
# Para crear la columna de coordenadas, creo una lista para juntar lat y long, para después convertirla en columna.

coordinates = []

for i in range(len(locations["latitude"])):
    coordinates.append([locations["latitude"][i], locations["longitude"][i]])
    
locations["coordinates"] = coordinates
locations.head()

  country_code   latitude   longitude               coordinates
0          USA  37.782263 -122.392142  [37.782263, -122.392142]
1          USA  37.090240  -95.712891    [37.09024, -95.712891]
2          USA  42.358920  -71.057810     [42.35892, -71.05781]
3          USA  47.597965 -122.151158  [47.597965, -122.151158]
4          USA  37.781265 -122.393229  [37.781265, -122.393229]

In [95]:
# Uno el dataframe de oficinas a mi dataframe original

mydataset = mydataset.join(locations)
mydataset.head()

,_id,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,ipo,name,number_of_employees,offices,total_money_raised,offices2,country_code,latitude,longitude,coordinates
0,52cdef7c4bab8bd675297e30,NaN,software,NaN,2008,"[{'raised_amount': 950000, 'raised_currency_co...",NaN,GoingOn,40.0,"[{'country_code': 'USA', 'latitude': 37.782263...",$8.5M,"{'country_code': 'USA', 'latitude': 37.782263,...",USA,37.782263,-122.392142,"[37.782263, -122.392142]"
1,52cdef7c4bab8bd675297ea7,NaN,web,NaN,2011,[],NaN,Mokitown,NaN,"[{'country_code': 'USA', 'latitude': 37.09024,...",$0,"{'country_code': 'USA', 'latitude': 37.09024, ...",USA,37.090240,-95.712891,"[37.09024, -95.712891]"
2,52cdef7c4bab8bd675297ee1,NaN,enterprise,NaN,2008,"[{'raised_amount': 1000000, 'raised_currency_c...",NaN,Cloudant,70.0,"[{'country_code': 'USA', 'latitude': 42.35892,...",$18.3M,"{'country_code': 'USA', 'latitude': 42.35892, ...",USA,42.358920,-71.057810,"[42.35892, -71.05781]"
3,52cdef7c4bab8bd675297f3f,NaN,games_video,NaN,2008,"[{'raised_amount': None, 'raised_currency_code...",NaN,YouBeQB,8.0,"[{'country_code': 'USA', 'latitude': 47.597965...",$0,"{'country_code': 'USA', 'latitude': 47.597965,...",USA,47.597965,-122.151158,"[47.597965, -122.151158]"
4,52cdef7c4bab8bd675297f76,NaN,games_video,NaN,2008,"[{'raised_amount': 4050000, 'raised_currency_c...",NaN,Crunchyroll,50.0,"[{'country_code': 'USA', 'latitude': 37.781265...",$4.8M,"{'country_code': 'USA', 'latitude': 37.781265,...",USA,37.781265,-122.393229,"[37.781265, -122.393229]"

In [96]:
# Y elimino las columnas que ya no me sirven.

mydataset = mydataset.drop(["offices", "offices2"], axis = 1)
mydataset.head()

,_id,acquisition,category_code,deadpooled_year,founded_year,funding_rounds,ipo,name,number_of_employees,total_money_raised,country_code,latitude,longitude,coordinates
0,52cdef7c4bab8bd675297e30,NaN,software,NaN,2008,"[{'raised_amount': 950000, 'raised_currency_co...",NaN,GoingOn,40.0,$8.5M,USA,37.782263,-122.392142,"[37.782263, -122.392142]"
1,52cdef7c4bab8bd675297ea7,NaN,web,NaN,2011,[],NaN,Mokitown,NaN,$0,USA,37.090240,-95.712891,"[37.09024, -95.712891]"
2,52cdef7c4bab8bd675297ee1,NaN,enterprise,NaN,2008,"[{'raised_amount': 1000000, 'raised_currency_c...",NaN,Cloudant,70.0,$18.3M,USA,42.358920,-71.057810,"[42.35892, -71.05781]"
3,52cdef7c4bab8bd675297f3f,NaN,games_video,NaN,2008,"[{'raised_amount': None, 'raised_currency_code...",NaN,YouBeQB,8.0,$0,USA,47.597965,-122.151158,"[47.597965, -122.151158]"
4,52cdef7c4bab8bd675297f76,NaN,games_video,NaN,2008,"[{'raised_amount': 4050000, 'raised_currency_c...",NaN,Crunchyroll,50.0,$4.8M,USA,37.781265,-122.393229,"[37.781265, -122.393229]"

In [ ]:
# Hago lo mismo con la columna funding_rounds.

In [97]:
mydataset["funding_rounds"].value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                        1156
[{'raised_amount': None, 'raised_currency_code': None}]                                                                                                                                                                                                                                                                                                                     73
[{'raised_amount': 1000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                 15
[{'raised_amount': 100000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  12
[{'raised_amount': None, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    10
[{'raised_amount': None, 'raised_currency_code': None}, {'raised_amount': None, 'raised_currency_code': None}]                                                                                                                                                                                                                                                               8
[{'raised_amount': 500000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   8
[{'raised_amount': 250000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   7
[{'raised_amount': 200000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   6
[{'raised_amount': 20000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    5
[{'raised_amount': 25000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    4
[{'raised_amount': 15000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    4
[{'raised_amount': 150000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   4
[{'raised_amount': 200000, 'raised_currency_code': 'EUR'}]                                                                                                                                                                                                                                                                                                                   3
[{'raised_amount': 10000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    3
[{'raised_amount': 4000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 1500000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 50000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    3
[{'raised_amount': 800000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   3
[{'raised_amount': 350000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   3
[{'raised_amount': 8000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 4200000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 3000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 7000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                  3
[{'raised_amount': 750000, 'raised_currency_code': 'USD'}, {'raised_amount': 300000, 'raised_currency_code': 'USD'}, {'raised_amount': 1043000, 'raised_currency_code': 'USD'}, {'raised_amount': 6000000, 'raised_currency_code': 'USD'}]                                                                                                                                   2
[{'raised_amount': 500000, 'raised_currency_code': 'USD'}, {'raised_amount': 3000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                        2
[{'raised_amount': 300000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   2
[{'raised_amount': 5000000, 'raised_currency_code': 'USD'}, {'raised_amount': 11000000, 'raised_currency_code': 'USD'}, {'raised_amount': 1000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                           2
[{'raised_amount': 14500000, 'raised_currency_code': 'USD'}, {'raised_amount': 3500000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'USD'}, {'raised_amount': 5000000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'USD'}]                                                                   2
[{'raised_amount': 250000, 'raised_currency_code': 'USD'}, {'raised_amount': 180000, 'raised_currency_code': 'USD'}, {'raised_amount': 500000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                               2
                                                                                                                                                                                                                                                                                                                                                                          ...
[{'raised_amount': 16000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                    1
[{'raised_amount': 1000000, 'raised_currency_code': 'USD'}, {'raised_amount': None, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                          1
[{'raised_amount': 900000, 'raised_currency_code': 'USD'}, {'raised_amount': 2000000, 'raised_currency_code': 'USD'}, {'raised_amount': 3000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                             1
[{'raised_amount': 3400000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'EUR'}]                                                                                                                                                                                                                                                      1
[{'raised_amount': 40000, 'raised_currency_code': 'EUR'}, {'raised_amount': 3000000, 'raised_currency_code': 'EUR'}]                                                                                                                                                                                                                                                         1
[{'raised_amount': 400000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   1
[{'raised_amount': 2700000, 'raised_currency_code': 'USD'}, {'raised_amount': 6000000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                           1
[{'raised_amount': 25000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                 1
[{'raised_amount': 3300000, 'raised_currency_code': 'USD'}, {'raised_amount': 13300000, 'raised_currency_code': 'USD'}, {'raised_amount': 20000000, 'raised_currency_code': 'USD'}, {'raised_amount': 30000000, 'raised_currency_code': 'USD'}, {'raised_amount': 32900582, 'raised_currency_code': 'USD'}, {'raised_amount': 3050000, 'raised_currency_code': 'USD'}]       1
[{'raised_amount': 250000, 'raised_currency_code': 'USD'}, {'raised_amount': 200000, 'raised_currency_code': 'USD'}, {'raised_amount': 588130, 'raised_currency_code': 'USD'}, {'raised_amount': 1045000, 'raised_currency_code': 'USD'}, {'raised_amount': 1554527, 'raised_currency_code': 'USD'}]                                                                         1
[{'raised_amount': 110000, 'raised_currency_code': 'GBP'}, {'raised_amount': 500000, 'raised_currency_code': 'GBP'}, {'raised_amount': 400000, 'raised_currency_code': 'GBP'}, {'raised_amount': 650000, 'raised_currency_code': 'GBP'}, {'raised_amount': 2000000, 'raised_currency_code': 'USD'}, {'raised_amount': 4000000, 'raised_currency_code': 'USD'}]               1
[{'raised_amount': 25500000, 'raised_currency_code': 'USD'}, {'raised_amount': 3000000, 'raised_currency_code': 'USD'}, {'raised_amount': 4000000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'USD'}]                                                                                                                               1
[{'raised_amount': 225000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                                                                                   1
[{'raised_amount': 11000000, 'raised_currency_code': 'USD'}, {'raised_amount': 21000000, 'raised_currency_code': 'USD'}, {'raised_amount': 25000000, 'raised_currency_code': 'USD'}, {'raised_amount': 12499999, 'raised_currency_code': 'USD'}, {'raised_amount': 20000000, 'raised_currency_code': 'USD'}]                                                                 1
[{'raised_amount': 1600000, 'raised_currency_code': 'USD'}, {'raised_amount': 3900000, 'raised_currency_code': 'USD'}, {'raised_amount': 8000000, 'raised_currency_code': 'USD'}, {'raised_amount': 12000000, 'raised_currency_code': 'USD'}]                                                                                                                                1
[{'raised_amount': 8500000, 'raised_currency_code': 'USD'}, {'raised_amount': None, 'raised_currency_code': 'USD'}, {'raised_amount': 1500000, 'raised_currency_code': 'USD'}, {'raised_amount': 30000000, 'raised_currency_code': 'USD'}, {'raised_amount': None, 'raised_currency_code': 'USD'}]                                                                           1
[{'raised_amount': 500000, 'raised_currency_code': 'USD'}, {'raised_amount': 4000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                        1
[{'raised_amount': 7000000, 'raised_currency_code': 'USD'}, {'raised_amount': 8000000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                                                                                       1
[{'raised_amount': 4000000, 'raised_currency_code': 'USD'}, {'raised_amount': 8350000, 'raised_currency_code': 'USD'}, {'raised_amount': 2000000, 'raised_currency_code': 'USD'}, {'raised_amount': 2000000, 'raised_currency_code': 'USD'}, {'raised_amount': 3475002, 'raised_currency_code': 'USD'}, {'raised_amount': 3125000, 'raised_currency_code': 'USD'}]           1
[{'raised_amount': 4000000, 'raised_currency_code': 'USD'}, {'raised_amount': 6000000, 'raised_currency_code': 'USD'}, {'raised_amount': 8400000, 'raised_currency_code': 'USD'}, {'raised_amount': 10000000, 'raised_currency_code': 'USD'}]                                                                                                                                1
[{'raised_amount': 35000, 'raised_currency_code': 'USD'}, {'raised_amount': 750000, 'raised_currency_code': 'USD'}, {'raised_amount': 4000000, 'raised_currency_code': 'USD'}, {'raised_amount': 15000000, 'raised_currency_code': 'USD'}, {'raised_amount': 12000000, 'raised_currency_code': 'USD'}, {'raised_amount': 9000000, 'raised_currency_code': 'USD'}]            1
[{'raised_amount': 145000000, 'raised_currency_code': 'USD'}, {'raised_amount': 20000000, 'raised_currency_code': 'USD'}, {'raised_amount': 191962756, 'raised_currency_code': 'USD'}]                                                                                                                                                                                       1
[{'raised_amount': 950000, 'raised_currency_code': 'USD'}, {'raised_amount': 1350000, 'raised_currency_code': 'USD'}, {'raised_amount': 6200000, 'raised_currency_code': 'USD'}]                                                                                                                                                                                             1

In [ ]:
def prepareForTableau(mydataset):
    locations = json_normalize(bks["address"])
    gelocs = locations.apply(lambda e: [e["coord"][0],e["coord"][1]], result_type="expand", axis=1)
    clean_df = pd.concat([bks["restaurant_id"],locations[["street","zipcode"]],gelocs], axis=1)
    clean_df.rename({1:"lat",0:"long"}, axis=1, inplace=True)
    return clean_df

In [63]:
mydataset.to_json(orient= "records")

OverflowError: Unterminated UTF-8 sequence when encoding string