In [1]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient()

db = client.companies

for rest in db.companies.find({"name":"Facebook"}):
    print(rest['name'])

Facebook

- VISUALIZATION PROJECT Geospatial Business Intelligence (BI)
  * Make a geospartial analysis of the `companies` dataset
  * Things you know:
    - You have a software company with 50 employees
    - The company creates video games
    - Roles in your company: 20 developers, 20 Designers/Creatieves/UX/UI and 10 executives/managers
  * Do an analysis about placing the new company offices in the best environment based on the following criteria:
    - There should be software engineers working around
    - The surroundings must have a good ratio of big companies vs startups
    - Ensure you have in your surroundings companies that cover the interests of your team
    - Avoid old companies, prefer recently created ones

In [2]:
molonas = ['web', 'software', 'games_video','mobile', 'music', 'nanotech']

empresas = db.companies.find({'$and': [{'founded_year': {'$gt': 2005 }}, {'number_of_employees': {'$gt': 1}}, {'$or':[{'category_code': 'web' },{'category_code': 'software' },{'category_code': 'games_video' },{'category_code': 'mobile' },{'category_code': 'music' },{'category_code': 'nanotech'}]}]}, {'name':1,'founded_year': 1, '_id': 0, 'number_of_employees':1,'offices.latitude':1, 'offices.longitude':1, 'category_code':1})
                        
#{'number_of_employees': {'$ne': None}}

In [3]:
dataset = pd.DataFrame(empresas)
dataset.head(3)

,category_code,founded_year,name,number_of_employees,offices
0,web,2006,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393..."
1,web,2007,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487..."
2,games_video,2006,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409..."

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2552 entries, 0 to 2551
Data columns (total 5 columns):
category_code          2552 non-null object
founded_year           2552 non-null int64
name                   2552 non-null object
number_of_employees    2552 non-null int64
offices                2552 non-null object
dtypes: int64(2), object(3)
memory usage: 99.8+ KB

In [5]:
dataset['category_code'].unique()

array(['web', 'games_video', 'mobile', 'software', 'music'], dtype=object)

In [6]:
# Get latitude 
def get_lat(coord): 
    try: 
        return coord[0]['latitude']
    except:
        return None

# Get longitude    
def get_long(coord): 
    try: 
        return coord[0]['longitude']
    except:
        return None

# Inserting new columns with latitude and longitude    
def insert_latlong(df):   
    df['latitude'] = df['offices'].apply(get_lat)
    df['longitude'] = df['offices'].apply(get_long)
    return df

In [7]:
data_limpio = insert_latlong(dataset)
data_limpio.head()

,category_code,founded_year,name,number_of_employees,offices,latitude,longitude
0,web,2006,Geni,18,"[{'latitude': 34.090368, 'longitude': -118.393...",34.090368,-118.393064
1,web,2007,Mahalo,40,"[{'latitude': 34.017606, 'longitude': -118.487...",34.017606,-118.487267
2,games_video,2006,Kyte,40,"[{'latitude': 37.788482, 'longitude': -122.409...",37.788482,-122.409173
3,web,2007,CriticalMetrics,4,"[{'latitude': 37.269175, 'longitude': -119.306...",37.269175,-119.306607
4,games_video,2006,Stickam,35,"[{'latitude': 34.051409, 'longitude': -118.254...",34.051409,-118.254558

In [8]:
data_limpio.drop(['offices'], axis=1)

,category_code,founded_year,name,number_of_employees,latitude,longitude
0,web,2006,Geni,18,34.090368,-118.393064
1,web,2007,Mahalo,40,34.017606,-118.487267
2,games_video,2006,Kyte,40,37.788482,-122.409173
3,web,2007,CriticalMetrics,4,37.269175,-119.306607
4,games_video,2006,Stickam,35,34.051409,-118.254558
5,games_video,2007,Livestream,120,40.726155,-73.995625
6,games_video,2007,Ustream,250,37.392936,-122.079480
7,games_video,2007,AdaptiveBlue,15,40.801358,-74.337200
8,mobile,2006,GrandCentral,3,37.465645,-121.932202
9,web,2007,Pownce,6,37.762541,-122.397224
10,web,2007,SodaHead,25,37.269175,-119.306607
11,mobile,2006,Jaiku,8,60.163770,24.931050
12,web,2007,Spotplex,3,37.380101,-121.940749
13,web,2007,Wakoopa,8,52.374523,4.894862
14,web,2006,Fleck,3,52.375595,4.908556
15,web,2006,Zamzar,2,50.944460,-1.361085
16,web,2006,Pageflakes,20,37.758113,-122.414689
17,web,2007,CrowdVine,10,37.900770,-122.511687
18,web,2006,WatZatSong,3,48.866323,2.381514
19,web,2006,Eventbrite,200,37.779507,-122.390710
20,web,2006,Terabitz,12,37.437328,-122.159928
21,web,2007,Seesmic,13,37.775196,-122.419204
22,web,2006,Hotelicopter,15,38.030823,-78.481580
23,web,2007,Ujogo,6,37.767850,-122.392861
24,software,2008,GoingOn,40,37.782263,-122.392142
25,web,2006,Flixster,75,37.766909,-122.406676
26,software,2006,spigit,120,37.663728,-121.873181
27,web,2007,Kwiqq,10,NaN,NaN
28,web,2006,Respectance,15,37.559090,-122.321836
29,games_video,2006,Curse,58,37.787092,-122.399972
...,...,...,...,...,...,...
2522,software,2006,AgileJ Limited,3,51.393654,-0.306263
2523,web,2009,HOTForms123,2,34.069891,-118.405325
2524,software,2007,Clavis Technology,50,NaN,NaN
2525,games_video,2006,Film Annex,5,40.746497,-74.009447
2526,software,2009,Luma International,40,NaN,NaN
2527,software,2008,Continuity Engine,11,41.327918,-73.243552
2528,mobile,2009,pTracker,2,30.268735,-97.745209
2529,games_video,2007,DJ Nitrogen,8,37.784174,-122.449408
2530,games_video,2006,G5 Entertainment,107,NaN,NaN
2531,games_video,2008,FragBrag,4,NaN,NaN
2532,software,2009,Flatterline,2,NaN,NaN
2533,software,2007,Meeho!,5,55.752525,12.393304
2534,software,2009,tribalX,3,NaN,NaN
2535,software,2007,ALOT,50,40.726160,-74.006023
2536,games_video,2008,Fictionaut,2,40.759795,-73.916127
2537,web,2008,Conversition,10,40.756054,-73.986951
2538,software,2009,CRMStage,4,NaN,NaN
2539,web,2009,Malaysia Travel,6,NaN,NaN
2540,web,2011,Pitchie,4,NaN,NaN
2541,software,2006,PubliAtis,10,48.869995,2.340695
2542,games_video,2009,Tiny Speck,45,49.282455,-123.109217
2543,games_video,2007,My TV Shows,2,38.752367,-9.146221
2544,web,2009,ConvoCreatr,2,NaN,NaN
2545,software,2006,ugandasoft,3,NaN,NaN
2546,web,2008,iGuiders,5,NaN,NaN
2547,mobile,2009,acrossair,6,51.517742,-0.116537
2548,mobile,2009,Getyoo,10,50.839970,4.346472
2549,music,2009,OfficialVirtualDJ,102,NaN,NaN
2550,web,2006,Eazeeloans,25,NaN,NaN
2551,web,2012,DocASAP,7,NaN,NaN

In [9]:
data_limpio.to_json('data_limpio_ok.json', orient='records')