In [1]:
import pymongo
from pymongo import MongoClient
from pandas.io.json import json_normalize
import pandas as pd
import os

In [2]:
client = MongoClient ('localhost', 27017)
db = client['companies']

In [3]:
#Listado de categorias de las compañias
categorias = db.companies.distinct('category_code');
print(list(categorias))

['enterprise', 'web', 'software', 'news', 'network_hosting', 'games_video', 'mobile', 'music', 'social', 'search', 'messaging', 'advertising', 'photo_video', 'security', 'finance', 'ecommerce', 'travel', 'hardware', 'public_relations', 'other', 'real_estate', 'semiconductor', 'analytics', 'health', 'legal', 'sports', 'biotech', 'cleantech', 'education', 'consulting', 'transportation', None, 'hospitality', 'fashion', 'nonprofit', 'nanotech', 'automotive', 'design', 'manufacturing', 'government', 'local', 'medical']

In [4]:
categorias = ['web', 'software', 'games_video', 'social', 'design', 'search']
campos = {'name': 1,
          'number_of_employees': 1,
          'category_code': 1,
          'acquisition': 1,
          'founded_year': 1,
          'funding_rounds': 1,
          'offices.latitude': 1,
          'offices.longitude': 1,
          'offices.city': 1,
          'offices.country_code': 1}

def buscar_oficinas(categorias, campos, anyo, mm, num_emp):
    '''
    categorias: los item por los que filtrar
    campos: los campos a mostrar
    mm: par el número de empleados, si es mayor o menor $gt, $lt ...
    num_emp: número de empleados
    '''
    datos = db.companies.find({'$and':[{'category_code': {'$in':categorias}},
                                       {'number_of_employees': {mm: num_emp}},
                                       {'offices': {'$exists': True, '$not': {'$size': 0}}},
                                       {'deadpooled_year': None},
                                       {'founded_year':{'$gte': anyo}}]},
                              campos)
    return datos

In [5]:
big_office_data = json_normalize(data = buscar_oficinas(categorias, campos, 1990, '$gt', 250), 
                             record_path ='offices', 
                             meta=['name', 'category_code', 'founded_year', 'number_of_employees']) 
big_office_data.head()

,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees
0,Menlo Park,USA,37.416050,-122.151801,Facebook,social,2004,5299
1,Dublin,IRL,53.344104,-6.267494,Facebook,social,2004,5299
2,New York,USA,40.755716,-73.979247,Facebook,social,2004,5299
3,San Francisco,USA,37.776805,-122.416924,Twitter,social,2006,1300
4,San Jose,USA,37.295005,-121.930035,eBay,web,1995,15000

In [6]:
big_office_data.shape

(354, 8)

In [7]:
startup_office_data = json_normalize(data = buscar_oficinas(categorias, campos, 2010, '$lt', 100), 
                             record_path ='offices', 
                             meta=['name', 'category_code', 'founded_year', 'number_of_employees']) 
startup_office_data.head()

,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees
0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20
1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8
2,Hannover,DEU,NaN,NaN,headr,web,2012,8
3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30
4,Palo Alto,USA,NaN,NaN,Simplicant,software,2012,10

In [8]:
data = pd.concat([startup_office_data, big_office_data])
data = data.reset_index()
data = data.dropna()
data.shape

(183, 9)

In [9]:
data['coordenadas'] = [[x, y] for x, y in zip(data['longitude'], data['latitude'])]
data.head()

,index,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees,coordenadas
0,0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20,"[-73.985506, 40.757929]"
1,1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8,"[13.4109071, 52.5013449]"
3,3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30,"[-122.323895, 37.566879]"
5,5,Santa Clara,USA,37.760524,-122.387799,Fuzz,games_video,2011,6,"[-122.387799, 37.760524]"
6,6,Van Nuys,USA,40.650291,-74.294395,CollegeConvo,web,2010,2,"[-74.294395, 40.650291]"

In [10]:
data.to_json('oficinas.json', orient="records", lines=True)

In [11]:
db_ofi = client['oficinas']
def create_db(archivo = 'oficinas'):
    
    existe = os.path.isfile(archivo + '.json')
    if existe:
        os.system('mongoimport --db oficinas --collection oficinas --drop --file '+ archivo +'.json')
        db_ofi.oficinas.create_index([('coordenadas', pymongo.GEOSPHERE )])
        print('Base de datos y collección creadas')
    else:
        raise ValueError('Error archivo no encontrado')
    
create_db()

Base de datos y collección creadas

In [12]:
def buscar_cercanas(lng, lat, min_dist_m = 0, max_dist_m = 3000):
    nearLocation = {
        "lng": lng,
        "lat": lat
    }
    busqueda = db_ofi.oficinas.find({
        "coordenadas": {
         "$near": {
           "$geometry": {
              "type": "Point" ,
              "coordinates": [ nearLocation["lng"] , nearLocation["lat"] ]
           },
           '$minDistance': min_dist_m,
           "$maxDistance": max_dist_m, 
         }
       }
        
    },{'latitude': 1,
       'longitude': 1,
       'city': 1,
       'name': 1,
       'category_code': 1,
       'number_of_employees': 1,
       '_id': 0})
    
    return busqueda



#query = buscar_cercanas(-73.990869, 40.748368, 0, 10000)


cercanos = [buscar_cercanas(data.iloc[i]['longitude'], data.iloc[i]['latitude']) for i in range(len(data))]

In [29]:
data['cercanas'] = data.apply(lambda x : list(buscar_cercanas(x['longitude'], x['latitude'])), axis = 1)

def ratios_sb(oficinas):
    startup, big = 0, 0
    for office in oficinas:
        if office['number_of_employees'] > 250:
            big += 1
        else:
            startup += 1
    if startup > 0 and big > 0:
        salida = big / startup
    else:
        salida = 100 
        #(big, startup, salida)
    return salida

data['num_offices'] = data['cercanas'].apply(lambda x: len(x))
data['ratio'] = data['cercanas'].apply(ratios_sb)
datos_finales = data[(data.num_offices > 5)].head(183)
display(data.head(200))
print(datos_finales['ratio'].idxmin())
#print(datos_finales['cercanas'][20])
final = data.cercanas[(datos_finales['ratio'].idxmin())]
df_final = pd.DataFrame(final)
df_final.head(200)

,index,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees,coordenadas,cercanas,num_offices,ratio
0,0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20,"[-73.985506, 40.757929]","[{'city': 'New York', 'latitude': 40.757929, '...",6,1.000000
1,1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8,"[13.4109071, 52.5013449]","[{'city': 'Berlin', 'latitude': 52.5013449, 'l...",2,1.000000
3,3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30,"[-122.323895, 37.566879]","[{'city': 'San Mateo', 'latitude': 37.566879, ...",2,1.000000
5,5,Santa Clara,USA,37.760524,-122.387799,Fuzz,games_video,2011,6,"[-122.387799, 37.760524]","[{'city': 'Santa Clara', 'latitude': 37.760524...",5,4.000000
6,6,Van Nuys,USA,40.650291,-74.294395,CollegeConvo,web,2010,2,"[-74.294395, 40.650291]","[{'city': 'Van Nuys', 'latitude': 40.650291, '...",2,100.000000
7,7,Bethesda,USA,38.989124,-77.026676,Carfeine,software,2012,5,"[-77.026676, 38.989124]","[{'city': 'Bethesda', 'latitude': 38.989124, '...",1,100.000000
8,8,Palo Alto,USA,37.444098,-122.161287,Ziippi,web,2011,6,"[-122.1612868, 37.4440981]","[{'city': 'Palo Alto', 'latitude': 37.4440981,...",1,100.000000
9,9,Santa Monica,USA,53.544711,-113.515769,Titan Gaming,games_video,2010,18,"[-113.515769, 53.544711]","[{'city': 'Santa Monica', 'latitude': 53.54471...",1,100.000000
10,10,Vancouver,CAN,49.263588,-123.138565,Pixelmatic,games_video,2011,10,"[-123.138565, 49.263588]","[{'city': 'Vancouver', 'latitude': 49.263588, ...",2,1.000000
12,12,Chicago,USA,41.857204,-87.623923,JumpForward,software,2010,30,"[-87.623923, 41.857204]","[{'city': 'Chicago', 'latitude': 41.857204, 'l...",2,1.000000
13,13,Jacksonville,USA,30.269550,-81.564709,N-Play,social,2011,25,"[-81.564709, 30.26955]","[{'city': 'Jacksonville', 'latitude': 30.26955...",1,100.000000
17,17,Maarssen,NLD,52.126616,5.038078,Navara,software,2012,80,"[5.038078, 52.126616]","[{'city': 'Maarssen', 'latitude': 52.126616, '...",1,100.000000
18,18,New York,USA,40.744618,-73.987764,Yipit,web,2010,23,"[-73.987764, 40.744618]","[{'city': 'New York', 'latitude': 40.744618, '...",6,1.000000
19,19,Manchester,GBR,53.483707,-2.243949,Clowdy,web,2013,11,"[-2.2439492, 53.4837067]","[{'city': 'Manchester', 'latitude': 53.4837067...",2,1.000000
20,20,New York,USA,40.764577,-73.979901,Unison Technologies,software,2011,30,"[-73.9799007, 40.7645772]","[{'city': 'New York', 'latitude': 40.7645772, ...",4,0.333333
21,21,Barcelona,ESP,41.424123,2.163425,Tengaged,games_video,2010,1,"[2.1634249, 41.4241228]","[{'city': 'Barcelona', 'latitude': 41.4241228,...",1,100.000000
22,22,Pompano Beach,USA,26.248074,-80.135487,Reachoo,software,2010,3,"[-80.135487, 26.2480738]","[{'city': 'Pompano Beach', 'latitude': 26.2480...",1,100.000000
23,23,San Francisco,USA,37.805324,-122.405276,Indee,games_video,2010,3,"[-122.4052761, 37.8053241]","[{'city': 'San Francisco', 'latitude': 37.8053...",13,12.000000
24,24,Van Nuys,USA,40.650291,-74.294395,eCampusCash,web,2010,3,"[-74.294395, 40.650291]","[{'city': 'Van Nuys', 'latitude': 40.650291, '...",2,100.000000
25,25,Sarasota,USA,27.408193,-82.529406,kinDragon,software,2010,1,"[-82.5294065, 27.4081935]","[{'city': 'Sarasota', 'latitude': 27.4081935, ...",1,100.000000
26,26,Fremont,USA,37.556171,-122.078063,BASH Gaming,games_video,2010,25,"[-122.0780632, 37.5561712]","[{'city': 'Fremont', 'latitude': 37.5561712, '...",1,100.000000
27,27,Bangalore,IND,12.971606,77.594376,BASH Gaming,games_video,2010,25,"[77.594376, 12.971606]","[{'city': 'Bangalore', 'latitude': 12.971606, ...",1,100.000000
29,29,Columbia,USA,34.019114,-81.004871,Hayen Company,games_video,2011,1,"[-81.004871, 34.019114]","[{'city': 'Columbia', 'latitude': 34.019114, '...",1,100.000000
34,34,Queensland,AUS,-27.457486,153.033686,ekidnaworld,games_video,2010,10,"[153.033686, -27.4574861]","[{'city': 'Queensland', 'latitude': -27.457486...",1,100.000000
36,0,Menlo Park,USA,37.416050,-122.151801,Facebook,social,2004,5299,"[-122.151801, 37.41605]","[{'city': 'Menlo Park', 'latitude': 37.41605, ...",2,100.000000
37,1,Dublin,IRL,53.344104,-6.267494,Facebook,social,2004,5299,"[-6.267494, 53.344104]","[{'city': 'Dublin', 'latitude': 53.344104, 'lo...",3,100.000000
38,2,New York,USA,40.755716,-73.979247,Facebook,social,2004,5299,"[-73.9792469, 40.7557162]","[{'city': 'New York', 'latitude': 40.7557162, ...",6,1.000000
39,3,San Francisco,USA,37.776805,-122.416924,Twitter,social,2006,1300,"[-122.4169244, 37.7768052]","[{'city': 'San Francisco', 'latitude': 37.7768...",14,100.000000
40,4,San Jose,USA,37.295005,-121.930035,eBay,web,1995,15000,"[-121.930035, 37.295005]","[{'city': 'San Jose', 'latitude': 37.295005, '...",1,100.000000
41,5,San Francisco,USA,37.786183,-122.402195,Yelp,search,2004,800,"[-122.402195, 37.786183]","[{'city': 'San Francisco', 'latitude': 37.7861...",15,14.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,270,Irving,USA,32.817093,-96.962165,CAP Digisoft Solutions,software,1998,500,"[-96.9621649, 32.8170928]","[{'city': 'Irving', 'latitude': 32.8170928, 'l...",1,100.000000
309,273,San Francisco,USA,37.789268,-122.395184,Riverbed Technology,software,2002,1000,"[-122.3951844, 37.7892685]","[{'city': 'San Francisco', 'latitude': 37.7892...",15,14.000000
317,281,London,GBR,51.464732,-0.161490,Icreon Communications,software,2000,300,"[-0.1614896, 51.4647321]","[{'city': 'London', 'latitude': 51.4647321, 'l...",1,100.000000
318,282,Bradford,GBR,53.790641,-1.716751,Icreon Communications,software,2000,300,"[-1.7167505, 53.7906412]","[{'city': 'Bradford', 'latitude': 53.7906412, ...",1,100.000000
321,285,Chennai,IND,41.458644,-81.512147,Dot Com Infoway Australia,software,2000,350,"[-81.5121475, 41.4586444]","[{'city': 'Chennai', 'latitude': 41.4586444, '...",1,100.000000
324,288,Redmond,USA,51.520028,-0.651155,Concur Technologies,software,1993,1200,"[-0.651155, 51.5200277]","[{'city': 'Redmond', 'latitude': 51.5200277, '...",1,100.000000
325,289,Midvale,USA,40.611080,-111.853717,inContact,software,1997,300,"[-111.853717, 40.6110797]","[{'city': 'Midvale', 'latitude': 40.6110797, '...",1,100.000000
329,293,Fort Myers,USA,26.556932,-81.883518,SoftServe,software,1993,1200,"[-81.8835178, 26.5569317]","[{'city': 'Fort Myers', 'latitude': 26.5569317...",1,100.000000
331,295,Santa Monica,USA,34.028182,-118.472577,Cornerstone OnDemand,software,1999,881,"[-118.472577, 34.028182]","[{'city': 'Santa Monica', 'latitude': 34.02818...",2,100.000000
332,296,Bozeman,USA,45.679294,-111.046231,RightNow Technologies,software,1997,800,"[-111.046231, 45.679294]","[{'city': 'Bozeman', 'latitude': 45.679294, 'l...",1,100.000000
333,297,Bangalore,IND,13.036983,77.565976,SLK Software Services Pvt Ltd,software,2000,2100,"[77.5659764, 13.0369829]","[{'city': 'Bangalore', 'latitude': 13.0369829,...",1,100.000000
334,298,Palo Alto,USA,37.446535,-122.118794,MetricStream,software,1999,1000,"[-122.118794, 37.446535]","[{'city': 'Palo Alto', 'latitude': 37.446535, ...",1,100.000000
335,299,Vancouver,CAN,49.285173,-123.095238,HootSuite,social,2008,370,"[-123.0952381, 49.2851733]","[{'city': 'Vancouver', 'latitude': 49.2851733,...",2,100.000000
336,300,San Jose,USA,37.372177,-121.925040,Kaseya,software,2000,400,"[-121.9250398, 37.3721771]","[{'city': 'San Jose', 'latitude': 37.3721771, ...",2,100.000000
337,301,San Francisco,USA,37.791575,-122.393390,Kaseya,software,2000,400,"[-122.39339, 37.791575]","[{'city': 'San Francisco', 'latitude': 37.7915...",15,14.000000
343,307,Newtown,USA,40.225256,-74.903558,EPAM Systems,software,1993,8100,"[-74.9035582, 40.2252558]","[{'city': 'Newtown', 'latitude': 40.2252558, '...",1,100.000000
344,308,London,GBR,51.515484,-0.088102,EPAM Systems,software,1993,8100,"[-0.0881016, 51.5154835]","[{'city': 'London', 'latitude': 51.5154835, 'l...",3,100.000000
347,311,Norcross,USA,33.939181,-84.134047,BetterTrades,web,2001,300,"[-84.134047, 33.939181]","[{'city': 'Norcross', 'latitude': 33.939181, '...",1,100.000000
348,312,Pleasanton,USA,37.692490,-121.900722,Veeva,software,2007,510,"[-121.900722, 37.69249]","[{'city': 'Pleasanton', 'latitude': 37.69249, ...",1,100.000000
353,317,Chennai,IND,13.080128,80.251922,White House Business Solutions,software,1999,300,"[80.2519224, 13.080128]","[{'city': 'Chennai', 'latitude': 13.080128, 'l...",1,100.000000
355,319,Copenhagen,DNK,56.092171,8.910543,Ciklum,software,2002,1700,"[8.9105435, 56.0921712]","[{'city': 'Copenhagen', 'latitude': 56.0921712...",1,100.000000
356,320,Boulder,USA,40.020421,-105.236011,MD-IT,software,2000,1000,"[-105.236011, 40.020421]","[{'city': 'Boulder', 'latitude': 40.020421, 'l...",2,100.000000
357,321,Hamburg,DEU,53.597305,9.976252,Bigpoint,games_video,2002,500,"[9.9762519, 53.5973055]","[{'city': 'Hamburg', 'latitude': 53.5973055, '...",1,100.000000
361,325,San Jose,USA,37.370270,-121.924053,SpringSoft,software,1996,400,"[-121.924053, 37.37027]","[{'city': 'San Jose', 'latitude': 37.37027, 'l...",2,100.000000
370,334,San Francisco,USA,37.789318,-122.400655,Calypso Technology,software,1997,386,"[-122.400655, 37.789318]","[{'city': 'San Francisco', 'latitude': 37.7893...",15,14.000000
376,340,Guangzhou,CHN,23.133754,113.385331,UCWeb,software,2004,1700,"[113.3853308, 23.1337544]","[{'city': 'Guangzhou', 'latitude': 23.1337544,...",1,100.000000
379,343,San Francisco,USA,37.781476,-122.401322,UCWeb,software,2004,1700,"[-122.4013217, 37.7814765]","[{'city': 'San Francisco', 'latitude': 37.7814...",16,7.000000
382,346,Bristol,GBR,51.452512,-2.590974,smartFOCUS,software,1999,550,"[-2.5909744, 51.4525116]","[{'city': 'Bristol', 'latitude': 51.4525116, '...",1,100.000000
388,352,Chicago,USA,41.880626,-87.635607,optionsXpress,software,2000,305,"[-87.6356066, 41.8806258]","[{'city': 'Chicago', 'latitude': 41.8806258, '...",4,3.000000
389,353,San Francisco,USA,37.793949,-122.398062,Embarcadero Technologies,software,1993,450,"[-122.398062, 37.793949]","[{'city': 'San Francisco', 'latitude': 37.7939...",14,13.000000

0

,category_code,city,latitude,longitude,name,number_of_employees
0,search,New York,40.757929,-73.985506,PeekYou,20
1,social,New York,40.755716,-73.979247,Facebook,5299
2,software,New York,40.764577,-73.979901,Unison Technologies,30
3,web,New York,40.744618,-73.987764,Yipit,23
4,search,New York,40.742220,-74.004489,Google,28000
5,web,New York,40.741888,-74.004747,MLB Advanced Media,600

In [ ]:
import folium     
mapa = folium.Map(location=[15, 0], tiles="openstreetmap", zoom_start=3)

for i in range(0,len(data)):
    if  data.iloc[i]['number_of_employees'] >= 250:
        folium.Marker([data.iloc[i]['latitude'], 
                       data.iloc[i]['longitude']], 
                      popup=data.iloc[i]['name'],
                      icon=folium.Icon(color='blue')).add_to(mapa)
    else:
        folium.Marker([data.iloc[i]['latitude'], 
                       data.iloc[i]['longitude']], 
                      popup=data.iloc[i]['name'],
                      icon=folium.Icon(color='green')).add_to(mapa)  
        
        
        
leyenda = '''
    <style type="text/css">
        #leyenda{
            position: fixed;
            z-index: 9999;
            font-size: 1em;
            background-color: #ffffff;
            color: #333333;
            bottom: 10px;
            right: 10px;
            padding: 10px;
            border: 1px solid #333333;
        }
        
        #leyenda .verde{
            color: #71af26;
        }
        
        #leyenda .azul{
            color: #36a5d6;
        }
    </style>
    
     <div id="leyenda">
        <i class="fa fa-map-marker fa-2x verde"></i> Startup <br>
        <i class="fa fa-map-marker fa-2x azul"></i> Big Company
      </div>
     '''
mapa.get_root().html.add_child(folium.Element(leyenda))
mapa.save('map-oficinas.html')

In [ ]:
#from IPython.display import HTML
#HTML(filename='map-oficinas.html')