In [1]:
from pymongo import MongoClient
from pandas.io.json import json_normalize
import pandas as pd

In [2]:
client = MongoClient ('localhost', 27017)
db = client['companies']

In [3]:
#Listado de categorias de las compa√±ias
categorias = db.companies.distinct('category_code');
list(categorias)

['enterprise',
 'web',
 'software',
 'news',
 'network_hosting',
 'games_video',
 'mobile',
 'music',
 'social',
 'search',
 'messaging',
 'advertising',
 'photo_video',
 'security',
 'finance',
 'ecommerce',
 'travel',
 'hardware',
 'public_relations',
 'other',
 'real_estate',
 'semiconductor',
 'analytics',
 'health',
 'legal',
 'sports',
 'biotech',
 'cleantech',
 'education',
 'consulting',
 'transportation',
 None,
 'hospitality',
 'fashion',
 'nonprofit',
 'nanotech',
 'automotive',
 'design',
 'manufacturing',
 'government',
 'local',
 'medical']

In [4]:
categorias = ['web', 'software', 'games_video', 'social', 'design', 'search']

def buscar_startup(categorias):
    datos = db.companies.find({'$and':[{'category_code': {'$in':categorias}},
                                       {'number_of_employees': {'$lt':100}},
                                       {'offices': {'$exists': True, '$not': {'$size': 0}}},
                                       {'deadpooled_year': None},
                                       {'founded_year':{'$gte': 2010}}]},
                              {'name': 1,
                               'number_of_employees': 1,
                               'category_code': 1,
                               'acquisition': 1,
                               'founded_year': 1,
                               'funding_rounds': 1,
                               'offices.latitude': 1,
                               'offices.longitude': 1})
    return datos

def buscar_big(categorias):
    datos = db.companies.find({'$and':[{'category_code': {'$in':categorias}},
                                       {'number_of_employees': {'$gt': 1000}},
                                       {'offices': {'$exists': True, '$not': {'$size': 0}}},
                                       {'deadpooled_year': None},                                       
                                       {'founded_year':{'$gte': 1990}}]},
                              {'name': 1,
                               'number_of_employees': 1,
                               'category_code': 1,
                               'acquisition': 1,
                               'founded_year': 1,
                               'funding_rounds': 1,
                               'offices.latitude': 1,
                               'offices.longitude': 1,
                               'offices.city': 1,
                               'offices.country_code': 1})
    return datos

#'offices.city': 1,
#'offices.country_code': 1

startup = pd.DataFrame(buscar_startup(categorias))
big_companie = pd.DataFrame(buscar_big(categorias))

#data = pd.concat([startup, big_companie])
#data = data.reset_index()
big_companie.head(100)

,_id,acquisition,category_code,founded_year,funding_rounds,name,number_of_employees,offices
0,52cdef7c4bab8bd675297d8e,None,social,2004,"[{'id': 2, 'round_code': 'angel', 'source_url'...",Facebook,5299,"[{'city': 'Menlo Park', 'country_code': 'USA',..."
1,52cdef7c4bab8bd675297d94,None,social,2006,"[{'id': 261, 'round_code': 'a', 'source_url': ...",Twitter,1300,"[{'city': 'San Francisco', 'country_code': 'US..."
2,52cdef7c4bab8bd675297d9b,None,web,1995,"[{'id': 24534, 'round_code': 'unattributed', '...",eBay,15000,"[{'city': 'San Jose', 'country_code': 'USA', '..."
3,52cdef7c4bab8bd675297da3,None,web,1994,"[{'id': 24531, 'round_code': 'a', 'source_url'...",Yahoo!,13600,"[{'city': 'Sunnyvale', 'country_code': 'USA', ..."
4,52cdef7c4bab8bd675297e0c,None,social,2003,"[{'id': 152, 'round_code': 'a', 'source_url': ...",LinkedIn,4800,"[{'city': 'Mountain View', 'country_code': 'US..."
5,52cdef7c4bab8bd675297dba,None,search,1998,"[{'id': 380, 'round_code': 'angel', 'source_ur...",Google,28000,"[{'city': 'Mountain View', 'country_code': 'US..."
6,52cdef7c4bab8bd675297ea4,None,web,2005,[],Webkinz,8657,"[{'city': 'Woodbridge', 'country_code': 'CAN',..."
7,52cdef7c4bab8bd675297efe,"{'price_amount': 1200000000, 'price_currency_c...",web,1999,"[{'id': 450, 'round_code': 'd', 'source_url': ...",Zappos,1500,"[{'city': 'Henderson', 'country_code': 'USA', ..."
8,52cdef7c4bab8bd675297fcb,None,web,1997,"[{'id': 52008, 'round_code': 'unattributed', '...",Rakuten,10000,"[{'city': 'Tokyo', 'country_code': 'JPN', 'lat..."
9,52cdef7c4bab8bd6752981b5,None,software,1992,[],NetApp,8000,"[{'city': None, 'country_code': 'USA', 'latitu..."
10,52cdef7c4bab8bd67529822a,"{'price_amount': None, 'price_currency_code': ...",web,1996,[],Expedia,4400,"[{'city': 'Bellevue', 'country_code': 'USA', '..."
11,52cdef7c4bab8bd675298300,None,games_video,1997,"[{'id': 35673, 'round_code': 'private_equity',...",Netflix,2000,"[{'city': 'Los Gatos', 'country_code': 'USA', ..."
12,52cdef7c4bab8bd67529876e,None,software,2001,[],Sogeti USA,2500,"[{'city': 'Dayton', 'country_code': 'USA', 'la..."
13,52cdef7c4bab8bd675298760,None,search,1999,"[{'id': 1979, 'round_code': 'c', 'source_url':...",Baidu,6000,"[{'city': 'Beijing', 'country_code': 'CHN', 'l..."
14,52cdef7c4bab8bd675298837,None,software,2003,"[{'id': 6806, 'round_code': 'b', 'source_url':...",Globant,2800,"[{'city': 'Buenos Aires', 'country_code': 'ARG..."
15,52cdef7d4bab8bd6752988e3,"{'price_amount': None, 'price_currency_code': ...",software,1992,[],Vocus,1600,"[{'city': 'Beltsville', 'country_code': 'USA',..."
16,52cdef7d4bab8bd67529898b,None,web,1995,[],Daum Communications,1600,"[{'city': '', 'country_code': 'KOR', 'latitude..."
17,52cdef7d4bab8bd675298a83,"{'price_amount': 1300000000, 'price_currency_c...",software,1996,[],Blue Coat Systems,1400,"[{'city': 'Sunnyvale', 'country_code': 'USA', ..."
18,52cdef7d4bab8bd675298b44,None,search,1997,"[{'id': 2337, 'round_code': 'a', 'source_url':...",Yandex,4000,"[{'city': 'Moscow', 'country_code': 'RUS', 'la..."
19,52cdef7d4bab8bd675298c30,"{'price_amount': 635000000, 'price_currency_co...",software,1998,"[{'id': 2442, 'round_code': 'unattributed', 's...",VMware,13500,"[{'city': 'Palo Alto', 'country_code': 'USA', ..."
20,52cdef7d4bab8bd675298cb5,None,software,2000,[],Avaya,18000,"[{'city': 'Santa Clara', 'country_code': 'USA'..."
21,52cdef7d4bab8bd67529959e,None,games_video,1999,"[{'id': 18915, 'round_code': 'a', 'source_url'...",DeNA,2192,"[{'city': 'Tokyo', 'country_code': 'JPN', 'lat..."
22,52cdef7d4bab8bd675299928,None,games_video,1999,"[{'id': 18915, 'round_code': 'a', 'source_url'...",DeNA,2192,"[{'city': 'Tokyo', 'country_code': 'JPN', 'lat..."
23,52cdef7d4bab8bd675299d5d,None,web,2008,"[{'id': 9831, 'round_code': 'a', 'source_url':...",Groupon,10000,"[{'city': 'Chicago', 'country_code': 'USA', 'l..."
24,52cdef7d4bab8bd675299ff6,"{'price_amount': None, 'price_currency_code': ...",web,1998,[],HomeAdvisor,1200,"[{'city': 'Lakewood', 'country_code': 'USA', '..."
25,52cdef7e4bab8bd67529a41c,None,software,2002,[],Symphony Services,4000,"[{'city': 'Palo Alto', 'country_code': 'USA', ..."
26,52cdef7e4bab8bd67529a453,None,software,1991,[],OpenText,5300,"[{'city': 'Waterloo, ON', 'country_code': 'CAN..."
27,52cdef7e4bab8bd67529a504,None,software,1992,[],ThoughtWorks Studios,1100,"[{'city': 'San Francisco', 'country_code': 'US..."
28,52cdef7e4bab8bd67529a64a,"{'price_amount': None, 'price_currency_code': ...",software,2001,"[{'id': 15792, 'round_code': 'unattributed', '...",AppLabs,2000,"[{'city': 'Hyderabad', 'country_code': 'IND', ..."
29,52cdef7e4bab8bd67529a688,None,software,1993,[],Kingdee,3000,"[{'city': 'ShenZhen', 'country_code': 'CHN', '..."
30,52cdef7e4bab8bd67529a6c1,None,software,1995,[],Aztecsoft,2000,"[{'city': 'Bangalore, Karnataka', 'country_cod..."
31,52cdef7e4bab8bd67529a77a,None,software,2006,"[{'id': 44235, 'round_code': 'unattributed', '...",Veeam Software,1500,"[{'city': 'Columbus', 'country_code': 'USA', '..."
32,52cdef7e4bab8bd67529b11c,None,software,1993,"[{'id': 55426, 'round_code': 'unattributed', '...",Concur Technologies,1200,"[{'city': 'Redmond', 'country_code': 'USA', 'l..."
33,52cdef7e4bab8bd67529b2ad,None,software,1992,[],SDL International,1949,"[{'city': 'Maidenhead', 'country_code': 'GBR',..."
34,52cdef7e4bab8bd67529b38a,None,software,1993,[],SoftServe,1200,"[{'city': 'Fort Myers', 'country_code': 'USA',..."
35,52cdef7e4bab8bd67529b59d,None,software,2000,[],SLK Software Services Pvt Ltd,2100,"[{'city': 'Bangalore', 'country_code': 'IND', ..."
36,52cdef7e4bab8bd67529b9df,None,software,1993,"[{'id': 5861, 'round_code': 'unattributed', 's...",EPAM Systems,8100,"[{'city': 'Newtown', 'country_code': 'USA', 'l..."
37,52cdef7f4bab8bd67529bdab,None,software,2002,[],Ciklum,1700,"[{'city': 'Kyiv', 'country_code': 'UKR', 'lati..."
38,52cdef7f4bab8bd67529c4e1,None,software,2004,"[{'id': 7180, 'round_code': 'c', 'source_url':...",UCWeb,1700,"[{'city': 'Guangzhou', 'country_code': 'CHN', ..."

In [148]:
startup.shape

(32, 8)

In [7]:
big_office_data = json_normalize(data = buscar_big(categorias), 
                             record_path ='offices', 
                             meta=['_id', 'name', 'category_code', 'founded_year', 'number_of_employees']) 
big_office_data

,city,country_code,latitude,longitude,_id,name,category_code,founded_year,number_of_employees
0,Menlo Park,USA,37.416050,-122.151801,52cdef7c4bab8bd675297d8e,Facebook,social,2004,5299
1,Dublin,IRL,53.344104,-6.267494,52cdef7c4bab8bd675297d8e,Facebook,social,2004,5299
2,New York,USA,40.755716,-73.979247,52cdef7c4bab8bd675297d8e,Facebook,social,2004,5299
3,San Francisco,USA,37.776805,-122.416924,52cdef7c4bab8bd675297d94,Twitter,social,2006,1300
4,San Jose,USA,37.295005,-121.930035,52cdef7c4bab8bd675297d9b,eBay,web,1995,15000
5,Sunnyvale,USA,37.418531,-122.025485,52cdef7c4bab8bd675297da3,Yahoo!,web,1994,13600
6,Mountain View,USA,37.423258,-122.073635,52cdef7c4bab8bd675297e0c,LinkedIn,social,2003,4800
7,Mountain View,USA,37.421972,-122.084143,52cdef7c4bab8bd675297dba,Google,search,1998,28000
8,Ann Arbor,USA,42.280988,-83.748882,52cdef7c4bab8bd675297dba,Google,search,1998,28000
9,Atlanta,USA,33.781466,-84.387519,52cdef7c4bab8bd675297dba,Google,search,1998,28000
10,Austin,USA,30.351416,-97.751382,52cdef7c4bab8bd675297dba,Google,search,1998,28000
11,Boulder,USA,40.021416,-105.260931,52cdef7c4bab8bd675297dba,Google,search,1998,28000
12,Cambridge,USA,42.363050,-71.087478,52cdef7c4bab8bd675297dba,Google,search,1998,28000
13,Chicago,USA,41.889474,-87.628912,52cdef7c4bab8bd675297dba,Google,search,1998,28000
14,Coppell,USA,32.981465,-97.018196,52cdef7c4bab8bd675297dba,Google,search,1998,28000
15,Dallas,USA,32.809161,-96.807693,52cdef7c4bab8bd675297dba,Google,search,1998,28000
16,Denver,USA,39.629190,-104.898419,52cdef7c4bab8bd675297dba,Google,search,1998,28000
17,Birmingham,USA,42.547807,-83.215498,52cdef7c4bab8bd675297dba,Google,search,1998,28000
18,Irvine,USA,33.658331,-117.861817,52cdef7c4bab8bd675297dba,Google,search,1998,28000
19,Kirkland,USA,NaN,NaN,52cdef7c4bab8bd675297dba,Google,search,1998,28000
20,New York,USA,40.742220,-74.004489,52cdef7c4bab8bd675297dba,Google,search,1998,28000
21,Tempe,USA,33.411898,-111.926263,52cdef7c4bab8bd675297dba,Google,search,1998,28000
22,Pittsburgh,USA,40.444528,-79.946269,52cdef7c4bab8bd675297dba,Google,search,1998,28000
23,San Francisco,USA,37.789803,-122.389757,52cdef7c4bab8bd675297dba,Google,search,1998,28000
24,Santa Monica,USA,34.019282,-118.494288,52cdef7c4bab8bd675297dba,Google,search,1998,28000
25,Seattle,USA,47.675326,-122.351397,52cdef7c4bab8bd675297dba,Google,search,1998,28000
26,Seattle,USA,47.649701,-122.350592,52cdef7c4bab8bd675297dba,Google,search,1998,28000
27,Washington,USA,38.901113,-77.027101,52cdef7c4bab8bd675297dba,Google,search,1998,28000
28,Melbourne,AUS,-37.879234,145.073608,52cdef7c4bab8bd675297dba,Google,search,1998,28000
29,Sydney,AUS,-34.822723,138.612396,52cdef7c4bab8bd675297dba,Google,search,1998,28000
...,...,...,...,...,...,...,...,...,...
135,MANLY NSW,AUS,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
136,Schiphol Centrum,NLD,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
137,M√ºnchen,DEU,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
138,–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥,RUS,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
139,Warszawa,POL,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
140,Navi Mumbai,IND,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
141,Milan,ITA,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
142,Levent Istanbul,TUR,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
143,Alpharetta,USA,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
144,Winnersh,GBR,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
145,,ISR,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
146,Saint-Laurent,CAN,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
147,Solna,SWE,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
148,Madrid,ESP,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
149,Bryanston,ZAF,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
150,Gateway East,SGP,NaN,NaN,52cdef7e4bab8bd67529a77a,Veeam Software,software,2006,1500
151,Redmond,USA,51.520028,-0.651155,52cdef7e4bab8bd67529b11c,Concur Technologies,software,1993,1200
152,Maidenhead,GBR,NaN,NaN,52cdef7e4bab8bd67529b2ad,SDL International,software,1992,1949
153,Fort Myers,USA,26.556932,-81.883518,52cdef7e4bab8bd67529b38a,SoftServe,software,1993,1200
154,Lviv,UKR,NaN,NaN,52cdef7e4bab8bd67529b38a,SoftServe,software,1993,1200
155,Bangalore,IND,13.036983,77.565976,52cdef7e4bab8bd67529b59d,SLK Software Services Pvt Ltd,software,2000,2100
156,Newtown,USA,40.225256,-74.903558,52cdef7e4bab8bd67529b9df,EPAM Systems,software,1993,8100
157,London,GBR,51.515484,-0.088102,52cdef7e4bab8bd67529b9df,EPAM Systems,software,1993,8100
158,Moscow,RUS,NaN,NaN,52cdef7e4bab8bd67529b9df,EPAM Systems,software,1993,8100
159,Kyiv,UKR,NaN,NaN,52cdef7f4bab8bd67529bdab,Ciklum,software,2002,1700
160,Copenhagen,DNK,56.092171,8.910543,52cdef7f4bab8bd67529bdab,Ciklum,software,2002,1700
161,Guangzhou,CHN,23.133754,113.385331,52cdef7f4bab8bd67529c4e1,UCWeb,software,2004,1700
162,Beijing,CHN,NaN,NaN,52cdef7f4bab8bd67529c4e1,UCWeb,software,2004,1700
163,Gurgaon,IND,NaN,NaN,52cdef7f4bab8bd67529c4e1,UCWeb,software,2004,1700
164,San Francisco,USA,37.781476,-122.401322,52cdef7f4bab8bd67529c4e1,UCWeb,software,2004,1700

In [8]:
startup_office_data = json_normalize(data = buscar_startup(categorias), 
                             record_path ='offices', 
                             meta=['_id', 'name', 'category_code', 'founded_year', 'number_of_employees']) 
startup_office_data

,latitude,longitude,_id,name,category_code,founded_year,number_of_employees
0,40.757929,-73.985506,52cdef7c4bab8bd675297f94,PeekYou,search,2012,20
1,52.501345,13.410907,52cdef7c4bab8bd675297fb1,headr,web,2012,8
2,NaN,NaN,52cdef7c4bab8bd675297fb1,headr,web,2012,8
3,37.566879,-122.323895,52cdef7c4bab8bd675297fec,Fixya,web,2013,30
4,NaN,NaN,52cdef7c4bab8bd675298523,Simplicant,software,2012,10
5,37.760524,-122.387799,52cdef7d4bab8bd675298a4d,Fuzz,games_video,2011,6
6,40.650291,-74.294395,52cdef7d4bab8bd675298cff,CollegeConvo,web,2010,2
7,38.989124,-77.026676,52cdef7d4bab8bd675298da5,Carfeine,software,2012,5
8,37.444098,-122.161287,52cdef7d4bab8bd675298dba,Ziippi,web,2011,6
9,53.544711,-113.515769,52cdef7d4bab8bd675298dcc,Titan Gaming,games_video,2010,18
10,49.263588,-123.138565,52cdef7d4bab8bd675298f55,Pixelmatic,games_video,2011,10
11,NaN,NaN,52cdef7d4bab8bd675298f55,Pixelmatic,games_video,2011,10
12,41.857204,-87.623923,52cdef7d4bab8bd675298fd5,JumpForward,software,2010,30
13,30.269550,-81.564709,52cdef7d4bab8bd6752991fa,N-Play,social,2011,25
14,NaN,NaN,52cdef7d4bab8bd6752992fc,FoodCare,web,2012,12
15,NaN,NaN,52cdef7d4bab8bd675299530,Localist,web,2010,7
16,NaN,NaN,52cdef7d4bab8bd6752998ba,Localist,web,2010,7
17,52.126616,5.038078,52cdef7d4bab8bd675299dae,Navara,software,2012,80
18,40.744618,-73.987764,52cdef7d4bab8bd67529a1e3,Yipit,web,2010,23
19,53.483707,-2.243949,52cdef7e4bab8bd67529a3b8,Clowdy,web,2013,11
20,40.764577,-73.979901,52cdef7e4bab8bd67529a716,Unison Technologies,software,2011,30
21,41.424123,2.163425,52cdef7e4bab8bd67529a75f,Tengaged,games_video,2010,1
22,26.248074,-80.135487,52cdef7e4bab8bd67529a805,Reachoo,software,2010,3
23,37.805324,-122.405276,52cdef7e4bab8bd67529a872,Indee,games_video,2010,3
24,40.650291,-74.294395,52cdef7e4bab8bd67529aae4,eCampusCash,web,2010,3
25,27.408193,-82.529406,52cdef7e4bab8bd67529afbb,kinDragon,software,2010,1
26,37.556171,-122.078063,52cdef7e4bab8bd67529b158,BASH Gaming,games_video,2010,25
27,12.971606,77.594376,52cdef7e4bab8bd67529b158,BASH Gaming,games_video,2010,25
28,NaN,NaN,52cdef7e4bab8bd67529b2de,Topify,web,2012,8
29,34.019114,-81.004871,52cdef7e4bab8bd67529b8bb,Hayen Company,games_video,2011,1
30,NaN,NaN,52cdef7e4bab8bd67529ba5e,Ajiel,software,2010,3
31,NaN,NaN,52cdef7e4bab8bd67529ba5e,Ajiel,software,2010,3
32,NaN,NaN,52cdef7e4bab8bd67529bcf4,Molecube,games_video,2011,6
33,NaN,NaN,52cdef7e4bab8bd67529bd12,Blurtt,web,2010,5
34,-27.457486,153.033686,52cdef7f4bab8bd67529bd9b,ekidnaworld,games_video,2010,10
35,NaN,NaN,52cdef7f4bab8bd67529c6eb,DocASAP,web,2012,7