In [7]:
from pymongo import MongoClient
from pandas.io.json import json_normalize
import pandas as pd

In [8]:
client = MongoClient ('localhost', 27017)
db = client['companies']

In [9]:
#Listado de categorias de las compañias
categorias = db.companies.distinct('category_code');
print(list(categorias))

['enterprise', 'web', 'software', 'news', 'network_hosting', 'games_video', 'mobile', 'music', 'social', 'search', 'messaging', 'advertising', 'photo_video', 'security', 'finance', 'ecommerce', 'travel', 'hardware', 'public_relations', 'other', 'real_estate', 'semiconductor', 'analytics', 'health', 'legal', 'sports', 'biotech', 'cleantech', 'education', 'consulting', 'transportation', None, 'hospitality', 'fashion', 'nonprofit', 'nanotech', 'automotive', 'design', 'manufacturing', 'government', 'local', 'medical']

In [37]:
categorias = ['web', 'software', 'games_video', 'social', 'design', 'search']
campos = {'name': 1,
          'number_of_employees': 1,
          'category_code': 1,
          'acquisition': 1,
          'founded_year': 1,
          'funding_rounds': 1,
          'offices.latitude': 1,
          'offices.longitude': 1,
          'offices.city': 1,
          'offices.country_code': 1}

def buscar_startup(categorias, campos):
    datos = db.companies.find({'$and':[{'category_code': {'$in':categorias}},
                                       {'number_of_employees': {'$lt':100}},
                                       {'offices': {'$exists': True, '$not': {'$size': 0}}},
                                       {'deadpooled_year': None},
                                       {'founded_year':{'$gte': 2010}}]},
                              campos)
    return datos

def buscar_big(categorias):
    datos = db.companies.find({'$and':[{'category_code': {'$in':categorias}},
                                       {'number_of_employees': {'$gt': 1000}},
                                       {'offices': {'$exists': True, '$not': {'$size': 0}}},
                                       {'deadpooled_year': None},                                       
                                       {'founded_year':{'$gte': 1980}}]},
                              {'name': 1,
                               'number_of_employees': 1,
                               'category_code': 1,
                               'acquisition': 1,
                               'founded_year': 1,
                               'funding_rounds': 1,
                               'offices.latitude': 1,
                               'offices.longitude': 1,
                               'offices.city': 1,
                               'offices.country_code': 1})
    return datos

In [38]:
big_office_data = json_normalize(data = buscar_big(categorias), 
                             record_path ='offices', 
                             meta=['name', 'category_code', 'founded_year', 'number_of_employees']) 
big_office_data

,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees
0,Menlo Park,USA,37.416050,-122.151801,Facebook,social,2004,5299
1,Dublin,IRL,53.344104,-6.267494,Facebook,social,2004,5299
2,New York,USA,40.755716,-73.979247,Facebook,social,2004,5299
3,San Francisco,USA,37.776805,-122.416924,Twitter,social,2006,1300
4,San Jose,USA,37.295005,-121.930035,eBay,web,1995,15000
5,Sunnyvale,USA,37.418531,-122.025485,Yahoo!,web,1994,13600
6,Mountain View,USA,37.423258,-122.073635,LinkedIn,social,2003,4800
7,Mountain View,USA,37.421972,-122.084143,Google,search,1998,28000
8,Ann Arbor,USA,42.280988,-83.748882,Google,search,1998,28000
9,Atlanta,USA,33.781466,-84.387519,Google,search,1998,28000
10,Austin,USA,30.351416,-97.751382,Google,search,1998,28000
11,Boulder,USA,40.021416,-105.260931,Google,search,1998,28000
12,Cambridge,USA,42.363050,-71.087478,Google,search,1998,28000
13,Chicago,USA,41.889474,-87.628912,Google,search,1998,28000
14,Coppell,USA,32.981465,-97.018196,Google,search,1998,28000
15,Dallas,USA,32.809161,-96.807693,Google,search,1998,28000
16,Denver,USA,39.629190,-104.898419,Google,search,1998,28000
17,Birmingham,USA,42.547807,-83.215498,Google,search,1998,28000
18,Irvine,USA,33.658331,-117.861817,Google,search,1998,28000
19,Kirkland,USA,NaN,NaN,Google,search,1998,28000
20,New York,USA,40.742220,-74.004489,Google,search,1998,28000
21,Tempe,USA,33.411898,-111.926263,Google,search,1998,28000
22,Pittsburgh,USA,40.444528,-79.946269,Google,search,1998,28000
23,San Francisco,USA,37.789803,-122.389757,Google,search,1998,28000
24,Santa Monica,USA,34.019282,-118.494288,Google,search,1998,28000
25,Seattle,USA,47.675326,-122.351397,Google,search,1998,28000
26,Seattle,USA,47.649701,-122.350592,Google,search,1998,28000
27,Washington,USA,38.901113,-77.027101,Google,search,1998,28000
28,Melbourne,AUS,-37.879234,145.073608,Google,search,1998,28000
29,Sydney,AUS,-34.822723,138.612396,Google,search,1998,28000
...,...,...,...,...,...,...,...,...
147,Санкт-Петербург,RUS,NaN,NaN,Veeam Software,software,2006,1500
148,Warszawa,POL,NaN,NaN,Veeam Software,software,2006,1500
149,Navi Mumbai,IND,NaN,NaN,Veeam Software,software,2006,1500
150,Milan,ITA,NaN,NaN,Veeam Software,software,2006,1500
151,Levent Istanbul,TUR,NaN,NaN,Veeam Software,software,2006,1500
152,Alpharetta,USA,NaN,NaN,Veeam Software,software,2006,1500
153,Winnersh,GBR,NaN,NaN,Veeam Software,software,2006,1500
154,,ISR,NaN,NaN,Veeam Software,software,2006,1500
155,Saint-Laurent,CAN,NaN,NaN,Veeam Software,software,2006,1500
156,Solna,SWE,NaN,NaN,Veeam Software,software,2006,1500
157,Madrid,ESP,NaN,NaN,Veeam Software,software,2006,1500
158,Bryanston,ZAF,NaN,NaN,Veeam Software,software,2006,1500
159,Gateway East,SGP,NaN,NaN,Veeam Software,software,2006,1500
160,Fort Lauderdale,USA,26.203820,-80.154212,Citrix Systems,software,1989,9600
161,Redmond,USA,51.520028,-0.651155,Concur Technologies,software,1993,1200
162,Wayne,USA,NaN,NaN,Kenexa,software,1987,1459
163,Maidenhead,GBR,NaN,NaN,SDL International,software,1992,1949
164,Fort Myers,USA,26.556932,-81.883518,SoftServe,software,1993,1200
165,Lviv,UKR,NaN,NaN,SoftServe,software,1993,1200
166,Bangalore,IND,13.036983,77.565976,SLK Software Services Pvt Ltd,software,2000,2100
167,Newtown,USA,40.225256,-74.903558,EPAM Systems,software,1993,8100
168,London,GBR,51.515484,-0.088102,EPAM Systems,software,1993,8100
169,Moscow,RUS,NaN,NaN,EPAM Systems,software,1993,8100
170,Charleston,USA,32.869699,-79.918320,Blackbaud,software,1981,2200
171,Kyiv,UKR,NaN,NaN,Ciklum,software,2002,1700
172,Copenhagen,DNK,56.092171,8.910543,Ciklum,software,2002,1700
173,Guangzhou,CHN,23.133754,113.385331,UCWeb,software,2004,1700
174,Beijing,CHN,NaN,NaN,UCWeb,software,2004,1700
175,Gurgaon,IND,NaN,NaN,UCWeb,software,2004,1700
176,San Francisco,USA,37.781476,-122.401322,UCWeb,software,2004,1700

In [39]:
startup_office_data = json_normalize(data = buscar_startup(categorias, campos), 
                             record_path ='offices', 
                             meta=['name', 'category_code', 'founded_year', 'number_of_employees']) 
startup_office_data

,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees
0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20
1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8
2,Hannover,DEU,NaN,NaN,headr,web,2012,8
3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30
4,Palo Alto,USA,NaN,NaN,Simplicant,software,2012,10
5,Santa Clara,USA,37.760524,-122.387799,Fuzz,games_video,2011,6
6,Van Nuys,USA,40.650291,-74.294395,CollegeConvo,web,2010,2
7,Bethesda,USA,38.989124,-77.026676,Carfeine,software,2012,5
8,Palo Alto,USA,37.444098,-122.161287,Ziippi,web,2011,6
9,Santa Monica,USA,53.544711,-113.515769,Titan Gaming,games_video,2010,18
10,Vancouver,CAN,49.263588,-123.138565,Pixelmatic,games_video,2011,10
11,Shanghai,CHN,NaN,NaN,Pixelmatic,games_video,2011,10
12,Chicago,USA,41.857204,-87.623923,JumpForward,software,2010,30
13,Jacksonville,USA,30.269550,-81.564709,N-Play,social,2011,25
14,Louisville,USA,NaN,NaN,FoodCare,web,2012,12
15,Baltimore,USA,NaN,NaN,Localist,web,2010,7
16,Baltimore,USA,NaN,NaN,Localist,web,2010,7
17,Maarssen,NLD,52.126616,5.038078,Navara,software,2012,80
18,New York,USA,40.744618,-73.987764,Yipit,web,2010,23
19,Manchester,GBR,53.483707,-2.243949,Clowdy,web,2013,11
20,New York,USA,40.764577,-73.979901,Unison Technologies,software,2011,30
21,Barcelona,ESP,41.424123,2.163425,Tengaged,games_video,2010,1
22,Pompano Beach,USA,26.248074,-80.135487,Reachoo,software,2010,3
23,San Francisco,USA,37.805324,-122.405276,Indee,games_video,2010,3
24,Van Nuys,USA,40.650291,-74.294395,eCampusCash,web,2010,3
25,Sarasota,USA,27.408193,-82.529406,kinDragon,software,2010,1
26,Fremont,USA,37.556171,-122.078063,BASH Gaming,games_video,2010,25
27,Bangalore,IND,12.971606,77.594376,BASH Gaming,games_video,2010,25
28,,USA,NaN,NaN,Topify,web,2012,8
29,Columbia,USA,34.019114,-81.004871,Hayen Company,games_video,2011,1
30,Casablanca,MAR,NaN,NaN,Ajiel,software,2010,3
31,Casablanca,MAR,NaN,NaN,Ajiel,software,2010,3
32,Quebec,CAN,NaN,NaN,Molecube,games_video,2011,6
33,Austin,USA,NaN,NaN,Blurtt,web,2010,5
34,Queensland,AUS,-27.457486,153.033686,ekidnaworld,games_video,2010,10
35,New York,USA,NaN,NaN,DocASAP,web,2012,7

In [40]:
data = pd.concat([startup_office_data, big_office_data])
data = data.reset_index()
data = data.dropna()
data.head(210)

,index,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees
0,0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20
1,1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8
3,3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30
5,5,Santa Clara,USA,37.760524,-122.387799,Fuzz,games_video,2011,6
6,6,Van Nuys,USA,40.650291,-74.294395,CollegeConvo,web,2010,2
7,7,Bethesda,USA,38.989124,-77.026676,Carfeine,software,2012,5
8,8,Palo Alto,USA,37.444098,-122.161287,Ziippi,web,2011,6
9,9,Santa Monica,USA,53.544711,-113.515769,Titan Gaming,games_video,2010,18
10,10,Vancouver,CAN,49.263588,-123.138565,Pixelmatic,games_video,2011,10
12,12,Chicago,USA,41.857204,-87.623923,JumpForward,software,2010,30
13,13,Jacksonville,USA,30.269550,-81.564709,N-Play,social,2011,25
17,17,Maarssen,NLD,52.126616,5.038078,Navara,software,2012,80
18,18,New York,USA,40.744618,-73.987764,Yipit,web,2010,23
19,19,Manchester,GBR,53.483707,-2.243949,Clowdy,web,2013,11
20,20,New York,USA,40.764577,-73.979901,Unison Technologies,software,2011,30
21,21,Barcelona,ESP,41.424123,2.163425,Tengaged,games_video,2010,1
22,22,Pompano Beach,USA,26.248074,-80.135487,Reachoo,software,2010,3
23,23,San Francisco,USA,37.805324,-122.405276,Indee,games_video,2010,3
24,24,Van Nuys,USA,40.650291,-74.294395,eCampusCash,web,2010,3
25,25,Sarasota,USA,27.408193,-82.529406,kinDragon,software,2010,1
26,26,Fremont,USA,37.556171,-122.078063,BASH Gaming,games_video,2010,25
27,27,Bangalore,IND,12.971606,77.594376,BASH Gaming,games_video,2010,25
29,29,Columbia,USA,34.019114,-81.004871,Hayen Company,games_video,2011,1
34,34,Queensland,AUS,-27.457486,153.033686,ekidnaworld,games_video,2010,10
36,0,Menlo Park,USA,37.416050,-122.151801,Facebook,social,2004,5299
37,1,Dublin,IRL,53.344104,-6.267494,Facebook,social,2004,5299
38,2,New York,USA,40.755716,-73.979247,Facebook,social,2004,5299
39,3,San Francisco,USA,37.776805,-122.416924,Twitter,social,2006,1300
40,4,San Jose,USA,37.295005,-121.930035,eBay,web,1995,15000
41,5,Sunnyvale,USA,37.418531,-122.025485,Yahoo!,web,1994,13600
...,...,...,...,...,...,...,...,...,...
131,95,Montevideo,URY,-34.883611,-56.181944,Globant,software,2003,2800
133,97,La Plata,ARG,-34.677645,-58.384060,Globant,software,2003,2800
134,98,Tandil,ARG,-37.328107,-59.134091,Globant,software,2003,2800
135,99,Resistencia,ARG,-27.453389,-58.987106,Globant,software,2003,2800
136,100,Tucuman,ARG,-26.800789,-65.302482,Globant,software,2003,2800
137,101,Bahía Blanca,ARG,-38.721137,-62.269097,Globant,software,2003,2800
145,109,San Rafael,USA,38.006275,-122.531566,Autodesk,software,1982,7800
146,110,Sunnyvale,USA,37.390753,-122.039865,Blue Coat Systems,software,1996,1400
155,119,Luzern,CHE,47.041951,8.314081,Yandex,search,1997,4000
156,120,Palo Alto,USA,37.403315,-122.145981,VMware,software,1998,13500
157,121,Santa Clara,USA,37.398076,-121.977333,Avaya,software,2000,18000
158,122,Basking Ridge,USA,40.694956,-74.577599,Avaya,software,2000,18000
162,126,Chicago,USA,41.896516,-87.643622,Groupon,web,2008,10000
166,130,Lakewood,USA,39.745092,-105.158207,HomeAdvisor,web,1998,1200
167,131,Lyon,FRA,45.792474,4.820735,CEGID,software,1983,2000
170,134,San Francisco,USA,37.793819,-122.395089,ThoughtWorks Studios,software,1992,1100
172,136,Hyderabad,IND,44.667237,4.769483,AppLabs,software,2001,2000
175,139,Santa Clara,USA,37.379718,-121.967982,Aztecsoft,software,1995,2000
176,140,Bellevue,USA,47.631497,-122.168013,Aztecsoft,software,1995,2000
178,142,Columbus,USA,40.088052,-83.088566,Veeam Software,software,2006,1500
196,160,Fort Lauderdale,USA,26.203820,-80.154212,Citrix Systems,software,1989,9600
197,161,Redmond,USA,51.520028,-0.651155,Concur Technologies,software,1993,1200
200,164,Fort Myers,USA,26.556932,-81.883518,SoftServe,software,1993,1200
202,166,Bangalore,IND,13.036983,77.565976,SLK Software Services Pvt Ltd,software,2000,2100
203,167,Newtown,USA,40.225256,-74.903558,EPAM Systems,software,1993,8100
204,168,London,GBR,51.515484,-0.088102,EPAM Systems,software,1993,8100
206,170,Charleston,USA,32.869699,-79.918320,Blackbaud,software,1981,2200
208,172,Copenhagen,DNK,56.092171,8.910543,Ciklum,software,2002,1700
209,173,Guangzhou,CHN,23.133754,113.385331,UCWeb,software,2004,1700
212,176,San Francisco,USA,37.781476,-122.401322,UCWeb,software,2004,1700

In [41]:
#data['coordenadas'] = [{'type': 'Point', 'coordinates': [x, y]} for x, y in zip(data['longitude'], data['latitude'])]

data['coordenadas'] = [[x, y] for x, y in zip(data['longitude'], data['latitude'])]
data.head(120)

,index,city,country_code,latitude,longitude,name,category_code,founded_year,number_of_employees,coordenadas
0,0,New York,USA,40.757929,-73.985506,PeekYou,search,2012,20,"[-73.985506, 40.757929]"
1,1,Berlin,DEU,52.501345,13.410907,headr,web,2012,8,"[13.4109071, 52.5013449]"
3,3,San Mateo,USA,37.566879,-122.323895,Fixya,web,2013,30,"[-122.323895, 37.566879]"
5,5,Santa Clara,USA,37.760524,-122.387799,Fuzz,games_video,2011,6,"[-122.387799, 37.760524]"
6,6,Van Nuys,USA,40.650291,-74.294395,CollegeConvo,web,2010,2,"[-74.294395, 40.650291]"
7,7,Bethesda,USA,38.989124,-77.026676,Carfeine,software,2012,5,"[-77.026676, 38.989124]"
8,8,Palo Alto,USA,37.444098,-122.161287,Ziippi,web,2011,6,"[-122.1612868, 37.4440981]"
9,9,Santa Monica,USA,53.544711,-113.515769,Titan Gaming,games_video,2010,18,"[-113.515769, 53.544711]"
10,10,Vancouver,CAN,49.263588,-123.138565,Pixelmatic,games_video,2011,10,"[-123.138565, 49.263588]"
12,12,Chicago,USA,41.857204,-87.623923,JumpForward,software,2010,30,"[-87.623923, 41.857204]"
13,13,Jacksonville,USA,30.269550,-81.564709,N-Play,social,2011,25,"[-81.564709, 30.26955]"
17,17,Maarssen,NLD,52.126616,5.038078,Navara,software,2012,80,"[5.038078, 52.126616]"
18,18,New York,USA,40.744618,-73.987764,Yipit,web,2010,23,"[-73.987764, 40.744618]"
19,19,Manchester,GBR,53.483707,-2.243949,Clowdy,web,2013,11,"[-2.2439492, 53.4837067]"
20,20,New York,USA,40.764577,-73.979901,Unison Technologies,software,2011,30,"[-73.9799007, 40.7645772]"
21,21,Barcelona,ESP,41.424123,2.163425,Tengaged,games_video,2010,1,"[2.1634249, 41.4241228]"
22,22,Pompano Beach,USA,26.248074,-80.135487,Reachoo,software,2010,3,"[-80.135487, 26.2480738]"
23,23,San Francisco,USA,37.805324,-122.405276,Indee,games_video,2010,3,"[-122.4052761, 37.8053241]"
24,24,Van Nuys,USA,40.650291,-74.294395,eCampusCash,web,2010,3,"[-74.294395, 40.650291]"
25,25,Sarasota,USA,27.408193,-82.529406,kinDragon,software,2010,1,"[-82.5294065, 27.4081935]"
26,26,Fremont,USA,37.556171,-122.078063,BASH Gaming,games_video,2010,25,"[-122.0780632, 37.5561712]"
27,27,Bangalore,IND,12.971606,77.594376,BASH Gaming,games_video,2010,25,"[77.594376, 12.971606]"
29,29,Columbia,USA,34.019114,-81.004871,Hayen Company,games_video,2011,1,"[-81.004871, 34.019114]"
34,34,Queensland,AUS,-27.457486,153.033686,ekidnaworld,games_video,2010,10,"[153.033686, -27.4574861]"
36,0,Menlo Park,USA,37.416050,-122.151801,Facebook,social,2004,5299,"[-122.151801, 37.41605]"
37,1,Dublin,IRL,53.344104,-6.267494,Facebook,social,2004,5299,"[-6.267494, 53.344104]"
38,2,New York,USA,40.755716,-73.979247,Facebook,social,2004,5299,"[-73.9792469, 40.7557162]"
39,3,San Francisco,USA,37.776805,-122.416924,Twitter,social,2006,1300,"[-122.4169244, 37.7768052]"
40,4,San Jose,USA,37.295005,-121.930035,eBay,web,1995,15000,"[-121.930035, 37.295005]"
41,5,Sunnyvale,USA,37.418531,-122.025485,Yahoo!,web,1994,13600,"[-122.025485, 37.418531]"
...,...,...,...,...,...,...,...,...,...,...
131,95,Montevideo,URY,-34.883611,-56.181944,Globant,software,2003,2800,"[-56.1819444, -34.8836111]"
133,97,La Plata,ARG,-34.677645,-58.384060,Globant,software,2003,2800,"[-58.3840599, -34.6776448]"
134,98,Tandil,ARG,-37.328107,-59.134091,Globant,software,2003,2800,"[-59.1340915, -37.3281072]"
135,99,Resistencia,ARG,-27.453389,-58.987106,Globant,software,2003,2800,"[-58.9871056, -27.4533887]"
136,100,Tucuman,ARG,-26.800789,-65.302482,Globant,software,2003,2800,"[-65.3024825, -26.8007888]"
137,101,Bahía Blanca,ARG,-38.721137,-62.269097,Globant,software,2003,2800,"[-62.2690974, -38.7211371]"
145,109,San Rafael,USA,38.006275,-122.531566,Autodesk,software,1982,7800,"[-122.5315665, 38.0062745]"
146,110,Sunnyvale,USA,37.390753,-122.039865,Blue Coat Systems,software,1996,1400,"[-122.039865, 37.390753]"
155,119,Luzern,CHE,47.041951,8.314081,Yandex,search,1997,4000,"[8.3140814, 47.0419512]"
156,120,Palo Alto,USA,37.403315,-122.145981,VMware,software,1998,13500,"[-122.145981, 37.403315]"
157,121,Santa Clara,USA,37.398076,-121.977333,Avaya,software,2000,18000,"[-121.977333, 37.398076]"
158,122,Basking Ridge,USA,40.694956,-74.577599,Avaya,software,2000,18000,"[-74.577599, 40.694956]"
162,126,Chicago,USA,41.896516,-87.643622,Groupon,web,2008,10000,"[-87.643622, 41.8965162]"
166,130,Lakewood,USA,39.745092,-105.158207,HomeAdvisor,web,1998,1200,"[-105.158207, 39.745092]"
167,131,Lyon,FRA,45.792474,4.820735,CEGID,software,1983,2000,"[4.8207353, 45.7924745]"
170,134,San Francisco,USA,37.793819,-122.395089,ThoughtWorks Studios,software,1992,1100,"[-122.395089, 37.793819]"
172,136,Hyderabad,IND,44.667237,4.769483,AppLabs,software,2001,2000,"[4.7694829, 44.6672372]"
175,139,Santa Clara,USA,37.379718,-121.967982,Aztecsoft,software,1995,2000,"[-121.967982, 37.379718]"
176,140,Bellevue,USA,47.631497,-122.168013,Aztecsoft,software,1995,2000,"[-122.1680127, 47.6314974]"
178,142,Columbus,USA,40.088052,-83.088566,Veeam Software,software,2006,1500,"[-83.088566, 40.088052]"
196,160,Fort Lauderdale,USA,26.203820,-80.154212,Citrix Systems,software,1989,9600,"[-80.154212, 26.20382]"
197,161,Redmond,USA,51.520028,-0.651155,Concur Technologies,software,1993,1200,"[-0.651155, 51.5200277]"
200,164,Fort Myers,USA,26.556932,-81.883518,SoftServe,software,1993,1200,"[-81.8835178, 26.5569317]"
202,166,Bangalore,IND,13.036983,77.565976,SLK Software Services Pvt Ltd,software,2000,2100,"[77.5659764, 13.0369829]"
203,167,Newtown,USA,40.225256,-74.903558,EPAM Systems,software,1993,8100,"[-74.9035582, 40.2252558]"
204,168,London,GBR,51.515484,-0.088102,EPAM Systems,software,1993,8100,"[-0.0881016, 51.5154835]"
206,170,Charleston,USA,32.869699,-79.918320,Blackbaud,software,1981,2200,"[-79.91832, 32.869699]"
208,172,Copenhagen,DNK,56.092171,8.910543,Ciklum,software,2002,1700,"[8.9105435, 56.0921712]"
209,173,Guangzhou,CHN,23.133754,113.385331,UCWeb,software,2004,1700,"[113.3853308, 23.1337544]"
212,176,San Francisco,USA,37.781476,-122.401322,UCWeb,software,2004,1700,"[-122.4013217, 37.7814765]"

In [42]:
data.to_json('oficinas.json', orient="records", lines=True)

In [43]:
db_ofi = client['oficinas']

def buscar_oficinas(lng, lat, min_dist_m, max_dist_m):
    nearLocation = {
        "lng": lng,
        "lat": lat
    }
    busqueda = db_ofi.oficinas.find({
        "coordenadas": {
         "$nearSphere": {
           "$geometry": {
              "type": "Point" ,
              "coordinates": [ nearLocation["lng"] , nearLocation["lat"] ]
           },
           '$minDistance': min_dist_m,
           "$maxDistance": max_dist_m, 
         }
       }
    })
    
    return busqueda

query = buscar_oficinas(-73.990869, 40.748368, 100, 5000)

resultado = pd.DataFrame(query)
resultado

,_id,category_code,city,coordenadas,country_code,founded_year,index,latitude,longitude,name,number_of_employees
0,5cd432976764028fb16e6380,web,New York,"[-73.987764, 40.744618]",USA,2010,18,40.744618,-73.987764,Yipit,23
1,5cd432976764028fb16e6387,search,New York,"[-73.985506, 40.757929]",USA,2012,0,40.757929,-73.985506,PeekYou,20
2,5cd432976764028fb16e6398,social,New York,"[-73.9792469, 40.7557162]",USA,2004,2,40.755716,-73.979247,Facebook,5299
3,5cd432976764028fb16e63aa,search,New York,"[-74.004489, 40.74222]",USA,1998,20,40.742220,-74.004489,Google,28000
4,5cd432976764028fb16e63be,web,New York,"[-73.9919311, 40.7311317]",USA,1985,75,40.731132,-73.991931,AOL,8000
5,5cd432976764028fb16e6383,software,New York,"[-73.9799007, 40.7645772]",USA,2011,20,40.764577,-73.979901,Unison Technologies,30

In [44]:
# import libraries
import folium

             
m = folium.Map(location=[20, 0], tiles="Mapbox Bright", zoom_start=2)

 
# I can add marker one by one on the map
for i in range(0,len(data)):
    if  data.iloc[i]['number_of_employees'] > 999:
        folium.Marker([data.iloc[i]['latitude'], 
                       data.iloc[i]['longitude']], 
                      popup=data.iloc[i]['name'],
                      icon=folium.Icon(color='blue')).add_to(m)
    else:
        folium.Marker([data.iloc[i]['latitude'], 
                       data.iloc[i]['longitude']], 
                      popup=data.iloc[i]['name'],
                      icon=folium.Icon(color='green')).add_to(m)        
 

m.save('map-oficinas.html')

In [56]:
#from IPython.display import HTML
#HTML(filename='map-oficinas.html')